pipeline/00_Load_SiteMaster.json
{
	"name": "00_Load_SiteMaster",
	"properties": {
		"activities": [
			{
				"name": "Stage_SiteMaster_EDW",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Stage_SiteMaster_EDW",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "If HS Changed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_HS_ChangedRecordsCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('ChangedHSRecordsCount'),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load_SiteMaster_HS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Load_SiteMaster_HS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "CountChanged_HS_Records",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If WH Changed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT INT\r\n\r\nEXECUTE dbo.Count_SiteMaster_Changed_Records @SiteType = 'HS', @RETURN_VALUE_ARGUMENT = null\r\n\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_HS_ChangedRecordsCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CountChanged_HS_Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ChangedHSRecordsCount",
					"value": {
						"value": "@activity('CountChanged_HS_Records').output.firstRow.RETURN_VALUE_ARGUMENT",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CountChanged_WH_Records",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LoadGDLegalEntityforCompare",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT INT\r\n\r\nEXECUTE dbo.Count_SiteMaster_Changed_Records @SiteType = 'WH', @RETURN_VALUE_ARGUMENT = null\r\n\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_WH_ChangedRecordsCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CountChanged_WH_Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ChangedWHRecordsCount",
					"value": {
						"value": "@activity('CountChanged_WH_Records').output.firstRow.RETURN_VALUE_ARGUMENT",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If WH Changed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set_WH_ChangedRecordsCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('ChangedWHRecordsCount'),0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load_SiteMaster_WH",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Load_SiteMaster_WH",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Preserve_WebUI_CompanyCode",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Stage_SiteMaster_Mappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n          LEGAL_ENTITY_ID,\n          LIC_CONTACT, \n          COMPANY_CODE,\n\t\t  GetDate() as LOAD_DATE\nFROM DBO.GD_LEGAL_ENTITY WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[RSM_LicContact_CompanyCode]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LOAD_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LOAD_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Retail_SiteMaster_GD_LEGAL_ENTITY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_RSM_LicContact_CompanyCode",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LoadGDLegalEntityforCompare",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Preserve_WebUI_CompanyCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE Scratch.SiteMaster_GD_LEGAL_ENTITY",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_BATCHID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								},
								"sink": {
									"name": "B_BATCHID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OS_LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OS_LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Retail_SiteMaster_GD_LEGAL_ENTITY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Scratch_SiteMaster_GD_LEGAL_ENTITY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stage_SiteMaster_Smartsheet",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Stage_SiteMaster_EDW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Stage_RDC_Smartsheet",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stage_SiteMaster_Mappings",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Stage_SiteMaster_Smartsheet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Stage_SiteMaster_Mappings",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"ChangedHSRecordsCount": {
				"type": "Integer"
			},
			"ChangedWHRecordsCount": {
				"type": "Integer"
			},
			"LoadID": {
				"type": "String"
			},
			"LoadID1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SiteMaster/Archive"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-08T10:02:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}