pipeline/Get_All_Locations.json
{
	"name": "Get_All_Locations",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('cotinuation_token_var')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(pipeline().parameters.continuation_token_Param,null)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SetContinuationToken",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Copy data1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "cotinuation_token_var",
											"value": {
												"value": "@activity('Copy data1').output.ContinuationToken",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "$['ContinuationToken']"
														},
														"sink": {
															"path": "ContinuationToken"
														}
													}
												],
												"collectionReference": "$['Data']"
											}
										},
										"inputs": [
											{
												"referenceName": "RestResource2",
												"type": "DatasetReference",
												"parameters": {
													"ContinuationToken": {
														"value": "@pipeline().parameters.continuation_token_Param",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "JsonOutput",
												"type": "DatasetReference",
												"parameters": {
													"Count": "$['Count']"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "cotinuation_token_var",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"continuation_token_Param": {
				"type": "string",
				"defaultValue": "%5b%7b%22token%22%3a%22%2bRID%3a%7etvVeAL7bIlmXAgAAAAAAAA%3d%3d%23RT%3a1%23TRC%3a25%23ISV%3a2%23IEO%3a65551%23QCF%3a4%23FPC%3aAgEACAAuAJECgP9DQO%2f%2f%2fv%2f%2fH8uAYQD5A7%2ba0YA%2flwCAxIGDgauBXYABwAEKkYAGgUuADYEBLACRCBgAIQADAAEBIAThgASAH4AhhCWCB4AxgBWAYQARAAaDaIYAgO%2baGYBngAIeAPECAAa2gLSCfoBRgH%2bAx4FygCuCtobEgwKMlIMNgAMGAJEgAFBQgQQUAFqmaIBUgZKAoYaegDECEAIwiSeABRAAEYQbge6EF4XJgKyRuoyHgQYIACaS94vfgJ6TBwIAxYcIDgAvmwCA%2boExg2%2bClYKuiQ%3d%3d%22%2c%22range%22%3a%7b%22min%22%3a%22%22%2c%22max%22%3a%2205C1D5AB55AB54%22%7d%7d%5d"
			}
		},
		"variables": {
			"cotinuation_token_var": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}