pipeline/Load_SiteMaster_Incremental_RSA_UKG.json
{
	"name": "Load_SiteMaster_Incremental_RSA_UKG",
	"properties": {
		"activities": [
			{
				"name": "SubmitLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RSA_Assignment",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "SiteRSADataLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Cancel_RSA_SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RSA_Assignment",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\r\nEXECUTE [dbo].[GET_NEW_LOADID]\r\n@RETURN_VALUE_ARGUMENT OUTPUT\r\n,@P_DATA_LOCATION_NAME = 'Retail_SiteMaster'\r\n,@P_PROGRAM_NAME = 'RetailSiteDataLoad'\r\n,@P_LOAD_DESCRIPTION = 'RetailSiteDataLoad'\r\n,@P_USERNAME = 'semadmin'\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RSA_Assignment",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RSA_Associate_Hist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "b_loadid",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "select distinct RSA_ID\r\n,AssociateID\r\n,B_CLASSNAME\r\n,B_CREDATE\r\n,B_UPDDATE\r\n,B_CREATOR\r\n,B_UPDATOR\r\n,FP_SITE_ID\r\n,FS_SITE_ID\r\n,Job_code\r\n,B_DELETETYPE\r\n,B_DELETEDATE\r\n,B_DELETEAUTHOR\r\n,B_DELETEOPERATION\r\n--,active_flag\r\n--,Activity_type\r\nfrom Retail.RSA_Assignment_Inc_UKG_VW\r\nwhere active_flag > 0\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "b_loadid",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "RSA_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RSA_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AssociateID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "F_ASSOCIATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Assignment_Inc_UKG_VW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SiteMaster",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "SA_RSA_ASSIGNMENT"
						}
					}
				]
			},
			{
				"name": "RSA_Associate",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RSA_Error_Log_LocationConstraint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "b_loadid",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "select distinct AssociatedID as Associate_ID,\r\nLastName as LAST_NAME,\r\nMiddleName as MIDDLE_NAME,\r\nFirstName as FIRST_NAME,\r\nStartdate as START_DATE,\r\nlastHireDate as LAST_HIRE_DATE,\r\n[Status],\r\nTerminationDate as TERMINATION_DATE,\r\nemailAddress as EMAIL_ADDRESS,\r\nWorkType as WORK_TYPE,\r\nLegalentityID as F_LEGAL_ENTITY,\r\nJob_code as Job_code,\r\n'Associate' as B_CLASSNAME\r\n,getdate() as B_CREDATE\r\n,getdate() as B_UPDDATE\r\n,'semadmin' as B_CREATOR\r\n,'semadmin' as B_UPDATOR\r\n,B_DELETETYPE\r\n,B_DELETEDATE\r\n,B_DELETEAUTHOR\r\n,B_DELETEOPERATION\r\n,FP_Legal_Entity\r\n,FS_Legal_Entity\r\nfrom Retail.RSA_Associate_Inc_UKG_VW\r\nwhere active_flag > 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "b_loadid",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Associate_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASSOCIATE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "START_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_HIRE_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TERMINATION_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Associate_Inc_UKG_VW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SiteMaster",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "SA_ASSOCIATE"
						}
					}
				]
			},
			{
				"name": "RSA_Associate_Hist",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RSA_Associate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct AssociatedID as Associate_ID,\r\nLastName as LAST_NAME,\r\nMiddleName as MIDDLE_NAME,\r\nFirstName as FIRST_NAME,\r\nStartdate as START_DATE,\r\nlastHireDate as LAST_HIRE_DATE,\r\n[Status],\r\nTerminationDate as TERMINATION_DATE,\r\nemailAddress as EMAIL_ADDRESS,\r\nWorkType as WORK_TYPE,\r\nLegalentityID as F_LEGAL_ENTITY,\r\nJob_code as Job_code,\r\n'Associate' as B_CLASSNAME\r\n,getdate() as B_CREDATE\r\n,getdate() as B_UPDDATE\r\n,'semadmin' as B_CREATOR\r\n,'semadmin' as B_UPDATOR\r\n,B_DELETETYPE\r\n,B_DELETEDATE\r\n,B_DELETEAUTHOR\r\n,B_DELETEOPERATION\r\n,FP_Legal_Entity\r\n,FS_Legal_Entity\r\n,active_flag\r\n,activity_type\r\nfrom Retail.RSA_Associate_Inc_UKG_VW\r\nwhere active_flag > 0\r\n----Added on Jun 19,2025----\r\nand emailAddress is not null",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ASSOCIATE_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Associate_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASSOCIATE_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "F_LEGAL_ENTITY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "F_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_flag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Active_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "activity_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Activity_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Job_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Job_Code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FP_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FS_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Associate_Inc_UKG_VW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Associate_HIST"
						}
					}
				]
			},
			{
				"name": "GetNewLoadId_Delete",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SubmitLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\r\nEXECUTE [dbo].[GET_NEW_LOADID]\r\n@RETURN_VALUE_ARGUMENT OUTPUT\r\n,@P_DATA_LOCATION_NAME = 'Retail_SiteMaster'\r\n,@P_PROGRAM_NAME = 'RetailSiteDataLoad'\r\n,@P_LOAD_DESCRIPTION = 'RetailSiteDataLoad'\r\n,@P_USERNAME = 'semadmin'\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId_Delete",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID1",
					"value": {
						"value": "@{activity('GetNewLoadId_Delete').output.firstRow.RETURN_VALUE_ARGUMENT}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "RSA_Associate_Delete",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "b_loadid",
								"value": {
									"value": "@variables('LoadID1')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "select distinct AssociatedID as Associate_ID,\r\nLastName as LAST_NAME,\r\nMiddleName as MIDDLE_NAME,\r\nFirstName as FIRST_NAME,\r\nStartdate as START_DATE,\r\nlastHireDate as LAST_HIRE_DATE,\r\n[Status],\r\nTerminationDate as TERMINATION_DATE,\r\nemailAddress as EMAIL_ADDRESS,\r\nWorkType as WORK_TYPE,\r\nLegalentityID as F_LEGAL_ENTITY,\r\nJob_code as Job_code,\r\n'Associate' as B_CLASSNAME\r\n,getdate() as B_CREDATE\r\n,getdate() as B_UPDDATE\r\n,'semadmin' as B_CREATOR\r\n,'semadmin' as B_UPDATOR\r\n,B_DELETETYPE\r\n,B_DELETEDATE\r\n,B_DELETEAUTHOR\r\n,B_DELETEOPERATION\r\n,FP_Legal_Entity\r\n,FS_Legal_Entity\r\nfrom Retail.RSA_Associate_Inc_UKG_VW\r\nwhere active_flag = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "b_loadid",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Associate_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASSOCIATE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "START_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_HIRE_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TERMINATION_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Associate_Inc_UKG_VW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SiteMaster",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "SA_ASSOCIATE"
						}
					}
				]
			},
			{
				"name": "SubmitLoad_Delete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RSA_Assignment_Hist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "SiteRSADataLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID1')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "RSA_Associate_Hist_Delete",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RSA_Associate_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select distinct AssociatedID as Associate_ID,\r\nLastName as LAST_NAME,\r\nMiddleName as MIDDLE_NAME,\r\nFirstName as FIRST_NAME,\r\nStartdate as START_DATE,\r\nlastHireDate as LAST_HIRE_DATE,\r\n[Status],\r\nTerminationDate as TERMINATION_DATE,\r\nemailAddress as EMAIL_ADDRESS,\r\nWorkType as WORK_TYPE,\r\nLegalentityID as F_LEGAL_ENTITY,\r\nJob_code as Job_code,\r\n'Associate' as B_CLASSNAME\r\n,getdate() as B_CREDATE\r\n,getdate() as B_UPDDATE\r\n,'semadmin' as B_CREATOR\r\n,'semadmin' as B_UPDATOR\r\n,B_DELETETYPE\r\n,B_DELETEDATE\r\n,B_DELETEAUTHOR\r\n,B_DELETEOPERATION\r\n,FP_Legal_Entity\r\n,FS_Legal_Entity\r\n,active_flag as Active_flag\r\n,activity_type as Activity_type\r\nfrom Retail.RSA_Associate_Inc_UKG_VW\r\nwhere active_flag = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": false,
							"keys": [
								"ASSOCIATE_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Associate_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASSOCIATE_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "F_LEGAL_ENTITY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "F_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Active_flag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Active_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Activity_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Activity_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Job_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Job_Code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FP_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FS_Legal_Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Associate_Inc_UKG_VW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Associate_HIST"
						}
					}
				]
			},
			{
				"name": "RSA_Assignment_Delete",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RSA_Associate_Hist_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "b_loadid",
								"value": {
									"value": "@variables('LoadID1')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "select distinct RSA_ID\r\n,AssociateID\r\n,B_CLASSNAME\r\n,B_CREDATE\r\n,B_UPDDATE\r\n,B_CREATOR\r\n,B_UPDATOR\r\n,FP_SITE_ID\r\n,FS_SITE_ID\r\n,B_DELETETYPE\r\n,B_DELETEDATE\r\n,B_DELETEAUTHOR\r\n,B_DELETEOPERATION\r\n--,active_flag\r\n--,Activity_type\r\n,Job_code\r\n,cast(newid() as uniqueidentifier) as B_OPERATIONID\r\nfrom Retail.RSA_Assignment_Inc_UKG_VW\r\nwhere active_flag=0\r\nand RSA_ID is not null",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "b_loadid",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "RSA_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RSA_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_OPERATIONID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_OPERATIONID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Assignment_Inc_UKG_VW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SiteMaster",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "SA_RSA_ASSIGNMENT"
						}
					}
				]
			},
			{
				"name": "RSA_Error_Log_LocationConstraint",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "b_loadid",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "select AssociatedID as Associate_ID,LastName AS LAST_NAME,MiddleName AS MIDDLE_NAME,FirstName AS FIRST_NAME,Status,EmailAddress AS EMAIL_ADDRESS,\r\nWorkType AS WORK_TYPE,RsaID,LocationCode,OPERATION_ID,Profit_center,entity,LegalentityID AS F_LEGAL_ENTITY,B_CLASSNAME,B_CREDATE,B_UPDDATE,B_CREATOR,B_UPDATOR,\r\nStartDate AS START_DATE,Lasthiredate AS LAST_HIRE_DATE,Job_code as Job_code,\r\nTerminationDate AS TERMINATION_DATE\r\nfrom Retail.RSA_ERROR_LOG_UKG_vw",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Delete from retail.RSA_ERROR_LOG",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "b_loadid",
									"type": "String"
								},
								"sink": {
									"name": "B_Loadid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Associate_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Associate_ID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WORK_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RsaID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RsaID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LocationCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LocationCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPERATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OPERATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Profit_center",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Profit_center",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "entity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "F_LEGAL_ENTITY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "F_LEGAL_ENTITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LAST_HIRE_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TERMINATION_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Job_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Job_code",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_ERROR_LOG_UKG_vw"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_ERROR_LOG"
						}
					}
				]
			},
			{
				"name": "Cancel_SiteAdditionalInformation_LoadId_SP_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RSA_Assignment_Hist",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID1')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_RSA_Associate",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RSA_Associate",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('RSA_Associate').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('RSA_Associate').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('RSA_Associate').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('RSA_Associate').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_RSA_Assignment",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RSA_Assignment",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('RSA_Assignment').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('RSA_Assignment').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('RSA_Assignment').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('RSA_Assignment').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "RSA_Assignment_Hist",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "b_loadid",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "select distinct RSA_ID\r\n,AssociateID\r\n,B_CLASSNAME\r\n,B_CREDATE\r\n,B_UPDDATE\r\n,B_CREATOR\r\n,B_UPDATOR\r\n,FP_SITE_ID\r\n,FS_SITE_ID\r\n,B_DELETETYPE\r\n,B_DELETEDATE\r\n,B_DELETEAUTHOR\r\n,B_DELETEOPERATION\r\n,active_flag\r\n,Activity_type\r\n,Job_code\r\n,status\r\n,cast(newid() as uniqueidentifier) as B_OPERATIONID\r\nfrom Retail.RSA_Assignment_Inc_UKG_VW\r\nwhere active_flag > 0\r\n--where active_flag=0\r\n\r\n\r\n\r\n\r\n/*\r\nselect distinct RSA_ID\r\n,AssociateID\r\n,B_CLASSNAME\r\n,B_CREDATE\r\n,B_UPDDATE\r\n,B_CREATOR\r\n,B_UPDATOR\r\n,FP_SITE_ID\r\n,FS_SITE_ID\r\n,Job_code\r\nfrom Retail.RSA_Assignment_Inc_UKG_VW\r\nWITH(NOLOCK)\r\n*/",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"RSA_ID",
								"AssociateID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RSA_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RSA_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AssociateID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AssociateID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Activity_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Activity_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "active_flag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "active_flag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Job_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Job_Code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Assignment_Inc_UKG_VW"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Retail",
							"TableName": "RSA_Assignment_HIST"
						}
					}
				]
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "RSA_Assignment_Delete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "DELETE ah FROM Retail.RSA_Assignment_HIST ah\r\nINNER JOIN (SELECT DISTINCT RSA_ID, AssociateID   FROM Retail.RSA_Assignment_Inc_UKG_VW    WHERE active_flag = 0) src \r\nON ah.RSA_ID = src.RSA_ID \r\nAND ah.AssociateID = src.AssociateID"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			},
			"LoadID0": {
				"type": "String"
			},
			"LoadID1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SiteMaster"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-08T10:02:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}