pipeline/Load_RetailCustomer_RetailCustomerLoad_InitialLoad.json
{
	"name": "Load_RetailCustomer_RetailCustomerLoad_InitialLoad",
	"properties": {
		"activities": [
			{
				"name": "Initial_Load_RetailCustomers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "usp_PreLoad_DROP_SD_Indexes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LOADID",
								"value": {
									"value": "@variables('LoadId')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT\nB_SOURCEID,\nRAWFIRSTNAME,\nRAWMIDDLENAME,\nRAWLASTNAME,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_CREATOR AS B_UPDATOR,\nB_UPDATE AS B_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nGETDATE() AS B_UPDATE\nFROM Masterdata_CDP.RetailCustomerInitialLoad WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LOADID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWFIRSTNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_FIRST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWLASTNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_LAST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWMIDDLENAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_MIDDLE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Raw_RetailCustomersInitial",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INITIAL_SD_RETAIL_CUSTOMER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Initial_Load_PhoneNumber",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Initial_Load_RetailCustomers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LOADID",
								"value": {
									"value": "@variables('LoadId')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT \nB_SOURCEID,\nRAWPHONENUMBER,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_CREATOR AS B_UPDATOR,\nB_UPDATE AS B_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nGETDATE() AS B_UPDATE,\nFP_RETAIL_CUSTOMER,\nFS_RETAIL_CUSTOMER\nFROM Masterdata_CDP.PhoneNumbersInitialLoad WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LOADID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWPHONENUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_PHONE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Raw_RetailCustomersPhoneInitial",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INITIAL_SD_PHONE_NUMBER",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Initial_Load_EmailAddresses",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Initial_Load_PhoneNumber",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LOADID",
								"value": {
									"value": "@variables('LoadId')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT \nB_SOURCEID,\nRAWEMAILADDRESS,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_CREATOR AS B_UPDATOR,\nB_UPDATE AS B_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nGETDATE() AS B_UPDATE,\nFP_RETAIL_CUSTOMER,\nFS_RETAIL_CUSTOMER\nFROM Masterdata_CDP.EmailAddressesInitialLoad WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LOADID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWEMAILADDRESS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Raw_RetailCustomersEmailInitial",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INITIAL_SD_EMAIL_ADDRESS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Initial_Load_Addresses",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Initial_Load_EmailAddresses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LOADID",
								"value": {
									"value": "@variables('LoadId')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT \nB_SOURCEID,\nRAWSTREETADDRESS,\nRAWADDRESSLINE2,\nRAWCITY,\nRAWSTATEORPROVINCECODE,\nRAWZIPOSTALCODE,\nRAWCOUNTRYCODE,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_CREATOR AS B_UPDATOR,\nB_UPDATE AS B_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nGETDATE() AS B_UPDATE,\nFP_RETAIL_CUSTOMER,\nFS_RETAIL_CUSTOMER\nFROM Masterdata_CDP.AddressLocationsInitialLoad WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LOADID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWSTREETADDRESS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_STREET_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWADDRESSLINE2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_ADDRESS_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWSTATEORPROVINCECODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_STATE_OR_PROV_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWZIPOSTALCODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_ZIP_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCOUNTRYCODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_RETAIL_CUSTOMER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Raw_RetailCustomersAddress",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "INITIAL_SD_ADDRESS_LOCATION",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "usp_InitialLoadRetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_CustomerMaster'\n,@P_PROGRAM_NAME = 'RetailCustomerLoad'\n,@P_LOAD_DESCRIPTION = 'RetailCustomerLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_LoadID_Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadId",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubmitLoadID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "usp_PreSemarchy_ADD_SD_Indexes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "RetailCustomerLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadId')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_InitialLoadRetail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Masterdata_CDP].[usp_InitialLoadRetail]"
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_PreLoad_DROP_SD_Indexes",
				"description": "Drop SD table index",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set_LoadID_Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_PreLoad_DROP_SD_Indexes]"
				},
				"linkedServiceName": {
					"referenceName": "Retail_CustomerMaster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_PreSemarchy_ADD_SD_Indexes",
				"description": "Add indexing in SD table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Initial_Load_Addresses",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_PreSemarchy_ADD_SD_Indexes]"
				},
				"linkedServiceName": {
					"referenceName": "Retail_CustomerMaster",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LoadId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Retail_Customer_Flow"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-27T09:21:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}