pipeline/Load_ProductMaster_Retail_PIM_RPM.json
{
	"name": "Load_ProductMaster_Retail_PIM_RPM",
	"properties": {
		"activities": [
			{
				"name": "Load_Retail_PIM_EDWProduct",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetDateVariables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT 'semadmin' AS B_CREATOR,\n'ProductMain' AS B_CLASSNAME,\nP.id AS PRODUCT_MAIN_ID,\nSourceId AS SOURCE_ID,\nStatus AS STATUS,\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\nSystemTimestamp AS SYSTEM_TIMESTAMP,\nAlternateDescription2 AS ALTERNATE_DESCRIPTION2,\nItemAFIImageSet AS ITEM_AFI_IMAGE_SET,\nItemAlternateAFIFluff1 AS ITEM_ALTERNATE_AFI_FLUFF1,\nItemAlternateDescription3 AS ITEM_ALTER_DESC3,\nItemARVRReady AS ITEM_ARVR_READY,\nItemAssemblyInstructionsInternal AS ITEM_ASM_INSTR_INTERNAL,\nItemAssemblyInstructionsPublic AS ITEM_ASM_INSTR_PUBLIC,\nItemBoxQty AS ITEM_BOX_QTY,\nItemCartonDepthIn AS ITEM_CARTON_DEPTH_IN,\nItemCartonDepthMm AS ITEM_CARTON_DEPTH_MM,\nItemCartonHeightIn AS ITEM_CARTON_HEIGHT_IN,\nItemCartonHeightMm AS ITEM_CARTON_HEIGHT_MM,\nItemCartonWidthIn AS ITEM_CARTON_WIDTH_IN,\nItemCartonWidthMm AS ITEM_CARTON_WIDTH_MM,\nItemClass AS ITEM_CLASS,\nItemCode AS ITEM_CODE,\nItemColor AS ITEM_COLOR,\nItemColorSwatch AS ITEM_COLOR_SWATCH,\nItemCommodity AS ITEM_COMMODITY,\nItemComponentQuantity AS ITEM_COMPONENT_QUANTITY,\nItemConsumerAssembly AS ITEM_CONSUMER_ASSEMBLY,\nItemCubesFt AS ITEM_CUBES_FT,\nItemCubesM AS ITEM_CUBES_M,\nItemDead AS ITEM_DEAD,\nItemDimensionSketch AS ITEM_DIMENSION_SKETCH,\nItemDiningChairQtyCtn AS ITEM_DINING_CHAIR_QTY_CTN,\nItemEngineeringDivision AS ITEM_ENGINEERING_DIVISION,\nItemExclusive AS ITEM_EXCLUSIVE,\nItemExclusiveComment AS ITEM_EXCLUSIVE_COMMENT,\nItemExpressShip AS ITEM_EXPRESS_SHIP,\nItemFOBBasePrice AS ITEM_FOB_BASE_PRICE,\nItemForecastPlannerID AS ITEM_FORECAST_PLANNER_ID,\nItemFriendlyDimensions AS ITEM_FRIENDLY_DIMENSIONS,\nItemFutureStatus AS ITEM_FUTURE_STATUS,\nItemGeneralDescriptionID AS ITEM_GNRL_DESC_ID,\nItemGeneralLongDescription AS ITEM_GNRL_LONG_DESC,\nItemGoogleTitle AS ITEM_GOOGLE_TITLE,\nItemHomeStoreAssemblyVideo1 AS ITEM_HOMSTORE_ASM_VIDEO1,\nItemHTSCode AS ITEM_HTS_CODE,\nItemImportDomestic AS ITEM_IMPORT_DOMESTIC,\nItemKeyItem AS ITEM_KEY_ITEM,\nItemKnockout AS ITEM_KNOCKOUT,\nItemMaterialReferenceNeeded AS ITEM_MTERIAL_REF_NEEDED,\nItemMfgWarranty AS ITEM_MFG_WARRANTY,\nItemNumber AS ITEM_NUMBER,\nItemPhoto AS ITEM_PHOTO,\nItemProductDepthIn AS ITEM_PRODUCT_DEPTH_IN,\nItemProductDepthMm AS ITEM_PRODUCT_DEPTH_MM,\nItemProductHeightIn AS ITEM_PRODUCT_HEIGHT_IN,\nItemProductHeightMm AS ITEM_PRODUCT_HEIGHT_MM,\nItemProductPageURL AS ITEM_PRODUCT_PAGE_URL,\nItemProductWidthIn AS ITEM_PRODUCT_WIDTH_IN,\nItemProductWidthMm AS ITEM_PRODUCT_WIDTH_MM,\nItemRetailBrandName AS ITEM_RETAIL_BRAND_NAME,\nItemRetailType AS ITEM_RETAIL_TYPE,\nItemRollOverimage AS ITEM_ROLL_OVERIMAGE,\nItemSalesCategoryCode AS ITEM_SALES_CATEGORY_CODE,\nItemScene7ImageSet AS ITEM_SCENE7_IMAGE_SET,\nItemSeats AS ITEM_SEATS,\nItemSeriesName AS ITEM_SERIES_NAME,\nItemSeriesNumber AS ITEM_SERIES_NUMBER,\nItemStandAloneFlag AS ITEM_STAND_ALONE_FLAG,\nItemStatus AS ITEM_STATUS,\nItemStatusChanged AS ITEM_STATUS_CHANGED,\nItemSupplierDirectShipOnly AS ITEM_SUPP_DT_SHIP_ONLY,\nItemSuppWeightNetWeightKg AS ITEM_SUPP_WET_NET_WET_KG,\nItemSuppWeightNetWeightLbs AS ITEM_SUPP_WET_NET_WET_LBS,\nItemThirdPartyItem AS ITEM_THIRD_PARTY_ITEM,\nItemTrackingPiece AS ITEM_TRACKING_PIECE,\nItemTrademarkText AS ITEM_TRADEMARK_TEXT,\nItemType AS ITEM_TYPE,\nItemUnitWeightKg AS ITEM_UNIT_WEIGHT_KG,\nItemUnitWeightLbs AS ITEM_UNIT_WEIGHT_LBS,\nItemUPC AS ITEM_UPC,\nItemValidationComplete AS ITEM_VALIDATION_COMPLETE,\nItemWholesaleAssemblyVideo1 AS ITEM_WHOLESALE_ASM_VIDEO1,\nItemAFIFeatureBullet1 AS ITEM_AFI_FEATURE_BULLET1,\nItemAFIFeatureBullet2 AS ITEM_AFI_FEATURE_BULLET2,\nItemAFIFeatureBullet3 AS ITEM_AFI_FEATURE_BULLET3,\nItemAFIFeatureBullet4 AS ITEM_AFI_FEATURE_BULLET4,\nItemAFIFeatureBullet5 AS ITEM_AFI_FEATURE_BULLET5,\nItemAFIFeatureBullet6 AS ITEM_AFI_FEATURE_BULLET6,\nItemAFIFeatureBullet7 AS ITEM_AFI_FEATURE_BULLET7,\nItemConsumerDescription AS ITEM_CONSUMER_DESCRIPTION,\nItemFluffAFI AS ITEM_FLUFF_AFI,\nItemFluffPrint AS ITEM_FLUFF_PRINT,\nItemFriendlyDescription AS ITEM_FRIENDLY_DESCRIPTION,\nItemHomeStoreFeatureBullet1 AS ITEM_HOMESTORE_FT_BULLET1,\nItemHomeStoreFeatureBullet2 AS ITEM_HOMESTORE_FT_BULLET2,\nItemHomeStoreFeatureBullet3 AS ITEM_HOMESTORE_FT_BULLET3,\nItemHomeStoreFeatureBullet4 AS ITEM_HOMESTORE_FT_BULLET4,\nItemHomeStoreFeatureBullet5 AS ITEM_HOMESTORE_FT_BULLET5,\nItemHomeStoreFeatureBullet6 AS ITEM_HOMESTORE_FT_BULLET6,\nItemHomeStoreFeatureBullet7 AS ITEM_HOMESTORE_FT_BULLET7,\nItemHomeStoreFeatureBullet8 AS ITEM_HOMESTORE_FT_BULLET8,\nItemHomestoreItemFluff AS ITEM_HOMESTORE_ITEM_FLUFF,\nTRIM(SeriesAshleyHomestore) AS SERIES_ASHLEY_HOMESTORE,\nSeriesCorporateOnlineSelling AS SERIES_CORP_ONLINE_SELLNG,\nSeriesDivision AS SERIES_DIVISION,\nSeriesExclusiveComment AS SERIES_EXCLUSIVE_COMMENT,\nSeriesFeatures AS SERIES_FEATURES,\nSeriesId AS SERIES_ID,\nSeriesInternationalHomeStore AS SERIES_INTERNATIONAL_HS,\nSeriesIntroDate AS SERIES_INTRO_DATE,\nSeriesMainImage AS SERIES_MAIN_IMAGE,\nSeriesName AS SERIES_NAME,\nSeriesNumber AS SERIES_NUMBER,\nSeriesRetailSalesCategory AS SERIES_RETAIL_SALES_CATEG,\nSeriesShowroom AS SERIES_SHOWROOM,\nSeriesSourceId AS SERIES_SOURCE_ID,\nSeriesStatus AS SERIES_STATUS,\nSeriesStyle AS SERIES_STYLE,\nSeriesThirdParty AS SERIES_THIRD_PARTY,\nSeriesPrimary AS SERIES_PRIMARY,\nItemUomKey AS ITEM_UOM_KEY,\nItemShippableUomKey AS ITEM_SHIPPABLE_UOM_KEY,\nItemEligibleforProtectionPlan AS ITEM_ELIG_PROTECTION_PLAN,\nItemIsProtectionPlan AS ITEM_IS_PROTECTION_PLAN,\nItemAshcommDeliveryMode AS ITEM_ASHCOMM_DLVR_MODE,\nItemMaterial AS ITEM_MATERIAL,\nItemHomeStoreProductLine AS ITEM_HS_PRODUCT_LINE,\nItemEcomMerchantNotes AS ITEM_ECOM_MERCHANT_NOTES,\nItemAmazonBrandOwner AS ITEM_AMAZON_BRAND_OWNER,\nItemLifestyleDescription AS ITEM_LIFESTYLE_DESC,\n'' as B_DELETETYPE,\ncast(Null as datetime) as B_DELETEDATE,\n'' as B_DELETEAUTHOR,\ncast (Null as uniqueidentifier) as B_DELETEOPERATION\nfrom retail.PIM_PRODUCT_VW_RPM P\nJoin \n(\n    SELECT id, MAX(LastModifiedDateTimeUtc) AS LatestDateTime\n    FROM [RetailProductSubscriber].[ProductTable]\n--    WHERE Status NOT IN ('Deleted') OR Status IS NULL\n    GROUP BY id\n) latest ON p.id = latest.id AND p.LastModifiedDateTimeUtc = latest.LatestDateTime",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_LOADID",
								"PRODUCT_MAIN_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_BOX_QTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_BOX_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_FT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_M",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTRO_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTRO_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SERIES_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_Product",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_ProductMaster'\n,@P_PROGRAM_NAME = 'ProductMasterLoad'\n,@P_LOAD_DESCRIPTION = 'ProductMasterLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubmitLoadID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_ProductCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "ProductMasterLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadIDGX')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetDateVariables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SystemTimestamp",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load_Retail_PIM_ProductCode",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP_ProductMain_Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \n'semadmin' AS B_CREATOR,\n'ProductCode' AS B_CLASSNAME,\nSYSUTCDATETIME() as LAST_MODIFIED_DATE,\nProductCodeKey AS PRODUCT_CODE_KEY,\nProductCode AS PRODUCT_CODE,\ncast(IsActive as bit) AS IS_ACTIVE\nFROM [Retail].[EDWProductCode]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_LOADID",
								"PRODUCT_CODE_KEY"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_CODE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PRODUCT_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MODIFIED_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRODUCT_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IS_ACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IS_ACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_ProductCode",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_ProductMain_Archive",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProduct_GX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Retail].[ArchiveProductTableData]",
					"storedProcedureParameters": {
						"InputDate": {
							"value": {
								"value": "@variables('SystemTimestamp')",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load_Retail_PIM_EDWProduct_GX",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId_GX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadIDGX')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT 'semadmin' AS B_CREATOR,\n'ProductMain' AS B_CLASSNAME,\nP.id AS PRODUCT_MAIN_ID,\nSourceId AS SOURCE_ID,\nStatus AS STATUS,\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\nSystemTimestamp AS SYSTEM_TIMESTAMP,\nAlternateDescription2 AS ALTERNATE_DESCRIPTION2,\nItemAFIImageSet AS ITEM_AFI_IMAGE_SET,\nItemAlternateAFIFluff1 AS ITEM_ALTERNATE_AFI_FLUFF1,\nItemAlternateDescription3 AS ITEM_ALTER_DESC3,\nItemARVRReady AS ITEM_ARVR_READY,\nItemAssemblyInstructionsInternal AS ITEM_ASM_INSTR_INTERNAL,\nItemAssemblyInstructionsPublic AS ITEM_ASM_INSTR_PUBLIC,\nItemBoxQty AS ITEM_BOX_QTY,\nItemCartonDepthIn AS ITEM_CARTON_DEPTH_IN,\nItemCartonDepthMm AS ITEM_CARTON_DEPTH_MM,\nItemCartonHeightIn AS ITEM_CARTON_HEIGHT_IN,\nItemCartonHeightMm AS ITEM_CARTON_HEIGHT_MM,\nItemCartonWidthIn AS ITEM_CARTON_WIDTH_IN,\nItemCartonWidthMm AS ITEM_CARTON_WIDTH_MM,\nItemClass AS ITEM_CLASS,\nItemCode AS ITEM_CODE,\nItemColor AS ITEM_COLOR,\nItemColorSwatch AS ITEM_COLOR_SWATCH,\nItemCommodity AS ITEM_COMMODITY,\nItemComponentQuantity AS ITEM_COMPONENT_QUANTITY,\nItemConsumerAssembly AS ITEM_CONSUMER_ASSEMBLY,\nItemCubesFt AS ITEM_CUBES_FT,\nItemCubesM AS ITEM_CUBES_M,\nItemDead AS ITEM_DEAD,\nItemDimensionSketch AS ITEM_DIMENSION_SKETCH,\nItemDiningChairQtyCtn AS ITEM_DINING_CHAIR_QTY_CTN,\nItemEngineeringDivision AS ITEM_ENGINEERING_DIVISION,\nItemExclusive AS ITEM_EXCLUSIVE,\nItemExclusiveComment AS ITEM_EXCLUSIVE_COMMENT,\nItemExpressShip AS ITEM_EXPRESS_SHIP,\nItemFOBBasePrice AS ITEM_FOB_BASE_PRICE,\nItemForecastPlannerID AS ITEM_FORECAST_PLANNER_ID,\nItemFriendlyDimensions AS ITEM_FRIENDLY_DIMENSIONS,\nItemFutureStatus AS ITEM_FUTURE_STATUS,\nItemGeneralDescriptionID AS ITEM_GNRL_DESC_ID,\nItemGeneralLongDescription AS ITEM_GNRL_LONG_DESC,\nItemGoogleTitle AS ITEM_GOOGLE_TITLE,\nItemHomeStoreAssemblyVideo1 AS ITEM_HOMSTORE_ASM_VIDEO1,\nItemHTSCode AS ITEM_HTS_CODE,\nItemImportDomestic AS ITEM_IMPORT_DOMESTIC,\nItemKeyItem AS ITEM_KEY_ITEM,\nItemKnockout AS ITEM_KNOCKOUT,\nItemMaterialReferenceNeeded AS ITEM_MTERIAL_REF_NEEDED,\nItemMfgWarranty AS ITEM_MFG_WARRANTY,\nItemNumber AS ITEM_NUMBER,\nItemPhoto AS ITEM_PHOTO,\nItemProductDepthIn AS ITEM_PRODUCT_DEPTH_IN,\nItemProductDepthMm AS ITEM_PRODUCT_DEPTH_MM,\nItemProductHeightIn AS ITEM_PRODUCT_HEIGHT_IN,\nItemProductHeightMm AS ITEM_PRODUCT_HEIGHT_MM,\nItemProductPageURL AS ITEM_PRODUCT_PAGE_URL,\nItemProductWidthIn AS ITEM_PRODUCT_WIDTH_IN,\nItemProductWidthMm AS ITEM_PRODUCT_WIDTH_MM,\nItemRetailBrandName AS ITEM_RETAIL_BRAND_NAME,\nItemRetailType AS ITEM_RETAIL_TYPE,\nItemRollOverimage AS ITEM_ROLL_OVERIMAGE,\nItemSalesCategoryCode AS ITEM_SALES_CATEGORY_CODE,\nItemScene7ImageSet AS ITEM_SCENE7_IMAGE_SET,\nItemSeats AS ITEM_SEATS,\nItemSeriesName AS ITEM_SERIES_NAME,\nItemSeriesNumber AS ITEM_SERIES_NUMBER,\nItemStandAloneFlag AS ITEM_STAND_ALONE_FLAG,\nItemStatus AS ITEM_STATUS,\nItemStatusChanged AS ITEM_STATUS_CHANGED,\nItemSupplierDirectShipOnly AS ITEM_SUPP_DT_SHIP_ONLY,\nItemSuppWeightNetWeightKg AS ITEM_SUPP_WET_NET_WET_KG,\nItemSuppWeightNetWeightLbs AS ITEM_SUPP_WET_NET_WET_LBS,\nItemThirdPartyItem AS ITEM_THIRD_PARTY_ITEM,\nItemTrackingPiece AS ITEM_TRACKING_PIECE,\nItemTrademarkText AS ITEM_TRADEMARK_TEXT,\nItemType AS ITEM_TYPE,\nItemUnitWeightKg AS ITEM_UNIT_WEIGHT_KG,\nItemUnitWeightLbs AS ITEM_UNIT_WEIGHT_LBS,\nItemUPC AS ITEM_UPC,\nItemValidationComplete AS ITEM_VALIDATION_COMPLETE,\nItemWholesaleAssemblyVideo1 AS ITEM_WHOLESALE_ASM_VIDEO1,\nItemAFIFeatureBullet1 AS ITEM_AFI_FEATURE_BULLET1,\nItemAFIFeatureBullet2 AS ITEM_AFI_FEATURE_BULLET2,\nItemAFIFeatureBullet3 AS ITEM_AFI_FEATURE_BULLET3,\nItemAFIFeatureBullet4 AS ITEM_AFI_FEATURE_BULLET4,\nItemAFIFeatureBullet5 AS ITEM_AFI_FEATURE_BULLET5,\nItemAFIFeatureBullet6 AS ITEM_AFI_FEATURE_BULLET6,\nItemAFIFeatureBullet7 AS ITEM_AFI_FEATURE_BULLET7,\nItemConsumerDescription AS ITEM_CONSUMER_DESCRIPTION,\nItemFluffAFI AS ITEM_FLUFF_AFI,\nItemFluffPrint AS ITEM_FLUFF_PRINT,\nItemFriendlyDescription AS ITEM_FRIENDLY_DESCRIPTION,\nItemHomeStoreFeatureBullet1 AS ITEM_HOMESTORE_FT_BULLET1,\nItemHomeStoreFeatureBullet2 AS ITEM_HOMESTORE_FT_BULLET2,\nItemHomeStoreFeatureBullet3 AS ITEM_HOMESTORE_FT_BULLET3,\nItemHomeStoreFeatureBullet4 AS ITEM_HOMESTORE_FT_BULLET4,\nItemHomeStoreFeatureBullet5 AS ITEM_HOMESTORE_FT_BULLET5,\nItemHomeStoreFeatureBullet6 AS ITEM_HOMESTORE_FT_BULLET6,\nItemHomeStoreFeatureBullet7 AS ITEM_HOMESTORE_FT_BULLET7,\nItemHomeStoreFeatureBullet8 AS ITEM_HOMESTORE_FT_BULLET8,\nItemHomestoreItemFluff AS ITEM_HOMESTORE_ITEM_FLUFF,\nTRIM(SeriesAshleyHomestore) AS SERIES_ASHLEY_HOMESTORE,\nSeriesCorporateOnlineSelling AS SERIES_CORP_ONLINE_SELLNG,\nSeriesDivision AS SERIES_DIVISION,\nSeriesExclusiveComment AS SERIES_EXCLUSIVE_COMMENT,\nSeriesFeatures AS SERIES_FEATURES,\nSeriesId AS SERIES_ID,\nSeriesInternationalHomeStore AS SERIES_INTERNATIONAL_HS,\nSeriesIntroDate AS SERIES_INTRO_DATE,\nSeriesMainImage AS SERIES_MAIN_IMAGE,\nSeriesName AS SERIES_NAME,\nSeriesNumber AS SERIES_NUMBER,\nSeriesRetailSalesCategory AS SERIES_RETAIL_SALES_CATEG,\nSeriesShowroom AS SERIES_SHOWROOM,\nSeriesSourceId AS SERIES_SOURCE_ID,\nSeriesStatus AS SERIES_STATUS,\nSeriesStyle AS SERIES_STYLE,\nSeriesThirdParty AS SERIES_THIRD_PARTY,\nSeriesPrimary AS SERIES_PRIMARY,\nItemUomKey AS ITEM_UOM_KEY,\nItemShippableUomKey AS ITEM_SHIPPABLE_UOM_KEY,\nItemEligibleforProtectionPlan AS ITEM_ELIG_PROTECTION_PLAN,\nItemIsProtectionPlan AS ITEM_IS_PROTECTION_PLAN,\nItemAshcommDeliveryMode AS ITEM_ASHCOMM_DLVR_MODE,\nItemMaterial AS ITEM_MATERIAL,\nItemHomeStoreProductLine AS ITEM_HS_PRODUCT_LINE,\nItemEcomMerchantNotes AS ITEM_ECOM_MERCHANT_NOTES,\nItemAmazonBrandOwner AS ITEM_AMAZON_BRAND_OWNER,\nItemLifestyleDescription AS ITEM_LIFESTYLE_DESC,\nB_DELETETYPE as B_DELETETYPE,\nB_DELETEDATE as B_DELETEDATE,\nB_DELETEAUTHOR as B_DELETEAUTHOR,\nB_DELETEOPERATION as B_DELETEOPERATION\nfrom retail.PIM_PRODUCT_VW_RPM P\nJoin \n(\n    SELECT id, MAX(LastModifiedDateTimeUtc) AS LatestDateTime\n    FROM [RetailProductSubscriber].[ProductTable]\n--    WHERE Status NOT IN ('Deleted') OR Status IS NULL\n    GROUP BY id\n) latest ON p.id = latest.id AND p.LastModifiedDateTimeUtc = latest.LatestDateTime\nwhere upper(P.[Status])='DELETED'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_LOADID",
								"PRODUCT_MAIN_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_BOX_QTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_BOX_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_FT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_M",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTRO_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTRO_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SERIES_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_Product",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId_GX",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SubmitLoadIDGD",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_ProductMaster'\n,@P_PROGRAM_NAME = 'ProductMasterLoad'\n,@P_LOAD_DESCRIPTION = 'ProductMasterLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId_GX",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId_GX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadIDGX",
					"value": {
						"value": "@{activity('GetNewLoadId_GX').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubmitLoadIDGD",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "ProductMasterLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			},
			"SystemTimestamp": {
				"type": "String"
			},
			"LoadIDGX": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Product_Pipelines"
		},
		"annotations": []
	}
}