pipeline/Load_RetailSiteMaster_Incremental.json
{
	"name": "Load_RetailSiteMaster_Incremental",
	"properties": {
		"activities": [
			{
				"name": "LoadRecordsForSiteTrackingDeletion",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LoadGDLegalEntityforCompare",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SITE_ID\nFROM Retail.v_site_changed",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[ASH_REMOVE_SITE_TRACKING]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_SiteMaster_ASH_REMOVE_SITE_TRACKING",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LoadGDLegalEntityforCompare",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LoadSite",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE Scratch.GD_LEGAL_ENTITY",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_BATCHID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								},
								"sink": {
									"name": "B_BATCHID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MAILING_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OS_LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OS_LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Retail_SiteMaster_GD_LEGAL_ENTITY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Scratch_GD_LEGAL_ENTITY",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LoadSite",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \r\n'Site' AS B_CLASSNAME,\r\nGETDATE() AS B_CREDATE,\r\nGETDATE() AS B_UPDDATE,\r\n'semadmin' AS B_CREATOR,\r\n'INITIALLOAD' AS B_PUBID,\r\nsite_id AS B_SOURCEID,\r\noperational_status AS OPERATIONAL_STATUS,\r\ntype AS TYPE,\r\naccount_num AS ACCOUNT_NUMBER,\r\nship_to_num AS SHIP_TO_NUM,\r\nmodel AS MODEL,\r\nversion AS VERSION,\r\ntime_zone AS TIME_ZONE,\r\nlocal_currency_code  AS LOCAL_CURRENCY_CODE,\r\nraw_phone AS RAW_PHONE,\r\nraw_cs_phone AS RAW_CS_PHONE,\r\nraw_fax AS RAW_FAX,\r\nsms_code AS SMS_CODE,\r\nsoft_open_date AS SOFT_OPEN_DATE,\r\ngrand_open_date AS GRAND_OPEN_DATE,\r\nclose_date AS CLOSE_DATE,\r\narea_unit_of_measure AS AREA_UNIT_OF_MEASURE,\r\nbuilding_sqft AS BUILDING_SQFT,\r\nwarehouse_sqft AS WAREHOUSE_SQFT,\r\nshowroom_sqft AS SHOWROOM_SQFT,\r\noffice_sqft AS OFFICE_SQFT,\r\nnum_of_dock_doors AS NUM_OF_DOCK_DOORS,\r\nretail_system_num AS RETAIL_SYSTEM_NUM, \r\nenterprise_store_num AS ENTERPRISE_STORE_NUM,\r\ngoogle_id AS F_GOOGLE_ID,\r\nprospect_id  AS PROSPECT_ID,\r\nCAST(dma_id AS DECIMAL(17,0)) AS DMA_ID, \r\ndma AS DMA,\r\nmsa_id AS MSA_ID,\r\nmsa AS MSA,\r\nmarket AS MARKET,\r\nregion AS REGION,\r\ndomestic_category AS DOMESTIC_CATEGORY,\r\ncountry_category AS COUNTRY_CATEGORY,\r\nCASE WHEN warehouse_account_ship_to IS NULL THEN NULL ELSE 'INITIALLOAD' END as FP_SUPPORTING_WAREHOUSE,\r\nwarehouse_account_ship_to AS FS_SUPPORTING_WAREHOUSE\r\nFROM Retail.v_site_incremental WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPERATIONAL_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OPERATIONAL_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNT_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ACCOUNT_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SHIP_TO_NUM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SHIP_TO_NUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MODEL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MODEL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VERSION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "VERSION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TIME_ZONE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TIME_ZONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOCAL_CURRENCY_CODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LOCAL_CURRENCY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_PHONE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_CS_PHONE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RAW_CS_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_FAX",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RAW_FAX",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SMS_CODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SMS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOFT_OPEN_DATE",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "SOFT_OPEN_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "GRAND_OPEN_DATE",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "GRAND_OPEN_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CLOSE_DATE",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "CLOSE_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "AREA_UNIT_OF_MEASURE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AREA_UNIT_OF_MEASURE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BUILDING_SQFT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BUILDING_SQFT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "WAREHOUSE_SQFT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "WAREHOUSE_SQFT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SHOWROOM_SQFT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								},
								"sink": {
									"name": "SHOWROOM_SQFT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "OFFICE_SQFT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OFFICE_SQFT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NUM_OF_DOCK_DOORS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NUM_OF_DOCK_DOORS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "PROSPECT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PROSPECT_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DMA_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 17
								},
								"sink": {
									"name": "DMA_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "DMA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DMA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MSA_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MSA_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "MSA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MSA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MARKET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MARKET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "REGION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "REGION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DOMESTIC_CATEGORY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DOMESTIC_CATEGORY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CATEGORY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "COUNTRY_CATEGORY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "F_GOOGLE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "F_GOOGLE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_SUPPORTING_WAREHOUSE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_SUPPORTING_WAREHOUSE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_SUPPORTING_WAREHOUSE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_SUPPORTING_WAREHOUSE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SD_SITE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Preserve_WebUI_CompanyCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\r\nEXECUTE [dbo].[GET_NEW_LOADID]\r\n@RETURN_VALUE_ARGUMENT OUTPUT\r\n,@P_DATA_LOCATION_NAME = 'Retail_SiteMaster'\r\n,@P_PROGRAM_NAME = 'RetailSiteDataLoad'\r\n,@P_LOAD_DESCRIPTION = 'RetailSiteDataLoad'\r\n,@P_USERNAME = 'semadmin'\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Preserve_WebUI_CompanyCode",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT \n          LEGAL_ENTITY_ID,\n          LIC_CONTACT, \n          COMPANY_CODE,\n\t\t  GetDate() as LOAD_DATE\nFROM DBO.GD_LEGAL_ENTITY WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[RSM_LicContact_CompanyCode]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COMPANY_CODE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LOAD_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LOAD_DATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Retail_SiteMaster_GD_LEGAL_ENTITY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_RSM_LicContact_CompanyCode",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetMaxHSOPCTrackingID",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DeleteHSOPCTracking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT INT\n\nEXECUTE dbo.GET_MAX_TRACKING_ID @TrackingIdType = 'HS_OPC'\n\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Retail_SiteMaster",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DeleteHSOPCTracking",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LoadRecordsForSiteTrackingDeletion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LOADID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \n     OPCTRACKING.HS_OPC_TRACKING_ID,\n     'HomeStoreOperationProfitCenterTracking' AS B_CLASSNAME,\n\t'HARD_DELETE' AS B_DELETETYPE,\n     CAST(NEWID() AS NVARCHAR(128)) AS B_DELETEOPERATION,\n     GETDATE() AS B_DELETEDATE,\n     'semadmin' AS B_DELETEAUTHOR\nFROM DBO.GD_HS_OPC_TRACKING AS OPCTRACKING\nINNER JOIN (SELECT * FROM DBO.ASH_REMOVE_SITE_TRACKING WHERE SITE_ID LIKE '%WAREHOUSE') AS REMOVEREC\n     ON OPCTRACKING.FS_SITE_ID = REMOVEREC.SITE_ID",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LOADID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "HS_OPC_TRACKING_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								},
								"sink": {
									"name": "HS_OPC_TRACKING_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Retail_SiteMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_SiteMaster_SA_HS_OPC_Tracking",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Site_Master/New_Model"
		},
		"annotations": []
	}
}