pipeline/Load_Retail_SitesLegalEntitiesLoad_EDW.json
{
	"name": "Load_Retail_SitesLegalEntitiesLoad_EDW",
	"properties": {
		"activities": [
			{
				"name": "TRUNCATE_SITE_TABLES",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[TRUNCATE_SITE_TABLES]"
				},
				"linkedServiceName": {
					"referenceName": "Retail_SiteMaster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TRUNCATE_SITE_TABLES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\r\nEXECUTE [dbo].[GET_NEW_LOADID]\r\n@RETURN_VALUE_ARGUMENT OUTPUT\r\n,@P_DATA_LOCATION_NAME = 'Retail_SiteMaster'\r\n,@P_PROGRAM_NAME = 'RetailSiteDataLoad'\r\n,@P_LOAD_DESCRIPTION = 'RetailSiteDataLoad'\r\n,@P_USERNAME = 'semadmin'\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Site",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \r\n'Site' AS B_CLASSNAME,\r\nGETDATE() AS B_CREDATE,\r\nGETDATE() AS B_UPDDATE,\r\n'semadmin' AS B_CREATOR,\r\n'INITIALLOAD' AS B_PUBID,\r\nsite_id AS B_SOURCEID,\r\noperational_status AS OPERATIONAL_STATUS,\r\ntype AS TYPE,\r\naccount_num AS ACCOUNT_NUM,\r\nship_to_num AS SHIP_TO_NUM,\r\nmodel AS MODEL,\r\nversion AS VERSION,\r\ntime_zone AS TIME_ZONE,\r\nlocal_currency_code  AS LOCAL_CURRENCY_CODE,\r\nraw_phone AS RAW_PHONE,\r\nraw_cs_phone AS RAW_CS_PHONE,\r\nraw_fax AS RAW_FAX,\r\nsms_code AS SMS_CODE,\r\nsoft_open_date AS SOFT_OPEN_DATE,\r\ngrand_open_date AS GRAND_OPEN_DATE,\r\nclose_date AS CLOSE_DATE,\r\narea_unit_of_measure AS AREA_UNIT_OF_MEASURE,\r\nbuilding_sqft AS BUILDING_SQFT,\r\nwarehouse_sqft AS WAREHOUSE_SQFT,\r\nshowroom_sqft AS SHOWROOM_SQFT,\r\noffice_sqft AS OFFICE_SQFT,\r\nnum_of_dock_doors AS NUM_OF_DOCK_DOORS,\r\nretail_system_num AS RETAIL_SYSTEM_NUM, \r\nenterprise_store_num AS ENTERPRISE_STORE_NUM,\r\ngoogle_id AS GOOGLE_ID,\r\nprospect_id  AS PROSPECT_ID,\r\nCAST(dma_id AS DECIMAL(17,0)) AS DMA_ID, \r\ndma AS DMA,\r\nmsa_id AS MSA_ID,\r\nmsa AS MSA,\r\nmarket AS MARKET,\r\nregion AS REGION,\r\ndomestic_category AS DOMESTIC_CATEGORY,\r\ncountry_category AS COUNTRY_CATEGORY,\r\nwarehouse_account_ship_to AS SUPPORTING_WAREHOUSE\r\nFROM Retail.v_site WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SD_SITE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LegalEntity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Site",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT\r\n'LegalEntity' AS B_CLASSNAME,\r\nGETDATE() AS B_CREDATE,\r\nGETDATE() AS B_UPDDATE,\r\n'semadmin' AS B_CREATOR,\r\n'INITIALLOAD' AS B_PUBID,\r\nlegal_entity_id AS LEGAL_ENTITY_ID,\r\nname AS NAME,\r\ntype AS TYPE,\r\nlic_contact AS LIC_CONTACT,\r\nlic_contact_email AS LIC_CONTACT_EMAIL,\r\nraw_lic_contact_phone AS RAW_LIC_CONTACT_PHONE,\r\nraw_addr_line1 AS RAW_ADDR_LINE1,\r\nraw_addr_line2 AS RAW_ADDR_LINE2,\r\nraw_city AS RAW_CITY,\r\nraw_state AS RAW_STATE,\r\nraw_state_code AS RAW_STATE_CODE,\r\nraw_country AS RAW_COUNTRY,\r\nraw_country_code AS RAW_COUNTRY_CODE,\r\nraw_postal_code AS RAW_POSTAL_CODE,\r\nraw_longitude AS RAW_LONGITUDE,\r\nraw_latitude AS RAW_LATITUDE,\r\nmailing_addr_line1 AS MAILING_ADDR_LINE1,\r\nmailing_addr_line2 AS MAILING_ADDR_LINE2,\r\nmailing_city AS MAILING_CITY,\r\nmailing_state AS MAILING_STATE,\r\nmailing_state_code AS MAILING_STATE_CODE,\r\nmailing_country AS MAILING_COUNTRY,\r\nmailing_country_code AS MAILING_COUNTRY_CODE,\r\nmailing_postal_code AS MAILING_POSTAL_CODE,\r\nos_legal_entity_id AS OS_LEGAL_ENTITY_ID\r\nFROM Retail.v_legal_entity WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LEGAL_ENTITY_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_ADDR_LINE2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RAW_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_CITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_STATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_STATE_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_COUNTRY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_COUNTRY_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LATITUDE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_LATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LONGITUDE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_LONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_ADDR_LINE1",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_ADDR_LINE2",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_ADDR_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_CITY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_STATE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_STATE_CODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_POSTAL_CODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_COUNTRY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MAILING_COUNTRY_CODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MAILING_COUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OS_LEGAL_ENTITY_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OS_LEGAL_ENTITY_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LIC_CONTACT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LIC_CONTACT_EMAIL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LIC_CONTACT_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAW_LIC_CONTACT_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SA_LEGAL_ENTITY",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Site_Master"
		},
		"annotations": []
	}
}