pipeline/Load_SiteMaster_Incremental__ZipAllocation.json
{
	"name": "Load_SiteMaster_Incremental__ZipAllocation",
	"properties": {
		"description": "Upsert_SA_ZIP_ALLOCATION",
		"activities": [
			{
				"name": "IncrementalSAZipAllocation",
				"description": "select all data from ZipAllocation_INC_V view",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadId",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT [ZIP_ALLOCATION_ID]\n      ,[CustomerNumber]\n      ,[Acct_ShipTo]\n      ,[TRADE_AREA]\n      ,[START_DATE]\n      ,[BUSINESS_TYPE]\n      ,[Status]\n      ,[PRICE_GROUP]\n      ,[ENABLE_WEB_SALE]\n      ,[IsActive]\n      ,[B_CLASSNAME]\n      ,[B_CREDATE]\n      ,[B_CREATOR]\n      ,[B_UPDATOR]\n      ,[FP_SITE_ID]\n      ,[FS_SITE_ID]\n\t  ,[B_DELETETYPE]\n\t  ,[B_DELETEDATE] \n\t  ,[B_DELETEAUTHOR] \n\t  ,[B_DELETEOPERATION] \n  FROM [EDW].[ZipAllocation_INC_V]\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ZIP_ALLOCATION_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadId",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "ZIP_ALLOCATION_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ZIP_ALLOCATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRADE_AREA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TRADE_AREA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "START_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "BUSINESS_TYPE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "BUSINESS_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRICE_GROUP",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PRICE_GROUP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ENABLE_WEB_SALE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ENABLE_WEB_SALE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_SiteMaster_ZipAllocation",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Differential_zipallocation_Semarchy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_SiteMaster'\n,@P_PROGRAM_NAME = 'SiteDACLoad'\n,@P_LOAD_DESCRIPTION = 'SiteDACLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubmitLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ZipAllocation_INC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "SiteDACLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SPCallStoreDetailsErrorMsg_zipallocation",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSAZipAllocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('IncrementalSAZipAllocation').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('IncrementalSAZipAllocation').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('IncrementalSAZipAllocation').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('IncrementalSAZipAllocation').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SD_SITE_MAIN",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('IncrementalSAZipAllocation').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "Retail.DACIncrementalSiteMain",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('IncrementalSAZipAllocation').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_zipAllocation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IncrementalSAZipAllocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('IncrementalSAZipAllocation').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('IncrementalSAZipAllocation').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('IncrementalSAZipAllocation').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('IncrementalSAZipAllocation').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cancel_ZipAllocation_LoadId_Stored_Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSAZipAllocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Differential_zipallocation_Semarchy",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDW].[usp_MergeZipAllocation]"
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ZipAllocation_INC",
				"description": "select all data from ZipAllocation_INC_V view",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IncrementalSAZipAllocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadId",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT [ZIP_ALLOCATION_ID]\n      ,[CustomerNumber]\n      ,[Acct_ShipTo]\n      ,[TRADE_AREA]\n      ,[START_DATE]\n      ,[BUSINESS_TYPE]\n      ,[Status]\n      ,[PRICE_GROUP]\n      ,[ENABLE_WEB_SALE]\n      ,[IsActive]\n      ,[B_CLASSNAME]\n      ,[B_CREDATE]\n      ,[B_CREATOR]\n      ,[B_UPDATOR]\n      ,[FP_SITE_ID]\n      ,[FS_SITE_ID]\n\t  ,[B_DELETETYPE]\n\t  ,[B_DELETEDATE] \n\t  ,[B_DELETEAUTHOR] \n\t  ,[B_DELETEOPERATION] \n        ,IsActive\n  FROM [EDW].[ZipAllocation_INC_V]\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ZIP_ALLOCATION_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ZIP_ALLOCATION_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ZipCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CustomerNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CustomerNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Acct_ShipTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Acct_ShipTo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TRADE_AREA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TradeArea",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "START_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StartDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BUSINESS_TYPE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "BusinessType",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "PRICE_GROUP",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PriceDiscGroup_GroupId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ENABLE_WEB_SALE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "EnableWebSale",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "IsActive",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IsActive",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LoadId",
									"type": "String"
								},
								"sink": {
									"name": "LoadID"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Semarchy_Staging_zip_inc",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SiteMaster"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-26T06:05:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}