pipeline/Load_Containerrate_Semarchy_EDW.json
{
	"name": "Load_Containerrate_Semarchy_EDW",
	"properties": {
		"description": "To load Containerrate to EDW",
		"activities": [
			{
				"name": "Teams_Failed_Notification_CopyToEDW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Cp_ContainerRate_GD_EDW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Cp_ContainerRate_GD_EDW').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Cp_ContainerRate_GD_EDW').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Cp_ContainerRate_GD_EDW').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Cp_ContainerRate_GD_EDW').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cp_ContainerRate_GD_EDW",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select distinct \nF_WAREHOUSE_ID\n,F_ASHLEY_PORT_ID\n,TYPE\n,RATE\n,FORMAT(EFFECTIVE_FROM, 'yyyy-MM-dd') as EFFECTIVE_FROM\n,FORMAT(EFFECTIVE_TO, 'yyyy-MM-dd') as EFFECTIVE_TO\n,B_CREDATE\n,B_UPDDATE\nfrom [dbo].[GD_CONTAINER_RATES]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "masterDataHubStg",
								"type": "LinkedServiceReference"
							},
							"path": "test"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "F_WAREHOUSE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WarehouseID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "F_ASHLEY_PORT_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "PortID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 19
								},
								"sink": {
									"name": "Rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 8
								}
							},
							{
								"source": {
									"name": "EFFECTIVE_FROM",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "EffectiveFromDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EFFECTIVE_TO",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "EffectiveToDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "UpdatedDate",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Semarchy_Wholesale_GD",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "GD_CONTAINER_RATES"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_Containerrate",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Wholesale/W_SiteMaster"
		},
		"annotations": []
	}
}