pipeline/Load_EnterpriseRef_Country.json
{
	"name": "Load_EnterpriseRef_Country",
	"properties": {
		"activities": [
			{
				"name": "Country_Sink_Max_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(B_UPDDATE) as MAX_B_UPDDATE FROM @{pipeline().parameters.Sink_Country_Table_Name} WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Master_Table_Max_Date_Sink",
						"type": "DatasetReference",
						"parameters": {
							"Database_Name": {
								"value": "@pipeline().parameters.Database_Name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Country_Source_Count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Country_Sink_Max_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT COUNT(1) as data FROM GD_EXTERNAL_REF_COUNTRY WITH(NOLOCK) WHERE B_UPDDATE>'@{activity('Country_Sink_Max_Date').output.firstRow.MAX_B_UPDDATE}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Lookup_GD_Master_Table",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"Database_Name": {
				"type": "string"
			},
			"Sink_Country_Table_Name": {
				"type": "string"
			}
		},
		"variables": {
			"LoadId": {
				"type": "String"
			}
		},
		"annotations": []
	}
}