pipeline/Load_PROD_Site_LocationDetails.json
{
	"name": "Load_PROD_Site_LocationDetails",
	"properties": {
		"activities": [
			{
				"name": "GetJsongFilesList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Store_Details_Files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "LoadJsonFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetJsongFilesList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetJsongFilesList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LoadJsonData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "Values",
											"value": {
												"value": "@item().value",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['LocationID']"
											},
											"sink": {
												"name": "LocationId",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['CSOLocationID']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ITGAccountId']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ITGAccountNumber']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ITGClientId']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ITGClientNumber']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['AgencyCode']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Reference Code']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['CMR']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Open Holidays']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Exteriorphoto']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['CustomerServiceHours']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['HideAddress']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['PinMarker']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['AutoDisplayPoint']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ScheduleApptURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['GoogleBusinessDescription']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['primarylanguage']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ChainName']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['StoreLocatorDisabled']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['AppleBusinessName']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['StoreStatus']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Flyerlink']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ManagerName']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ManagerDescription']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Promotion1Image']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['PodiumID']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['ReportGroup']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Promotion2Image']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Reference Code 2']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Google Preferred Photo']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Promotion1URL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeyFields']['Promotion2URL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['DisplayPoint']['Type']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['DisplayPoint']['Latitude']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['DisplayPoint']['Longitude']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['DisplayPoint']['VerificationType']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessStatus']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['Status']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessName']['Name']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessName']['LongName']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessName']['Locale']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessDescription']['Description']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessDescription']['ShortDescription']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessDescription']['LongDescription']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PrimaryAddress']['AddressLine1']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PrimaryAddress']['Locality']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PrimaryAddress']['Region']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PrimaryAddress']['PostalCode']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PrimaryAddress']['CountryCode']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PrimaryAddress']['AddressLine2']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PhoneNumbers']['PrimaryPhoneNumber']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PhoneNumbers']['Landline']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PhoneNumbers']['TollFree']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PhoneNumbers']['Fax']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['WebsiteURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['AlternateWebsiteURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['MediaURLs']['FacebookURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['MediaURLs']['TwitterURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['MediaURLs']['InstagramURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['MediaURLs']['PinterestURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['MediaURLs']['SocialNetworkURL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Su']['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Mo']['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Tu']['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['We']['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Th']['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Fr']['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Sa']['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category1']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category2']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category3']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category4']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category5']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category6']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category7']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category8']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category9']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['BusinessCategories']['Category10']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['EmailAddress']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['KeywordsSpecialties']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['Products']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['Services']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['Brands']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['Tagline']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['AreasServed']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['Languages']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PaymentMethods']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['YearFounded']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['NumberEmployees']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Su']['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Su']['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Mo']['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Mo']['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Tu']['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Tu']['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['We']['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['We']['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Th']['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Th']['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Fr']['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Fr']['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Sa']['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['Sa']['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['SpecialHours'][0]['Date']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['SpecialHours'][0]['Ranges'][0]['StartTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['SpecialHours'][0]['Ranges'][0]['EndTime']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['HoursOfOperationStructured']['SpecialHours'][0]['State']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PhotoURLs'][0]['Type']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PhotoURLs'][0]['URL']"
											}
										},
										{
											"source": {
												"path": "$['LocationData']['PhotoURLs'][0]['Name']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Pragma']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Access-Control-Expose-Headers']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Cache-Control']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Set-Cookie']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Request-Context']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Date']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Content-Length']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Content-Type']"
											}
										},
										{
											"source": {
												"path": "$['ADFWebActivityResponseHeaders']['Expires']"
											}
										},
										{
											"source": {
												"path": "$['effectiveIntegrationRuntime']"
											}
										},
										{
											"source": {
												"path": "$['executionDuration']"
											}
										},
										{
											"source": {
												"path": "$['durationInQueue']['integrationRuntimeQueue']"
											}
										},
										{
											"source": {
												"path": "$['billingReference']['activityType']"
											}
										},
										{
											"source": {
												"path": "$['billingReference']['billableDuration'][0]['meterType']"
											}
										},
										{
											"source": {
												"path": "$['billingReference']['billableDuration'][0]['duration']"
											}
										},
										{
											"source": {
												"path": "$['billingReference']['billableDuration'][0]['unit']"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "Fetch_Location_Json",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Load_LocationDetails_Table",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}