pipeline/Load_Retail_PIM_EDW.json
{
	"name": "Load_Retail_PIM_EDW",
	"properties": {
		"activities": [
			{
				"name": "Load_Retail_PIM_EDWProductKit",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProductPackage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT 'ProductKit' AS B_CLASSNAME,\r\n'semadmin' AS B_CREATOR,\r\nCreatedDateTimeUtc AS CREATED_DATE_TIME_UTC,\r\nKitAdditionalDimensions AS KIT_ADDITIONAL_DIMENSIONS,\r\nKitAfiFeatureBullet1English AS KIT_AFI_FT_BULLET1_ENG,\r\nKitAfiFeatureBullet2English AS KIT_AFI_FT_BULLET2_ENG,\r\nKitAfiFeatureBullet3English AS KIT_AFI_FT_BULLET3_ENG,\r\nKitAfiFeatureBullet4English AS KIT_AFI_FT_BULLET4_ENG,\r\nKitAfiFeatureBullet5English AS KIT_AFI_FT_BULLET5_ENG,\r\nKitAfiFeatureBullet6English AS KIT_AFI_FT_BULLET6_ENG,\r\nKitAfiFeatureBullet7English AS KIT_AFI_FT_BULLET7_ENG,\r\nKitAFIImageSet AS KIT_AFI_IMAGE_SET,\r\nKitAlternateDescription2 AS KIT_ALTER_DESC2,\r\nKitAlternateDescription3 AS KIT_ALTER_DESC3,\r\nKitAlternateAFIFluff1 AS KIT_ALTERNATE_AFI_FLUFF1,\r\nKitAmazonBrandOwner AS KIT_AMAZON_BRAND_OWNER,\r\nKitARVRReady AS KIT_ARVR_READY,\r\nKitAshcommDeliveryMode AS KIT_ASHCOMM_DELIVERY_MODE,\r\nKitAssemblyInstructionsInternal AS KIT_ASM_INSTR_INTERNAL,\r\nKitAssemblyInstructionsPublic AS KIT_ASM_INSTR_PUBLIC,\r\nKitATPSeries AS KIT_ATP_SERIES,\r\nKitAXKitNumber AS KIT_AX_KIT_NUMBER,\r\nKitBoxQty AS KIT_BOX_QTY,\r\nKitCartonDensity AS KIT_CARTON_DENSITY,\r\nKitCartonDepthIn AS KIT_CARTON_DEPTH_IN,\r\nKitCartonDepthMm AS KIT_CARTON_DEPTH_MM,\r\nKitCartonFreightClass AS KIT_CARTON_FREIGHT_CLASS,\r\nKitCartonHeightIn AS KIT_CARTON_HEIGHT_IN,\r\nKitCartonHeightMm AS KIT_CARTON_HEIGHT_MM,\r\nKitCartonVolume AS KIT_CARTON_VOLUME,\r\nKitCartonWidthIn AS KIT_CARTON_WIDTH_IN,\r\nKitCartonWidthMm AS KIT_CARTON_WIDTH_MM,\r\nKitClassKey AS KIT_CLASS_KEY,\r\nKitCodeKey AS KIT_CODE_KEY,\r\nKitColorKey AS KIT_COLOR_KEY,\r\nKitColorSwatch AS KIT_COLOR_SWATCH,\r\nKitCommodity AS KIT_COMMODITY,\r\nKitComponentQuantity AS KIT_COMPONENT_QUANTITY,\r\nKitConditionalHomeDeliveryEligible AS KIT_COND_HOME_DELIV_ELIG,\r\nKitConsumerAssembly AS KIT_CONSUMER_ASSEMBLY,\r\nKitConsumerDescriptionEnglish AS KIT_CONSUMER_DESC_ENG,\r\nKitCubesFt AS KIT_CUBES_FT,\r\nKitCubesM AS KIT_CUBES_M,\r\nKitDead AS KIT_DEAD,\r\nKitDefaultGroupingLookupCodeKey AS KIT_DFLT_GROUP_CODE_KEY,\r\nKitDimensionSketch AS KIT_DIMENSION_SKETCH,\r\nKitDimensionsConfirmed AS KIT_DIMENSIONS_CONFIRMED,\r\nKitDiningChairQtyCtn AS KIT_DINING_CHAIR_QTY_CTN,\r\nKitEcomMerchantNotes AS KIT_ECOM_MERCHANT_NOTES,\r\nKitEligibleforProtectionPlan AS KIT_ELIG_PROTECTION_PLAN,\r\nKitEngineeringDivisionKey AS KIT_ENGINEER_DIVISION_KEY,\r\nKitExclusive AS KIT_EXCLUSIVE,\r\nKitExclusiveComment AS KIT_EXCLUSIVE_COMMENT,\r\nKitExpressShip AS KIT_EXPRESS_SHIP,\r\nKitFamilyofBusinessKey AS KIT_FAMILYOF_BUSINESS_KEY,\r\nKitFluffAFIEnglish AS KIT_FLUFF_AFI_ENGLISH,\r\nKitFluffPrintEnglish AS KIT_FLUFF_PRINT_ENGLISH,\r\nKitFOBBasePrice AS KIT_FOB_BASE_PRICE,\r\nKitForecastPlannerID AS KIT_FORECAST_PLANNER_ID,\r\nKitFriendlyDescriptionEnglish AS KIT_FRIENDLY_DESC_ENG,\r\nKitFriendlyDimensions AS KIT_FRIENDLY_DIMENSIONS,\r\nKitFutureStatus AS KIT_FUTURE_STATUS,\r\nKitGeneralDescriptionID AS KIT_GEN_DESC_ID,\r\nKitGeneralLongDescription AS KIT_GEN_LONG_DESC,\r\nKitGoogleTitle AS KIT_GOOGLE_TITLE,\r\nKitHomeStoreAssemblyVideo1 AS KIT_HOMESTORE_ASM_VIDEO1,\r\nKitHomestoreProductLine AS KIT_HOMESTORE_PDT_LINE,\r\nKitHomstoreFeatureBullet1English AS KIT_HS_FT_BULLET1_ENG,\r\nKitHomstoreFeatureBullet2English AS KIT_HS_FT_BULLET2_ENG,\r\nKitHomstoreFeatureBullet3English AS KIT_HS_FT_BULLET3_ENG,\r\nKitHomstoreFeatureBullet4English AS KIT_HS_FT_BULLET4_ENG,\r\nKitHomstoreFeatureBullet5English AS KIT_HS_FT_BULLET5_ENG,\r\nKitHomstoreFeatureBullet6English AS KIT_HS_FT_BULLET6_ENG,\r\nKitHomstoreFeatureBullet7English AS KIT_HS_FT_BULLET7_ENG,\r\nKitHomstoreFeatureBullet8English AS KIT_HS_FT_BULLET8_ENG,\r\nKitHomestoreKitFluffEnglish AS KIT_HS_KIT_FLUFF_ENG,\r\nKitHTSCode AS KIT_HTS_CODE,\r\nKitID AS KIT_ID,\r\nKitImportDomesticKey AS KIT_IMPORT_DOMESTIC_KEY,\r\nKitIsProtectionPlan AS KIT_IS_PROTECTION_PLAN,\r\nKitKeyKit AS KIT_KEY_KIT,\r\nKitKnockout AS KIT_KNOCKOUT,\r\nKitMaterialEnglish AS KIT_MATERIAL_ENGLISH,\r\nKitMfgWarranty AS KIT_MFG_WARRANTY,\r\nKitNotAvailableforIndividualSale AS KIT_NOT_AVBL_INDIV_SALE,\r\nKitNumber AS KIT_NUMBER,\r\nKitPartsDrawings AS KIT_PARTS_DRAWINGS,\r\nKitPhoto AS KIT_PHOTO,\r\nKitPKLegacySellablePackage AS KIT_PK_LEG_SELLABLE_PKG,\r\nKitPrimaryLifestyle AS KIT_PRIMARY_LIFESTYLE,\r\nKitProductDepthIn AS KIT_PRODUCT_DEPTH_IN,\r\nKitProductDepthMm AS KIT_PRODUCT_DEPTH_MM,\r\nKitProductHeightIn AS KIT_PRODUCT_HEIGHT_IN,\r\nKitProductHeightMm AS KIT_PRODUCT_HEIGHT_MM,\r\nKitProductPageURL AS KIT_PRODUCT_PAGE_URL,\r\nKitProductWidthIn AS KIT_PRODUCT_WIDTH_IN,\r\nKitProductWidthMm AS KIT_PRODUCT_WIDTH_MM,\r\nKitPurchaseType AS KIT_PURCHASE_TYPE,\r\nKitRetailBrandNameKey AS KIT_RETAIL_BRAND_NAME_KEY,\r\nKitRetailRoomKey AS KIT_RETAIL_ROOM_KEY,\r\nKitRetailTypeKey AS KIT_RETAIL_TYPE_KEY,\r\nKitRollOverimage AS KIT_ROLL_OVER_IMAGE,\r\nKitSalesCategoryCodeKey AS KIT_SALES_CATEG_CODE_KEY,\r\nKitScene7ImageSet AS KIT_SCENE7_IMAGE_SET,\r\nKitSeats AS KIT_SEATS,\r\nKitSelllingCountries AS KIT_SELLLING_COUNTRIES,\r\nKitSeriesNumber AS KIT_SERIES_NUMBER,\r\nKitSeriesRetailSalesCategoryKey AS KIT_SERIES_RT_SL_CAT_KEY,\r\nKitShippableUomKey AS KIT_SHIPPABLE_UOM_KEY,\r\nKitShippingDepthIn AS KIT_SHIPPING_DEPTH_IN,\r\nKitShippingDepthMm AS KIT_SHIPPING_DEPTH_MM,\r\nKitShippingHeightIn AS KIT_SHIPPING_HEIGHT_IN,\r\nKitShippingHeightMm AS KIT_SHIPPING_HEIGHT_MM,\r\nKitShippingWidthIn AS KIT_SHIPPING_WIDTH_IN,\r\nKitShippingWidthMm AS KIT_SHIPPING_WIDTH_MM,\r\nKitShowroomMarketStatus AS KIT_SHOWROOM_MKT_STATUS,\r\nCAST(KitSourceID AS int) AS KIT_SOURCE_ID,\r\nKitStandAloneFlag AS KIT_STAND_ALONE_FLAG,\r\nKitStatus AS KIT_STATUS,\r\nKitStatusChanged AS KIT_STATUS_CHANGED,\r\nKitStatusKey AS KIT_STATUS_KEY,\r\nKitSuppWeightNetWeightKg AS KIT_SUPP_WT_NET_WT_KG,\r\nKitSuppWeightNetWeightLbs AS KIT_SUPP_WT_NET_WT_LBS,\r\nKitSupplierDirectShipOnly AS KIT_SUPPLIER_DT_SHIP_ONLY,\r\nKitThirdPartyKit AS KIT_THIRD_PARTY_KIT,\r\nKitTrackingPiece AS KIT_TRACKING_PIECE,\r\nKitTrademarkText AS KIT_TRADEMARK_TEXT,\r\nKitType AS KIT_TYPE,\r\nKitUnitWeightKg AS KIT_UNIT_WEIGHT_KG,\r\nKitUnitWeightLbs AS KIT_UNIT_WEIGHT_LBS,\r\nKitUomKey AS KIT_UOM_KEY,\r\nKitUPC AS KIT_UPC,\r\nKitUpholsteryCover AS KIT_UPHOLSTERY_COVER,\r\nKitValidationComplete AS KIT_VALIDATION_COMPLETE,\r\nKitVendorName AS KIT_VENDOR_NAME,\r\nKitWholesaleAssemblyVideo1 AS KIT_WHOLESALE_ASM_VIDEO1,\r\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\r\nSeriesID AS SERIES_ID,\r\nCAST(SeriesKey AS int) AS SERIES_KEY\r\nfrom [Retail].[EDWProductKit]\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[SA_PRODUCT_KIT]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KIT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KIT_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SERIES_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KIT_RETAIL_TYPE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_RETAIL_TYPE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_STATUS_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_STATUS_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_IMPORT_DOMESTIC_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_IMPORT_DOMESTIC_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_ENGINEER_DIVISION_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_ENGINEER_DIVISION_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_CLASS_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_CLASS_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CODE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SALES_CATEG_CODE_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SALES_CATEG_CODE_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DFLT_GROUP_CODE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_DFLT_GROUP_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_FAMILYOF_BUSINESS_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_FAMILYOF_BUSINESS_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SERIES_RT_SL_CAT_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_SERIES_RT_SL_CAT_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PRIMARY_LIFESTYLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PRIMARY_LIFESTYLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AX_KIT_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AX_KIT_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_STATUS_CHANGED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "KIT_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DEAD",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_DEAD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_BOX_QTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_BOX_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SEATS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_SEATS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_DINING_CHAIR_QTY_CTN",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_DINING_CHAIR_QTY_CTN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_UPC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ARVR_READY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ARVR_READY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SUPPLIER_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SUPPLIER_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DIMENSIONS_CONFIRMED",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_DIMENSIONS_CONFIRMED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_MFG_WARRANTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_MFG_WARRANTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_GEN_DESC_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_GEN_DESC_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_GEN_LONG_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_GEN_LONG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_UOM_KEY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_ADDITIONAL_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_ADDITIONAL_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_UNIT_WEIGHT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_UNIT_WEIGHT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_UNIT_WEIGHT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_UNIT_WEIGHT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SUPP_WT_NET_WT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SUPP_WT_NET_WT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SUPP_WT_NET_WT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SUPP_WT_NET_WT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SELLLING_COUNTRIES",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_SELLLING_COUNTRIES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_THIRD_PARTY_KIT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_THIRD_PARTY_KIT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ROLL_OVER_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ROLL_OVER_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COLOR_SWATCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COLOR_SWATCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PHOTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PHOTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FUTURE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FUTURE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_KEY_KIT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_KEY_KIT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_TRACKING_PIECE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_TRACKING_PIECE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ALTER_DESC2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ALTER_DESC2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SHOWROOM_MKT_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHOWROOM_MKT_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ALTER_DESC3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ALTER_DESC3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_EXCLUSIVE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COMMODITY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_COMMODITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_UPHOLSTERY_COVER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_UPHOLSTERY_COVER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_VOLUME",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CARTON_VOLUME",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_DENSITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CARTON_DENSITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_FREIGHT_CLASS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CARTON_FREIGHT_CLASS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_NOT_AVBL_INDIV_SALE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_NOT_AVBL_INDIV_SALE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PURCHASE_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PURCHASE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PARTS_DRAWINGS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PARTS_DRAWINGS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HOMESTORE_PDT_LINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HOMESTORE_PDT_LINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_RETAIL_ROOM_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_RETAIL_ROOM_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PK_LEG_SELLABLE_PKG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PK_LEG_SELLABLE_PKG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COND_HOME_DELIV_ELIG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COND_HOME_DELIV_ELIG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ATP_SERIES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ATP_SERIES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_VENDOR_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_VENDOR_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HOMESTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HOMESTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CONSUMER_DESC_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CONSUMER_DESC_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FLUFF_AFI_ENGLISH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FLUFF_AFI_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FLUFF_PRINT_ENGLISH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FLUFF_PRINT_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FRIENDLY_DESC_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FRIENDLY_DESC_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET8_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET8_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_KIT_FLUFF_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_KIT_FLUFF_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ASHCOMM_DELIVERY_MODE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ASHCOMM_DELIVERY_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_MATERIAL_ENGLISH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_MATERIAL_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_RETAIL_BRAND_NAME_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_RETAIL_BRAND_NAME_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_COLOR_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_COLOR_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HTS_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HTS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MasterDataHub_EDW_ProductKit",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_EDWProduct",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProductKit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT 'semadmin' AS B_CREATOR,\r\n'ProductMain' AS B_CLASSNAME,\r\nid AS PRODUCT_MAIN_ID,\r\nSourceId AS SOURCE_ID,\r\nStatus AS STATUS,\r\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\r\nSystemTimestamp AS SYSTEM_TIMESTAMP,\r\nAlternateDescription2 AS ALTERNATE_DESCRIPTION2,\r\nItemAFIImageSet AS ITEM_AFI_IMAGE_SET,\r\nItemAlternateAFIFluff1 AS ITEM_ALTERNATE_AFI_FLUFF1,\r\nItemAlternateDescription3 AS ITEM_ALTER_DESC3,\r\nItemARVRReady AS ITEM_ARVR_READY,\r\nItemAssemblyInstructionsInternal AS ITEM_ASM_INSTR_INTERNAL,\r\nItemAssemblyInstructionsPublic AS ITEM_ASM_INSTR_PUBLIC,\r\nItemBoxQty AS ITEM_BOX_QTY,\r\nItemCartonDepthIn AS ITEM_CARTON_DEPTH_IN,\r\nItemCartonDepthMm AS ITEM_CARTON_DEPTH_MM,\r\nItemCartonHeightIn AS ITEM_CARTON_HEIGHT_IN,\r\nItemCartonHeightMm AS ITEM_CARTON_HEIGHT_MM,\r\nItemCartonWidthIn AS ITEM_CARTON_WIDTH_IN,\r\nItemCartonWidthMm AS ITEM_CARTON_WIDTH_MM,\r\nItemClass AS ITEM_CLASS,\r\nItemCode AS ITEM_CODE,\r\nItemColor AS ITEM_COLOR,\r\nItemColorSwatch AS ITEM_COLOR_SWATCH,\r\nItemCommodity AS ITEM_COMMODITY,\r\nItemComponentQuantity AS ITEM_COMPONENT_QUANTITY,\r\nItemConsumerAssembly AS ITEM_CONSUMER_ASSEMBLY,\r\nItemCubesFt AS ITEM_CUBES_FT,\r\nItemCubesM AS ITEM_CUBES_M,\r\nItemDead AS ITEM_DEAD,\r\nItemDimensionSketch AS ITEM_DIMENSION_SKETCH,\r\nItemDiningChairQtyCtn AS ITEM_DINING_CHAIR_QTY_CTN,\r\nItemEngineeringDivision AS ITEM_ENGINEERING_DIVISION,\r\nItemExclusive AS ITEM_EXCLUSIVE,\r\nItemExclusiveComment AS ITEM_EXCLUSIVE_COMMENT,\r\nItemExpressShip AS ITEM_EXPRESS_SHIP,\r\nItemFOBBasePrice AS ITEM_FOB_BASE_PRICE,\r\nItemForecastPlannerID AS ITEM_FORECAST_PLANNER_ID,\r\nItemFriendlyDimensions AS ITEM_FRIENDLY_DIMENSIONS,\r\nItemFutureStatus AS ITEM_FUTURE_STATUS,\r\nItemGeneralDescriptionID AS ITEM_GNRL_DESC_ID,\r\nItemGeneralLongDescription AS ITEM_GNRL_LONG_DESC,\r\nItemGoogleTitle AS ITEM_GOOGLE_TITLE,\r\nItemHomeStoreAssemblyVideo1 AS ITEM_HOMSTORE_ASM_VIDEO1,\r\nItemHTSCode AS ITEM_HTS_CODE,\r\nItemImportDomestic AS ITEM_IMPORT_DOMESTIC,\r\nItemKeyItem AS ITEM_KEY_ITEM,\r\nItemKnockout AS ITEM_KNOCKOUT,\r\nItemMaterialReferenceNeeded AS ITEM_MTERIAL_REF_NEEDED,\r\nItemMfgWarranty AS ITEM_MFG_WARRANTY,\r\nItemNumber AS ITEM_NUMBER,\r\nItemPhoto AS ITEM_PHOTO,\r\nItemProductDepthIn AS ITEM_PRODUCT_DEPTH_IN,\r\nItemProductDepthMm AS ITEM_PRODUCT_DEPTH_MM,\r\nItemProductHeightIn AS ITEM_PRODUCT_HEIGHT_IN,\r\nItemProductHeightMm AS ITEM_PRODUCT_HEIGHT_MM,\r\nItemProductPageURL AS ITEM_PRODUCT_PAGE_URL,\r\nItemProductWidthIn AS ITEM_PRODUCT_WIDTH_IN,\r\nItemProductWidthMm AS ITEM_PRODUCT_WIDTH_MM,\r\nItemRetailBrandName AS ITEM_RETAIL_BRAND_NAME,\r\nItemRetailType AS ITEM_RETAIL_TYPE,\r\nItemRollOverimage AS ITEM_ROLL_OVERIMAGE,\r\nItemSalesCategoryCode AS ITEM_SALES_CATEGORY_CODE,\r\nItemScene7ImageSet AS ITEM_SCENE7_IMAGE_SET,\r\nItemSeats AS ITEM_SEATS,\r\nItemSeriesName AS ITEM_SERIES_NAME,\r\nItemSeriesNumber AS ITEM_SERIES_NUMBER,\r\nItemStandAloneFlag AS ITEM_STAND_ALONE_FLAG,\r\nItemStatus AS ITEM_STATUS,\r\nItemStatusChanged AS ITEM_STATUS_CHANGED,\r\nItemSupplierDirectShipOnly AS ITEM_SUPP_DT_SHIP_ONLY,\r\nItemSuppWeightNetWeightKg AS ITEM_SUPP_WET_NET_WET_KG,\r\nItemSuppWeightNetWeightLbs AS ITEM_SUPP_WET_NET_WET_LBS,\r\nItemThirdPartyItem AS ITEM_THIRD_PARTY_ITEM,\r\nItemTrackingPiece AS ITEM_TRACKING_PIECE,\r\nItemTrademarkText AS ITEM_TRADEMARK_TEXT,\r\nItemType AS ITEM_TYPE,\r\nItemUnitWeightKg AS ITEM_UNIT_WEIGHT_KG,\r\nItemUnitWeightLbs AS ITEM_UNIT_WEIGHT_LBS,\r\nItemUPC AS ITEM_UPC,\r\nItemValidationComplete AS ITEM_VALIDATION_COMPLETE,\r\nItemWholesaleAssemblyVideo1 AS ITEM_WHOLESALE_ASM_VIDEO1,\r\nItemAFIFeatureBullet1 AS ITEM_AFI_FEATURE_BULLET1,\r\nItemAFIFeatureBullet2 AS ITEM_AFI_FEATURE_BULLET2,\r\nItemAFIFeatureBullet3 AS ITEM_AFI_FEATURE_BULLET3,\r\nItemAFIFeatureBullet4 AS ITEM_AFI_FEATURE_BULLET4,\r\nItemAFIFeatureBullet5 AS ITEM_AFI_FEATURE_BULLET5,\r\nItemAFIFeatureBullet6 AS ITEM_AFI_FEATURE_BULLET6,\r\nItemAFIFeatureBullet7 AS ITEM_AFI_FEATURE_BULLET7,\r\nItemConsumerDescription AS ITEM_CONSUMER_DESCRIPTION,\r\nItemFluffAFI AS ITEM_FLUFF_AFI,\r\nItemFluffPrint AS ITEM_FLUFF_PRINT,\r\nItemFriendlyDescription AS ITEM_FRIENDLY_DESCRIPTION,\r\nItemHomeStoreFeatureBullet1 AS ITEM_HOMESTORE_FT_BULLET1,\r\nItemHomeStoreFeatureBullet2 AS ITEM_HOMESTORE_FT_BULLET2,\r\nItemHomeStoreFeatureBullet3 AS ITEM_HOMESTORE_FT_BULLET3,\r\nItemHomeStoreFeatureBullet4 AS ITEM_HOMESTORE_FT_BULLET4,\r\nItemHomeStoreFeatureBullet5 AS ITEM_HOMESTORE_FT_BULLET5,\r\nItemHomeStoreFeatureBullet6 AS ITEM_HOMESTORE_FT_BULLET6,\r\nItemHomeStoreFeatureBullet7 AS ITEM_HOMESTORE_FT_BULLET7,\r\nItemHomeStoreFeatureBullet8 AS ITEM_HOMESTORE_FT_BULLET8,\r\nItemHomestoreItemFluff AS ITEM_HOMESTORE_ITEM_FLUFF,\r\nTRIM(SeriesAshleyHomestore) AS SERIES_ASHLEY_HOMESTORE,\r\nSeriesCorporateOnlineSelling AS SERIES_CORP_ONLINE_SELLNG,\r\nSeriesDivision AS SERIES_DIVISION,\r\nSeriesExclusiveComment AS SERIES_EXCLUSIVE_COMMENT,\r\nSeriesFeatures AS SERIES_FEATURES,\r\nSeriesId AS SERIES_ID,\r\nSeriesInternationalHomeStore AS SERIES_INTERNATIONAL_HS,\r\nSeriesIntroDate AS SERIES_INTRO_DATE,\r\nSeriesMainImage AS SERIES_MAIN_IMAGE,\r\nSeriesName AS SERIES_NAME,\r\nSeriesNumber AS SERIES_NUMBER,\r\nSeriesRetailSalesCategory AS SERIES_RETAIL_SALES_CATEG,\r\nSeriesShowroom AS SERIES_SHOWROOM,\r\nSeriesSourceId AS SERIES_SOURCE_ID,\r\nSeriesStatus AS SERIES_STATUS,\r\nSeriesStyle AS SERIES_STYLE,\r\nSeriesThirdParty AS SERIES_THIRD_PARTY,\r\nSeriesPrimary AS SERIES_PRIMARY,\r\nItemUomKey AS ITEM_UOM_KEY,\r\nItemShippableUomKey AS ITEM_SHIPPABLE_UOM_KEY,\r\nItemEligibleforProtectionPlan AS ITEM_ELIG_PROTECTION_PLAN,\r\nItemIsProtectionPlan AS ITEM_IS_PROTECTION_PLAN,\r\nItemAshcommDeliveryMode AS ITEM_ASHCOMM_DLVR_MODE,\r\nItemMaterial AS ITEM_MATERIAL,\r\nItemHomeStoreProductLine AS ITEM_HS_PRODUCT_LINE,\r\nItemEcomMerchantNotes AS ITEM_ECOM_MERCHANT_NOTES,\r\nItemAmazonBrandOwner AS ITEM_AMAZON_BRAND_OWNER,\r\nItemLifestyleDescription AS ITEM_LIFESTYLE_DESC\r\nfrom [Retail].[EDWProduct]  id in ( '1110121', '1110135', '1110138', '1110139', '1180614', '1180620', '1180635', '1180638', '1180639', '1210014', '1210020', '1210035', '1210038', '1210039', '1256314', '1256320', '1256335', '1256338', '1300014', '1300016', '1300017', '1300020', '1300021', '1300035', '1300035W', '1300038', '1300038W', '1300039', '1300055', '1300056', '1300060', '1300061', '13000S1', '13000S2', '13000S3', '13000S4', '1340425', '1340435', '1340438', '1350114', '1350120', '1350125', '1350135', '1350138', '1400114', '1400120', '1400135', '1400138', '1400139', '1400146', '1510414', '1510423', '1510423W', '1510435', '1510438', '1510438W', '15104U1', '15104U2', '15104U3', '15104U4', '15104U5', '15104U6', '15104U7', '1612029', '1612129', '1612429', '1710114', '1710123', '1710138', '1720008', '1720048', '1720049', '1720066', '1720067', '17200S1', '17200S2', '1730025', '1730035', '1730038', '1800314', '1800320', '1800335', '1800338', '2020308', '2020314', '2020320', '2020335', '2020338', '2020408', '2020414', '2020420', '2020435', '2020438', '2040308', '2040314', '2040320', '2040335', '2040338', '2050008', '2050014', '2050023', '2050035', '2050038', '2050046', '2050055', '2050067', '2059946', '2059955', '2059967', '2060030', '2060130', '2111126', '2111426', '2115326', '2116326', '2130055', '2130056', '2230214', '2230223', '2230235', '2230238', '2240021', '2250314', '2250320', '2250335', '2250338', '2280014', '2280020', '2280030', '2280035', '2280038', '2310016', '2310035', '2310038', '2310060', '2380008', '2380046', '2380055', '2380056', '2380066', '2380067', '23800S1', '23800S2', '23800S3', '23800S4', '2390316', '2390335', '2390338', '2510030', '2510035', '2510036', '2510038', '2520026', '2520126', '2529926', '2580035', '2580038', '2580039', '2580073', '2580108', '2580146', '2580164', '2580165', '2580177', '25801S1', '25801S2', '25801S3', '25801S4', '25801S5', '25801S6', '25801S7', '25801S8', '25801S9', '2620035', '2620038', '2620039', '2620073', '2630011', '2630016', '2630017', '2630021', '2630034', '2630046', '2630055', '2630056', '2630075', '2630076', '2630077', '2670055', '2670056', '2730014', '2730020', '2730021', '2730035', '2730038', '2760216', '2760217', '2760266', '2760267', '27602S1', '27602S2', '2770314', '2770323', '2770335', '2770338', '2800226', '2800326', '2810208', '2810308', '2810408', '2910046', '2910055', '2910056', '2910066', '2910067', '29100S1', '29100S2', '29100S3', '29100S4', '2960126', '2960226', '2960314', '2960323', '2960335', '2960338', '2960339', '29603U1', '29603U2', '2980108', '2980146', '2980164', '2980165', '2980177', '29801S1', '29801S10', '29801S11', '29801S12', '29801S13', '29801S14', '29801S2', '29801S3', '29801S4', '29801S5', '29801S6', '29801S7', '29801S8', '29801S9', '3060514', '3060515', '3060520', '3060535', '3060538', '3080308', '3080314', '3080323', '3080335', '3080335W', '3080338', '3080338W', '3080339', '3080342', '30803U1', '30803U2', '30803U3', '3150223', '3150235', '3150238', '3160008', '3160046', '3160055', '3160056', '3160066', '3160067', '31600S1', '31600S2', '31600S3', '31600S4', '3170030', '3170035', '3170038', '3170039', '3190125', '3190129', '3190135', '3190138', '3190139', '3190146', '3190155', '3190156', '3190166', '3190167', '31901S1', '31901S2', '31901S3', '31901S4', '31901U4', '31901U5', '31901U6', '31901U7', '31901U8', '31901U9', '3193025', '3193035', '3193038', '3230214', '3230223', '3230235', '3230238', '32302U1', '32302U2', '3260108', '3260115', '3260123', '3260135', '3260138', '3260214', '3260223', '3260235', '3260238', '3260314', '3260320', '3260325', '3260335', '3260338', '3260339', '3269423', '3269435', '3269438', '3269523', '3269535', '3269538', '3269623', '3269635', '3269638', '3269823', '3269835', '3269838', '3269923', '3269935', '3269938', '326N214', '326N223', '326N235', '326N238', '326U108', '326U120', '326U123', '326U135', '326U138', '326U213', '326U220', '326U235', '326U238', '3350314', '3350320', '3350335', '3350338', '3350339', '3410435', '3410438', '3410460', '3420214', '3420220', '3420235', '3420238', '3420239', '3440014', '3440020', '3440035', '3440038', '3460214', '3460215', '3460223', '3460235', '3460238', '3570013', '3570021', '3570114', '3570123', '3570135', '3570138', '3570139', '3570146', '3600114', '3600120', '3600135', '3600138', '3600139', '3720014', '3720020', '3720035', '3720038', '372U014', '372U020', '372U035', '372U038', '372U114', '372U120', '372U135', '372U138', '3730014', '3730015', '3730023', '3730035', '3730038', '3740114', '3740115', '3740123', '3740135', '3740138', '374N113', '374N115', '374N120', '374N135', '374N138', '3790114', '3790120', '3790135', '3790138', '3790160', '3820014', '3820023', '3820035', '3820038', '3830014', '3830020', '3830035', '3830038', '3830039', '3870114', '3870121', '3870123', '3870135', '3870138', '3880014', '3880021', '3880023', '3880035', '3880038', '3880039', '3940014', '3940020', '3940035', '3940038', '3940060', '3940114', '3940120', '3940135', '3940138', '3940160', '3960114', '3960115', '3960123', '3960135', '3960138', '4000214', '4000223', '4000235', '4000238', '4000239', '40002U1', '4030014', '4030020', '4030035', '4030038', '4030135', '4030138', '4030235', '4030238', '4060314', '4060320', '4060335', '4060338', '4070046', '4070055', '4070056', '4070066', '4070067', '40700S1', '40700S2', '40700S3', '40700S4', '4090114', '4090123', '4090135', '4090138', '4090139', '40901U1', '4100115', '4100135', '4100138', '4100160', '4190135', '4190138', '4190144', '4343335', '4343338', '4360330', '4360335', '4360338', '4360735', '4360738', '4460314', '4460320', '4460335', '4460338', '4490014', '4490020', '4490035', '4490038', '4490039', '44900U1', '44900U2', '44900U3', '4500173', '4530155', '4530167', '45301PKG', '4610011', '4610014', '4610020', '4610035', '4610038', '4610108', '4610121', '4610122', '4610135', '4610138', '4610320', '4610335', '4610338', '4620014', '4620020', '4620035', '4620038', '4620039', '4620060', '4670414', '4670420', '4670435', '4670438', '4670439', '4690014', '4690020', '4690035', '4690038', '4720214', '4720220', '4720235', '4720238', '47202U1', '4740113', '4740213', '4740313', '4770014', '4770020', '4770021', '4770035', '4770038', '4770039', '4770039W3', '4780008', '4780021', '4780035', '4780038', '4780039', '4810021', '4830031', '4830038', '48300PKG', '4850060', '4850114', '4850123', '4850135', '4850138', '4850139', '4870114', '4870120', '4870125', '4870135', '4870138', '4870139', '4870146', '4870148', '4870149', '4870155', '4870156', '48701S1', '48701S2', '48701S3', '48701S4', '48701U1', '48701U2', '48701U3', '48701U4', '48701U5', '48701U6', '48701U7', '4870435', '4870438', '4880416', '4880435', '4880438', '4890121', '4890135', '4890138', '4940035', '4940038', '4960116', '4960135', '4960138', '49601U1', '5140230', '5160014', '5160020', '5160035', '5160038', '5160039', '516N014', '516N020', '516N035', '516N038', '516N039', '5280014', '5280020', '5280035', '5280038', '5280039', '551N214', '551N314', '551N320', '551N335', '551N338', '5530014', '5530020', '5530035', '5530038', '5530060', '5530120', '5530135', '5530138', '553N014', '553N020', '553N021', '553N035', '553N038', '5590035', '5590038', '559N014', '559N023', '559N035', '559N038', '5600114', '5600123', '5600135', '5600138', '5660255', '5660256', '5690014', '5690020', '5690035', '5690038', '5710427', '5710527', '5710727', '5730014', '5730020', '5730035', '5730038', '5730060', '5800113', '5800121', '5800135', '5800138', '5870114', '5870115', '5870123', '5870135', '5870138', '5870214', '5870214C', '5870223', '5870223C', '5870235', '5870235C', '5870238', '5870238C', '5870239', '5870239C', '58702U1', '5870308', '5870308C', '5870346', '5870346C', '5870348', '5870348C', '5870349', '5870349C', '5870355', '5870355C', '5870356', '5870356C', '58703S1', '58703S1C', '58703S2', '58703S2C', '58703S3', '58703S3C', '58703S4', '58703S4C', '5880335', '5880338', '5970113', '5970121', '5970135', '5970138', '5980114', '5980120', '5980135', '5980138', '6120318', '6418020', '6418035', '6418038', '6418120', '6418135', '6418138', '6418220', '6418235', '6418238', '6418320', '6418335', '6418338', '6418420', '6418435', '6418438', '6418520', '6418535', '6418538', '6418620', '6418635', '6418638', '6418720', '6418735', '6418738', '6418820', '6418835', '6418838', '6418920', '6418935', '6418938', '6419020', '6419035', '6419038', '6419120', '6419135', '6419138', '6419220', '6419235', '6419238', '6419320', '6419335', '6419338', '6419420', '6419435', '6419438', '6419520', '6419535', '6419538', '6419620', '6419635', '6419638', '6419720', '6419735', '6419738', '6419820', '6419835', '6419838', '6570108', '6570116', '6570117', '6570134', '6570155', '6570156', '6570175', '6570176', '6570177', '6570199', '65701S1', '65701S2', '65701S3', '65701S4', '65701S5', '65701S6', '65701S7', '65701S8', '6600226', '6740214', '6740220', '6740235', '6740238', '6740260', '6770314', '6770323', '6770335', '6770335W', '6770338', '6770338W', '6790125', '6790135', '6790138', '681U020', '681U035', '681U038', '6850014', '6850020', '6850035', '6850038', '6850039', '6870114', '6870123', '6870135', '6870138', '687U114', '687U120', '687U123', '687U135', '687U138', '6920114', '6920120', '6920135', '6920136', '6920138', '692U120', '692U135', '692U136', '692U138', '6970131', '6970135', '6970138', '697U131', '697U135', '7030322', '7030922', '7034322', '7090055', '7090056', '7120115', '7120135', '7120138', '7200160', '7200214', '7200220', '7200235', '7200238', '7290121', '7290122', '7290135', '7290138', '7350330', '7350430', '7350530', '7360461', '7360561', '7370114', '7370123', '7370135', '7370138', '7370139', '7400514', '7400523', '7400535', '7400538', '7580214', '7580220', '7580235', '7580238', '7580260', '7660414', '7660423', '7660435', '7660438', '7660439', '7660442', '7670008', '7730130', '7730230', '7730330', '7830314', '7830323', '7830335', '7830338', '7870114', '7870120', '7870135', '7870138', '7870139', '78701U1', '78701U2', '78701U3', '7990421', '7990422', '7990435', '7990438', '7990439', '8000325', '8000335', '8000338', '8000339', '80003U1', '80003U2', '80003U3', '80003U4', '8000425', '8000435', '8000438', '8000439', '80004U1', '80004U2', '800XX21', '8020214', '8020220', '8020221', '8020235', '8020235W', '8020238', '8020238W', '8020239', '80202U1', '8030126', '8040214', '8040220', '8040235', '8040238', '8040239', '8050514', '8050520', '8050535', '8050538', '8050539', '80505U1', '80505U2', '80505U3', '8053035', '8053038', '8060314', '8060320', '8060335', '8060338', '8060339', '80603U1', '80603U2', '80603U3', '8120208', '8120216', '8120217', '8120234', '8120246', '8120248', '8120249', '81202S1', '81202S2', '81202S3', '81202S4', '815U014', '815U020', '815U035', '815U038', '8210414', '8210420', '8210435', '8210438', '8210439', '8210460', '8220214', '8220220', '8220225', '8220235', '8220238', '8220239', '8220239W3', '82202U1', '8240213', '8240221', '8240235', '8240238', '8240435', '8240435W', '8240438', '8240438W', '8240446', '8240477', '82404S2', '82404S3', '82404U1', '8300414', '8300415', '8300420', '8300435', '8300436', '8300438', '83004U1', '8300635', '8300638', '832U013', '832U021', '832U035', '832U038', '8350008', '8350048', '8350049', '8350066', '8350067', '83500S1', '83500S2', '8450118', '8450120', '8450121', '8450168', '8520316', '8520317', '8520334', '8520346', '8520355', '8520356', '8520377', '85203S1', '85203S2', '85203S3', '85203S4', '85203S5', '85203S6', '85203S7', '8550173', '8580208', '8580248', '8580249', '8580266', '8580267', '85802S1', '8580314', '8580320', '8580335', '8580338', '85803U1', '8610325', '8640427', '8640527', '8640627', '8640727', '8750020', '8750035', '8750038', '8790114', '8790123', '8790135', '8790138', '8790139', '87901U1', '8810214', '8810220', '8810235', '8810238', '8810239', '8840414', '8840420', '8840435', '8840438', '8840460', '9040308', '9040321', '9040335', '9040338', '9080316', '9080317', '9080321', '9080334', '9080346', '9080355', '9080356', '9080375', '9080376', '9080377', '90803S1', '90803S2', '9100835', '9100838', '9260214', '9260220', '9260235', '9260238', '9260239', '9260260', '926U014', '926U020', '926U035', '926U038', '9370220', '9370222', '9370235', '9370238', '9590130', '964N020', '964N035', '964N038', '964U020', '964U035', '964U038', '9720614', '9720620', '9720625', '9720635', '9720638', '9720639', '9810135', '9810138', '9810235', '9810238', '9830830', '9830930', '9920014', '9920023', '9920035', '9920038', 'A1000042', 'A1000042T', 'A1000045', 'A1000045T', 'A1000049', 'A1000049P', 'A1000052', 'A1000052P', 'A1000054', 'A1000054P', 'A1000056', 'A1000056P', 'A1000060', 'A1000060P', 'A1000061', 'A1000061P', 'A1000064', 'A1000064T', 'A1000065', 'A1000065T', 'A1000083', 'A1000083T', 'A1000086', 'A1000086T', 'A1000087', 'A1000087T', 'A1000091', 'A1000091T', 'A1000092', 'A1000092T', 'A1000094', 'A1000094T', 'A1000097', 'A1000097T', 'A1000102', 'A1000102T', 'A1000104', 'A1000104T', 'A1000106', 'A1000106T', 'A1000112', 'A1000112T', 'A1000113', 'A1000113T', 'A1000148', 'A1000148P', 'A1000159', 'A1000159P', 'A1000180', 'A1000180P', 'A1000202', 'A1000205', 'A1000205P', 'A1000216', 'A1000216P', 'A1000218', 'A1000218T', 'A1000219', 'A1000219T', 'A1000220', 'A1000220T', 'A1000221', 'A1000221T', 'A1000222', 'A1000222T', 'A1000223', 'A1000223P', 'A1000230', 'A1000230P', 'A1000267', 'A1000267P', 'A1000268', 'A1000268P', 'A1000270', 'A1000270P', 'A1000273', 'A1000273P', 'A1000276', 'A1000276P', 'A1000280', 'A1000280P', 'A1000281', 'A1000281P', 'A1000282', 'A1000305', 'A1000305P', 'A1000313', 'A1000313P', 'A1000314', 'A1000314P', 'A1000317', 'A1000317P', 'A1000327', 'A1000327P', 'A1000328', 'A1000328P', 'A1000329', 'A1000329P', 'A1000329P1', 'A1000350', 'A1000350P', 'A1000361', 'A1000361P', 'A1000362', 'A1000362P', 'A1000364', 'A1000364P', 'A1000365', 'A1000365P', 'A1000366', 'A1000366P', 'A1000375', 'A1000376', 'A1000382', 'A1000383', 'A1000385', 'A1000395', 'A1000395P', 'A1000396', 'A1000396P', 'A1000397', 'A1000397P', 'A1000418', 'A1000419', 'A1000424', 'A1000425', 'A1000426', 'A1000427', 'A1000428', 'A1000429', 'A1000430', 'A1000432', 'A1000434', 'A1000440', 'A1000442', 'A1000444', 'A1000445', 'A1000446', 'A1000447', 'A1000448', 'A1000456', 'A1000457', 'A1000470', 'A1000474', 'A1000502', 'A1000502P', 'A1000503', 'A1000503P', 'A1000504', 'A1000504P', 'A1000508', 'A1000508P', 'A1000513', 'A1000513P', 'A1000514', 'A1000514P', 'A1000515', 'A1000515P', 'A1000516', 'A1000516P', 'A1000517', 'A1000517P', 'A1000519', 'A1000519P', 'A1000520', 'A1000520P', 'A1000521', 'A1000521P', 'A1000522', 'A1000522P', 'A1000528', 'A1000529', 'A1000530', 'A1000531', 'A1000532', 'A1000532P', 'A1000533', 'A1000533P', 'A1000555', 'A1000555P', 'A1000556', 'A1000556P', 'A1000583', 'A1000583P', 'A1000584', 'A1000584P', 'A1000613', 'A1000613T', 'A1000637', 'A1000637P', 'A1000637P1', 'A1000638', 'A1000638P', 'A1000638P1', 'A1000640', 'A1000640P', 'A1000640P1', 'A1000641', 'A1000641P', 'A1000641P1', 'A1000642', 'A1000642P', 'A1000642P1', 'A1000644', 'A1000644P', 'A1000644P1', 'A1000645', 'A1000645P', 'A1000645P1', 'A1000646', 'A1000646P', 'A1000647', 'A1000647P', 'A1000648', 'A1000648P', 'A1000649', 'A1000649P', 'A1000649P1', 'A1000653', 'A1000653P', 'A1000654', 'A1000654P', 'A1000654P1', 'A1000655', 'A1000655P', 'A1000655P1', 'A1000657', 'A1000657P', 'A1000657P1', 'A1000659', 'A1000659P', 'A1000659P1', 'A1000663', 'A1000663P', 'A1000663P1', 'A1000664', 'A1000664P', 'A1000664P1', 'A1000667', 'A1000667P', 'A1000668', 'A1000668P', 'A1000669', 'A1000669P', 'A1000669P1', 'A1000670', 'A1000670P', 'A1000670P1', 'A1000671', 'A1000671P', 'A1000671P1', 'A1000673', 'A1000673P', 'A1000676', 'A1000676P', 'A1000676P1', 'A1000703', 'A1000703P', 'A1000709', 'A1000709P', 'A1000710', 'A1000710P', 'A1000716', 'A1000716P', 'A1000716P1', 'A1000719', 'A1000719P', 'A1000719P1', 'A1000720', 'A1000720P', 'A1000720P1', 'A1000723', 'A1000723P', 'A1000733', 'A1000733P', 'A1000734', 'A1000734P', 'A1000750', 'A1000750P', 'A1000751', 'A1000751P', 'A1000752', 'A1000752P', 'A1000829', 'A2000173', 'A2000173B', 'A2000177', 'A2000177C', 'A2000195', 'A2000195F', 'A2000204', 'A2000204C', 'A2000205', 'A2000205C', 'A2000244', 'A2000245', 'A2000249', 'A2000292', 'A2000292V', 'A2000293', 'A2000293V', 'A2000294', 'A2000294V', 'A2000319', 'A2000341', 'A2000342', 'A2000344', 'A2000359', 'A2000370', 'A2000377', 'A2C00065', 'A2C00073', 'A2C00077', 'A2C00095', 'A3000044', 'A3000051', 'A3000123', 'A3000160', 'A3000162', 'A3000173', 'A3000203', 'A3000204', 'A3000245', 'A4000037', 'A4000056', 'A4000059', 'A4000071', 'A4000077', 'A4000087', 'A4000088', 'A4000089', 'A4000100', 'A4000118', 'A4000119', 'A4000122', 'A4000123', 'A4000161', 'A4000179', 'A4000183', 'A4000188', 'A4000189', 'A4000222', 'A4000224', 'A4000239', 'A51000008', 'A51000008P', 'A51000009', 'A51000009P', 'A51000019', 'A51000019P', 'A51000021', 'A51000021P', 'A51000022', 'A51000022P', 'A51000090', 'A51000090P', 'A51000091', 'A51000091P', 'A51000092', 'A51000092P', 'A51000093', 'A51000093P', 'A51000094', 'A51000094P', 'A51000095', 'A51000095P', 'A51000096', 'A51000096P', 'A51000097', 'A51000097P', 'A51000098', 'A51000098P', 'A51000099', 'A51000099P', 'A51000100', 'A51000100P', 'A51000101', 'A51000101P', 'A51000102', 'A51000102P', 'A51000103', 'A51000103P', 'A51000104', 'A51000104P', 'A51000105', 'A51000105P', 'A51000106', 'A51000106P', 'A51000107', 'A51000107P', 'A51000108', 'A51000108P', 'A51000109', 'A51000109P', 'A51000110', 'A51000110P', 'A51000111', 'A51000111P', 'A51000112', 'A51000112P', 'A51000116', 'A51000116P', 'A51000120', 'A51000120P', 'A51000123', 'A51000123P', 'A51000125', 'A51000125P', 'A51000127', 'A51000127P', 'A51000132', 'A51000132P', 'A51000133', 'A51000133P', 'A51000134', 'A51000134P', 'A51000135', 'A51000135P', 'A51000136', 'A51000136P', 'A51000137', 'A51000137P', 'A51000138', 'A51000138P', 'A51100001', 'A51100001T', 'A51100002', 'A51100002T', 'A52000009', 'A52000010', 'A52000024', 'A52000025', 'A52100594', 'A52100813', 'A52200001', 'A52200001C', 'A52200005', 'A52200006', 'A52200014', 'A52200014C', 'A52200015', 'A52200015C', 'A52200026', 'A52200026C', 'A52200027', 'A52200027C', 'A52200028', 'A52200028C', 'A52200040', 'A52200040C', 'A52200041', 'A52200041C', 'A52200043', 'A52200043C', 'A52200047', 'A52200047C', 'A52200051', 'A52200101', 'A52200101C', 'A52200201', 'A52200201C', 'A52200202', 'A52200202C', 'A52200301', 'A52200301C', 'A52200302', 'A52200302C', 'A52200401', 'A52200401C', 'A52200402', 'A52200402C', 'A52200403', 'A52200403C', 'A52200404', 'A52200404C', 'A52200411', 'A52200411C', 'A52200412', 'A52200412C', 'A52200413', 'A52200413C', 'A52200414', 'A52200414C', 'A52200421', 'A52200421C', 'A52200422', 'A52200422C', 'A52200423', 'A52200423C', 'A52200424', 'A52200424C', 'A52200501', 'A52200501C', 'A52200502', 'A52200502C', 'A52200503', 'A52200503C', 'A52200601', 'A52200601C', 'A52200602', 'A52200602C', 'A52200603', 'A52200603C', 'A52200604', 'A52200604C', 'A52200678', 'A52200701', 'A52200701C', 'A52200702', 'A52200702C', 'A52200703', 'A52200703C', 'A52200704', 'A52200704C', 'A52200705', 'A52200705C', 'A52200706', 'A52200706C', 'A52200801', 'A52200801C', 'A52200802', 'A52200802C', 'A52200803', 'A52200803C', 'A52201001', 'A52201001C', 'A52201002', 'A52201002C', 'A52201003', 'A52201003C', 'A52201011', 'A52201011C', 'A52201012', 'A52201012C', 'A52201013', 'A52201013C', 'A52201101', 'A52201101C', 'A52201102', 'A52201102C', 'A52201103', 'A52201103C', 'A52201111', 'A52201111C', 'A52201112', 'A52201112C', 'A52201113', 'A52201113C', 'A52201121', 'A52201121C', 'A52201122', 'A52201122C', 'A52201123', 'A52201123C', 'A52201131', 'A52201131C', 'A52201132', 'A52201132C', 'A52201133', 'A52201133C', 'A52201141', 'A52201141C', 'A52201142', 'A52201142C', 'A52201143', 'A52201143C', 'A52201151', 'A52201151C', 'A52201152', 'A52201152C', 'A52201153', 'A52201153C', 'A52201161', 'A52201161C', 'A52201162', 'A52201162C', 'A52201163', 'A52201163C', 'A52201171', 'A52201171C', 'A52201172', 'A52201172C', 'A52201173', 'A52201173C', 'A52201181', 'A52201181C', 'A52201182', 'A52201182C', 'A52201183', 'A52201183C', 'A52201201', 'A52201201C', 'A52201202', 'A52201202C', 'A52201203', 'A52201203C', 'A52201204', 'A52201204C', 'A52201205', 'A52201205C', 'A52201206', 'A52201206C', 'A52201207', 'A52201207C', 'A52201208', 'A52201208C', 'A52201209', 'A52201209C', 'A52201211', 'A52201211C', 'A52201212', 'A52201212C', 'A52201213', 'A52201213C', 'A52201214', 'A52201214C', 'A52201215', 'A52201215C', 'A52201216', 'A52201216C', 'A52201217', 'A52201217C', 'A52201218', 'A52201218C', 'A52201219', 'A52201219C', 'A52201221', 'A52201221C', 'A52201222', 'A52201222C', 'A52201223', 'A52201223C', 'A52201224', 'A52201224C', 'A52201225', 'A52201225C', 'A52201226', 'A52201226C', 'A52201227', 'A52201227C', 'A52201228', 'A52201228C', 'A52201229', 'A52201229C', 'A52201301', 'A52201301C', 'A52201302', 'A52201302C', 'A52201303', 'A52201303C', 'A52201304', 'A52201304C', 'A52201305', 'A52201305C', 'A52201306', 'A52201306C', 'A52201307', 'A52201307C', 'A52201308', 'A52201308C', 'A52201309', 'A52201309C', 'A52201401', 'A52201401C', 'A52201402', 'A52201402C', 'A52201403', 'A52201403C', 'A52201404', 'A52201404C', 'A52201405', 'A52201405C', 'A52201406', 'A52201406C', 'A52201407', 'A52201407C', 'A52201408', 'A52201408C', 'A52201409', 'A52201409C', 'A52201501', 'A52201501C', 'A52201502', 'A52201502C', 'A52201503', 'A52201503C', 'A52201504', 'A52201504C', 'A52201505', 'A52201505C', 'A52201601', 'A52201601C', 'A52201602', 'A52201602C', 'A52201603', 'A52201603C', 'A52201604', 'A52201604C', 'A52201605', 'A52201605C', 'A52202500', 'A52202500C', 'A52202501', 'A52202501C', 'A52202502', 'A52202502C', 'A52202510', 'A52202510C', 'A52202511', 'A52202511C', 'A52202512', 'A52202512C', 'A52202520', 'A52202520C', 'A52202521', 'A52202521C', 'A52202522', 'A52202522C', 'A52400704', 'A52401401', 'A52401401F', 'A52401402', 'A52401402F', 'A52401403', 'A52401403F', 'A52401501', 'A52401501F', 'A52401502', 'A52401502F', 'A52401503', 'A52401503F', 'A52401601', 'A52401601F', 'A52401602', 'A52401602F', 'A52401603', 'A52401603F', 'A52402001', 'A52402001F', 'A52402002', 'A52402002F', 'A52402003', 'A52402003F', 'A52402101', 'A52402101F', 'A52402102', 'A52402102F', 'A52402103', 'A52402103F', 'A52402201', 'A52402201F', 'A52402202', 'A52402202F', 'A52402203', 'A52402203F', 'A52402301', 'A52402301F', 'A52402302', 'A52402302F', 'A52402303', 'A52402303F', 'A52501101', 'A52501101V', 'A52501102', 'A52501102V', 'A52501501', 'A52501501V', 'A52501502', 'A52501502V', 'A52501601', 'A52501601V', 'A52501602', 'A52501602V', 'A52501603', 'A52501603V', 'A52501604', 'A52501604V', 'A52501701', 'A52501701V', 'A52501702', 'A52501702V', 'A52600001', 'A52600002', 'A52600003', 'A52600004', 'A52600005', 'A52600236', 'A52600336', 'A52600631', 'A52601197', 'A52800001', 'A52800002', 'A52800008', 'A52800010', 'A52800070', 'A52800193', 'A52800901', 'A52800901A', 'A52801051', 'A52801131', 'A52801318', 'A52801504', 'A52801804', 'A53100401', 'A53100401L', 'A53100403', 'A53100403L', 'A53100404', 'A53100404L', 'A53100405', 'A53100405L', 'A53300501', 'A53300501D', 'A53300502', 'A53300502D', 'A53300503', 'A53300503D', 'A53400101', 'A53400101D', 'A53400102', 'A53400102D', 'A53400103', 'A53400103D', 'A53400201', 'A53400201D', 'A53400202', 'A53400202D', 'A53400203', 'A53400203D', 'A53400301', 'A53400301D', 'A53400302', 'A53400302D', 'A53400401', 'A53400401D', 'A53400402', 'A53400402D', 'A53400501', 'A53400501D', 'A53400601', 'A53400601D', 'A53400701', 'A53400701D', 'A53400702', 'A53400702D', 'A53400703', 'A53400703D', 'A53400704', 'A53400704D', 'A53400711', 'A53400711D', 'A53400712', 'A53400712D', 'A53400713', 'A53400713D', 'A53400714', 'A53400714D', 'A53500601', 'A53500601D', 'A53500602', 'A53500602D', 'A53500603', 'A53500603D', 'A53800501', 'A53800501D', 'A53800601', 'A53800601D', 'A53800701', 'A53800701D', 'A53800702', 'A53800702D', 'A53800801', 'A53800801D', 'A53800901', 'A53800901D', 'A53800902', 'A53800902D', 'A53800903', 'A53800903D', 'A54200001', 'A54200101', 'A54200101F', 'A54200102', 'A54200102F', 'A54200103', 'A54200103F', 'A54200201', 'A54200201F', 'A54200301', 'A54200301F', 'A54200302', 'A54200302F', 'A54200401', 'A54200401F', 'A54200402', 'A54200402F', 'A54200501', 'A54200501F', 'A54200502', 'A54200502F', 'A54200503', 'A54200503F', 'A54200504', 'A54200504F', 'A54200601', 'A54200601F', 'A54200901', 'A54200901F', 'A54201101', 'A54201101F', 'A54201102', 'A54201102F', 'A54201201', 'A54201201F', 'A54201202', 'A54201202F', 'A54201401', 'A54201401F', 'A54201601', 'A54201601F', 'A54201701', 'A54201701F', 'A54201801', 'A54201801F', 'A54201802', 'A54201802F', 'A54201803', 'A54201803F', 'A54201804', 'A54201804F', 'A54201805', 'A54201805F', 'A54201806', 'A54201806F', 'A54201807', 'A54201807F', 'A54201901', 'A54300001', 'A54300002', 'A54300004', 'A54300005', 'A54300101', 'A54300101G', 'A54300102', 'A54300102G', 'A54300201', 'A54300201G', 'A54300301', 'A54300301G', 'A54300401', 'A54300401G', 'A54300402', 'A54300402G', 'A54300501', 'A54300501G', 'A54300601', 'A54300601G', 'A54300701', 'A54300701G',PRODUCT_MAIN_ID in ( '1110121', '1110135', '1110138', '1110139', '1180614', '1180620', '1180635', '1180638', '1180639', '1210014', '1210020', '1210035', '1210038', '1210039', '1256314', '1256320', '1256335', '1256338', '1300014', '1300016', '1300017', '1300020', '1300021', '1300035', '1300035W', '1300038', '1300038W', '1300039', '1300055', '1300056', '1300060', '1300061', '13000S1', '13000S2', '13000S3', '13000S4', '1340425', '1340435', '1340438', '1350114', '1350120', '1350125', '1350135', '1350138', '1400114', '1400120', '1400135', '1400138', '1400139', '1400146', '1510414', '1510423', '1510423W', '1510435', '1510438', '1510438W', '15104U1', '15104U2', '15104U3', '15104U4', '15104U5', '15104U6', '15104U7', '1612029', '1612129', '1612429', '1710114', '1710123', '1710138', '1720008', '1720048', '1720049', '1720066', '1720067', '17200S1', '17200S2', '1730025', '1730035', '1730038', '1800314', '1800320', '1800335', '1800338', '2020308', '2020314', '2020320', '2020335', '2020338', '2020408', '2020414', '2020420', '2020435', '2020438', '2040308', '2040314', '2040320', '2040335', '2040338', '2050008', '2050014', '2050023', '2050035', '2050038', '2050046', '2050055', '2050067', '2059946', '2059955', '2059967', '2060030', '2060130', '2111126', '2111426', '2115326', '2116326', '2130055', '2130056', '2230214', '2230223', '2230235', '2230238', '2240021', '2250314', '2250320', '2250335', '2250338', '2280014', '2280020', '2280030', '2280035', '2280038', '2310016', '2310035', '2310038', '2310060', '2380008', '2380046', '2380055', '2380056', '2380066', '2380067', '23800S1', '23800S2', '23800S3', '23800S4', '2390316', '2390335', '2390338', '2510030', '2510035', '2510036', '2510038', '2520026', '2520126', '2529926', '2580035', '2580038', '2580039', '2580073', '2580108', '2580146', '2580164', '2580165', '2580177', '25801S1', '25801S2', '25801S3', '25801S4', '25801S5', '25801S6', '25801S7', '25801S8', '25801S9', '2620035', '2620038', '2620039', '2620073', '2630011', '2630016', '2630017', '2630021', '2630034', '2630046', '2630055', '2630056', '2630075', '2630076', '2630077', '2670055', '2670056', '2730014', '2730020', '2730021', '2730035', '2730038', '2760216', '2760217', '2760266', '2760267', '27602S1', '27602S2', '2770314', '2770323', '2770335', '2770338', '2800226', '2800326', '2810208', '2810308', '2810408', '2910046', '2910055', '2910056', '2910066', '2910067', '29100S1', '29100S2', '29100S3', '29100S4', '2960126', '2960226', '2960314', '2960323', '2960335', '2960338', '2960339', '29603U1', '29603U2', '2980108', '2980146', '2980164', '2980165', '2980177', '29801S1', '29801S10', '29801S11', '29801S12', '29801S13', '29801S14', '29801S2', '29801S3', '29801S4', '29801S5', '29801S6', '29801S7', '29801S8', '29801S9', '3060514', '3060515', '3060520', '3060535', '3060538', '3080308', '3080314', '3080323', '3080335', '3080335W', '3080338', '3080338W', '3080339', '3080342', '30803U1', '30803U2', '30803U3', '3150223', '3150235', '3150238', '3160008', '3160046', '3160055', '3160056', '3160066', '3160067', '31600S1', '31600S2', '31600S3', '31600S4', '3170030', '3170035', '3170038', '3170039', '3190125', '3190129', '3190135', '3190138', '3190139', '3190146', '3190155', '3190156', '3190166', '3190167', '31901S1', '31901S2', '31901S3', '31901S4', '31901U4', '31901U5', '31901U6', '31901U7', '31901U8', '31901U9', '3193025', '3193035', '3193038', '3230214', '3230223', '3230235', '3230238', '32302U1', '32302U2', '3260108', '3260115', '3260123', '3260135', '3260138', '3260214', '3260223', '3260235', '3260238', '3260314', '3260320', '3260325', '3260335', '3260338', '3260339', '3269423', '3269435', '3269438', '3269523', '3269535', '3269538', '3269623', '3269635', '3269638', '3269823', '3269835', '3269838', '3269923', '3269935', '3269938', '326N214', '326N223', '326N235', '326N238', '326U108', '326U120', '326U123', '326U135', '326U138', '326U213', '326U220', '326U235', '326U238', '3350314', '3350320', '3350335', '3350338', '3350339', '3410435', '3410438', '3410460', '3420214', '3420220', '3420235', '3420238', '3420239', '3440014', '3440020', '3440035', '3440038', '3460214', '3460215', '3460223', '3460235', '3460238', '3570013', '3570021', '3570114', '3570123', '3570135', '3570138', '3570139', '3570146', '3600114', '3600120', '3600135', '3600138', '3600139', '3720014', '3720020', '3720035', '3720038', '372U014', '372U020', '372U035', '372U038', '372U114', '372U120', '372U135', '372U138', '3730014', '3730015', '3730023', '3730035', '3730038', '3740114', '3740115', '3740123', '3740135', '3740138', '374N113', '374N115', '374N120', '374N135', '374N138', '3790114', '3790120', '3790135', '3790138', '3790160', '3820014', '3820023', '3820035', '3820038', '3830014', '3830020', '3830035', '3830038', '3830039', '3870114', '3870121', '3870123', '3870135', '3870138', '3880014', '3880021', '3880023', '3880035', '3880038', '3880039', '3940014', '3940020', '3940035', '3940038', '3940060', '3940114', '3940120', '3940135', '3940138', '3940160', '3960114', '3960115', '3960123', '3960135', '3960138', '4000214', '4000223', '4000235', '4000238', '4000239', '40002U1', '4030014', '4030020', '4030035', '4030038', '4030135', '4030138', '4030235', '4030238', '4060314', '4060320', '4060335', '4060338', '4070046', '4070055', '4070056', '4070066', '4070067', '40700S1', '40700S2', '40700S3', '40700S4', '4090114', '4090123', '4090135', '4090138', '4090139', '40901U1', '4100115', '4100135', '4100138', '4100160', '4190135', '4190138', '4190144', '4343335', '4343338', '4360330', '4360335', '4360338', '4360735', '4360738', '4460314', '4460320', '4460335', '4460338', '4490014', '4490020', '4490035', '4490038', '4490039', '44900U1', '44900U2', '44900U3', '4500173', '4530155', '4530167', '45301PKG', '4610011', '4610014', '4610020', '4610035', '4610038', '4610108', '4610121', '4610122', '4610135', '4610138', '4610320', '4610335', '4610338', '4620014', '4620020', '4620035', '4620038', '4620039', '4620060', '4670414', '4670420', '4670435', '4670438', '4670439', '4690014', '4690020', '4690035', '4690038', '4720214', '4720220', '4720235', '4720238', '47202U1', '4740113', '4740213', '4740313', '4770014', '4770020', '4770021', '4770035', '4770038', '4770039', '4770039W3', '4780008', '4780021', '4780035', '4780038', '4780039', '4810021', '4830031', '4830038', '48300PKG', '4850060', '4850114', '4850123', '4850135', '4850138', '4850139', '4870114', '4870120', '4870125', '4870135', '4870138', '4870139', '4870146', '4870148', '4870149', '4870155', '4870156', '48701S1', '48701S2', '48701S3', '48701S4', '48701U1', '48701U2', '48701U3', '48701U4', '48701U5', '48701U6', '48701U7', '4870435', '4870438', '4880416', '4880435', '4880438', '4890121', '4890135', '4890138', '4940035', '4940038', '4960116', '4960135', '4960138', '49601U1', '5140230', '5160014', '5160020', '5160035', '5160038', '5160039', '516N014', '516N020', '516N035', '516N038', '516N039', '5280014', '5280020', '5280035', '5280038', '5280039', '551N214', '551N314', '551N320', '551N335', '551N338', '5530014', '5530020', '5530035', '5530038', '5530060', '5530120', '5530135', '5530138', '553N014', '553N020', '553N021', '553N035', '553N038', '5590035', '5590038', '559N014', '559N023', '559N035', '559N038', '5600114', '5600123', '5600135', '5600138', '5660255', '5660256', '5690014', '5690020', '5690035', '5690038', '5710427', '5710527', '5710727', '5730014', '5730020', '5730035', '5730038', '5730060', '5800113', '5800121', '5800135', '5800138', '5870114', '5870115', '5870123', '5870135', '5870138', '5870214', '5870214C', '5870223', '5870223C', '5870235', '5870235C', '5870238', '5870238C', '5870239', '5870239C', '58702U1', '5870308', '5870308C', '5870346', '5870346C', '5870348', '5870348C', '5870349', '5870349C', '5870355', '5870355C', '5870356', '5870356C', '58703S1', '58703S1C', '58703S2', '58703S2C', '58703S3', '58703S3C', '58703S4', '58703S4C', '5880335', '5880338', '5970113', '5970121', '5970135', '5970138', '5980114', '5980120', '5980135', '5980138', '6120318', '6418020', '6418035', '6418038', '6418120', '6418135', '6418138', '6418220', '6418235', '6418238', '6418320', '6418335', '6418338', '6418420', '6418435', '6418438', '6418520', '6418535', '6418538', '6418620', '6418635', '6418638', '6418720', '6418735', '6418738', '6418820', '6418835', '6418838', '6418920', '6418935', '6418938', '6419020', '6419035', '6419038', '6419120', '6419135', '6419138', '6419220', '6419235', '6419238', '6419320', '6419335', '6419338', '6419420', '6419435', '6419438', '6419520', '6419535', '6419538', '6419620', '6419635', '6419638', '6419720', '6419735', '6419738', '6419820', '6419835', '6419838', '6570108', '6570116', '6570117', '6570134', '6570155', '6570156', '6570175', '6570176', '6570177', '6570199', '65701S1', '65701S2', '65701S3', '65701S4', '65701S5', '65701S6', '65701S7', '65701S8', '6600226', '6740214', '6740220', '6740235', '6740238', '6740260', '6770314', '6770323', '6770335', '6770335W', '6770338', '6770338W', '6790125', '6790135', '6790138', '681U020', '681U035', '681U038', '6850014', '6850020', '6850035', '6850038', '6850039', '6870114', '6870123', '6870135', '6870138', '687U114', '687U120', '687U123', '687U135', '687U138', '6920114', '6920120', '6920135', '6920136', '6920138', '692U120', '692U135', '692U136', '692U138', '6970131', '6970135', '6970138', '697U131', '697U135', '7030322', '7030922', '7034322', '7090055', '7090056', '7120115', '7120135', '7120138', '7200160', '7200214', '7200220', '7200235', '7200238', '7290121', '7290122', '7290135', '7290138', '7350330', '7350430', '7350530', '7360461', '7360561', '7370114', '7370123', '7370135', '7370138', '7370139', '7400514', '7400523', '7400535', '7400538', '7580214', '7580220', '7580235', '7580238', '7580260', '7660414', '7660423', '7660435', '7660438', '7660439', '7660442', '7670008', '7730130', '7730230', '7730330', '7830314', '7830323', '7830335', '7830338', '7870114', '7870120', '7870135', '7870138', '7870139', '78701U1', '78701U2', '78701U3', '7990421', '7990422', '7990435', '7990438', '7990439', '8000325', '8000335', '8000338', '8000339', '80003U1', '80003U2', '80003U3', '80003U4', '8000425', '8000435', '8000438', '8000439', '80004U1', '80004U2', '800XX21', '8020214', '8020220', '8020221', '8020235', '8020235W', '8020238', '8020238W', '8020239', '80202U1', '8030126', '8040214', '8040220', '8040235', '8040238', '8040239', '8050514', '8050520', '8050535', '8050538', '8050539', '80505U1', '80505U2', '80505U3', '8053035', '8053038', '8060314', '8060320', '8060335', '8060338', '8060339', '80603U1', '80603U2', '80603U3', '8120208', '8120216', '8120217', '8120234', '8120246', '8120248', '8120249', '81202S1', '81202S2', '81202S3', '81202S4', '815U014', '815U020', '815U035', '815U038', '8210414', '8210420', '8210435', '8210438', '8210439', '8210460', '8220214', '8220220', '8220225', '8220235', '8220238', '8220239', '8220239W3', '82202U1', '8240213', '8240221', '8240235', '8240238', '8240435', '8240435W', '8240438', '8240438W', '8240446', '8240477', '82404S2', '82404S3', '82404U1', '8300414', '8300415', '8300420', '8300435', '8300436', '8300438', '83004U1', '8300635', '8300638', '832U013', '832U021', '832U035', '832U038', '8350008', '8350048', '8350049', '8350066', '8350067', '83500S1', '83500S2', '8450118', '8450120', '8450121', '8450168', '8520316', '8520317', '8520334', '8520346', '8520355', '8520356', '8520377', '85203S1', '85203S2', '85203S3', '85203S4', '85203S5', '85203S6', '85203S7', '8550173', '8580208', '8580248', '8580249', '8580266', '8580267', '85802S1', '8580314', '8580320', '8580335', '8580338', '85803U1', '8610325', '8640427', '8640527', '8640627', '8640727', '8750020', '8750035', '8750038', '8790114', '8790123', '8790135', '8790138', '8790139', '87901U1', '8810214', '8810220', '8810235', '8810238', '8810239', '8840414', '8840420', '8840435', '8840438', '8840460', '9040308', '9040321', '9040335', '9040338', '9080316', '9080317', '9080321', '9080334', '9080346', '9080355', '9080356', '9080375', '9080376', '9080377', '90803S1', '90803S2', '9100835', '9100838', '9260214', '9260220', '9260235', '9260238', '9260239', '9260260', '926U014', '926U020', '926U035', '926U038', '9370220', '9370222', '9370235', '9370238', '9590130', '964N020', '964N035', '964N038', '964U020', '964U035', '964U038', '9720614', '9720620', '9720625', '9720635', '9720638', '9720639', '9810135', '9810138', '9810235', '9810238', '9830830', '9830930', '9920014', '9920023', '9920035', '9920038', 'A1000042', 'A1000042T', 'A1000045', 'A1000045T', 'A1000049', 'A1000049P', 'A1000052', 'A1000052P', 'A1000054', 'A1000054P', 'A1000056', 'A1000056P', 'A1000060', 'A1000060P', 'A1000061', 'A1000061P', 'A1000064', 'A1000064T', 'A1000065', 'A1000065T', 'A1000083', 'A1000083T', 'A1000086', 'A1000086T', 'A1000087', 'A1000087T', 'A1000091', 'A1000091T', 'A1000092', 'A1000092T', 'A1000094', 'A1000094T', 'A1000097', 'A1000097T', 'A1000102', 'A1000102T', 'A1000104', 'A1000104T', 'A1000106', 'A1000106T', 'A1000112', 'A1000112T', 'A1000113', 'A1000113T', 'A1000148', 'A1000148P', 'A1000159', 'A1000159P', 'A1000180', 'A1000180P', 'A1000202', 'A1000205', 'A1000205P', 'A1000216', 'A1000216P', 'A1000218', 'A1000218T', 'A1000219', 'A1000219T', 'A1000220', 'A1000220T', 'A1000221', 'A1000221T', 'A1000222', 'A1000222T', 'A1000223', 'A1000223P', 'A1000230', 'A1000230P', 'A1000267', 'A1000267P', 'A1000268', 'A1000268P', 'A1000270', 'A1000270P', 'A1000273', 'A1000273P', 'A1000276', 'A1000276P', 'A1000280', 'A1000280P', 'A1000281', 'A1000281P', 'A1000282', 'A1000305', 'A1000305P', 'A1000313', 'A1000313P', 'A1000314', 'A1000314P', 'A1000317', 'A1000317P', 'A1000327', 'A1000327P', 'A1000328', 'A1000328P', 'A1000329', 'A1000329P', 'A1000329P1', 'A1000350', 'A1000350P', 'A1000361', 'A1000361P', 'A1000362', 'A1000362P', 'A1000364', 'A1000364P', 'A1000365', 'A1000365P', 'A1000366', 'A1000366P', 'A1000375', 'A1000376', 'A1000382', 'A1000383', 'A1000385', 'A1000395', 'A1000395P', 'A1000396', 'A1000396P', 'A1000397', 'A1000397P', 'A1000418', 'A1000419', 'A1000424', 'A1000425', 'A1000426', 'A1000427', 'A1000428', 'A1000429', 'A1000430', 'A1000432', 'A1000434', 'A1000440', 'A1000442', 'A1000444', 'A1000445', 'A1000446', 'A1000447', 'A1000448', 'A1000456', 'A1000457', 'A1000470', 'A1000474', 'A1000502', 'A1000502P', 'A1000503', 'A1000503P', 'A1000504', 'A1000504P', 'A1000508', 'A1000508P', 'A1000513', 'A1000513P', 'A1000514', 'A1000514P', 'A1000515', 'A1000515P', 'A1000516', 'A1000516P', 'A1000517', 'A1000517P', 'A1000519', 'A1000519P', 'A1000520', 'A1000520P', 'A1000521', 'A1000521P', 'A1000522', 'A1000522P', 'A1000528', 'A1000529', 'A1000530', 'A1000531', 'A1000532', 'A1000532P', 'A1000533', 'A1000533P', 'A1000555', 'A1000555P', 'A1000556', 'A1000556P', 'A1000583', 'A1000583P', 'A1000584', 'A1000584P', 'A1000613', 'A1000613T', 'A1000637', 'A1000637P', 'A1000637P1', 'A1000638', 'A1000638P', 'A1000638P1', 'A1000640', 'A1000640P', 'A1000640P1', 'A1000641', 'A1000641P', 'A1000641P1', 'A1000642', 'A1000642P', 'A1000642P1', 'A1000644', 'A1000644P', 'A1000644P1', 'A1000645', 'A1000645P', 'A1000645P1', 'A1000646', 'A1000646P', 'A1000647', 'A1000647P', 'A1000648', 'A1000648P', 'A1000649', 'A1000649P', 'A1000649P1', 'A1000653', 'A1000653P', 'A1000654', 'A1000654P', 'A1000654P1', 'A1000655', 'A1000655P', 'A1000655P1', 'A1000657', 'A1000657P', 'A1000657P1', 'A1000659', 'A1000659P', 'A1000659P1', 'A1000663', 'A1000663P', 'A1000663P1', 'A1000664', 'A1000664P', 'A1000664P1', 'A1000667', 'A1000667P', 'A1000668', 'A1000668P', 'A1000669', 'A1000669P', 'A1000669P1', 'A1000670', 'A1000670P', 'A1000670P1', 'A1000671', 'A1000671P', 'A1000671P1', 'A1000673', 'A1000673P', 'A1000676', 'A1000676P', 'A1000676P1', 'A1000703', 'A1000703P', 'A1000709', 'A1000709P', 'A1000710', 'A1000710P', 'A1000716', 'A1000716P', 'A1000716P1', 'A1000719', 'A1000719P', 'A1000719P1', 'A1000720', 'A1000720P', 'A1000720P1', 'A1000723', 'A1000723P', 'A1000733', 'A1000733P', 'A1000734', 'A1000734P', 'A1000750', 'A1000750P', 'A1000751', 'A1000751P', 'A1000752', 'A1000752P', 'A1000829', 'A2000173', 'A2000173B', 'A2000177', 'A2000177C', 'A2000195', 'A2000195F', 'A2000204', 'A2000204C', 'A2000205', 'A2000205C', 'A2000244', 'A2000245', 'A2000249', 'A2000292', 'A2000292V', 'A2000293', 'A2000293V', 'A2000294', 'A2000294V', 'A2000319', 'A2000341', 'A2000342', 'A2000344', 'A2000359', 'A2000370', 'A2000377', 'A2C00065', 'A2C00073', 'A2C00077', 'A2C00095', 'A3000044', 'A3000051', 'A3000123', 'A3000160', 'A3000162', 'A3000173', 'A3000203', 'A3000204', 'A3000245', 'A4000037', 'A4000056', 'A4000059', 'A4000071', 'A4000077', 'A4000087', 'A4000088', 'A4000089', 'A4000100', 'A4000118', 'A4000119', 'A4000122', 'A4000123', 'A4000161', 'A4000179', 'A4000183', 'A4000188', 'A4000189', 'A4000222', 'A4000224', 'A4000239', 'A51000008', 'A51000008P', 'A51000009', 'A51000009P', 'A51000019', 'A51000019P', 'A51000021', 'A51000021P', 'A51000022', 'A51000022P', 'A51000090', 'A51000090P', 'A51000091', 'A51000091P', 'A51000092', 'A51000092P', 'A51000093', 'A51000093P', 'A51000094', 'A51000094P', 'A51000095', 'A51000095P', 'A51000096', 'A51000096P', 'A51000097', 'A51000097P', 'A51000098', 'A51000098P', 'A51000099', 'A51000099P', 'A51000100', 'A51000100P', 'A51000101', 'A51000101P', 'A51000102', 'A51000102P', 'A51000103', 'A51000103P', 'A51000104', 'A51000104P', 'A51000105', 'A51000105P', 'A51000106', 'A51000106P', 'A51000107', 'A51000107P', 'A51000108', 'A51000108P', 'A51000109', 'A51000109P', 'A51000110', 'A51000110P', 'A51000111', 'A51000111P', 'A51000112', 'A51000112P', 'A51000116', 'A51000116P', 'A51000120', 'A51000120P', 'A51000123', 'A51000123P', 'A51000125', 'A51000125P', 'A51000127', 'A51000127P', 'A51000132', 'A51000132P', 'A51000133', 'A51000133P', 'A51000134', 'A51000134P', 'A51000135', 'A51000135P', 'A51000136', 'A51000136P', 'A51000137', 'A51000137P', 'A51000138', 'A51000138P', 'A51100001', 'A51100001T', 'A51100002', 'A51100002T', 'A52000009', 'A52000010', 'A52000024', 'A52000025', 'A52100594', 'A52100813', 'A52200001', 'A52200001C', 'A52200005', 'A52200006', 'A52200014', 'A52200014C', 'A52200015', 'A52200015C', 'A52200026', 'A52200026C', 'A52200027', 'A52200027C', 'A52200028', 'A52200028C', 'A52200040', 'A52200040C', 'A52200041', 'A52200041C', 'A52200043', 'A52200043C', 'A52200047', 'A52200047C', 'A52200051', 'A52200101', 'A52200101C', 'A52200201', 'A52200201C', 'A52200202', 'A52200202C', 'A52200301', 'A52200301C', 'A52200302', 'A52200302C', 'A52200401', 'A52200401C', 'A52200402', 'A52200402C', 'A52200403', 'A52200403C', 'A52200404', 'A52200404C', 'A52200411', 'A52200411C', 'A52200412', 'A52200412C', 'A52200413', 'A52200413C', 'A52200414', 'A52200414C', 'A52200421', 'A52200421C', 'A52200422', 'A52200422C', 'A52200423', 'A52200423C', 'A52200424', 'A52200424C', 'A52200501', 'A52200501C', 'A52200502', 'A52200502C', 'A52200503', 'A52200503C', 'A52200601', 'A52200601C', 'A52200602', 'A52200602C', 'A52200603', 'A52200603C', 'A52200604', 'A52200604C', 'A52200678', 'A52200701', 'A52200701C', 'A52200702', 'A52200702C', 'A52200703', 'A52200703C', 'A52200704', 'A52200704C', 'A52200705', 'A52200705C', 'A52200706', 'A52200706C', 'A52200801', 'A52200801C', 'A52200802', 'A52200802C', 'A52200803', 'A52200803C', 'A52201001', 'A52201001C', 'A52201002', 'A52201002C', 'A52201003', 'A52201003C', 'A52201011', 'A52201011C', 'A52201012', 'A52201012C', 'A52201013', 'A52201013C', 'A52201101', 'A52201101C', 'A52201102', 'A52201102C', 'A52201103', 'A52201103C', 'A52201111', 'A52201111C', 'A52201112', 'A52201112C', 'A52201113', 'A52201113C', 'A52201121', 'A52201121C', 'A52201122', 'A52201122C', 'A52201123', 'A52201123C', 'A52201131', 'A52201131C', 'A52201132', 'A52201132C', 'A52201133', 'A52201133C', 'A52201141', 'A52201141C', 'A52201142', 'A52201142C', 'A52201143', 'A52201143C', 'A52201151', 'A52201151C', 'A52201152', 'A52201152C', 'A52201153', 'A52201153C', 'A52201161', 'A52201161C', 'A52201162', 'A52201162C', 'A52201163', 'A52201163C', 'A52201171', 'A52201171C', 'A52201172', 'A52201172C', 'A52201173', 'A52201173C', 'A52201181', 'A52201181C', 'A52201182', 'A52201182C', 'A52201183', 'A52201183C', 'A52201201', 'A52201201C', 'A52201202', 'A52201202C', 'A52201203', 'A52201203C', 'A52201204', 'A52201204C', 'A52201205', 'A52201205C', 'A52201206', 'A52201206C', 'A52201207', 'A52201207C', 'A52201208', 'A52201208C', 'A52201209', 'A52201209C', 'A52201211', 'A52201211C', 'A52201212', 'A52201212C', 'A52201213', 'A52201213C', 'A52201214', 'A52201214C', 'A52201215', 'A52201215C', 'A52201216', 'A52201216C', 'A52201217', 'A52201217C', 'A52201218', 'A52201218C', 'A52201219', 'A52201219C', 'A52201221', 'A52201221C', 'A52201222', 'A52201222C', 'A52201223', 'A52201223C', 'A52201224', 'A52201224C', 'A52201225', 'A52201225C', 'A52201226', 'A52201226C', 'A52201227', 'A52201227C', 'A52201228', 'A52201228C', 'A52201229', 'A52201229C', 'A52201301', 'A52201301C', 'A52201302', 'A52201302C', 'A52201303', 'A52201303C', 'A52201304', 'A52201304C', 'A52201305', 'A52201305C', 'A52201306', 'A52201306C', 'A52201307', 'A52201307C', 'A52201308', 'A52201308C', 'A52201309', 'A52201309C', 'A52201401', 'A52201401C', 'A52201402', 'A52201402C', 'A52201403', 'A52201403C', 'A52201404', 'A52201404C', 'A52201405', 'A52201405C', 'A52201406', 'A52201406C', 'A52201407', 'A52201407C', 'A52201408', 'A52201408C', 'A52201409', 'A52201409C', 'A52201501', 'A52201501C', 'A52201502', 'A52201502C', 'A52201503', 'A52201503C', 'A52201504', 'A52201504C', 'A52201505', 'A52201505C', 'A52201601', 'A52201601C', 'A52201602', 'A52201602C', 'A52201603', 'A52201603C', 'A52201604', 'A52201604C', 'A52201605', 'A52201605C', 'A52202500', 'A52202500C', 'A52202501', 'A52202501C', 'A52202502', 'A52202502C', 'A52202510', 'A52202510C', 'A52202511', 'A52202511C', 'A52202512', 'A52202512C', 'A52202520', 'A52202520C', 'A52202521', 'A52202521C', 'A52202522', 'A52202522C', 'A52400704', 'A52401401', 'A52401401F', 'A52401402', 'A52401402F', 'A52401403', 'A52401403F', 'A52401501', 'A52401501F', 'A52401502', 'A52401502F', 'A52401503', 'A52401503F', 'A52401601', 'A52401601F', 'A52401602', 'A52401602F', 'A52401603', 'A52401603F', 'A52402001', 'A52402001F', 'A52402002', 'A52402002F', 'A52402003', 'A52402003F', 'A52402101', 'A52402101F', 'A52402102', 'A52402102F', 'A52402103', 'A52402103F', 'A52402201', 'A52402201F', 'A52402202', 'A52402202F', 'A52402203', 'A52402203F', 'A52402301', 'A52402301F', 'A52402302', 'A52402302F', 'A52402303', 'A52402303F', 'A52501101', 'A52501101V', 'A52501102', 'A52501102V', 'A52501501', 'A52501501V', 'A52501502', 'A52501502V', 'A52501601', 'A52501601V', 'A52501602', 'A52501602V', 'A52501603', 'A52501603V', 'A52501604', 'A52501604V', 'A52501701', 'A52501701V', 'A52501702', 'A52501702V', 'A52600001', 'A52600002', 'A52600003', 'A52600004', 'A52600005', 'A52600236', 'A52600336', 'A52600631', 'A52601197', 'A52800001', 'A52800002', 'A52800008', 'A52800010', 'A52800070', 'A52800193', 'A52800901', 'A52800901A', 'A52801051', 'A52801131', 'A52801318', 'A52801504', 'A52801804', 'A53100401', 'A53100401L', 'A53100403', 'A53100403L', 'A53100404', 'A53100404L', 'A53100405', 'A53100405L', 'A53300501', 'A53300501D', 'A53300502', 'A53300502D', 'A53300503', 'A53300503D', 'A53400101', 'A53400101D', 'A53400102', 'A53400102D', 'A53400103', 'A53400103D', 'A53400201', 'A53400201D', 'A53400202', 'A53400202D', 'A53400203', 'A53400203D', 'A53400301', 'A53400301D', 'A53400302', 'A53400302D', 'A53400401', 'A53400401D', 'A53400402', 'A53400402D', 'A53400501', 'A53400501D', 'A53400601', 'A53400601D', 'A53400701', 'A53400701D', 'A53400702', 'A53400702D', 'A53400703', 'A53400703D', 'A53400704', 'A53400704D', 'A53400711', 'A53400711D', 'A53400712', 'A53400712D', 'A53400713', 'A53400713D', 'A53400714', 'A53400714D', 'A53500601', 'A53500601D', 'A53500602', 'A53500602D', 'A53500603', 'A53500603D', 'A53800501', 'A53800501D', 'A53800601', 'A53800601D', 'A53800701', 'A53800701D', 'A53800702', 'A53800702D', 'A53800801', 'A53800801D', 'A53800901', 'A53800901D', 'A53800902', 'A53800902D', 'A53800903', 'A53800903D', 'A54200001', 'A54200101', 'A54200101F', 'A54200102', 'A54200102F', 'A54200103', 'A54200103F', 'A54200201', 'A54200201F', 'A54200301', 'A54200301F', 'A54200302', 'A54200302F', 'A54200401', 'A54200401F', 'A54200402', 'A54200402F', 'A54200501', 'A54200501F', 'A54200502', 'A54200502F', 'A54200503', 'A54200503F', 'A54200504', 'A54200504F', 'A54200601', 'A54200601F', 'A54200901', 'A54200901F', 'A54201101', 'A54201101F', 'A54201102', 'A54201102F', 'A54201201', 'A54201201F', 'A54201202', 'A54201202F', 'A54201401', 'A54201401F', 'A54201601', 'A54201601F', 'A54201701', 'A54201701F', 'A54201801', 'A54201801F', 'A54201802', 'A54201802F', 'A54201803', 'A54201803F', 'A54201804', 'A54201804F', 'A54201805', 'A54201805F', 'A54201806', 'A54201806F', 'A54201807', 'A54201807F', 'A54201901', 'A54300001', 'A54300002', 'A54300004', 'A54300005', 'A54300101', 'A54300101G', 'A54300102', 'A54300102G', 'A54300201', 'A54300201G', 'A54300301', 'A54300301G', 'A54300401', 'A54300401G', 'A54300402', 'A54300402G', 'A54300501', 'A54300501G', 'A54300601', 'A54300601G', 'A54300701', 'A54300701G')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[SA_PRODUCT_MAIN]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_BOX_QTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_BOX_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_FT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_M",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTRO_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTRO_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SERIES_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MasterDataHub_EDW_Product",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_EDWProductPackage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \r\n'semadmin' AS B_CREATOR,\r\n'ProductPackage' AS B_CLASSNAME,\r\nPackageID AS PACKAGE_ID,\r\nPackageKey AS PACKAGE_KEY,\r\nHomestorePackageId AS HOMESTORE_PACKAGE_ID,\r\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\r\nCreatedDateTimeUtc AS CREATED_DATE_TIME_UTC,\r\nPackageNumber AS PACKAGE_NUMBER,\r\nPackageAlternatePackageName AS PACKAGE_ALTER_NAME,\r\nPackageHero AS PACKAGE_HERO,\r\nPackageStatus AS PACKAGE_STATUS,\r\nPackageStatusChanged AS PACKAGE_STATUS_CHANGED,\r\nPackageIsThirdParty AS PACKAGE_IS_THIRD_PARTY,\r\nPackageHomestorePackageId AS PACKAGE_HOMESTORE_ID,\r\nPackageWholesaleID AS PACKAGE_WHOLESALE_ID,\r\nPackageRetailType AS PACKAGE_RETAIL_TYPE,\r\nPackageItemQuantity AS PACKAGE_ITEM_QUANTITY,\r\nPackageUOM AS PACKAGE_UOM,\r\nPackageColor AS PACKAGE_COLOR,\r\nPackageKnockout AS PACKAGE_KNOCKOUT,\r\nPackageScene7ImageSet AS PACKAGE_SCENE7_IMAGE_SET,\r\nPackageValidationComplete AS PACKAGE_VALIDAT_COMPLETE,\r\nPackageValidationNotes AS PACKAGE_VALIDATION_NOTES,\r\nPackageRolloverImage AS PACKAGE_ROLLOVER_IMAGE,\r\nPackageExpressShip AS PACKAGE_EXPRESS_SHIP,\r\nPackageSupplierDirectShipOnly AS PACKAGE_SUPP_DT_SHIP_ONLY,\r\nPackageSalesCategoryCode AS PACKAGE_SALES_CATEG_CODE,\r\nPackageSeriesNumber AS PACKAGE_SERIES_NUMBER,\r\nPackageSeriesName AS PACKAGE_SERIES_NAME,\r\nPackageCode AS PACKAGE_CODE,\r\nPackageAshcommTransition AS PACKAGE_ASHCOM_TRANSITION,\r\nPackageSwatchGroupID AS PACKAGE_SWATCH_GROUP_ID,\r\nPackageDefaultProduct AS PACKAGE_DEFAULT_PRODUCT,\r\nPackageNewFlagDate AS PACKAGE_NEW_FLAG_DATE,\r\nPackageAshcommDeliveryMode AS PACKAGE_ASHCOMM_DLVR_MODE,\r\nPackageChannelChange AS PACKAGE_CHANNEL_CHANGE,\r\nPackageExclusive AS PACKAGE_EXCLUSIVE,\r\nPackageHotSpotsNeedReview AS PACKAGE_HOT_SPOTS_REVIEW,\r\nPackageAlternateDescription1 AS PACKAGE_ALT_DESC1,\r\nPackageAshcommTitleOverride AS PACKAGE_ASH_TTL_OVERRIDE,\r\nPackageHiddenField AS PACKAGE_HIDDEN_FIELD,\r\nPackageConsumerChoice AS PACKAGE_CONSUMER_CHOICE,\r\nPackageTotalAssemblyTime AS PACKAGE_TOTAL_ASM_TIME,\r\nPackageAshcommFlags AS PACKAGE_ASHCOMM_FLAGS,\r\nPackageNavigableCategories AS PACKAGE_NAVIGABLE_CATEG,\r\nPackageName AS PACKAGE_NAME,\r\nPackageAFIFluff AS PACKAGE_AFI_FLUFF,\r\nPackageHomestorePackageFluff AS PACKAGE_HS_PACKAGE_FLUFF,\r\nPackageAFIBullets1 AS PACKAGE_AFI_BULLETS1,\r\nPackageAFIBullets2 AS PACKAGE_AFI_BULLETS2,\r\nPackageAFIBullets3 AS PACKAGE_AFI_BULLETS3,\r\nPackageAFIBullets4 AS PACKAGE_AFI_BULLETS4,\r\nPackageAFIBullets5 AS PACKAGE_AFI_BULLETS5,\r\nPackageAFIBullets6 AS PACKAGE_AFI_BULLETS6,\r\nPackageHomeStoreBullets1 AS PACKAGE_HOMESTORE_BULLET1,\r\nPackageHomeStoreBullets2 AS PACKAGE_HOMESTORE_BULLET2,\r\nPackageHomeStoreBullets3 AS PACKAGE_HOMESTORE_BULLET3,\r\nPackageHomeStoreBullets4 AS PACKAGE_HOMESTORE_BULLET4,\r\nPackageHomeStoreBullets5 AS PACKAGE_HOMESTORE_BULLET5,\r\nPackageHomeStoreBullets6 AS PACKAGE_HOMESTORE_BULLET6\r\nFROM [Retail].[EDWProductPackage]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [dbo].[SA_PRODUCT_PACKAGE]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PACKAGE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PACKAGE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "HOMESTORE_PACKAGE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "HOMESTORE_PACKAGE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ALTER_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ALTER_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HERO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HERO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_STATUS_CHANGED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "PACKAGE_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_IS_THIRD_PARTY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_IS_THIRD_PARTY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_WHOLESALE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_WHOLESALE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_RETAIL_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_RETAIL_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ITEM_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ITEM_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_UOM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_UOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_COLOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_COLOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_VALIDAT_COMPLETE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_VALIDAT_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_VALIDATION_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_VALIDATION_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ROLLOVER_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ROLLOVER_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SALES_CATEG_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SALES_CATEG_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASHCOM_TRANSITION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASHCOM_TRANSITION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SWATCH_GROUP_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SWATCH_GROUP_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_DEFAULT_PRODUCT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_DEFAULT_PRODUCT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NEW_FLAG_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "PACKAGE_NEW_FLAG_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_CHANNEL_CHANGE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_CHANNEL_CHANGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_EXCLUSIVE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOT_SPOTS_REVIEW",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_HOT_SPOTS_REVIEW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ALT_DESC1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ALT_DESC1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASH_TTL_OVERRIDE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASH_TTL_OVERRIDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HIDDEN_FIELD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HIDDEN_FIELD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_CONSUMER_CHOICE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_CONSUMER_CHOICE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_TOTAL_ASM_TIME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_TOTAL_ASM_TIME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASHCOMM_FLAGS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASHCOMM_FLAGS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NAVIGABLE_CATEG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_NAVIGABLE_CATEG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HS_PACKAGE_FLUFF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HS_PACKAGE_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MasterDataHub_EDW_ProductPackage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'masterDataHub_Retail'\n,@P_PROGRAM_NAME = 'ProductMasterLoad'\n,@P_LOAD_DESCRIPTION = 'ProductMasterLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubmitLoadID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "ProductMasterLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}