pipeline/Load_Entity_RCM_RFD_RetailCustomerLoad_Incremental.json
{
	"name": "Load_Entity_RCM_RFD_RetailCustomerLoad_Incremental",
	"properties": {
		"activities": [
			{
				"name": "ProcessRCMRFD",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(pipeline().parameters.EntityCount),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Data_Not_Found_Logs_Stored_Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
								"storedProcedureParameters": {
									"ErrorCode": {
										"value": "404",
										"type": "String"
									},
									"ErrorMsg": {
										"value": "No RAW Data Available For AllSourceCustomers",
										"type": "String"
									},
									"ErrorStatusCode": {
										"value": "404",
										"type": "String"
									},
									"FailureType": {
										"value": "Data Not available",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": null,
										"type": "String"
									},
									"Sink_Type": {
										"value": null,
										"type": "String"
									},
									"Source": {
										"value": null,
										"type": "String"
									},
									"Source_Type": {
										"value": null,
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "GetNewLoadId",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "WaitForSP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_CustomerMaster'\n,@P_PROGRAM_NAME = @{concat('Delete',pipeline().parameters.EntityName)}\n,@P_LOAD_DESCRIPTION = @{concat('Delete',pipeline().parameters.EntityName)}\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Semarchy_Repo",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "usp_ASH_REMOVE_LOAD",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "GetNewLoadId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_ASH_REMOVE_LOAD]",
								"storedProcedureParameters": {
									"Entity": {
										"value": {
											"value": "@pipeline().parameters.EntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"LoadID": {
										"value": {
											"value": "@int(activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT)",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"RecordsToDelete": {
										"value": {
											"value": "@int(pipeline().parameters.EntityCount)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Retail_CustomerMaster",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SubmitLoadID",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "usp_ASH_REMOVE_LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
								"storedProcedureParameters": {
									"P_INTEGRATION_JOB_NAME": {
										"value": {
											"value": "@{concat('Delete',pipeline().parameters.EntityName)}",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_LOAD_ID": {
										"value": {
											"value": "@int(activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT)",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_USERNAME": {
										"value": {
											"value": "semadmin",
											"type": "Expression"
										},
										"type": "String"
									},
									"return_value_argument": {
										"value": null,
										"type": "Decimal"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_repo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "WaitForSP",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Teams_Failed_Notification_RFD_SP",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "usp_ASH_REMOVE_LOAD",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.ADF_SubscriptionID",
										"type": "Expression"
									},
									"resourceGroup": "afi-edme-rg",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": "0",
									"status": {
										"value": "Failed",
										"type": "Expression"
									},
									"message": {
										"value": "usp_DeleteRFDLocalStage Execution Failed",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('usp_ASH_REMOVE_LOAD').output.executionDuration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"EntityCount": {
				"type": "string"
			},
			"EntityName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Retail_Customer_Flow/RCM_RFD_Flow"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-08T08:53:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}