pipeline/Load_RetailCustomer_CommunicationPreferenceLoad_InitialLoad.json
{
	"name": "Load_RetailCustomer_CommunicationPreferenceLoad_InitialLoad",
	"properties": {
		"activities": [
			{
				"name": "SD_COMMUNICTN_PREFERNC_EMAIL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_LoadID_Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LOADID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT EmailAddress AS RAW_EMAIL_ADDRESS,\nCAST(OptedIn as bit) AS OPTED_IN,\nOrganization AS ORGANIZATION,\nPurpose AS PURPOSE,\nChannel AS CHANNEL,\nB_SourceID AS B_SOURCEID,\nEmailCommunicationId AS EMAIL_COMMUNICATION_ID,\nSRC_UPDATE,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_UPDATOR,\nB_UPDATE AS B_UPDDATE,\nB_CREDATE FROM [Masterdata_CDP].[InitialLoadCommPrefEmail] WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LOADID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "Byte[]",
									"physicalType": "varbinary"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPTED_IN",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "OPTED_IN",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ORGANIZATION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORGANIZATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PURPOSE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PURPOSE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHANNEL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CHANNEL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_EMAIL_ADDRESS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EMAIL_COMMUNICATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAIL_COMMUNICATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InitialLoad_CommPref",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SD_COMMUNICTN_PREFERNC_EMAIL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SD_COMMUNICTN_PREFERNC_PHONE",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SD_COMMUNICTN_PREFERNC_EMAIL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LOADID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT PhoneNumber AS RAW_PHONE_NUMBER,\nCAST(OptedIn AS Bit) AS OPTED_IN,\nOrganization AS ORGANIZATION,\nPurpose AS PURPOSE,\nChannel AS CHANNEL,\nB_SourceID AS B_SOURCEID,\nPhoneCommunicationId AS PHONE_COMM_ID,\nSRC_UPDATE,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_UPDATOR,\nB_UPDATE AS B_UPDDATE,\nB_CREDATE FROM [Masterdata_CDP].[InitialLoadCommPrefPhone] WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LOADID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OPTED_IN",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "OPTED_IN",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "ORGANIZATION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ORGANIZATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PURPOSE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PURPOSE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHANNEL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CHANNEL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_PHONE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_PHONE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PHONE_COMM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PHONE_COMM_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SRC_UPDATE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SRC_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InitialLoad_CommPref",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SD_COMMUNICTN_PREFERNC_PHONE",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_CustomerMaster'\n,@P_PROGRAM_NAME = 'CommunicationPreferenceLoad'\n,@P_LOAD_DESCRIPTION = 'CommunicationPreferenceLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_LoadID_Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubmitLoadID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SD_COMMUNICTN_PREFERNC_PHONE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "CommunicationPreferenceLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Communication_Preference_Flow"
		},
		"annotations": []
	}
}