pipeline/Load_ProductMasterLoad_Retail_PIM_EDW.json
{
	"name": "Load_ProductMasterLoad_Retail_PIM_EDW",
	"properties": {
		"activities": [
			{
				"name": "Load_Retail_PIM_EDWProductKit",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProductPackage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT 'ProductKit' AS B_CLASSNAME,\n'semadmin' AS B_CREATOR,\nCreatedDateTimeUtc AS CREATED_DATE_TIME_UTC,\nKitAdditionalDimensions AS KIT_ADDITIONAL_DIMENSIONS,\nKitAfiFeatureBullet1English AS KIT_AFI_FT_BULLET1_ENG,\nKitAfiFeatureBullet2English AS KIT_AFI_FT_BULLET2_ENG,\nKitAfiFeatureBullet3English AS KIT_AFI_FT_BULLET3_ENG,\nKitAfiFeatureBullet4English AS KIT_AFI_FT_BULLET4_ENG,\nKitAfiFeatureBullet5English AS KIT_AFI_FT_BULLET5_ENG,\nKitAfiFeatureBullet6English AS KIT_AFI_FT_BULLET6_ENG,\nKitAfiFeatureBullet7English AS KIT_AFI_FT_BULLET7_ENG,\nKitAFIImageSet AS KIT_AFI_IMAGE_SET,\nKitAlternateDescription2 AS KIT_ALTER_DESC2,\nKitAlternateDescription3 AS KIT_ALTER_DESC3,\nKitAlternateAFIFluff1 AS KIT_ALTERNATE_AFI_FLUFF1,\nKitAmazonBrandOwner AS KIT_AMAZON_BRAND_OWNER,\nKitARVRReady AS KIT_ARVR_READY,\nKitAshcommDeliveryMode AS KIT_ASHCOMM_DELIVERY_MODE,\nKitAssemblyInstructionsInternal AS KIT_ASM_INSTR_INTERNAL,\nKitAssemblyInstructionsPublic AS KIT_ASM_INSTR_PUBLIC,\nKitATPSeries AS KIT_ATP_SERIES,\nKitAXKitNumber AS KIT_AX_KIT_NUMBER,\nKitBoxQty AS KIT_BOX_QTY,\nKitCartonDensity AS KIT_CARTON_DENSITY,\nKitCartonDepthIn AS KIT_CARTON_DEPTH_IN,\nKitCartonDepthMm AS KIT_CARTON_DEPTH_MM,\nKitCartonFreightClass AS KIT_CARTON_FREIGHT_CLASS,\nKitCartonHeightIn AS KIT_CARTON_HEIGHT_IN,\nKitCartonHeightMm AS KIT_CARTON_HEIGHT_MM,\nKitCartonVolume AS KIT_CARTON_VOLUME,\nKitCartonWidthIn AS KIT_CARTON_WIDTH_IN,\nKitCartonWidthMm AS KIT_CARTON_WIDTH_MM,\nKitClassKey AS KIT_CLASS_KEY,\nKitCodeKey AS KIT_CODE_KEY,\nKitColorKey AS KIT_COLOR_KEY,\nKitColorSwatch AS KIT_COLOR_SWATCH,\nKitCommodity AS KIT_COMMODITY,\nKitComponentQuantity AS KIT_COMPONENT_QUANTITY,\nKitConditionalHomeDeliveryEligible AS KIT_COND_HOME_DELIV_ELIG,\nKitConsumerAssembly AS KIT_CONSUMER_ASSEMBLY,\nKitConsumerDescriptionEnglish AS KIT_CONSUMER_DESC_ENG,\nKitCubesFt AS KIT_CUBES_FT,\nKitCubesM AS KIT_CUBES_M,\nKitDead AS KIT_DEAD,\nKitDefaultGroupingLookupCodeKey AS KIT_DFLT_GROUP_CODE_KEY,\nKitDimensionSketch AS KIT_DIMENSION_SKETCH,\nKitDimensionsConfirmed AS KIT_DIMENSIONS_CONFIRMED,\nKitDiningChairQtyCtn AS KIT_DINING_CHAIR_QTY_CTN,\nKitEcomMerchantNotes AS KIT_ECOM_MERCHANT_NOTES,\nKitEligibleforProtectionPlan AS KIT_ELIG_PROTECTION_PLAN,\nKitEngineeringDivisionKey AS KIT_ENGINEER_DIVISION_KEY,\nKitExclusive AS KIT_EXCLUSIVE,\nKitExclusiveComment AS KIT_EXCLUSIVE_COMMENT,\nKitExpressShip AS KIT_EXPRESS_SHIP,\nKitFamilyofBusinessKey AS KIT_FAMILYOF_BUSINESS_KEY,\nKitFluffAFIEnglish AS KIT_FLUFF_AFI_ENGLISH,\nKitFluffPrintEnglish AS KIT_FLUFF_PRINT_ENGLISH,\nKitFOBBasePrice AS KIT_FOB_BASE_PRICE,\nKitForecastPlannerID AS KIT_FORECAST_PLANNER_ID,\nKitFriendlyDescriptionEnglish AS KIT_FRIENDLY_DESC_ENG,\nKitFriendlyDimensions AS KIT_FRIENDLY_DIMENSIONS,\nKitFutureStatus AS KIT_FUTURE_STATUS,\nKitGeneralDescriptionID AS KIT_GEN_DESC_ID,\nKitGeneralLongDescription AS KIT_GEN_LONG_DESC,\nKitGoogleTitle AS KIT_GOOGLE_TITLE,\nKitHomeStoreAssemblyVideo1 AS KIT_HOMESTORE_ASM_VIDEO1,\nKitHomestoreProductLine AS KIT_HOMESTORE_PDT_LINE,\nKitHomstoreFeatureBullet1English AS KIT_HS_FT_BULLET1_ENG,\nKitHomstoreFeatureBullet2English AS KIT_HS_FT_BULLET2_ENG,\nKitHomstoreFeatureBullet3English AS KIT_HS_FT_BULLET3_ENG,\nKitHomstoreFeatureBullet4English AS KIT_HS_FT_BULLET4_ENG,\nKitHomstoreFeatureBullet5English AS KIT_HS_FT_BULLET5_ENG,\nKitHomstoreFeatureBullet6English AS KIT_HS_FT_BULLET6_ENG,\nKitHomstoreFeatureBullet7English AS KIT_HS_FT_BULLET7_ENG,\nKitHomstoreFeatureBullet8English AS KIT_HS_FT_BULLET8_ENG,\nKitHomestoreKitFluffEnglish AS KIT_HS_KIT_FLUFF_ENG,\nKitHTSCode AS KIT_HTS_CODE,\nKitID AS KIT_ID,\nKitImportDomesticKey AS KIT_IMPORT_DOMESTIC_KEY,\nKitIsProtectionPlan AS KIT_IS_PROTECTION_PLAN,\nKitKeyKit AS KIT_KEY_KIT,\nKitKnockout AS KIT_KNOCKOUT,\nKitMaterialEnglish AS KIT_MATERIAL_ENGLISH,\nKitMfgWarranty AS KIT_MFG_WARRANTY,\nKitNotAvailableforIndividualSale AS KIT_NOT_AVBL_INDIV_SALE,\nKitNumber AS KIT_NUMBER,\nKitPartsDrawings AS KIT_PARTS_DRAWINGS,\nKitPhoto AS KIT_PHOTO,\nKitPKLegacySellablePackage AS KIT_PK_LEG_SELLABLE_PKG,\nKitPrimaryLifestyle AS KIT_PRIMARY_LIFESTYLE,\nKitProductDepthIn AS KIT_PRODUCT_DEPTH_IN,\nKitProductDepthMm AS KIT_PRODUCT_DEPTH_MM,\nKitProductHeightIn AS KIT_PRODUCT_HEIGHT_IN,\nKitProductHeightMm AS KIT_PRODUCT_HEIGHT_MM,\nKitProductPageURL AS KIT_PRODUCT_PAGE_URL,\nKitProductWidthIn AS KIT_PRODUCT_WIDTH_IN,\nKitProductWidthMm AS KIT_PRODUCT_WIDTH_MM,\nKitPurchaseType AS KIT_PURCHASE_TYPE,\nKitRetailBrandNameKey AS KIT_RETAIL_BRAND_NAME_KEY,\nKitRetailRoomKey AS KIT_RETAIL_ROOM_KEY,\nKitRetailTypeKey AS KIT_RETAIL_TYPE_KEY,\nKitRollOverimage AS KIT_ROLL_OVER_IMAGE,\nKitSalesCategoryCodeKey AS KIT_SALES_CATEG_CODE_KEY,\nKitScene7ImageSet AS KIT_SCENE7_IMAGE_SET,\nKitSeats AS KIT_SEATS,\nKitSelllingCountries AS KIT_SELLLING_COUNTRIES,\nKitSeriesNumber AS KIT_SERIES_NUMBER,\nKitSeriesRetailSalesCategoryKey AS KIT_SERIES_RT_SL_CAT_KEY,\nKitShippableUomKey AS KIT_SHIPPABLE_UOM_KEY,\nKitShippingDepthIn AS KIT_SHIPPING_DEPTH_IN,\nKitShippingDepthMm AS KIT_SHIPPING_DEPTH_MM,\nKitShippingHeightIn AS KIT_SHIPPING_HEIGHT_IN,\nKitShippingHeightMm AS KIT_SHIPPING_HEIGHT_MM,\nKitShippingWidthIn AS KIT_SHIPPING_WIDTH_IN,\nKitShippingWidthMm AS KIT_SHIPPING_WIDTH_MM,\nKitShowroomMarketStatus AS KIT_SHOWROOM_MKT_STATUS,\nCAST(KitSourceID AS int) AS KIT_SOURCE_ID,\nKitStandAloneFlag AS KIT_STAND_ALONE_FLAG,\nKitStatus AS KIT_STATUS,\nKitStatusChanged AS KIT_STATUS_CHANGED,\nKitStatusKey AS KIT_STATUS_KEY,\nKitSuppWeightNetWeightKg AS KIT_SUPP_WT_NET_WT_KG,\nKitSuppWeightNetWeightLbs AS KIT_SUPP_WT_NET_WT_LBS,\nKitSupplierDirectShipOnly AS KIT_SUPPLIER_DT_SHIP_ONLY,\nKitThirdPartyKit AS KIT_THIRD_PARTY_KIT,\nKitTrackingPiece AS KIT_TRACKING_PIECE,\nKitTrademarkText AS KIT_TRADEMARK_TEXT,\nKitType AS KIT_TYPE,\nKitUnitWeightKg AS KIT_UNIT_WEIGHT_KG,\nKitUnitWeightLbs AS KIT_UNIT_WEIGHT_LBS,\nKitUomKey AS KIT_UOM_KEY,\nKitUPC AS KIT_UPC,\nKitUpholsteryCover AS KIT_UPHOLSTERY_COVER,\nKitValidationComplete AS KIT_VALIDATION_COMPLETE,\nKitVendorName AS KIT_VENDOR_NAME,\nKitWholesaleAssemblyVideo1 AS KIT_WHOLESALE_ASM_VIDEO1,\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\nSeriesID AS SERIES_ID,\nCAST(SeriesKey AS int) AS SERIES_KEY\nfrom [Retail].[EDWProductKit] WHERE KitStatus<>'Deleted' AND CAST(LastModifiedDateTimeUtc as date)>='@{variables('Date')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KIT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KIT_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SERIES_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KIT_RETAIL_TYPE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_RETAIL_TYPE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_STATUS_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_STATUS_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_IMPORT_DOMESTIC_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_IMPORT_DOMESTIC_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_ENGINEER_DIVISION_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_ENGINEER_DIVISION_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_CLASS_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_CLASS_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CODE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SALES_CATEG_CODE_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SALES_CATEG_CODE_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DFLT_GROUP_CODE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_DFLT_GROUP_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_FAMILYOF_BUSINESS_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_FAMILYOF_BUSINESS_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SERIES_RT_SL_CAT_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_SERIES_RT_SL_CAT_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PRIMARY_LIFESTYLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PRIMARY_LIFESTYLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AX_KIT_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AX_KIT_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_STATUS_CHANGED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "KIT_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DEAD",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_DEAD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_BOX_QTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_BOX_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SEATS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_SEATS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_DINING_CHAIR_QTY_CTN",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_DINING_CHAIR_QTY_CTN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_UPC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ARVR_READY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ARVR_READY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SUPPLIER_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SUPPLIER_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DIMENSIONS_CONFIRMED",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_DIMENSIONS_CONFIRMED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_MFG_WARRANTY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_MFG_WARRANTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_GEN_DESC_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_GEN_DESC_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_GEN_LONG_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_GEN_LONG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_UOM_KEY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_ADDITIONAL_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_ADDITIONAL_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_UNIT_WEIGHT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_UNIT_WEIGHT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_UNIT_WEIGHT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_UNIT_WEIGHT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SUPP_WT_NET_WT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SUPP_WT_NET_WT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SUPP_WT_NET_WT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SUPP_WT_NET_WT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SELLLING_COUNTRIES",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_SELLLING_COUNTRIES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_THIRD_PARTY_KIT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_THIRD_PARTY_KIT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ROLL_OVER_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ROLL_OVER_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COLOR_SWATCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COLOR_SWATCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PHOTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PHOTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FUTURE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FUTURE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_KEY_KIT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_KEY_KIT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_TRACKING_PIECE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_TRACKING_PIECE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ALTER_DESC2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ALTER_DESC2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SHOWROOM_MKT_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHOWROOM_MKT_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ALTER_DESC3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ALTER_DESC3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_EXCLUSIVE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COMMODITY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_COMMODITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_UPHOLSTERY_COVER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_UPHOLSTERY_COVER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_VOLUME",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CARTON_VOLUME",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_DENSITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CARTON_DENSITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_CARTON_FREIGHT_CLASS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_CARTON_FREIGHT_CLASS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_NOT_AVBL_INDIV_SALE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_NOT_AVBL_INDIV_SALE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PURCHASE_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PURCHASE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_PARTS_DRAWINGS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PARTS_DRAWINGS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HOMESTORE_PDT_LINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HOMESTORE_PDT_LINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_RETAIL_ROOM_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_RETAIL_ROOM_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_SHIPPING_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SHIPPING_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KIT_PK_LEG_SELLABLE_PKG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PK_LEG_SELLABLE_PKG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COND_HOME_DELIV_ELIG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COND_HOME_DELIV_ELIG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ATP_SERIES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ATP_SERIES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_VENDOR_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_VENDOR_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HOMESTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HOMESTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AFI_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_CONSUMER_DESC_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CONSUMER_DESC_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FLUFF_AFI_ENGLISH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FLUFF_AFI_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FLUFF_PRINT_ENGLISH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FLUFF_PRINT_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_FRIENDLY_DESC_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FRIENDLY_DESC_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_FT_BULLET8_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET8_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HS_KIT_FLUFF_ENG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_KIT_FLUFF_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ASHCOMM_DELIVERY_MODE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ASHCOMM_DELIVERY_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_MATERIAL_ENGLISH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_MATERIAL_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_RETAIL_BRAND_NAME_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_RETAIL_BRAND_NAME_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_COLOR_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_COLOR_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KIT_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_HTS_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HTS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_ProductKit",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_EDWProduct",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProductKit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT 'semadmin' AS B_CREATOR,\n'ProductMain' AS B_CLASSNAME,\nid AS PRODUCT_MAIN_ID,\nSourceId AS SOURCE_ID,\nStatus AS STATUS,\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\nSystemTimestamp AS SYSTEM_TIMESTAMP,\nAlternateDescription2 AS ALTERNATE_DESCRIPTION2,\nItemAFIImageSet AS ITEM_AFI_IMAGE_SET,\nItemAlternateAFIFluff1 AS ITEM_ALTERNATE_AFI_FLUFF1,\nItemAlternateDescription3 AS ITEM_ALTER_DESC3,\nItemARVRReady AS ITEM_ARVR_READY,\nItemAssemblyInstructionsInternal AS ITEM_ASM_INSTR_INTERNAL,\nItemAssemblyInstructionsPublic AS ITEM_ASM_INSTR_PUBLIC,\nItemBoxQty AS ITEM_BOX_QTY,\nItemCartonDepthIn AS ITEM_CARTON_DEPTH_IN,\nItemCartonDepthMm AS ITEM_CARTON_DEPTH_MM,\nItemCartonHeightIn AS ITEM_CARTON_HEIGHT_IN,\nItemCartonHeightMm AS ITEM_CARTON_HEIGHT_MM,\nItemCartonWidthIn AS ITEM_CARTON_WIDTH_IN,\nItemCartonWidthMm AS ITEM_CARTON_WIDTH_MM,\nItemClass AS ITEM_CLASS,\nItemCode AS ITEM_CODE,\nItemColor AS ITEM_COLOR,\nItemColorSwatch AS ITEM_COLOR_SWATCH,\nItemCommodity AS ITEM_COMMODITY,\nItemComponentQuantity AS ITEM_COMPONENT_QUANTITY,\nItemConsumerAssembly AS ITEM_CONSUMER_ASSEMBLY,\nItemCubesFt AS ITEM_CUBES_FT,\nItemCubesM AS ITEM_CUBES_M,\nItemDead AS ITEM_DEAD,\nItemDimensionSketch AS ITEM_DIMENSION_SKETCH,\nItemDiningChairQtyCtn AS ITEM_DINING_CHAIR_QTY_CTN,\nItemEngineeringDivision AS ITEM_ENGINEERING_DIVISION,\nItemExclusive AS ITEM_EXCLUSIVE,\nItemExclusiveComment AS ITEM_EXCLUSIVE_COMMENT,\nItemExpressShip AS ITEM_EXPRESS_SHIP,\nItemFOBBasePrice AS ITEM_FOB_BASE_PRICE,\nItemForecastPlannerID AS ITEM_FORECAST_PLANNER_ID,\nItemFriendlyDimensions AS ITEM_FRIENDLY_DIMENSIONS,\nItemFutureStatus AS ITEM_FUTURE_STATUS,\nItemGeneralDescriptionID AS ITEM_GNRL_DESC_ID,\nItemGeneralLongDescription AS ITEM_GNRL_LONG_DESC,\nItemGoogleTitle AS ITEM_GOOGLE_TITLE,\nItemHomeStoreAssemblyVideo1 AS ITEM_HOMSTORE_ASM_VIDEO1,\nItemHTSCode AS ITEM_HTS_CODE,\nItemImportDomestic AS ITEM_IMPORT_DOMESTIC,\nItemKeyItem AS ITEM_KEY_ITEM,\nItemKnockout AS ITEM_KNOCKOUT,\nItemMaterialReferenceNeeded AS ITEM_MTERIAL_REF_NEEDED,\nItemMfgWarranty AS ITEM_MFG_WARRANTY,\nItemNumber AS ITEM_NUMBER,\nItemPhoto AS ITEM_PHOTO,\nItemProductDepthIn AS ITEM_PRODUCT_DEPTH_IN,\nItemProductDepthMm AS ITEM_PRODUCT_DEPTH_MM,\nItemProductHeightIn AS ITEM_PRODUCT_HEIGHT_IN,\nItemProductHeightMm AS ITEM_PRODUCT_HEIGHT_MM,\nItemProductPageURL AS ITEM_PRODUCT_PAGE_URL,\nItemProductWidthIn AS ITEM_PRODUCT_WIDTH_IN,\nItemProductWidthMm AS ITEM_PRODUCT_WIDTH_MM,\nItemRetailBrandName AS ITEM_RETAIL_BRAND_NAME,\nItemRetailType AS ITEM_RETAIL_TYPE,\nItemRollOverimage AS ITEM_ROLL_OVERIMAGE,\nItemSalesCategoryCode AS ITEM_SALES_CATEGORY_CODE,\nItemScene7ImageSet AS ITEM_SCENE7_IMAGE_SET,\nItemSeats AS ITEM_SEATS,\nItemSeriesName AS ITEM_SERIES_NAME,\nItemSeriesNumber AS ITEM_SERIES_NUMBER,\nItemStandAloneFlag AS ITEM_STAND_ALONE_FLAG,\nItemStatus AS ITEM_STATUS,\nItemStatusChanged AS ITEM_STATUS_CHANGED,\nItemSupplierDirectShipOnly AS ITEM_SUPP_DT_SHIP_ONLY,\nItemSuppWeightNetWeightKg AS ITEM_SUPP_WET_NET_WET_KG,\nItemSuppWeightNetWeightLbs AS ITEM_SUPP_WET_NET_WET_LBS,\nItemThirdPartyItem AS ITEM_THIRD_PARTY_ITEM,\nItemTrackingPiece AS ITEM_TRACKING_PIECE,\nItemTrademarkText AS ITEM_TRADEMARK_TEXT,\nItemType AS ITEM_TYPE,\nItemUnitWeightKg AS ITEM_UNIT_WEIGHT_KG,\nItemUnitWeightLbs AS ITEM_UNIT_WEIGHT_LBS,\nItemUPC AS ITEM_UPC,\nItemValidationComplete AS ITEM_VALIDATION_COMPLETE,\nItemWholesaleAssemblyVideo1 AS ITEM_WHOLESALE_ASM_VIDEO1,\nItemAFIFeatureBullet1 AS ITEM_AFI_FEATURE_BULLET1,\nItemAFIFeatureBullet2 AS ITEM_AFI_FEATURE_BULLET2,\nItemAFIFeatureBullet3 AS ITEM_AFI_FEATURE_BULLET3,\nItemAFIFeatureBullet4 AS ITEM_AFI_FEATURE_BULLET4,\nItemAFIFeatureBullet5 AS ITEM_AFI_FEATURE_BULLET5,\nItemAFIFeatureBullet6 AS ITEM_AFI_FEATURE_BULLET6,\nItemAFIFeatureBullet7 AS ITEM_AFI_FEATURE_BULLET7,\nItemConsumerDescription AS ITEM_CONSUMER_DESCRIPTION,\nItemFluffAFI AS ITEM_FLUFF_AFI,\nItemFluffPrint AS ITEM_FLUFF_PRINT,\nItemFriendlyDescription AS ITEM_FRIENDLY_DESCRIPTION,\nItemHomeStoreFeatureBullet1 AS ITEM_HOMESTORE_FT_BULLET1,\nItemHomeStoreFeatureBullet2 AS ITEM_HOMESTORE_FT_BULLET2,\nItemHomeStoreFeatureBullet3 AS ITEM_HOMESTORE_FT_BULLET3,\nItemHomeStoreFeatureBullet4 AS ITEM_HOMESTORE_FT_BULLET4,\nItemHomeStoreFeatureBullet5 AS ITEM_HOMESTORE_FT_BULLET5,\nItemHomeStoreFeatureBullet6 AS ITEM_HOMESTORE_FT_BULLET6,\nItemHomeStoreFeatureBullet7 AS ITEM_HOMESTORE_FT_BULLET7,\nItemHomeStoreFeatureBullet8 AS ITEM_HOMESTORE_FT_BULLET8,\nItemHomestoreItemFluff AS ITEM_HOMESTORE_ITEM_FLUFF,\nTRIM(SeriesAshleyHomestore) AS SERIES_ASHLEY_HOMESTORE,\nSeriesCorporateOnlineSelling AS SERIES_CORP_ONLINE_SELLNG,\nSeriesDivision AS SERIES_DIVISION,\nSeriesExclusiveComment AS SERIES_EXCLUSIVE_COMMENT,\nSeriesFeatures AS SERIES_FEATURES,\nSeriesId AS SERIES_ID,\nSeriesInternationalHomeStore AS SERIES_INTERNATIONAL_HS,\nSeriesIntroDate AS SERIES_INTRO_DATE,\nSeriesMainImage AS SERIES_MAIN_IMAGE,\nSeriesName AS SERIES_NAME,\nSeriesNumber AS SERIES_NUMBER,\nSeriesRetailSalesCategory AS SERIES_RETAIL_SALES_CATEG,\nSeriesShowroom AS SERIES_SHOWROOM,\nSeriesSourceId AS SERIES_SOURCE_ID,\nSeriesStatus AS SERIES_STATUS,\nSeriesStyle AS SERIES_STYLE,\nSeriesThirdParty AS SERIES_THIRD_PARTY,\nSeriesPrimary AS SERIES_PRIMARY,\nItemUomKey AS ITEM_UOM_KEY,\nItemShippableUomKey AS ITEM_SHIPPABLE_UOM_KEY,\nItemEligibleforProtectionPlan AS ITEM_ELIG_PROTECTION_PLAN,\nItemIsProtectionPlan AS ITEM_IS_PROTECTION_PLAN,\nItemAshcommDeliveryMode AS ITEM_ASHCOMM_DLVR_MODE,\nItemMaterial AS ITEM_MATERIAL,\nItemHomeStoreProductLine AS ITEM_HS_PRODUCT_LINE,\nItemEcomMerchantNotes AS ITEM_ECOM_MERCHANT_NOTES,\nItemAmazonBrandOwner AS ITEM_AMAZON_BRAND_OWNER,\nItemLifestyleDescription AS ITEM_LIFESTYLE_DESC,\nB_DELETETYPE as B_DELETETYPE,\nB_DELETEDATE as B_DELETEDATE,\nB_DELETEAUTHOR as B_DELETEAUTHOR,\nB_DELETEOPERATION as B_DELETEOPERATION\nfrom retail.PIM_PRODUCT_VW \nwhere activity_type is not null;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_LOADID",
								"PRODUCT_MAIN_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ALTER_DESC3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ARVR_READY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_BOX_QTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_BOX_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CLASS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COLOR_SWATCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMMODITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_FT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_CUBES_M",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DEAD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_DINING_CHAIR_QTY_CTN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ENGINEERING_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FUTURE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_DESC_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GNRL_LONG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMSTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IMPORT_DOMESTIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KEY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MTERIAL_REF_NEEDED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MFG_WARRANTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PHOTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_BRAND_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_RETAIL_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ROLL_OVERIMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SALES_CATEGORY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SEATS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_SUPP_WET_NET_WET_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_THIRD_PARTY_ITEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRACKING_PIECE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_KG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UNIT_WEIGHT_LBS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_UPC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_FEATURE_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_CONSUMER_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_AFI",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FLUFF_PRINT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_FRIENDLY_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET7",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_FT_BULLET8",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HOMESTORE_ITEM_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ASHLEY_HOMESTORE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_CORP_ONLINE_SELLNG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_FEATURES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTERNATIONAL_HS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_INTRO_DATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_INTRO_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_MAIN_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_RETAIL_SALES_CATEG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_SHOWROOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_STYLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_THIRD_PARTY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_PRIMARY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ITEM_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_MATERIAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HS_PRODUCT_LINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_LIFESTYLE_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_HTS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SERIES_SOURCE_ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SERIES_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_Product",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_EDWProductPackage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetDateVariables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT \n'semadmin' AS B_CREATOR,\n'ProductPackage' AS B_CLASSNAME,\nPackageID AS PACKAGE_ID,\nPackageKey AS PACKAGE_KEY,\nHomestorePackageId AS HOMESTORE_PACKAGE_ID,\nLastModifiedDateTimeUtc AS LAST_MOD_DATE_TIME_UTC,\nCreatedDateTimeUtc AS CREATED_DATE_TIME_UTC,\nPackageNumber AS PACKAGE_NUMBER,\nPackageAlternatePackageName AS PACKAGE_ALTER_NAME,\nPackageHero AS PACKAGE_HERO,\nPackageStatus AS PACKAGE_STATUS,\nPackageStatusChanged AS PACKAGE_STATUS_CHANGED,\nPackageIsThirdParty AS PACKAGE_IS_THIRD_PARTY,\nPackageHomestorePackageId AS PACKAGE_HOMESTORE_ID,\nPackageWholesaleID AS PACKAGE_WHOLESALE_ID,\nPackageRetailType AS PACKAGE_RETAIL_TYPE,\nPackageItemQuantity AS PACKAGE_ITEM_QUANTITY,\nPackageUOM AS PACKAGE_UOM,\nPackageColor AS PACKAGE_COLOR,\nPackageKnockout AS PACKAGE_KNOCKOUT,\nPackageScene7ImageSet AS PACKAGE_SCENE7_IMAGE_SET,\nPackageValidationComplete AS PACKAGE_VALIDAT_COMPLETE,\nPackageValidationNotes AS PACKAGE_VALIDATION_NOTES,\nPackageRolloverImage AS PACKAGE_ROLLOVER_IMAGE,\nPackageExpressShip AS PACKAGE_EXPRESS_SHIP,\nPackageSupplierDirectShipOnly AS PACKAGE_SUPP_DT_SHIP_ONLY,\nPackageSalesCategoryCode AS PACKAGE_SALES_CATEG_CODE,\nPackageSeriesNumber AS PACKAGE_SERIES_NUMBER,\nPackageSeriesName AS PACKAGE_SERIES_NAME,\nPackageCode AS PACKAGE_CODE,\nPackageAshcommTransition AS PACKAGE_ASHCOM_TRANSITION,\nPackageSwatchGroupID AS PACKAGE_SWATCH_GROUP_ID,\nPackageDefaultProduct AS PACKAGE_DEFAULT_PRODUCT,\nPackageNewFlagDate AS PACKAGE_NEW_FLAG_DATE,\nPackageAshcommDeliveryMode AS PACKAGE_ASHCOMM_DLVR_MODE,\nPackageChannelChange AS PACKAGE_CHANNEL_CHANGE,\nPackageExclusive AS PACKAGE_EXCLUSIVE,\nPackageHotSpotsNeedReview AS PACKAGE_HOT_SPOTS_REVIEW,\nPackageAlternateDescription1 AS PACKAGE_ALT_DESC1,\nPackageAshcommTitleOverride AS PACKAGE_ASH_TTL_OVERRIDE,\nPackageHiddenField AS PACKAGE_HIDDEN_FIELD,\nPackageConsumerChoice AS PACKAGE_CONSUMER_CHOICE,\nPackageTotalAssemblyTime AS PACKAGE_TOTAL_ASM_TIME,\nPackageAshcommFlags AS PACKAGE_ASHCOMM_FLAGS,\nPackageNavigableCategories AS PACKAGE_NAVIGABLE_CATEG,\nPackageName AS PACKAGE_NAME,\nPackageAFIFluff AS PACKAGE_AFI_FLUFF,\nPackageHomestorePackageFluff AS PACKAGE_HS_PACKAGE_FLUFF,\nPackageAFIBullets1 AS PACKAGE_AFI_BULLETS1,\nPackageAFIBullets2 AS PACKAGE_AFI_BULLETS2,\nPackageAFIBullets3 AS PACKAGE_AFI_BULLETS3,\nPackageAFIBullets4 AS PACKAGE_AFI_BULLETS4,\nPackageAFIBullets5 AS PACKAGE_AFI_BULLETS5,\nPackageAFIBullets6 AS PACKAGE_AFI_BULLETS6,\nPackageHomeStoreBullets1 AS PACKAGE_HOMESTORE_BULLET1,\nPackageHomeStoreBullets2 AS PACKAGE_HOMESTORE_BULLET2,\nPackageHomeStoreBullets3 AS PACKAGE_HOMESTORE_BULLET3,\nPackageHomeStoreBullets4 AS PACKAGE_HOMESTORE_BULLET4,\nPackageHomeStoreBullets5 AS PACKAGE_HOMESTORE_BULLET5,\nPackageHomeStoreBullets6 AS PACKAGE_HOMESTORE_BULLET6\nFROM [Retail].[EDWProductPackage] WHERE PackageStatus<>'Deleted' AND CAST(LastModifiedDateTimeUtc as date)>='@{variables('Date')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PACKAGE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PACKAGE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "HOMESTORE_PACKAGE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "HOMESTORE_PACKAGE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ALTER_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ALTER_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HERO",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HERO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_STATUS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_STATUS_CHANGED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "PACKAGE_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_IS_THIRD_PARTY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_IS_THIRD_PARTY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_WHOLESALE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_WHOLESALE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_RETAIL_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_RETAIL_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ITEM_QUANTITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ITEM_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_UOM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_UOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_COLOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_COLOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_KNOCKOUT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_VALIDAT_COMPLETE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_VALIDAT_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_VALIDATION_NOTES",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_VALIDATION_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ROLLOVER_IMAGE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ROLLOVER_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SUPP_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SALES_CATEG_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SALES_CATEG_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SERIES_NUMBER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SERIES_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SERIES_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASHCOM_TRANSITION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASHCOM_TRANSITION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SWATCH_GROUP_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_SWATCH_GROUP_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_DEFAULT_PRODUCT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_DEFAULT_PRODUCT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NEW_FLAG_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "PACKAGE_NEW_FLAG_DATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASHCOMM_DLVR_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_CHANNEL_CHANGE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_CHANNEL_CHANGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_EXCLUSIVE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOT_SPOTS_REVIEW",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_HOT_SPOTS_REVIEW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ALT_DESC1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ALT_DESC1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASH_TTL_OVERRIDE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASH_TTL_OVERRIDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HIDDEN_FIELD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HIDDEN_FIELD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_CONSUMER_CHOICE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PACKAGE_CONSUMER_CHOICE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_TOTAL_ASM_TIME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_TOTAL_ASM_TIME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_ASHCOMM_FLAGS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_ASHCOMM_FLAGS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NAVIGABLE_CATEG",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_NAVIGABLE_CATEG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_NAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HS_PACKAGE_FLUFF",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HS_PACKAGE_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_BULLETS6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_BULLETS6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_HOMESTORE_BULLET6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HOMESTORE_BULLET6",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_AFI_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PACKAGE_AFI_FLUFF",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_ProductPackage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_ProductMaster'\n,@P_PROGRAM_NAME = 'ProductMasterLoad'\n,@P_LOAD_DESCRIPTION = 'ProductMasterLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SubmitLoadID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_ProductCode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "ProductMasterLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load_Retail_PIM_EDWProductPackageCrosswalk",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProduct_Hist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \r\n'semadmin' AS B_CREATOR,\r\n'ProductPackageCrosswalk' AS B_CLASSNAME,\r\nNEWID() AS PRODUCT_PKG_CROSSWALK_ID,\r\nProductID AS F_PRODUCT_ID,\r\nProductSourceID AS PRODUCT_SOURCE_ID,\r\nProductType AS PRODUCT_TYPE,\r\nPackageID AS F_PACKAGE_ID,\r\nPackageSourceID AS PACKAGE_SOURCE_ID \r\nFROM [Retail].[ProductPackageCrosswalk]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_LOADID",
								"PRODUCT_PKG_CROSSWALK_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_PKG_CROSSWALK_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PRODUCT_PKG_CROSSWALK_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRODUCT_SOURCE_ID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "PRODUCT_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PACKAGE_SOURCE_ID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "PACKAGE_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "F_PRODUCT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "F_PRODUCT_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "F_PACKAGE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "F_PACKAGE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_ProductPackageCrosswalk",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_KitComponentCrosswalk",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProductPackageCrosswalk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \r\n'semadmin' AS B_CREATOR,\r\n'ProductKitCrosswalk' AS B_CLASSNAME,\r\nNEWID() AS PRODUCT_KIT_CROSSWALK_ID,\r\nKitID AS F_KIT_ID,\r\nKitSourceID AS KIT_SOURCE_ID,\r\nComponentType AS PRODUCT_TYPE,\r\nComponentID AS F_PRODUCT_MAIN_ID,\r\nComponentSourceID AS PRODUCT_SOURCE_ID\r\nFROM [Retail].[KitComponentCrosswalk]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_LOADID",
								"PRODUCT_KIT_CROSSWALK_ID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_KIT_CROSSWALK_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PRODUCT_KIT_CROSSWALK_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRODUCT_SOURCE_ID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "PRODUCT_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KIT_SOURCE_ID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "KIT_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "F_PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "F_PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "F_KIT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "F_KIT_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_KitComponentCrosswalk",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SetDateVariables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Date",
					"value": {
						"value": "@formatDateTime(adddays(startOfDay(utcnow()),-1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load_Retail_PIM_ProductCode",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_KitComponentCrosswalk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT \n'semadmin' AS B_CREATOR,\n'ProductCode' AS B_CLASSNAME,\nSYSUTCDATETIME() as LAST_MODIFIED_DATE,\nProductCodeKey AS PRODUCT_CODE_KEY,\nProductCode AS PRODUCT_CODE,\ncast(IsActive as bit) AS IS_ACTIVE\nFROM [Retail].[EDWProductCode]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_LOADID",
								"PRODUCT_CODE_KEY"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "PRODUCT_CODE_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PRODUCT_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LAST_MODIFIED_DATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRODUCT_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IS_ACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "IS_ACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_ProductMaster_EDW_ProductCode",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_EDWProduct_Hist",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT 'semadmin' AS B_CREATOR,\n'ProductMain' AS B_CLASSNAME,\nid,\nSourceId,\nStatus,\nLastModifiedDateTimeUtc,\nSystemTimestamp,\nAlternateDescription2,\nItemAFIImageSet,\nItemAlternateAFIFluff1,\nItemAlternateDescription3,\nItemARVRReady,\nItemAssemblyInstructionsInternal,\nItemAssemblyInstructionsPublic,\nItemBoxQty,\nItemCartonDepthIn,\nItemCartonDepthMm,\nItemCartonHeightIn,\nItemCartonHeightMm,\nItemCartonWidthIn,\nItemCartonWidthMm,\nItemClass,\nItemCode,\nItemColor,\nItemColorSwatch,\nItemCommodity,\nItemComponentQuantity,\nItemConsumerAssembly,\nItemCubesFt,\nItemCubesM,\nItemDead,\nItemDimensionSketch,\nItemDiningChairQtyCtn,\nItemEngineeringDivision,\nItemExclusive,\nItemExclusiveComment,\nItemExpressShip,\nItemFOBBasePrice,\nItemForecastPlannerID,\nItemFriendlyDimensions,\nItemFutureStatus,\nItemGeneralDescriptionID,\nItemGeneralLongDescription,\nItemGoogleTitle,\nItemHomeStoreAssemblyVideo1,\nItemHTSCode,\nItemImportDomestic,\nItemKeyItem,\nItemKnockout,\nItemMaterialReferenceNeeded,\nItemMfgWarranty,\nItemNumber,\nItemPhoto,\nItemProductDepthIn,\nItemProductDepthMm,\nItemProductHeightIn,\nItemProductHeightMm,\nItemProductPageURL,\nItemProductWidthIn,\nItemProductWidthMm,\nItemRetailBrandName,\nItemRetailType,\nItemRollOverimage,\nItemSalesCategoryCode,\nItemScene7ImageSet,\nItemSeats,\nItemSeriesName,\nItemSeriesNumber,\nItemStandAloneFlag,\nItemStatus,\nItemStatusChanged,\nItemSupplierDirectShipOnly,\nItemSuppWeightNetWeightKg,\nItemSuppWeightNetWeightLbs,\nItemThirdPartyItem,\nItemTrackingPiece,\nItemTrademarkText,\nItemType,\nItemUnitWeightKg,\nItemUnitWeightLbs,\nItemUPC,\nItemValidationComplete,\nItemWholesaleAssemblyVideo1,\nItemAFIFeatureBullet1,\nItemAFIFeatureBullet2,\nItemAFIFeatureBullet3,\nItemAFIFeatureBullet4,\nItemAFIFeatureBullet5,\nItemAFIFeatureBullet6,\nItemAFIFeatureBullet7,\nItemConsumerDescription,\nItemFluffAFI,\nItemFluffPrint,\nItemFriendlyDescription,\nItemHomeStoreFeatureBullet1,\nItemHomeStoreFeatureBullet2,\nItemHomeStoreFeatureBullet3,\nItemHomeStoreFeatureBullet4,\nItemHomeStoreFeatureBullet5,\nItemHomeStoreFeatureBullet6,\nItemHomeStoreFeatureBullet7,\nItemHomeStoreFeatureBullet8,\nItemHomestoreItemFluff,\nTRIM(SeriesAshleyHomestore) as SeriesAshleyHomestore,\nSeriesCorporateOnlineSelling,\nSeriesDivision,\nSeriesExclusiveComment,\nSeriesFeatures,\nSeriesId,\nSeriesInternationalHomeStore,\nSeriesIntroDate,\nSeriesMainImage,\nSeriesName,\nSeriesNumber,\nSeriesRetailSalesCategory,\nSeriesShowroom,\nSeriesSourceId,\nSeriesStatus,\nSeriesStyle,\nSeriesThirdParty,\nSeriesPrimary,\nItemUomKey,\nItemShippableUomKey,\nItemEligibleforProtectionPlan,\nItemIsProtectionPlan,\nItemAshcommDeliveryMode,\nItemMaterial,\nItemHomeStoreProductLine,\nItemEcomMerchantNotes,\nItemAmazonBrandOwner,\nItemLifestyleDescription,\nactivity_type,\nactive_flag,\nB_DELETETYPE,\nB_DELETEDATE,\nB_DELETEAUTHOR,\nB_DELETEOPERATION\nfrom [Retail].[PIM_PRODUCT_VW]\n-- WHERE Status<>'Deleted' AND CAST(LastModifiedDateTimeUtc as --date)>='@{variables('Date')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate table Retail.PIM_PRODUCT_HIST",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SourceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SourceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedDateTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastModifiedDateTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SystemTimestamp",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SystemTimestamp",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "AlternateDescription2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AlternateDescription2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIImageSet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIImageSet",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAlternateAFIFluff1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAlternateAFIFluff1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAlternateDescription3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAlternateDescription3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemARVRReady",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemARVRReady",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAssemblyInstructionsInternal",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAssemblyInstructionsInternal",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAssemblyInstructionsPublic",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAssemblyInstructionsPublic",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemBoxQty",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemBoxQty",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCartonDepthIn",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCartonDepthIn",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCartonDepthMm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCartonDepthMm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCartonHeightIn",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCartonHeightIn",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCartonHeightMm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCartonHeightMm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCartonWidthIn",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCartonWidthIn",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCartonWidthMm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCartonWidthMm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemClass",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemClass",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemColor",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemColor",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemColorSwatch",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemColorSwatch",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCommodity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCommodity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemComponentQuantity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemComponentQuantity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemConsumerAssembly",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemConsumerAssembly",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCubesFt",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCubesFt",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemCubesM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemCubesM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemDead",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemDead",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemDimensionSketch",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemDimensionSketch",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemDiningChairQtyCtn",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemDiningChairQtyCtn",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemEngineeringDivision",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemEngineeringDivision",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemExclusive",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemExclusive",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemExclusiveComment",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemExclusiveComment",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemExpressShip",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemExpressShip",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemFOBBasePrice",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemFOBBasePrice",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemForecastPlannerID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemForecastPlannerID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemFriendlyDimensions",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemFriendlyDimensions",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemFutureStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemFutureStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemGeneralDescriptionID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemGeneralDescriptionID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemGeneralLongDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemGeneralLongDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemGoogleTitle",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemGoogleTitle",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreAssemblyVideo1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreAssemblyVideo1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHTSCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHTSCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemImportDomestic",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemImportDomestic",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemKeyItem",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemKeyItem",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemKnockout",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemKnockout",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemMaterialReferenceNeeded",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemMaterialReferenceNeeded",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemMfgWarranty",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemMfgWarranty",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemPhoto",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemPhoto",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemProductDepthIn",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemProductDepthIn",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemProductDepthMm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemProductDepthMm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemProductHeightIn",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemProductHeightIn",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemProductHeightMm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemProductHeightMm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemProductPageURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemProductPageURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemProductWidthIn",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemProductWidthIn",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemProductWidthMm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemProductWidthMm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemRetailBrandName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemRetailBrandName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemRetailType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemRetailType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemRollOverimage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemRollOverimage",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemSalesCategoryCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemSalesCategoryCode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemScene7ImageSet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemScene7ImageSet",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemSeats",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemSeats",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemSeriesName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemSeriesName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemSeriesNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemSeriesNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemStandAloneFlag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemStandAloneFlag",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemStatusChanged",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemStatusChanged",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemSupplierDirectShipOnly",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemSupplierDirectShipOnly",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemSuppWeightNetWeightKg",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemSuppWeightNetWeightKg",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemSuppWeightNetWeightLbs",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemSuppWeightNetWeightLbs",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemThirdPartyItem",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemThirdPartyItem",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemTrackingPiece",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemTrackingPiece",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemTrademarkText",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemTrademarkText",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemUnitWeightKg",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemUnitWeightKg",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemUnitWeightLbs",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemUnitWeightLbs",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemUPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemUPC",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemValidationComplete",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemValidationComplete",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemWholesaleAssemblyVideo1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemWholesaleAssemblyVideo1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIFeatureBullet1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIFeatureBullet1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIFeatureBullet2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIFeatureBullet2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIFeatureBullet3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIFeatureBullet3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIFeatureBullet4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIFeatureBullet4",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIFeatureBullet5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIFeatureBullet5",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIFeatureBullet6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIFeatureBullet6",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIFeatureBullet7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAFIFeatureBullet7",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemConsumerDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemConsumerDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemFluffAFI",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemFluffAFI",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemFluffPrint",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemFluffPrint",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemFriendlyDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemFriendlyDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet4",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet5",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet6",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet7",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreFeatureBullet8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreFeatureBullet8",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomestoreItemFluff",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomestoreItemFluff",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesAshleyHomestore",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesAshleyHomestore",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesCorporateOnlineSelling",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesCorporateOnlineSelling",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesDivision",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesDivision",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesExclusiveComment",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesExclusiveComment",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesFeatures",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesFeatures",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesInternationalHomeStore",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesInternationalHomeStore",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesIntroDate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesIntroDate",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesMainImage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesMainImage",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesRetailSalesCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesRetailSalesCategory",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesShowroom",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesShowroom",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesSourceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SeriesSourceId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "SeriesStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesStyle",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesStyle",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesThirdParty",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesThirdParty",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SeriesPrimary",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SeriesPrimary",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemUomKey",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ItemUomKey",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ItemShippableUomKey",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ItemShippableUomKey",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "ItemEligibleforProtectionPlan",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemEligibleforProtectionPlan",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemIsProtectionPlan",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemIsProtectionPlan",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAshcommDeliveryMode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAshcommDeliveryMode",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemMaterial",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemMaterial",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemHomeStoreProductLine",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemHomeStoreProductLine",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemEcomMerchantNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemEcomMerchantNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemAmazonBrandOwner",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemAmazonBrandOwner",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ItemLifestyleDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ItemLifestyleDescription",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "activity_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "activity_type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "active_flag",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "active_flag",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_PIM_PRODUCT_HIST",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			},
			"Date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Product_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-08T10:02:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}