pipeline/Load_Remove_PostalCode_ReferenceDataLoad_Incremental.json
{
	"name": "Load_Remove_PostalCode_ReferenceDataLoad_Incremental",
	"properties": {
		"activities": [
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Enterprise_ReferenceMaster'\n,@P_PROGRAM_NAME = 'EnterpriseRefPostalCodeLoad'\n,@P_LOAD_DESCRIPTION = 'EnterpriseRefPostalCodeLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set_LoadID_Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "usp_US_POSTAL_CODE_REMOVE_RECORDS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set_LoadID_Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_POSTAL_CODE_REMOVE_RECORDS]",
					"storedProcedureParameters": {
						"COUNTRY": {
							"value": {
								"value": "US",
								"type": "Expression"
							},
							"type": "String"
						},
						"LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Enterprise_ReferenceMaster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SubmitLoadID",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "EnterpriseRefPostalCodeLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "usp_US_POSTAL_CODE_REMOVE_RECORDS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_POSTAL_CODE_REMOVE_RECORDS]",
					"storedProcedureParameters": {
						"COUNTRY": {
							"value": {
								"value": "CA",
								"type": "Expression"
							},
							"type": "String"
						},
						"LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Enterprise_ReferenceMaster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_US_RemovePostalCode",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "usp_US_POSTAL_CODE_REMOVE_RECORDS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_CA_RemovePostalCode",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "US_RemovePostalCode_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "usp_US_POSTAL_CODE_REMOVE_RECORDS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('usp_US_POSTAL_CODE_REMOVE_RECORDS').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SA_POSTAL_CODE_MASTER",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "''",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "''",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "''",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CA_RemovePostalCode_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('usp_CA_POSTAL_CODE_REMOVE_RECORDS_copy1').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SA_POSTAL_CODE_MASTER",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "''",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "''",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "''",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Postal_Code"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-12T06:29:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}