pipeline/Load_Store_Details.json
{
	"name": "Load_Store_Details",
	"properties": {
		"activities": [
			{
				"name": "ForEachLocationIds",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.item_param",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/location?LocationID=', item().LocationID)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Ocp-Apim-Subscription-Key": "d529c1e2a799475e93966ede0793b58f"
								}
							}
						},
						{
							"name": "SetJsonOutCome",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "JsonOutCome",
								"value": {
									"value": "@{activity('Web1').output}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SP_Load_Json_Payload",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SetJsonOutCome",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DAC].[Load_Json_Payload]",
								"storedProcedureParameters": {
									"JsonPayload": {
										"value": {
											"value": "@{activity('Web1').output}",
											"type": "Expression"
										},
										"type": "String"
									},
									"LocationID": {
										"value": {
											"value": "@item().locationID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_dev_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LoadJsonFile",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SP_Load_Json_Payload",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"item_param": {
				"type": "array"
			}
		},
		"variables": {
			"JsonOutCome": {
				"type": "String"
			},
			"LocationID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}