pipeline/Load_RetailCustomer_RetailCustomerLoad_Incremental.json
{
	"name": "Load_RetailCustomer_RetailCustomerLoad_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Check_CustomerInfo_Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Data_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('Get_Data_Count').output.firstRow.COUNT),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Data_Not_Found_Logs_Stored_Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
								"storedProcedureParameters": {
									"ErrorCode": {
										"value": "404",
										"type": "String"
									},
									"ErrorMsg": {
										"value": "No RAW Data Available For AllSourceCustomers",
										"type": "String"
									},
									"ErrorStatusCode": {
										"value": "404",
										"type": "String"
									},
									"FailureType": {
										"value": "Data Not available",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": null,
										"type": "String"
									},
									"Sink_Type": {
										"value": null,
										"type": "String"
									},
									"Source": {
										"value": null,
										"type": "String"
									},
									"Source_Type": {
										"value": null,
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "GetNewLoadId",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get_Max_CustomerMasterID",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Get_All_Max_rcm_CustomerMasterID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_CustomerMaster'\n,@P_PROGRAM_NAME = 'RetailCustomerLoad'\n,@P_LOAD_DESCRIPTION = 'RetailCustomerLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Semarchy_Repo",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set_LoadID_Variable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetNewLoadId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LoadID",
								"value": {
									"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Load_RetailCustomers",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set_LoadID_Variable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "B_LOADID",
											"value": {
												"value": "@variables('LoadID')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT B_SOURCEID,\nRAWFIRSTNAME,\nRAWMIDDLENAME,\nRAWLASTNAME,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_UPDATE,\nB_UPDATOR,\nB_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nDO_NOT_SELL \nFROM RetailCustomer.RetailCustomersIncremental \nWITH(NOLOCK) WHERE customerMasterId<='@{activity('Get_Max_CustomerMasterID').output.firstRow.MAX_ID}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "B_LOADID",
												"type": "String"
											},
											"sink": {
												"name": "B_LOADID",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 38
											}
										},
										{
											"source": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_UPDDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWFIRSTNAME",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_FIRST_NAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWLASTNAME",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_LAST_NAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWMIDDLENAME",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_MIDDLE_NAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "DO_NOT_SELL",
												"type": "Boolean",
												"physicalType": "bit"
											},
											"sink": {
												"name": "DO_NOT_SELL",
												"type": "Boolean",
												"physicalType": "bit"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Raw_RetailCustomersIncremental",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SD_RETAIL_CUSTOMER",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "RetailCustomers_ErrorLoags",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_RetailCustomers",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
								"storedProcedureParameters": {
									"ErrorCode": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').error.errorCode}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMsg": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').error.message}\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorStatusCode": {
										"value": {
											"value": "@activity('Load_RetailCustomers').StatusCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"FailureType": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').error.failureType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_RETAIL_CUSTOMER",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.RetailCustomersIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Teams_Failed_Notification_RetailCustomers",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load_RetailCustomers",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.ADF_SubscriptionID",
										"type": "Expression"
									},
									"resourceGroup": "afi-edme-rg",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@activity('Load_RetailCustomers').output.executionDetails[0].start",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('Load_RetailCustomers').output.executionDetails[0].status",
										"type": "Expression"
									},
									"message": {
										"value": "@replace(activity('Load_RetailCustomers').error.message,'\"','')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('Load_RetailCustomers').output.copyDuration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Fail_RetailCustomers",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Teams_Failed_Notification_RetailCustomers",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@replace(activity('Load_RetailCustomers').error.message,'\"','')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@{activity('Load_RetailCustomers').error.errorCode}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Customer_SuccessLogging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_RetailCustomers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFLogging]",
								"storedProcedureParameters": {
									"CopyActivity_End_Time": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_Start_Time": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.executionDetails[0].start}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_transferDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.executionDetails[0]. detailedDurations.transferDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"CopyDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.copyDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Execution_Status": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.rowsRead}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RunId": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_RETAIL_CUSTOMER",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.RetailCustomersIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_RetailCustomers').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Load_EmailAddresses",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_RetailCustomers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "B_LOADID",
											"value": {
												"value": "@variables('LoadID')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT B_SOURCEID,\nRAWEMAILADDRESS,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_UPDATE,\nB_UPDATOR,\nB_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nFP_RETAIL_CUSTOMER,\nFS_RETAIL_CUSTOMER\nFROM RetailCustomer.EmailAddressesIncremental \nWITH(NOLOCK) WHERE customerMasterId<='@{activity('Get_Max_CustomerMasterID').output.firstRow.MAX_ID}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "B_LOADID",
												"type": "String"
											},
											"sink": {
												"name": "B_LOADID",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 38
											}
										},
										{
											"source": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_UPDDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWEMAILADDRESS",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_EMAIL_ADDRESS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FP_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "FP_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FS_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FS_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Raw_EmailAddressesIncremental",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SD_EMAIL_ADDRESS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "EmailAddresses_ErrorLoags",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_EmailAddresses",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
								"storedProcedureParameters": {
									"ErrorCode": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').error.errorCode}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMsg": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorStatusCode": {
										"value": {
											"value": "@activity('Load_EmailAddresses').StatusCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"FailureType": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').error.failureType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_EMAIL_ADDRESS",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.EmailAddressesIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Teams_Failed_Notification_EmailAddresses",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load_EmailAddresses",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.ADF_SubscriptionID",
										"type": "Expression"
									},
									"resourceGroup": "afi-edme-rg",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@activity('Load_EmailAddresses').output.executionDetails[0].start",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('Load_EmailAddresses').output.executionDetails[0].status",
										"type": "Expression"
									},
									"message": {
										"value": "@replace(activity('Load_EmailAddresses').error.message,'\"','')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('Load_EmailAddresses').output.copyDuration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "EmailAddresses_SuccessLogging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_EmailAddresses",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFLogging]",
								"storedProcedureParameters": {
									"CopyActivity_End_Time": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_Start_Time": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.executionDetails[0].start}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_transferDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.executionDetails[0]. detailedDurations.transferDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"CopyDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.copyDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Execution_Status": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.rowsRead}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RunId": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_EMAIL_ADDRESS",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.EmailAddressesIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_EmailAddresses').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail_EmailAddresses",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Teams_Failed_Notification_EmailAddresses",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@replace(activity('Load_EmailAddresses').error.message,'\"','')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@{activity('Load_EmailAddresses').error.errorCode}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Load_PhoneNumbers",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_EmailAddresses",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "B_LOADID",
											"value": {
												"value": "@variables('LoadID')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT B_SOURCEID,\nRAWPHONENUMBER,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_UPDATE,\nB_UPDATOR,\nB_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nFP_RETAIL_CUSTOMER,\nFS_RETAIL_CUSTOMER\nFROM RetailCustomer.PhoneNumbersIncremental\nWITH(NOLOCK) WHERE customerMasterId<='@{activity('Get_Max_CustomerMasterID').output.firstRow.MAX_ID}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "B_LOADID",
												"type": "String"
											},
											"sink": {
												"name": "B_LOADID",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 38
											}
										},
										{
											"source": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_UPDDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWPHONENUMBER",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_PHONE_NUMBER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FP_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "FP_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FS_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FS_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Raw_PhoneNumbersIncremental",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SD_PHONE_NUMBER",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "PhoneNumbers_ErrorLoags",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_PhoneNumbers",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
								"storedProcedureParameters": {
									"ErrorCode": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').error.errorCode}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMsg": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorStatusCode": {
										"value": {
											"value": "@activity('Load_PhoneNumbers').StatusCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"FailureType": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').error.failureType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_PHONE_NUMBER",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.PhoneNumbersIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Teams_Failed_Notification_PhoneNumbers",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load_PhoneNumbers",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.ADF_SubscriptionID",
										"type": "Expression"
									},
									"resourceGroup": "afi-edme-rg",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@activity('Load_PhoneNumbers').output.executionDetails[0].start",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('Load_PhoneNumbers').output.executionDetails[0].status",
										"type": "Expression"
									},
									"message": {
										"value": "@replace(activity('Load_PhoneNumbers').error.message,'\"','')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('Load_PhoneNumbers').output.copyDuration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "PhoneNumbers_SuccessLogging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_PhoneNumbers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFLogging]",
								"storedProcedureParameters": {
									"CopyActivity_End_Time": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_Start_Time": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.executionDetails[0].start}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_transferDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.executionDetails[0]. detailedDurations.transferDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"CopyDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.copyDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Execution_Status": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.rowsRead}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RunId": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_PHONE_NUMBER",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.PhoneNumbersIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_PhoneNumbers').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail_PhoneNumbers",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Teams_Failed_Notification_PhoneNumbers",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@replace(activity('Load_PhoneNumbers').error.message,'\"','')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@{activity('Load_PhoneNumbers').error.errorCode}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Load_AddressLocations",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Load_PhoneNumbers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "B_LOADID",
											"value": {
												"value": "@variables('LoadID')",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": {
										"value": "SELECT B_SOURCEID,\nRAWSTREETADDRESS,\nRAWADDRESSLINE2,\nRAWCITY,\nRAWSTATEORPROVINCECODE,\nRAWZIPOSTALCODE,\nRAWCOUNTRYCODE,\nB_PUBID,\nB_CLASSNAME,\nB_CREATOR,\nB_UPDATE,\nB_UPDATOR,\nB_CREDATE,\nB_UPDATE AS SRC_UPDATE,\nFP_RETAIL_CUSTOMER,\nFS_RETAIL_CUSTOMER\nFROM RetailCustomer.AddressLocationsIncremental\nWITH(NOLOCK) WHERE customerMasterId<='@{activity('Get_Max_CustomerMasterID').output.firstRow.MAX_ID}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"dataIntegrationUnits": 2,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "B_LOADID",
												"type": "String"
											},
											"sink": {
												"name": "B_LOADID",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 38
											}
										},
										{
											"source": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_PUBID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "B_SOURCEID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CLASSNAME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_CREDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "B_UPDDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_CREATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "B_UPDATOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWSTREETADDRESS",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_STREET_ADDRESS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWADDRESSLINE2",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_ADDRESS_LINE2",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWCITY",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_CITY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWSTATEORPROVINCECODE",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_STATE_OR_PROV_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWZIPOSTALCODE",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "RAW_ZIP_POSTAL_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "RAWCOUNTRYCODE",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "RAW_COUNTRY_CODE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FP_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "FP_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FS_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "FS_RETAIL_CUSTOMER",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "SRC_UPDATE",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Raw_AddressLocationsIncremental",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SD_ADDRESS_LOCATION",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "AddressLocations_ErrorLoags",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_AddressLocations",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
								"storedProcedureParameters": {
									"ErrorCode": {
										"value": {
											"value": "@{activity('Load_AddressLocations').error.errorCode}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorMsg": {
										"value": {
											"value": "@{activity('Load_AddressLocations').error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ErrorStatusCode": {
										"value": {
											"value": "@activity('Load_AddressLocations').StatusCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"FailureType": {
										"value": {
											"value": "@{activity('Load_AddressLocations').error.failureType}",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_ADDRESS_LOCATION",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.AddressLocationsIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Teams_Failed_Notification_AddressLocations",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Load_AddressLocations",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.ADF_SubscriptionID",
										"type": "Expression"
									},
									"resourceGroup": "afi-edme-rg",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@activity('Load_AddressLocations').output.executionDetails[0].start",
										"type": "Expression"
									},
									"status": {
										"value": "@activity('Load_AddressLocations').output.executionDetails[0].status",
										"type": "Expression"
									},
									"message": {
										"value": "@replace(activity('Load_AddressLocations').error.message,'\"','')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@activity('Load_AddressLocations').output.copyDuration",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "AddressLocations_SuccessLogging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_AddressLocations",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[Audit].[uspInsertADFLogging]",
								"storedProcedureParameters": {
									"CopyActivity_End_Time": {
										"value": {
											"value": "@{utcnow()}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_Start_Time": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.executionDetails[0].start}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"CopyActivity_transferDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.executionDetails[0]. detailedDurations.transferDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"CopyDuration_in_secs": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.copyDuration}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Execution_Status": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RowsRead": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.rowsRead}",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RunId": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink": {
										"value": {
											"value": "SD_ADDRESS_LOCATION",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sink_Type": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source": {
										"value": {
											"value": "RetailCustomer.AddressLocationsIncremental",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('Load_AddressLocations').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerId": {
										"value": {
											"value": "@{pipeline().TriggerId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerName": {
										"value": {
											"value": "@{pipeline().TriggerName}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TriggerType": {
										"value": {
											"value": "@{pipeline().TriggerType}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail_AddressLocations",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Teams_Failed_Notification_AddressLocations",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@replace(activity('Load_AddressLocations').error.message,'\"','')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "@{activity('Load_AddressLocations').error.errorCode}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SubmitLoadID",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_AddressLocations",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
								"storedProcedureParameters": {
									"P_INTEGRATION_JOB_NAME": {
										"value": {
											"value": "RetailCustomerLoad",
											"type": "Expression"
										},
										"type": "String"
									},
									"P_LOAD_ID": {
										"value": {
											"value": "@variables('LoadID')",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_USERNAME": {
										"value": {
											"value": "semadmin",
											"type": "Expression"
										},
										"type": "String"
									},
									"return_value_argument": {
										"value": null,
										"type": "Decimal"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_repo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SD_Cancel_RetailCustomers_LoadId_Stored_Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_RetailCustomers",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[CANCEL_LOAD]",
								"storedProcedureParameters": {
									"P_LOAD_ID": {
										"value": {
											"value": "@variables('LoadID')",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_USERNAME": {
										"value": {
											"value": "semadmin",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_repo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SD_Cancel_EmailAddresses_LoadId_Stored_Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_EmailAddresses",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[CANCEL_LOAD]",
								"storedProcedureParameters": {
									"P_LOAD_ID": {
										"value": {
											"value": "@variables('LoadID')",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_USERNAME": {
										"value": {
											"value": "semadmin",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_repo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SD_Cancel_PhoneNumbers_LoadId_Stored_Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_PhoneNumbers",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[CANCEL_LOAD]",
								"storedProcedureParameters": {
									"P_LOAD_ID": {
										"value": {
											"value": "@variables('LoadID')",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_USERNAME": {
										"value": {
											"value": "semadmin",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_repo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SD_Cancel_AddressLocations_LoadId_Stored_Procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Load_AddressLocations",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[CANCEL_LOAD]",
								"storedProcedureParameters": {
									"P_LOAD_ID": {
										"value": {
											"value": "@variables('LoadID')",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"P_USERNAME": {
										"value": {
											"value": "semadmin",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_repo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get_Max_CustomerMasterID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select MAX(customerMasterId) as MAX_ID FROM [Masterdata_CDP].[AllSourceCustomers] WITH(NOLOCK)",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "All_Max_CustomerMasterId_CustomerInfo",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Get_All_Max_rcm_CustomerMasterID",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT * FROM [RcmCustSubscriber].[all_max_customer_id]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "All_Max_CustomerMasterId_CustomerInfo",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "archive_and_delete_customer_record",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SubmitLoadID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[RetailCustomer].[archive_and_delete_customer_record]",
								"storedProcedureParameters": {
									"MaxId_AddressLocations": {
										"value": {
											"value": "@activity('Get_All_Max_rcm_CustomerMasterID').output.firstRow.AddressLocations",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"MaxId_AllCustomer": {
										"value": {
											"value": "@activity('Get_Max_CustomerMasterID').output.firstRow.MAX_ID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"MaxId_EmailAddresses": {
										"value": {
											"value": "@activity('Get_All_Max_rcm_CustomerMasterID').output.firstRow.EmailAddresses",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"MaxId_PhoneNumbers": {
										"value": {
											"value": "@activity('Get_All_Max_rcm_CustomerMasterID').output.firstRow.PhoneNumbers",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"MaxId_RetailCustomer": {
										"value": {
											"value": "@activity('Get_All_Max_rcm_CustomerMasterID').output.firstRow.RetailCustomer",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "usp_DeleteRFDLocalStage",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "archive_and_delete_customer_record",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[RetailCustomer].[usp_DeleteRFDLocalStage]"
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get_Data_Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(1) AS [COUNT] FROM [RetailCustomer].[RetailCustomersIncremental]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Max_CustomerMasterId_CustomerInfo",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Retail_Customer_Flow"
		},
		"annotations": []
	}
}