pipeline/Load_Retail_PIM_EDW.json
{
	"name": "Load_Retail_PIM_EDW",
	"properties": {
		"activities": [
			{
				"name": "Load_Retail_PIM_EDWProductKit",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadID",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "select CAST(KitColorKey as DECIMAL (10,0)) as F_PRODUCT_COLOR,CAST(KitRetailBrandNameKey as DECIMAL (10,0)) as F_PRODUCT_RETAIL_BRAND,\n* from [Retail].[EDWProductKit]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[SA_PRODUCT_KIT]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "F_PRODUCT_COLOR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "F_PRODUCT_RETAIL_BRAND",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "KIT_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitSourceID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "B_ERROR_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_ORIGINALBATCHID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "LastModifiedDateTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_OPERATIONID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedDateTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "B_DUPSOPERATIONID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "SeriesID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DUPSMERGETARGET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SeriesKey",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitRetailBrandNameKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "KitRetailTypeKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitColorKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitStatusKey",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "B_DELETEPATH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitImportDomesticKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_COPIEDFROM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitEngineeringDivisionKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "KitClassKey",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "KitCodeKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitSalesCategoryCodeKey",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitDefaultGroupingLookupCodeKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KitFamilyofBusinessKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitSeriesRetailSalesCategoryKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LAST_MOD_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "KitNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CREATED_DATE_TIME_UTC",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "KitType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitSeriesNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "KitExpressShip",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_RETAIL_TYPE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitPrimaryLifestyle",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_STATUS_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAXKitNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_IMPORT_DOMESTIC_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitStatusChanged",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "KIT_ENGINEER_DIVISION_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitDead",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_CLASS_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitBoxQty",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitSeats",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_SALES_CATEG_CODE_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitDiningChairQtyCtn",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_DFLT_GROUP_CODE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitUPC",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FAMILYOF_BUSINESS_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitARVRReady",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SERIES_RT_SL_CAT_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitStandAloneFlag",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitSupplierDirectShipOnly",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SERIES_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitDimensionsConfirmed",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_EXPRESS_SHIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitMfgWarranty",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_PRIMARY_LIFESTYLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitFriendlyDimensions",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AX_KIT_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitGeneralDescriptionID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitGeneralLongDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_DEAD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitForecastPlannerID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_BOX_QTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitUomKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SEATS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitProductDepthIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_DINING_CHAIR_QTY_CTN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitProductDepthMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_UPC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitProductHeightIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_ARVR_READY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitProductHeightMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_STAND_ALONE_FLAG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitProductWidthIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_SUPPLIER_DT_SHIP_ONLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitProductWidthMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_DIMENSIONS_CONFIRMED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAdditionalDimensions",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_MFG_WARRANTY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitCartonDepthIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_FRIENDLY_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitCartonDepthMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_GEN_DESC_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitCartonHeightIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_GEN_LONG_DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitCartonHeightMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_FORECAST_PLANNER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitCartonWidthIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitCartonWidthMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitUnitWeightKg",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitUnitWeightLbs",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitSuppWeightNetWeightLbs",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitSuppWeightNetWeightKg",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_PRODUCT_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitSelllingCountries",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_PRODUCT_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitThirdPartyKit",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ADDITIONAL_DIMENSIONS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAFIImageSet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CARTON_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitScene7ImageSet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CARTON_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitRollOverimage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CARTON_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitKnockout",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CARTON_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitColorSwatch",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CARTON_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitPhoto",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CARTON_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitGoogleTitle",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_UNIT_WEIGHT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitProductPageURL",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_UNIT_WEIGHT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitCubesFt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_SUPP_WT_NET_WT_LBS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitCubesM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_SUPP_WT_NET_WT_KG",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitHTSCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SELLLING_COUNTRIES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitFOBBasePrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_THIRD_PARTY_KIT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitConsumerAssembly",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitFutureStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SCENE7_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitKeyKit",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_ROLL_OVER_IMAGE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitTrackingPiece",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_KNOCKOUT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAlternateDescription2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COLOR_SWATCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitShowroomMarketStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PHOTO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitTrademarkText",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_GOOGLE_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAlternateAFIFluff1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_PRODUCT_PAGE_URL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitValidationComplete",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_CUBES_FT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitAlternateDescription3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CUBES_M",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitExclusive",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_HTS_CODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitExclusiveComment",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_FOB_BASE_PRICE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitCommodity",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_CONSUMER_ASSEMBLY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitUpholsteryCover",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "KIT_FUTURE_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitCartonVolume",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_KEY_KIT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitCartonDensity",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_TRACKING_PIECE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitCartonFreightClass",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 7
								},
								"sink": {
									"name": "KIT_ALTER_DESC2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitShippableUomKey",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_SHOWROOM_MKT_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitNotAvailableforIndividualSale",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_TRADEMARK_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitPurchaseType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ALTERNATE_AFI_FLUFF1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitPartsDrawings",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_VALIDATION_COMPLETE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomestoreProductLine",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ALTER_DESC3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitRetailRoomKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "KIT_EXCLUSIVE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitShippingDepthIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_EXCLUSIVE_COMMENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitShippingDepthMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_COMMODITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitShippingHeightIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_UPHOLSTERY_COVER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitShippingHeightMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_VOLUME",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitShippingWidthIn",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_DENSITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitShippingWidthMm",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 21
								},
								"sink": {
									"name": "KIT_CARTON_FREIGHT_CLASS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitPKLegacySellablePackage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHIPPABLE_UOM_KEY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitConditionalHomeDeliveryEligible",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_NOT_AVBL_INDIV_SALE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitATPSeries",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PURCHASE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitVendorName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PARTS_DRAWINGS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAssemblyInstructionsInternal",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HOMESTORE_PDT_LINE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAssemblyInstructionsPublic",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_RETAIL_ROOM_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "KitComponentQuantity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHIPPING_DEPTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitDimensionSketch",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHIPPING_DEPTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitHomeStoreAssemblyVideo1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHIPPING_HEIGHT_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitWholesaleAssemblyVideo1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHIPPING_HEIGHT_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitAfiFeatureBullet1English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHIPPING_WIDTH_IN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitAfiFeatureBullet2English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_SHIPPING_WIDTH_MM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "KitAfiFeatureBullet3English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_PK_LEG_SELLABLE_PKG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAfiFeatureBullet4English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COND_HOME_DELIV_ELIG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAfiFeatureBullet5English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ATP_SERIES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAfiFeatureBullet6English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_VENDOR_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAfiFeatureBullet7English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ASM_INSTR_INTERNAL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitConsumerDescriptionEnglish",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_ASM_INSTR_PUBLIC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitFluffAFIEnglish",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_COMPONENT_QUANTITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitFluffPrintEnglish",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_DIMENSION_SKETCH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitFriendlyDescriptionEnglish",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HOMESTORE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet1English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_WHOLESALE_ASM_VIDEO1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet2English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet3English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet4English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet5English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet6English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet7English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomstoreFeatureBullet8English",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_AFI_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitHomestoreKitFluffEnglish",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_CONSUMER_DESC_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitEligibleforProtectionPlan",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_FLUFF_AFI_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitIsProtectionPlan",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_FLUFF_PRINT_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAshcommDeliveryMode",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_FRIENDLY_DESC_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitMaterialEnglish",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET1_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitEcomMerchantNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET2_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KitAmazonBrandOwner",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "KIT_HS_FT_BULLET3_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_HS_FT_BULLET4_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_HS_FT_BULLET5_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_HS_FT_BULLET6_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_HS_FT_BULLET7_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_HS_FT_BULLET8_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_HS_KIT_FLUFF_ENG",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_ELIG_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_IS_PROTECTION_PLAN",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_ASHCOMM_DELIVERY_MODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_MATERIAL_ENGLISH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_ECOM_MERCHANT_NOTES",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_AMAZON_BRAND_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "KIT_RETAIL_BRAND_NAME_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "KIT_COLOR_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"sink": {
									"name": "KIT_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MasterDataHub_EDW_ProductKit",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_EDWProduct",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProductKit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *  from [Retail].[EDWProduct] ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[SA_PRODUCT_MAIN]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_MAIN_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SourceId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SOURCE_ID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SystemTimestamp",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SYSTEM_TIMESTAMP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "AlternateDescription2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ALTERNATE_DESCRIPTION2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ItemAFIImageSet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ITEM_AFI_IMAGE_SET",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SeriesDivision",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SERIES_DIVISION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MasterDataHub_EDW_Product",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load_Retail_PIM_EDWProductPackage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDWProduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [Retail].[EDWProductPackage]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[SA_PRODUCT_PACKAGE]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PackageID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRODUCT_PACKAGE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PackageKey",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PACKAGE_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "HomestorePackageId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "HOMESTORE_PACKAGE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PackageNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PackageHero",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PACKAGE_HERO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PackageStatusChanged",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "PACKAGE_STATUS_CHANGED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MasterDataHub_EDW_ProductPackage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'masterDataHub_Retail'\n,@P_PROGRAM_NAME = 'ProducMastertLoad'\n,@P_LOAD_DESCRIPTION = 'ProducMastertLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}