pipeline/Load_SiteMaster_Incremental__ZipAllocation_.json
{
	"name": "Load_SiteMaster_Incremental__ZipAllocation_",
	"properties": {
		"description": "Upsert_SA_ZIP_ALLOCATION",
		"activities": [
			{
				"name": "IncrementalSiteMainView",
				"description": "select all data from DACJSONLoadSiteMain view",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadId",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "select \nB_PUBID,\nB_SOURCEID,\n'SiteMain' as B_CLASSNAME,\nSITE_NAME,\nSITE_TYPE,CAST(IS_Active as bit) IS_Active,\nSITE_DESCRIPTION,\nOWNERSHIP_TYPE,\nADDRESS_LINE1 ,\nADDRESS_LINE2 ,\nCITY ,\nSTATE_CODE ,\nPOSTAL_CODE ,\nCOUNTRY_CODE ,\nRAW_MAIN_PHONE ,\nRAW_FAX \nfrom Retail.DACIncrementalSiteMain \n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadId"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_NAME",
									"physicalType": "int"
								},
								"sink": {
									"name": "SITE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_TYPE",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IS_Active",
									"physicalType": "int"
								},
								"sink": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SITE_DESCRIPTION",
									"physicalType": "int"
								},
								"sink": {
									"name": "SITE_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNERSHIP_TYPE",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS_LINE1",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS_LINE2",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWADDRESS_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CITY",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATE_CODE",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "POSTAL_CODE",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CODE",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_MAIN_PHONE",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_MAIN_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_FAX",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_FAX",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME"
								},
								"sink": {
									"name": "B_CLASSNAME"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_SiteMaster_SD_SITE_MAIN",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetNewLoadId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'Retail_SiteMaster'\n,@P_PROGRAM_NAME = 'SiteMasterLoad'\n,@P_LOAD_DESCRIPTION = 'SiteMasterLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Repo",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SetNewLoadId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetNewLoadId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@{activity('GetNewLoadId').output.firstRow.RETURN_VALUE_ARGUMENT}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IncrementalSiteContentView",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IncrementalSiteMainView",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadId",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "select \nNEWID() AS SITE_CONTENT_ID,\n'SiteContent' AS B_CLASSNAME,\nCONTENT_CATEGORY,\nCONTENT_TYPE,\nCONVERT(nvarchar(128),[CONTENT_SHORT_TEXT]) AS [CONTENT_SHORT_TEXT],\nCONTENT_LONG_TEXT,\nCONTENT_LANGUAGE,\nFP_SITE_MAIN,\nFS_SITE_MAIN\nfrom Retail.DACIncrementalSiteContent",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"FS_SITE_MAIN",
								"CONTENT_TYPE"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadId"
								},
								"sink": {
									"name": "B_LOADID",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"scale": 6
								}
							},
							{
								"source": {
									"name": "CONTENT_CATEGORY"
								},
								"sink": {
									"name": "CONTENT_CATEGORY"
								}
							},
							{
								"source": {
									"name": "CONTENT_TYPE"
								},
								"sink": {
									"name": "CONTENT_TYPE"
								}
							},
							{
								"source": {
									"name": "CONTENT_SHORT_TEXT"
								},
								"sink": {
									"name": "CONTENT_SHORT_TEXT"
								}
							},
							{
								"source": {
									"name": "CONTENT_LONG_TEXT"
								},
								"sink": {
									"name": "CONTENT_LONG_TEXT"
								}
							},
							{
								"source": {
									"name": "CONTENT_LANGUAGE"
								},
								"sink": {
									"name": "CONTENT_LANGUAGE"
								}
							},
							{
								"source": {
									"name": "FP_SITE_MAIN"
								},
								"sink": {
									"name": "FP_SITE_MAIN"
								}
							},
							{
								"source": {
									"name": "FS_SITE_MAIN"
								},
								"sink": {
									"name": "FS_SITE_MAIN"
								}
							},
							{
								"source": {
									"name": "SITE_CONTENT_ID"
								},
								"sink": {
									"name": "SITE_CONTENT_ID"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME"
								},
								"sink": {
									"name": "B_CLASSNAME"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_SiteMaster_SA_SITE_CONTENT",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "IncrementalSiteDefaultHoursView",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IncrementalSiteContentView",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LoadId",
								"value": {
									"value": "@variables('LoadID')",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "select \nNEWID() AS SITE_DEFAULT_HOURS_ID,\n'SiteDefaultHours' AS B_CLASSNAME,\nSITE_HOURS_TYPE,\nDAY_OF_WEEK,\nSTART_TIME,\nEND_TIME,\nFP_SITE_MAIN,\nFS_SITE_MAIN\nfrom Retail.DACIncrementalSiteDefaultHours",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBatchTimeout": "00:30:00",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"FS_SITE_MAIN",
								"SITE_HOURS_TYPE",
								"DAY_OF_WEEK"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LoadId"
								},
								"sink": {
									"name": "B_LOADID",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_UPDDATE"
								},
								"sink": {
									"name": "B_UPDDATE",
									"scale": 6
								}
							},
							{
								"source": {
									"name": "SITE_HOURS_TYPE"
								},
								"sink": {
									"name": "SITE_HOURS_TYPE"
								}
							},
							{
								"source": {
									"name": "DAY_OF_WEEK"
								},
								"sink": {
									"name": "DAY_OF_WEEK"
								}
							},
							{
								"source": {
									"name": "START_TIME"
								},
								"sink": {
									"name": "START_TIME"
								}
							},
							{
								"source": {
									"name": "END_TIME"
								},
								"sink": {
									"name": "END_TIME"
								}
							},
							{
								"source": {
									"name": "FP_SITE_MAIN"
								},
								"sink": {
									"name": "FP_SITE_MAIN"
								}
							},
							{
								"source": {
									"name": "FS_SITE_MAIN"
								},
								"sink": {
									"name": "FS_SITE_MAIN"
								}
							},
							{
								"source": {
									"name": "SITE_DEFAULT_HOURS_ID"
								},
								"sink": {
									"name": "SITE_DEFAULT_HOURS_ID"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME"
								},
								"sink": {
									"name": "B_CLASSNAME"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_SiteMaster_SA_SITE_DEFAULT_HOURS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SubmitLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSiteDefaultHoursView",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "SiteMasterLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SPCallStoreDetailsErrorMsg_SiteMain",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSiteMainView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('IncrementalSiteMainView').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('IncrementalSiteMainView').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('IncrementalSiteMainView').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('IncrementalSiteMainView').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SD_SITE_MAIN",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('IncrementalSiteMainView').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "Retail.DACIncrementalSiteMain",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('IncrementalSiteMainView').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_SiteMain",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IncrementalSiteMainView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('IncrementalSiteMainView').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('IncrementalSiteMainView').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('IncrementalSiteMainView').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('IncrementalSiteMainView').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cancel_SiteMain_LoadId_Stored_Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSiteMainView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SPCallStoreDetailsErrorMsg_SiteContent",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSiteContentView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('IncrementalSiteContentView').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('IncrementalSiteContentView').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('IncrementalSiteContentView').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('IncrementalSiteContentView').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SA_SITE_CONTENT",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('IncrementalSiteContentView').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "Retail.DACIncrementalSiteContent",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('IncrementalSiteContentView').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_SiteContent",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IncrementalSiteContentView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('IncrementalSiteContentView').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('IncrementalSiteContentView').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('IncrementalSiteContentView').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('IncrementalSiteContentView').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cancel_SiteContent_LoadId_Stored_Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSiteContentView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SPCallStoreDetailsErrorMsg_SiteDefaultHours",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSiteDefaultHoursView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('IncrementalSiteDefaultHoursView').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('IncrementalSiteDefaultHoursView').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('IncrementalSiteDefaultHoursView').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('IncrementalSiteDefaultHoursView').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SA_SITE_DEFAULT_HOURS",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('IncrementalSiteDefaultHoursView').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "Retail.DACIncrementalSiteDefaultHours",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('IncrementalSiteDefaultHoursView').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_SiteDefaultHours",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IncrementalSiteDefaultHoursView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('IncrementalSiteDefaultHoursView').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('IncrementalSiteDefaultHoursView').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('IncrementalSiteDefaultHoursView').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('IncrementalSiteDefaultHoursView').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cancel_SiteDefaultHours_LoadId_Stored_Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSiteDefaultHoursView",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@variables('LoadID')",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SiteMaster"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-26T06:05:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}