pipeline/MSA_Masterdata_Load.json
{
	"name": "MSA_Masterdata_Load",
	"properties": {
		"activities": [
			{
				"name": "Server_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \nserver_id\n,server_name\n,ser_database_name\n,ser_schema_name\n,tab_name\n,ser_user_name\n,ser_pwd\n from Ref_PostalCode.MSATargetServerConfig",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Semarchy_Staging_MSA_Servers_Info",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Servers_Iteration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Server_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Server_lookup').output.item",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "MSA_GD_DataLoad",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select MSA_MASTER_ID,MSA_DESCRIPTION from dbo.GD_MSA_MASTER",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@concat('DELETE FROM ', item().ser_schema_name, '.', item().tab_name)\n\n",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "MSA_MASTER_ID",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "MSA_MASTER_ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MSA_DESCRIPTION",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "MSA_DESCRIPTION",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GD_MAS_Master_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Msa_select_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Schema_Name": {
											"value": "@item().ser_schema_name",
											"type": "Expression"
										},
										"Table_Name": {
											"value": "@item().tab_name",
											"type": "Expression"
										},
										"Server_Name_param": {
											"value": "@item().server_name",
											"type": "Expression"
										},
										"Database_Name_param": {
											"value": "@item().ser_database_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Postal_Code"
		},
		"annotations": []
	}
}