pipeline/Orchestrate_Load_EnterpriseRef.json
{
	"name": "Orchestrate_Load_EnterpriseRef",
	"properties": {
		"activities": [
			{
				"name": "Load_EnterpriseRef_Country",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_EnterpriseRef_Country_InitialLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Database_Name": {
							"value": "@pipeline().parameters.Database_Name",
							"type": "Expression"
						},
						"Sink_Country_Table_Name": {
							"value": "@pipeline().parameters.Sink_Country_Table_Name",
							"type": "Expression"
						},
						"Semarchy_Job_Name": {
							"value": "@pipeline().parameters.Country_Semarchy_Job_Name",
							"type": "Expression"
						},
						"Country_Class_Name": {
							"value": "@pipeline().parameters.Country_Class_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load_EnterpriseRef_Currency_InitialLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_Country",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_EnterpriseRef_Currency_InitialLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Database_Name": {
							"value": "@pipeline().parameters.Database_Name",
							"type": "Expression"
						},
						"Sink_Currency_Table_Name": {
							"value": "@pipeline().parameters.Sink_Currency_Table_Name",
							"type": "Expression"
						},
						"Semarchy_Job_Name": {
							"value": "@pipeline().parameters.Currency_Semarchy_Job_Name",
							"type": "Expression"
						},
						"Currency_Class_Name": {
							"value": "@pipeline().parameters.Currency_Class_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load_EnterpriseRef_DMA_InitialLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_Currency_InitialLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_EnterpriseRef_DMA_InitialLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Database_Name": {
							"value": "@pipeline().parameters.Database_Name",
							"type": "Expression"
						},
						"Sink_Dma_Table_Name": {
							"value": "@pipeline().parameters.Sink_Dma_Table_Name",
							"type": "Expression"
						},
						"Semarchy_Job_Name": {
							"value": "@pipeline().parameters.DMA_Semarchy_Job_Name",
							"type": "Expression"
						},
						"Dma_Class_Name": {
							"value": "@pipeline().parameters.Dma_Class_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_DMA_InitialLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Database_Name": {
							"value": "@pipeline().parameters.Database_Name",
							"type": "Expression"
						},
						"Sink_Time_Zone_Table_Name": {
							"value": "@pipeline().parameters.Sink_Time_Zone_Table_Name",
							"type": "Expression"
						},
						"Semarchy_Job_Name": {
							"value": "@pipeline().parameters.TimeZone_Semarchy_Job_Name",
							"type": "Expression"
						},
						"Time_Zone_Class_Name": {
							"value": "@pipeline().parameters.Time_Zone_Class_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Database_Name": {
							"value": "@pipeline().parameters.Database_Name",
							"type": "Expression"
						},
						"Sink_Time_Zone_EFF_DT_Table_Name": {
							"value": "@pipeline().parameters.Sink_Time_Zone_EFF_DT_Table_Name",
							"type": "Expression"
						},
						"Semarchy_Job_Name": {
							"value": "@pipeline().parameters.TimeZoneEF_Semarchy_Job_Name",
							"type": "Expression"
						},
						"Time_Zone_EFF_DT_Class_Name": {
							"value": "@pipeline().parameters.Time_Zone_EFF_DT_Class_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load_EnterpriseRef_US_STATE_InitialLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_EnterpriseRef_US_STATE_InitialLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Database_Name": {
							"value": "@pipeline().parameters.Database_Name",
							"type": "Expression"
						},
						"Sink_US_State_Table_Name": {
							"value": "@pipeline().parameters.Sink_US_State_Table_Name",
							"type": "Expression"
						},
						"Semarchy_Job_Name": {
							"value": "@pipeline().parameters.USState_Semarchy_Job_Name",
							"type": "Expression"
						},
						"US_State_Class_Name": {
							"value": "@pipeline().parameters.US_State_Class_Name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_CountryLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_Country",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "afi-edme-rg",
							"type": "Expression"
						},
						"runId": {
							"value": "@activity('Load_EnterpriseRef_Country').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_EnterpriseRef_Country').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_EnterpriseRef_Country').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_EnterpriseRef_Country').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_EnterpriseRef_Country').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_EnterpriseRef_Country').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_EnterpriseRef_Country').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_CurrencyLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_Currency_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "afi-edme-rg",
							"type": "Expression"
						},
						"runId": {
							"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_EnterpriseRef_Currency_InitialLoad').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_DMALoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_DMA_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "afi-edme-rg",
							"type": "Expression"
						},
						"runId": {
							"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_EnterpriseRef_DMA_InitialLoad').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_TimeZoneLoad_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "afi-edme-rg",
							"type": "Expression"
						},
						"runId": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_TimeZoneEFFLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "afi-edme-rg",
							"type": "Expression"
						},
						"runId": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_USStateLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_US_STATE_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "afi-edme-rg",
							"type": "Expression"
						},
						"runId": {
							"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Country_StoreErrorMsg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_Country",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_Country').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_Country').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_EnterpriseRef_Country').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_Country').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Currency_StoreErrorMsg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_Currency_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_Currency_InitialLoad').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_Currency_InitialLoad').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_Currency_InitialLoad').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DMA_StoreErrorMsg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_DMA_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_DMA_InitialLoad').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_DMA_InitialLoad').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_DMA_InitialLoad').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Time_Zone_StoreErrorMsg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "TimeZone_EFF_DT_StoreErrorMsg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "USState_StoreErrorMsg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_EnterpriseRef_US_STATE_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Database_Name": {
				"type": "string"
			},
			"Sink_US_State_Table_Name": {
				"type": "string"
			},
			"Sink_Time_Zone_EFF_DT_Table_Name": {
				"type": "string"
			},
			"Sink_Time_Zone_Table_Name": {
				"type": "string"
			},
			"Sink_Currency_Table_Name": {
				"type": "string"
			},
			"Sink_Country_Table_Name": {
				"type": "string"
			},
			"Sink_Dma_Table_Name": {
				"type": "string"
			},
			"Country_Class_Name": {
				"type": "string"
			},
			"Currency_Class_Name": {
				"type": "string"
			},
			"Dma_Class_Name": {
				"type": "string"
			},
			"Time_Zone_Class_Name": {
				"type": "string"
			},
			"Time_Zone_EFF_DT_Class_Name": {
				"type": "string"
			},
			"US_State_Class_Name": {
				"type": "string"
			},
			"Country_Semarchy_Job_Name": {
				"type": "string"
			},
			"Currency_Semarchy_Job_Name": {
				"type": "string"
			},
			"DMA_Semarchy_Job_Name": {
				"type": "string"
			},
			"TimeZone_Semarchy_Job_Name": {
				"type": "string"
			},
			"TimeZoneEF_Semarchy_Job_Name": {
				"type": "string"
			},
			"USState_Semarchy_Job_Name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "EnterPriceRef_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-08T10:02:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}