pipeline/Orchestrate_Load_Retail_SiteMasterLoad_DAC.json
{
	"name": "Orchestrate_Load_Retail_SiteMasterLoad_DAC",
	"properties": {
		"activities": [
			{
				"name": "Store_DAC_Location_Details",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Store_DAC_Location_Details",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stage_Retail_SiteMasterLoad_DAC",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Store_DAC_Location_Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Stage_Retail_SiteMasterLoad_DAC",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load_Retail_SiteMasterLoad_DAC",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Stage_Retail_SiteMasterLoad_DAC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_Retail_SiteMasterLoad_DAC",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Store_DAC_Location_Details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Store_DAC_Location_Details_ErrorMsg",
					"value": {
						"value": "@activity('Store_DAC_Location_Details').error.message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Store_DAC_Location_Details_ErrorMsg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-26T06:05:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}