pipeline/Orchestrate_Load_RetailCustomerLoad_Incremental.json
{
	"name": "Orchestrate_Load_RetailCustomerLoad_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Load_RetailCustomer_RetailCustomerLoad_Incremental",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_RetailCustomer_RetailCustomerLoad_Incremental",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Teams_Failed_Notification_Load_RetailCustomer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_RetailCustomer_RetailCustomerLoad_Incremental",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@activity('Load_RetailCustomer_RetailCustomerLoad_Incremental').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_RetailCustomer_RetailCustomerLoad_Incremental').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_RetailCustomer_RetailCustomerLoad_Incremental').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_RetailCustomer_RetailCustomerLoad_Incremental').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_RetailCustomer_RetailCustomerLoad_Incremental').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_RetailCustomer_RetailCustomerLoad_Incremental').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_RetailCustomer_RetailCustomerLoad_Incremental').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_RetailCustomer_RetailCustomerLoad_Incremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Teams_Failed_Notification_Load_RFD_RetailCustomer",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@activity('Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_GetEntity_RCM_RFD_RetailCustomerLoad_Incremental').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Retail_Customer_Flow"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-27T12:10:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}