pipeline/Orchestrate_Load_Retail_ProductMasterLoad.json
{
	"name": "Orchestrate_Load_Retail_ProductMasterLoad",
	"properties": {
		"activities": [
			{
				"name": "Load_Retail_PIM_EDW_InitialLoad",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Stage_ProductMasterLoad_Retail_PIM_EDW_InitialLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Load_Retail_PIM_EDW",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDW_InitialLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Load_ProductMasterLoad_Retail_PIM_EDW",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SPCallStoreDetailsErrorMsg",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDW",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_Retail_PIM_EDW').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_Retail_PIM_EDW').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_Retail_PIM_EDW').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_Retail_PIM_EDW').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SPCallStoreDetailsErrorMsg_InitialLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDW_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Load_Retail_PIM_EDW_InitialLoad').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Load_Retail_PIM_EDW_InitialLoad').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Load_Retail_PIM_EDW_InitialLoad').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": null,
							"type": "String"
						},
						"Sink_Type": {
							"value": null,
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Source_Type": {
							"value": null,
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_InitialLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDW_InitialLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_Retail_PIM_EDW_InitialLoad').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_MasterLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Load_Retail_PIM_EDW",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": {
							"value": "afi-edme-rg",
							"type": "Expression"
						},
						"runId": {
							"value": "@activity('Load_Retail_PIM_EDW').output['pipelineRunId']",
							"type": "Expression"
						},
						"name": {
							"value": "@activity('Load_Retail_PIM_EDW').output['pipelineName']",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('Load_Retail_PIM_EDW').ExecutionStartTime",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('Load_Retail_PIM_EDW').Status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('Load_Retail_PIM_EDW').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('Load_Retail_PIM_EDW').ExecutionEndTime",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('Load_Retail_PIM_EDW').Duration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "@pipeline().globalParameters.GP_WebhookUrl",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Product_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-27T09:21:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}