pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get_File_List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Real_estate_source_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"enablePartitionDiscovery": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				},
				"inputs": [
					{
						"referenceName": "SFTP_Folder",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": "LeaseHarbor"
						}
					}
				]
			},
			{
				"name": "Filter_Record_Info",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_File_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_File_List').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, 'Record Info')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_Copy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Record_Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Record_Info').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy_File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SFTP_XLSX_File",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "LeaseHarbor",
										"FileName": {
											"value": "@{item().name}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Real_Estate_Blob",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "SiteMaster"
		},
		"annotations": []
	}
}