pipeline/PL_Email_Pref_Comm_Orch.json
{
	"name": "PL_Email_Pref_Comm_Orch",
	"properties": {
		"description": "Step by Step pipeline for Email Preference Communication Zeta CDP",
		"activities": [
			{
				"name": "Email_Comm_Preference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COMM_PREFERNC_EMAIL_ID CommunicationPreferenceEmailID,\r\nCHANNEL Channel,\r\nEMAIL_ADDRESS EmailAddress,\r\nSRC_UPDATE LastUpdated,\r\nOPTED_IN,\r\nORGANIZATION Organization,\r\nPURPOSE Purpose,\r\nB_PUBID SourceSystem,\r\nGetdate() CreatedDate,\r\n'afi-edme-dev-df' CreatedBy,\r\nGetdate() UpdatedDate,\r\n'afi-edme-dev-df' UpdatedBy\r\nFROM [dbo].[GD_COMMUNICTN_PREFERNC_EMAIL] b with(nolock)",
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table EmailCommunicationPreference_Stg\n\ntruncate table EmailCommunicationPreference_Wrk",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CommunicationPreferenceEmailID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CommunicationPreferenceEmailID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "Channel",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Channel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastUpdated",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastUpdated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OPTED_IN",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "OptedIn",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Purpose",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Purpose",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SourceSystem",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SourceSystem",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Organization",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Organization",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "UpdatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "UpdatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UpdatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UpdatedBy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "COMMUNICTN_PREFERNC_EMAIL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EmailCommunicationPreference_Stg",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "usp_Write_Email_Comm_Pre_Wrk",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Email_Comm_Preference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Write_Email_Comm_Pre_Wrk]"
				},
				"linkedServiceName": {
					"referenceName": "MarketingHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load_Jsonl_Email_Container",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "usp_Write_Email_Comm_Pre_Wrk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \na.CommunicationPreferenceEmailID,\na.Channel,\na.EmailAddress,\na.LastUpdated,\na.OptedIn,\na.Organization,\na.Purpose,\na.SourceSystem \nFROM [dbo].[EmailCommunicationPreference_Wrk] a with(nolock)\n--inner join [dbo].[EmailCommunicationPreference_Wrk] b on a.CommunicationPreferenceEmailID = b.CommunicationPreferenceEmailID\nselect (SELECT \na.CommunicationPreferenceEmailID,\na.Channel,\na.EmailAddress,\na.LastUpdated,\na.OptedIn,\na.Organization,\na.Purpose,\na.SourceSystem FOR JSON PATH, WITHOUT_ARRAY_WRAPPER)\nFROM [dbo].[EmailCommunicationPreference_Wrk] a with(nolock)\ninner join [dbo].[EmailCommunicationPreference_Wrk] b on a.CommunicationPreferenceEmailID = b.CommunicationPreferenceEmailID",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "EmailCommunicationPreference_Wrk",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "emailCommPrefJsonl",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Put_File_in_File_Share",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Load_Jsonl_Email_Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 50,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "adf-http-trigger-demo-func",
					"method": "POST",
					"body": {
						"value": "@concat('{\"FileName\":\"',variables('FileName'),'\"}') ",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "adf_http_trigger_demo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat('emai-comm-prefere-', formatDateTime(utcnow(), 'ddMMyyyyhhmm'), '.jsonl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Email_Comm_Pref_Succeed_log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Email_Comm_Preference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFLogging]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcNow()}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].start}\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.copyDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EmailCommunicationPreference_Stg",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "GD_COMMUNICTN_PREFERNC_EMAIL",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MarketingHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Email_Comm_Pref_Error_log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Email_Comm_Preference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').error.errorCode}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('Email_Comm_Preference').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EmailCommunicationPreference_Stg",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].sink.type}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "GD_COMMUNICTN_PREFERNC_EMAIL",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MarketingHub",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}