pipeline/pl_Retail_Corporate_Store_Incremental_EDW.json
{
	"name": "pl_Retail_Corporate_Store_Incremental_EDW",
	"properties": {
		"activities": [
			{
				"name": "Copy Source to Target",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT\r\n    S.RecStatus AS STORESTATUS,\r\n    S.StoreID,\r\n    S.Name AS STORISName,\r\n   -- Unit.UntUnitDesc AS FinanceUnitDesc,\r\n    S.SourceID,\r\n    S.locnType,\r\n    S.RegionID,\r\n    S.Address1,\r\n    S.City,\r\n    S.State,\r\n    S.Distribution_StoreID,\r\n    S.DateCreated,\r\n    S.DateChanged \r\nFROM EDME_DataFactory.Store S",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"StoreID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ASHLEY_EDW_EDME",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "EDME_DataFactory",
							"TableName": "Store"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "EDW",
							"TableName": "EDW_RETAIL_CORPORATE_Store"
						}
					}
				]
			},
			{
				"name": "Process Changes",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Source to Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "EDW.sp_Store_CDC_Process_Unified"
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Change Count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Process Changes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n    ISNULL(SUM(CASE WHEN ChangeType = 'INSERT' THEN 1 ELSE 0 END), 0) as InsertCount,\n    ISNULL(SUM(CASE WHEN ChangeType = 'UPDATE' THEN 1 ELSE 0 END), 0) as UpdateCount,\n    ISNULL(COUNT(*), 0) as TotalChanges\nFROM EDW.EDW_RETAIL_CORPORATE_Store_Log \nWHERE ProcessDate = CAST(GETDATE() AS DATE)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Semarchy_staging",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "EDW",
							"TableName": "EDW_RETAIL_CORPORATE_Store_Log"
						}
					}
				}
			},
			{
				"name": "Send Notification If Changes",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Change Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get Change Count').output.firstRow.TotalChanges, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Teams_Notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": {
										"value": "@pipeline().globalParameters.ADF_SubscriptionID",
										"type": "Expression"
									},
									"resourceGroup": "afi-edme-rg",
									"runId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"name": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"triggerTime": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"status": "Success",
									"message": {
										"value": "@concat('Store CDC: ', activity('Get Change Count').output.firstRow.InsertCount, ' new stores, ', activity('Get Change Count').output.firstRow.UpdateCount, ' updated stores')",
										"type": "Expression"
									},
									"executionEndTime": {
										"value": "@{utcnow()}",
										"type": "Expression"
									},
									"runDuration": {
										"value": "@string(div(sub(ticks(utcnow()), ticks(pipeline().TriggerTime)), 10000000))",
										"type": "Expression"
									},
									"teamWebhookUrl": {
										"value": "@pipeline().globalParameters.GP_WebhookUrl",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Email_Notification",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Email_LogicApp_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"subscription": "@pipeline().globalParameters.ADF_SubscriptionID",
									"resourceGroup": {
										"value": "afi-edme-rg",
										"type": "Expression"
									},
									"runId": "@pipeline().RunId",
									"name": "@pipeline().Pipeline",
									"status": "Success",
									"triggerTime": "@pipeline().TriggerTime",
									"executionEndTime": "@{utcnow()}",
									"runDuration": "@string(div(sub(ticks(utcnow()), ticks(pipeline().TriggerTime)), 10000000))",
									"message": "@concat('Store CDC: ', activity('Get Change Count').output.firstRow.InsertCount, ' new stores, ', activity('Get Change Count').output.firstRow.UpdateCount, ' updated stores')",
									"notificationTime": "@{utcnow()}",
									"to": "gkalidass@ashleyfurniture.com",
									"subject": {
										"value": "@concat('Store CDC Report - ', pipeline().Pipeline)",
										"type": "Expression"
									},
									"Email_Logicapp_URL": {
										"value": "@pipeline().globalParameters.GP_EmailLogicAppUrl",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "SiteMaster"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}