pipeline/PL_SalesExtract_JSONL.json
{
	"name": "PL_SalesExtract_JSONL",
	"properties": {
		"description": "Step by Step pipeline for Email Preference Communication Zeta CDP",
		"activities": [
			{
				"name": "Email_Comm_Preference",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT COMM_PREFERNC_EMAIL_ID CommunicationPreferenceEmailID,\nCHANNEL Channel,\nEMAIL_ADDRESS EmailAddress,\nSRC_UPDATE LastUpdated,\nOPTED_IN,\nORGANIZATION Organization,\nPURPOSE Purpose,\nB_PUBID SourceSystem,\nGetdate() CreatedDate,\n'afi-edme-dev-df' CreatedBy,\nGetdate() UpdatedDate,\n'afi-edme-dev-df' UpdatedBy\nFROM [dbo].[GD_COMMUNICTN_PREFERNC_EMAIL] b  with(nolock) \nwhere b.SRC_UPDATE > '@{activity('Get_Max_DataTime_log').output.firstRow.lastRunDateTime}'",
							"type": "Expression"
						},
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table EmailCommunicationPreference_Stg\n\n",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CommunicationPreferenceEmailID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CommunicationPreferenceEmailID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "Channel",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Channel",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LastUpdated",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "LastUpdated",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "OPTED_IN",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "OptedIn",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Purpose",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Purpose",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SourceSystem",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SourceSystem",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Organization",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Organization",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "UpdatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "UpdatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CreatedBy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UpdatedBy",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UpdatedBy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "COMMUNICTN_PREFERNC_EMAIL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EmailCommunicationPreference_Stg",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "usp_Write_Email_Comm_Pre_Wrk",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Email_Comm_Preference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Write_Email_Comm_Pre_Wrk]"
				},
				"linkedServiceName": {
					"referenceName": "MarketingHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load_Jsonl_Email_Container",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  top 10\n(select a.*,(select * from [dbo].[SalesOrderLine_Wrk] c where a.SourceSystemID = c.SourceSystemID and a.OrderID = c.OrderID FOR JSON PATH) AS InvoiceDetail\nFOR JSON PATH , WITHOUT_ARRAY_WRAPPER) as jsonl  from\n [dbo].[SalesOrderHeader_Wrk]  a\ninner join [dbo].[SalesOrderHeader_Wrk] b on a.SourceSystemID = b.SourceSystemID and a.OrderID = b.OrderID and a.CustomerName = b.CustomerName",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": {
								"value": "@replace('{\"jsonl\":\"','{\"jsonl\":\"','')",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "EmailCommunicationPreference_Wrk",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "emailCommPrefJsonl",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat('Sales', formatDateTime(utcnow(), 'ddMMyyyyhhmm'), '.jsonl')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Email_Comm_Pref_Succeed_log",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "get_max_timestemp_wrk_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFLogging]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcNow()}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].start}\n",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.copyDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EmailCommunicationPreference_Stg",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "GD_COMMUNICTN_PREFERNC_EMAIL",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Email_Comm_Preference').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Dataset": {
							"value": {
								"value": "EmailCommunicationPreference",
								"type": "Expression"
							},
							"type": "String"
						},
						"SourceDate": {
							"value": {
								"value": "@{formatDateTime(activity('get_max_timestemp_wrk_table').output.firstRow.lastRunDateTime, 'yyyy-MM-dd hh:mm:ss tt')}\n\n",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MarketingHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get_max_timestemp_wrk_table",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select cast(max(LastUpdated) as datetime) lastRunDateTime from [dbo].[EmailCommunicationPreference_Wrk]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADFLoggingWaterMark",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}