pipeline/SD_Site_DataLoad.json
{
	"name": "SD_Site_DataLoad",
	"properties": {
		"activities": [
			{
				"name": "SD_SiteOwner",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SD_SiteMain",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT @{activity('Get_New_Load').output.firstRow.RETURN_VALUE_ARGUMENT} AS B_LoadID,\n      [OWNER_NAME] AS OWNER_NAME\n      ,[OWNER_ADDRESS] AS RAWADDRESS_LINE1\n      ,[OWNER_CITY] AS RAWCITY\n      ,[OWNER_STATE] AS RAWSTATE_CODE\n      ,[OWNER_POSTAL_CODE] AS RAWPOSTAL_CODE\n\t  ,'INITIALLOAD' as [B_PUBID]\n\t  ,'SiteOwner' AS B_CLASSNAME\n\t  ,( concat(ltrim(rtrim(upper(OWNER_NAME))),\n'_',ltrim(rtrim(upper(OWNER_ADDRESS))),\n'_',ltrim(rtrim(upper(OWNER_CITY))),\n'_',ltrim(rtrim(upper(OWNER_STATE))),'_',\nltrim(rtrim(upper(OWNER_POSTAL_CODE))))) AS [B_SOURCEID]\n  FROM [dbo].[SD_SITE_OWNER]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNER_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNER_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage_Site_Owner",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Location_Site_Owner",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get_New_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'masterDataHub_Retail'\n,@P_PROGRAM_NAME = 'FullDataLoad'\n,@P_LOAD_DESCRIPTION = 'Full Data Load'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "semarchy_repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Submit_Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "External_Ref_US_State",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "FullDataLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@activity('Get_New_load').output.firstRow.RETURN_VALUE_ARGUMENT",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_dev_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SD_SiteMain",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_New_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": " SELECT  @{activity('Get_New_Load').output.firstRow.RETURN_VALUE_ARGUMENT} AS B_LoadID\n       ,[SITE_NAME] AS SITE_NAME\n      ,[SITE_TYPE] AS SITE_TYPE\n      ,[IS_ACTIVE] AS ISACTIVE\n      ,[SITE_DESCRIPTION] AS SITE_DESCRIPTION\n      ,[OWNERSHIP_TYPE] AS SITE_OWNERSHIP_TYPE\n      ,[B_SOURCE_ID] AS B_SOURCEID\n      ,[ADDRESS_LINE1] AS RAWADDRESS_LINE1\n      ,[ADDRESS_LINE2] AS RAWADDRESS_LINE2\n      ,[CITY] AS RAWCITY\n      ,[STATE_CODE] AS RAWSTATE_CODE\n      ,[POSTAL_CODE] AS RAWPOSTAL_CODE\n      ,[COUNTRY_CODE] AS RAWCOUNTRY_CODE\n\t  ,'INITIALLOAD' AS B_PUBID\n\t  ,'SiteMain' as B_CLASSNAME\n  FROM [dbo].[SD_SITE_MAIN]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SITE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SITE_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWADDRESS_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWADDRESS_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage_SiteMain",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Location_SiteMain",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "External_Ref_Country",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SD_SiteOwner",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT @{activity('Get_New_Load').output.firstRow.RETURN_VALUE_ARGUMENT} AS B_LoadID\n      ,[EXT_REF_COUNTRY_ID]\n       ,'ExternalRefCountry' as B_CLASSNAME\n      ,[COUNTRY_CODE_A2]\n      ,[COUNTRY_CODE_A3]\n      ,[COUNTRY_NAME]\n      ,[COUNTRY_LOCAL_NAME]\n      ,[COUNTRY_UN_CODE]\n  FROM [dbo].[EXTERNAL_REF_COUNTRY]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "EXT_REF_COUNTRY_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "EXTERNAL_REF_COUNTRY_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CODE_A2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY_CODE_A2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_CODE_A3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY_CODE_A3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_LOCAL_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY_LOCAL_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "COUNTRY_UN_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "COUNTRY_UN_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Staging_Ext_Ref_Country",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Location_Ext_Ref_Country",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "External_Ref_US_State",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "External_Ref_Country",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT @{activity('Get_New_Load').output.firstRow.RETURN_VALUE_ARGUMENT} AS B_LoadID\n      ,'ExternalRefUSState' as B_CLASSNAME\n      ,[EXT_REF_US_STATE_ID]\n      ,[STATE_CODE]\n      ,[STATE_NAME]\n  FROM [dbo].[EXTERNAL_REF_US_STATE]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "EXT_REF_US_STATE_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "EXTERNAL_REF_US_STATE_ID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "STATE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Staging_Ext_Ref_State",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Location_Ext_Ref_State",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-12-06T19:43:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}