pipeline/Stage_Retail_SiteMasterLoad_EDW.json
{
	"name": "Stage_Retail_SiteMasterLoad_EDW",
	"properties": {
		"activities": [
			{
				"name": "OSLocation",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT oslLocationID,\r\noslAccountNo,\r\noslShipTo,\r\noslLocationName,\r\noslAddress1,\r\noslAddress2,\r\noslCity,\r\noslState,\r\noslZip,\r\noslCountry,\r\noslCounty,\r\noslPrimaryPhone,\r\noslPrimaryFax,\r\noslPrimaryEmail,\r\noslLatitude,\r\noslLongitude,\r\noslLocationStatus,\r\noslLocationStatusNotes,\r\noslLegacyLocationID,\r\noslWhseShipTo,\r\noslProspectID,\r\noslOwnerType,\r\noslLta,\r\noslDMA,\r\noslMSA,\r\noslCountyFips,\r\noslMarketZone,\r\noslOpAreaZone,\r\noslCurrency,\r\noslLanguage,\r\noslTimeZone,\r\noslGeographicZone,\r\noslStatus,\r\noslStatusNotes,\r\noslLocationType,\r\noslSoftOpenDate,\r\noslGrandOpenDate,\r\noslClosed,\r\noslClosedDate,\r\noslClosedAuthorization,\r\noslRelocated,\r\noslRelocationCloseDate,\r\noslRelocationOpenDate,\r\noslRelocationNotes,\r\noslAcquisition,\r\noslAcquisitionDate,\r\noslAcquisitionNotes,\r\noslPreOpenComments,\r\noslTUAID,\r\noslTUADate,\r\noslTUAExpireDate,\r\noslTUATerm,\r\noslTUADateComplete,\r\noslTurnoverDate,\r\noslRecordChangesFlag,\r\noslOperationsIntroDate,\r\noslMsPipelineDate,\r\noslLicenseeID,\r\nusra,\r\ndtea,\r\nusrc,\r\ndtec,\r\noslAddress3,\r\noslStoreRefresh,\r\noslStoreRefreshDate,\r\noslStoreRefreshNotes,\r\noslmPlansSubToDesign,\r\noslmPRMeeting,\r\noslmPlansSentToOwnerLic,\r\noslURLRegistration,\r\noslEnterpriseStoreNumber FROM [EDME_DataFactory].OSLocation WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[OSLocation]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "oslLocationID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "oslLocationID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "oslAccountNo",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "oslAccountNo",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "oslShipTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslShipTo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslAddress1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAddress1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslAddress2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAddress2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslState",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslState",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslZip",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslZip",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCountry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCounty",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCounty",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPrimaryPhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPrimaryPhone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPrimaryFax",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPrimaryFax",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPrimaryEmail",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPrimaryEmail",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLatitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLatitude",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLongitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLongitude",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslWhseShipTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslWhseShipTo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslProspectID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslProspectID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslOwnerType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslOwnerType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLta",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLta",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslDMA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslDMA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMSA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMSA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCountyFips",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCountyFips",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMarketZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMarketZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslOpAreaZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslOpAreaZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCurrency",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "oslCurrency",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "oslLanguage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLanguage",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTimeZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslTimeZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslGeographicZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslGeographicZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslSoftOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslSoftOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslGrandOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslGrandOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslClosed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslClosed",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslClosedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslClosedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslClosedAuthorization",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslClosedAuthorization",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslRelocated",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslRelocated",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslRelocationCloseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslRelocationCloseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslRelocationOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslRelocationOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslRelocationNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslRelocationNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslAcquisition",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslAcquisition",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslAcquisitionDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslAcquisitionDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslAcquisitionNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAcquisitionNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPreOpenComments",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPreOpenComments",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTUAID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslTUAID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTUADate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTUADate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslTUAExpireDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTUAExpireDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslTUATerm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslTUATerm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTUADateComplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTUADateComplete",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslTurnoverDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTurnoverDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslRecordChangesFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslRecordChangesFlag",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslOperationsIntroDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslOperationsIntroDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslMsPipelineDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslMsPipelineDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslLicenseeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "oslLicenseeID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslAddress3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAddress3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslStoreRefresh",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslStoreRefresh",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslStoreRefreshDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslStoreRefreshDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslStoreRefreshNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStoreRefreshNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslmPlansSubToDesign",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslmPlansSubToDesign",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslmPRMeeting",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslmPRMeeting",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslmPlansSentToOwnerLic",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslmPlansSentToOwnerLic",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslURLRegistration",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslURLRegistration",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslEnterpriseStoreNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslEnterpriseStoreNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EDW_SiteMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_OSLocation",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Teams_Failed_Notification_OSLocation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('OSLocation').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('OSLocation').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('OSLocation').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('OSLocation').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "OSLocation_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('OSLocation').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('OSLocation').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('OSLocation').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('OSLocation').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "OSLocation_SuccessLogging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFLogging]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('OSLocation').output.copyDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('OSLocation').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@{activity('OSLocation').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "OsOneSource",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT osOneSourceID,\r\nosOneSourceName,\r\nosLegacyLocationID,\r\nosLegacyStoreID,\r\nosProfitCenter,\r\nosChannel,\r\nosActive,\r\nosStoreType,\r\nosSource,\r\nosLocationID,\r\nosStartDate,\r\nosEndDate,\r\nusra,\r\ndtea,\r\nusrc,\r\ndtec,\r\nosProfitCenterType,\r\nosProfitCenterStatus FROM [EDME_DataFactory].OSOneSource WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "osOneSourceID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "osOneSourceID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "osOneSourceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osOneSourceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osLegacyStoreID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								},
								"sink": {
									"name": "osLegacyStoreID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "osProfitCenter",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								},
								"sink": {
									"name": "osProfitCenter",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "osChannel",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osChannel",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osActive",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "osActive",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "osStoreType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osStoreType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osLocationID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "osLocationID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "osStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "osStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "osEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "osEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "osProfitCenterType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osProfitCenterType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osProfitCenterStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osProfitCenterStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EDW_SiteMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_OSOneSource",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Teams_Failed_Notification_OsOneSource",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OsOneSource",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('OsOneSource').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('OsOneSource').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('OsOneSource').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('OsOneSource').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "OsOneSource_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OsOneSource",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('OsOneSource').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('OsOneSource').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('OsOneSource').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('OsOneSource').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OsOneSource",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSOneSource",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Site_Master"
		},
		"annotations": []
	}
}