pipeline/Stage_PostalCode_ReferenceDataLoad_Incremental.json
{
	"name": "Stage_PostalCode_ReferenceDataLoad_Incremental",
	"properties": {
		"activities": [
			{
				"name": "US_Postal_Code",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "CountryCode",
								"value": "US"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ST",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZIP",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ZIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "A/C",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FIPS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FIPS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "County",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Pref?",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Pref",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "T/Z",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TZ",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DST?",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Lat",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Lat",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 9
								}
							},
							{
								"source": {
									"name": "Long",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Long",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 9
								}
							},
							{
								"source": {
									"name": "MSA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MSA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PMSA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PMSA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Abbreviation",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Abbreviation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "MA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CBSA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CBSA",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Div",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Div",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "USA_Zip_Code_File",
						"type": "DatasetReference",
						"parameters": {
							"filename_USA": {
								"value": "@pipeline().parameters.US_PostalCode_FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "US_Zip_Code_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CANADA_Postal_Code",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "US_Postal_Code",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "CountryCode",
								"value": "CA"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PostCode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PostCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Latitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Latitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 9
								}
							},
							{
								"source": {
									"name": "Longitude",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Longitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 5,
									"precision": 9
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Province",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Province",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CityAlt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CityAlt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Neighborhood",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Neighborhood",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Time Zone",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Time Zone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Area Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Area Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_cmauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_cmauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_ername",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_ername",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_csdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_csdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_cmatype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_cmatype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_cdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_cdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_csduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_csduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_cdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_cdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_sactype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_sactype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_saccode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_saccode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_cmapuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_cmapuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_csdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_csdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_cduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_cduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_ccsname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_ccsname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_eruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_eruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_ccsuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_ccsuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Subdivision_cmaname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Subdivision_cmaname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Aggregate_Dissemination_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Aggregate_Dissemination_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Aggregate_Dissemination_cdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Aggregate_Dissemination_cdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Aggregate_Dissemination_cdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Aggregate_Dissemination_cdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Aggregate_Dissemination_cduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Aggregate_Dissemination_cduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Aggregate_Dissemination_adauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Aggregate_Dissemination_adauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Aggregate_Dissemination_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Aggregate_Dissemination_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Ecumene_ecumene",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Ecumene_ecumene",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Ecumene_ecuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Ecumene_ecuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Consolidated_Subdivision_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Consolidated_Subdivision_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Consolidated_Subdivision_cdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Consolidated_Subdivision_cdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Consolidated_Subdivision_cdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Consolidated_Subdivision_cdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Consolidated_Subdivision_ccsname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Consolidated_Subdivision_ccsname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Consolidated_Subdivision_cduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Consolidated_Subdivision_cduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Consolidated_Subdivision_ccsuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Consolidated_Subdivision_ccsuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Consolidated_Subdivision_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Consolidated_Subdivision_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_cmauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_cmauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_ctuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_ctuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_ername",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_ername",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_csdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_csdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_ctname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_ctname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_cmatype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_cmatype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_csduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_csduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_cdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_cdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_dbuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_dbuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_cdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_cdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_sactype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_sactype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_adauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_adauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_saccode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_saccode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_dauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_dauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_cmapuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_cmapuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_dbrplamx",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_dbrplamx",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_feduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_feduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_dbrplamy",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_dbrplamy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_csdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_csdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_fedname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_fedname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_cduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_cduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_ccsname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_ccsname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_eruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_eruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_ccsuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_ccsuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Block_cmaname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Block_cmaname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmatype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmatype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmaname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmaname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmapuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Metropolitan_Areas_And_Census_Agglomeration_cmapuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Designated_Place_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Designated_Place_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Designated_Place_dpluid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Designated_Place_dpluid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Designated_Place_dplname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Designated_Place_dplname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Designated_Place_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Designated_Place_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Designated_Place_dpltype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Designated_Place_dpltype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Division_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Division_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Division_cdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Division_cdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Division_cdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Division_cdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Division_cduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Division_cduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Division_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Division_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_frname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_frname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_revdt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_revdt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_creadt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_creadt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_enname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_enname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_nid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_nid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_provcode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_provcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_quipopcnt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_quipopcnt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_fednum",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_fednum",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_decpopcnt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_decpopcnt",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Federal_Election_reporder",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Federal_Election_reporder",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_cmauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_cmauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_ctuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_ctuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_cmatype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_cmatype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_ctname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_ctname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_cmaname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_cmaname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Tract_cmapuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Tract_cmapuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Economic_Region_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Economic_Region_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Economic_Region_ername",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Economic_Region_ername",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Economic_Region_eruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Economic_Region_eruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Economic_Region_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Economic_Region_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_cmauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_cmauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_ctuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_ctuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_ername",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_ername",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_csdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_csdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_ctname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_ctname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_cmatype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_cmatype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_csduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_csduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_cdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_cdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_cdtype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_cdtype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_sactype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_sactype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_adauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_adauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_saccode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_saccode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_dauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_dauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_cmapuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_cmapuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_csdname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_csdname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_cduid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_cduid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_ccsname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_ccsname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_eruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_eruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_ccsuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_ccsuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Dissemination_Area_cmaname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Dissemination_Area_cmaname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_cmauid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_cmauid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_pcclass",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_pcclass",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_pcuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_pcuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_cmatype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_cmatype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_pcname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_pcname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_pctype",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_pctype",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_pcpuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_pcpuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_cmaname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_cmaname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Population_Centre_cmapuid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Population_Centre_cmapuid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Agricultural_pruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Agricultural_pruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Agricultural_caruid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Agricultural_caruid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Agricultural_carename",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Agricultural_carename",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Agricultural_carfname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Agricultural_carfname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Census_Agricultural_prname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Census_Agricultural_prname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ISED",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ISED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ISEDname",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ISEDname",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Provincial_Riding_of",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Provincial_Riding_of",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Canada_Postal_Code_File",
						"type": "DatasetReference",
						"parameters": {
							"filename_canada": {
								"value": "@pipeline().parameters.CANADA_PostalCode_FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CANADA_Postal_Code_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Archive_Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CANADA_Postal_Code",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Postal_Code_Source_Files",
							"wildcardFileName": "*.*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Postal_Code_Archive_Files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Postal_Code_Archive",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_Files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Postal_Code_Succeed_Files_Delete",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "US_Postal_Code_Error_Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "US_Postal_Code",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Postal_Code_Source_Files",
							"wildcardFileName": {
								"value": "@pipeline().parameters.US_PostalCode_FileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Postal_Code_Error_Files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Postal_code_Error_Files",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_US_Postal_Code_Error_Files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "US_Postal_Code_Error_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Delete_Postal_Code_Error_Files",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@{pipeline().parameters.US_PostalCode_FileName}",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "CANADA_Postal_Code_Error_Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CANADA_Postal_Code",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Postal_Code_Source_Files",
							"wildcardFileName": {
								"value": "@pipeline().parameters.CANADA_PostalCode_FileName",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Postal_Code_Error_Files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_Postal_code_Error_Files",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete_CANADA_Postal_Code_Error_Files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CANADA_Postal_Code_Error_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Delete_Postal_Code_Error_Files",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@{pipeline().parameters.CANADA_PostalCode_FileName}",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "US_Postal_Code_failure_Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "US_Postal_Code",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Stage_Retail_Customer_Failure_Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorCode": {
							"value": "@{activity('US_Postal_Code').error.errorCode}",
							"type": "Expression"
						},
						"ErrorMsg": {
							"value": "@replace(activity('US_Postal_Code').error.message,'\"','')",
							"type": "Expression"
						},
						"ErrorStatusCode": {
							"value": "@activity('US_Postal_Code').StatusCode",
							"type": "Expression"
						},
						"FailureType": {
							"value": "@{activity('US_Postal_Code').error.failureType}",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@{pipeline().Pipeline}",
							"type": "Expression"
						},
						"RunID": {
							"value": "@{pipeline().Pipeline}",
							"type": "Expression"
						},
						"Sink": {
							"value": "Scratch.CustomerInfo",
							"type": "Expression"
						},
						"Sink_Type": {
							"value": "@{activity('US_Postal_Code').output.executionDetails[0].sink.type}",
							"type": "Expression"
						},
						"Source": {
							"value": "Source is US Postal Code Files",
							"type": "Expression"
						},
						"Source_Type": {
							"value": "@{activity('US_Postal_Code').output.executionDetails[0].source.type}",
							"type": "Expression"
						},
						"TriggerId": {
							"value": "@{pipeline().TriggerId}",
							"type": "Expression"
						},
						"TriggerName": {
							"value": "@{pipeline().TriggerName}",
							"type": "Expression"
						},
						"TriggerTime": {
							"value": "@{pipeline().TriggerTime}",
							"type": "Expression"
						},
						"TriggerType": {
							"value": "@{pipeline().TriggerType}",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('US_Postal_Code').Status",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('US_Postal_Code').Duration",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('US_Postal_Code').ExecutionEndTime",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "US_Postal_Code_Fail",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "US_Postal_Code_failure_Notification",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@replace(activity('US_Postal_Code').error.message,'\"','')",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@{activity('US_Postal_Code').error.errorCode}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CANADA_Postal_Code_failure_Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "CANADA_Postal_Code",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Stage_Retail_Customer_Failure_Notification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ErrorCode": {
							"value": "@{activity('CANADA_Postal_Code').error.errorCode}",
							"type": "Expression"
						},
						"ErrorMsg": {
							"value": "@replace(activity('CANADA_Postal_Code').error.message,'\"','')",
							"type": "Expression"
						},
						"ErrorStatusCode": {
							"value": "@activity('CANADA_Postal_Code').StatusCode",
							"type": "Expression"
						},
						"FailureType": {
							"value": "@{activity('CANADA_Postal_Code').error.failureType}",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@{pipeline().Pipeline}",
							"type": "Expression"
						},
						"RunID": {
							"value": "@{pipeline().Pipeline}",
							"type": "Expression"
						},
						"Sink": {
							"value": "Scratch.CustomerInfo",
							"type": "Expression"
						},
						"Sink_Type": {
							"value": "@{activity('CANADA_Postal_Code').output.executionDetails[0].sink.type}",
							"type": "Expression"
						},
						"Source": {
							"value": "Source is Canada Postal Code Files",
							"type": "Expression"
						},
						"Source_Type": {
							"value": "@{activity('CANADA_Postal_Code').output.executionDetails[0].source.type}",
							"type": "Expression"
						},
						"TriggerId": {
							"value": "@{pipeline().TriggerId}",
							"type": "Expression"
						},
						"TriggerName": {
							"value": "@{pipeline().TriggerName}",
							"type": "Expression"
						},
						"TriggerTime": {
							"value": "@{pipeline().TriggerTime}",
							"type": "Expression"
						},
						"TriggerType": {
							"value": "@{pipeline().TriggerType}",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('CANADA_Postal_Code').Status",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('CANADA_Postal_Code').Duration",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@activity('CANADA_Postal_Code').ExecutionEndTime",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CANADA_Postal_Code_Fail",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "CANADA_Postal_Code_failure_Notification",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@replace(activity('CANADA_Postal_Code').error.message,'\"','')",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@{activity('CANADA_Postal_Code').error.errorCode}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"US_PostalCode_FileName": {
				"type": "string"
			},
			"CANADA_PostalCode_FileName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Postal_Code"
		},
		"annotations": []
	}
}