pipeline/Stage_W_SiteMaster_EDW_SemarchyStaging_Tbl.json
{
	"name": "Stage_W_SiteMaster_EDW_SemarchyStaging_Tbl",
	"properties": {
		"activities": [
			{
				"name": "CP_EDW_Staging_WHSMST",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Task",
						"value": "To copy WHSMST from EDW to Semarchy stg"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "load_date",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Delete from wholesale.whsmst",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "WHID",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "WHID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESC",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "DESC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SELL",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "SELL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRPL",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PRPL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PLCD",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "PLCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LSPD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 7
								},
								"sink": {
									"name": "LSPD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LDEP",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "LDEP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RPDS",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "RPDS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FCDS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								},
								"sink": {
									"name": "FCDS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BCDS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								},
								"sink": {
									"name": "BCDS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ECCUCD",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ECCUCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ECSTCD",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ECSTCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IIRO",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "IIRO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SCPI",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "SCPI",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "GSCD",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "GSCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WHLC",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "WHLC",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CWHS",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "CWHS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UUCAWH",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "UUCAWH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ETPO",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ETPO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CNTY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "CNTY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STCD",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "STCD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TXCNT",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "TXCNT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TXCIY",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "TXCIY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "WZIP",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "WZIP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STID",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "STID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BFFL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "BFFL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AA0B",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "AA0B",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "UUIAWH",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "UUIAWH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CALP",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "CALP",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CALR",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "CALR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ALST",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "ALST",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "APSW",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "APSW",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "load_date",
									"type": "String"
								},
								"sink": {
									"name": "load_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EDW_WHSMST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SemStaging_WHSMST",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CP_EDW_Staging_PortMaster",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CP_EDW_Staging_WHSMST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Task",
						"value": "To copy Portmater from EDW to Semarchy stg"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "Load_date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Delete from wholesale.PortMaster",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "pteID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "pteID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "pteAESPortCode",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "pteAESPortCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ptePortDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ptePortDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteCityOfPort",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "pteCityOfPort",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteStateOfPort",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "pteStateOfPort",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteCountryOfPort",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "pteCountryOfPort",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteFobPortCode",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "pteFobPortCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteFOBPortActiveRecordFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "pteFOBPortActiveRecordFlag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteEndPortCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "pteEndPortCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteEndPortActiveRecordFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "pteEndPortActiveRecordFlag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteLastModifiedUser",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "pteLastModifiedUser",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteShortPortDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "pteShortPortDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "acrec",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "acrec",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtea",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtec",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteCanadaActiveRecordFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "pteCanadaActiveRecordFlag",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteCanadaBorderServiceAgency",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "pteCanadaBorderServiceAgency",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteZipCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "pteZipCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteGeoLatitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 13
								},
								"sink": {
									"name": "pteGeoLatitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteGeoLongitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 11
								},
								"sink": {
									"name": "pteGeoLongitude",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "pteGeoAccuracy",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "pteGeoAccuracy",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Load_date",
									"type": "String"
								},
								"sink": {
									"name": "load_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EDW_portmater",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SemStaging_Portmaster",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Teams_Failed_Notification_WH_Port",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "AddressMaster",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('AddressMaster').output.executionDetails[0].start\n",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('AddressMaster').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('AddressMaster').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('AddressMaster').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "AshleyWarehouseMaster",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CP_EDW_Staging_PortMaster",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "Load_date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "wmaWarehouse",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaWarehouse",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaLocationId",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "wmaLocationId",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "wmaIntransitWarehouse",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaIntransitWarehouse",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaSiteId",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaSiteId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaMROSiteId",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaMROSiteId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaWarehouseType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaWarehouseType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaWarehouseOrderGroup",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "wmaWarehouseOrderGroup",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaWarehouseSourceId",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "wmaWarehouseSourceId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaRouteType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaRouteType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaDefaultPortId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "wmaDefaultPortId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "wmaControlled",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "wmaControlled",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "wmaPrinterName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "wmaPrinterName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaZebraPrinter",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "wmaZebraPrinter",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaSendBolsToManu",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaSendBolsToManu",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaOrderReleaseMin",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "wmaOrderReleaseMin",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "wmaOrderReleaseMinType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaOrderReleaseMinType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaDefaultShipId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "wmaDefaultShipId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "wmaSortOrder",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "wmaSortOrder",
									"type": "Byte",
									"physicalType": "tinyint"
								}
							},
							{
								"source": {
									"name": "wmaAsOverhead",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "wmaAsOverhead",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "wmaAsFreight",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "wmaAsFreight",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "wmaContainerDirectWhse",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaContainerDirectWhse",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "acrec",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "acrec",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "wmaWhereMade",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "wmaWhereMade",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaManufacturingSite",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "wmaManufacturingSite",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "wmaSellableWarehouse",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "wmaSellableWarehouse",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "Load_date",
									"type": "String"
								},
								"sink": {
									"name": "Load_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AshleyWarehouseMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Sem_Staging_wholesale",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Wholesale",
							"TableName": "AshleyWarehouseMaster"
						}
					}
				]
			},
			{
				"name": "Locations",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "AshleyWarehouseMaster",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "Load_date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Locations",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Sem_Staging_wholesale",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Wholesale",
							"TableName": "Locations"
						}
					}
				]
			},
			{
				"name": "AddressMaster",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Locations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "Load_date",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "paaAddressID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "paaAddressID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "paaAddress1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaAddress1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaAddress2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaAddress2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaAddress3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaAddress3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaAddress4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaAddress4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaAddress5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaAddress5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaCity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaState",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "paaState",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaCountry",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "paaCountry",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaGeocodeLatitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 8
								},
								"sink": {
									"name": "paaGeocodeLatitude",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "paaGeocodeLongitude",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 8
								},
								"sink": {
									"name": "paaGeocodeLongitude",
									"type": "Decimal",
									"physicalType": "decimal"
								}
							},
							{
								"source": {
									"name": "paaZipCode",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaZipCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaCountyCode",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "paaCountyCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaCustomsIDNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaCustomsIDNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaGeocodeAccuracy",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "paaGeocodeAccuracy",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "paaTranscomCityCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "paaTranscomCityCode",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "paaDirections",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaDirections",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaCrossStreet",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaCrossStreet",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaGeocodeVerificationDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "paaGeocodeVerificationDate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "paaTimeZone",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "paaTimeZone",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaGeocodeType",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "paaGeocodeType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaMsa_Fips",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "paaMsa_Fips",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaShortAddress1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaShortAddress1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaShortAddress2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaShortAddress2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaShortAddress3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaShortAddress3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaShortAddress4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaShortAddress4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paaShortCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "paaShortCity",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Load_date",
									"type": "String"
								},
								"sink": {
									"name": "Load_date",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_ASHLEY_EDW_EDME",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Edme_datafactory",
							"TableName": "AddressMaster"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Sem_Staging_wholesale",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "Wholesale",
							"TableName": "AddressMaster"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Wholesale/W_SiteMaster"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-08T10:02:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}