pipeline/Stage_PostalCodeAutomation_US.json
{
	"name": "Stage_PostalCodeAutomation_US",
	"properties": {
		"activities": [
			{
				"name": "Getlicensekey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://afide-edmekv.vault.azure.net/secrets/melissa-data-license-key/b0d3207214ea4b0b9fef24ac132a17e1?api-version=7.0 ",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Getlicensekey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "license_key",
					"value": {
						"value": "@activity('Getlicensekey').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetFilelist",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"httpRequestTimeout": "00:10:00",
					"url": {
						"value": "@concat('https://releases.melissadata.net/releases/data/z5max.txt?FORMAT=JSON&ID=',variables('license_key'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set currentmonthyear",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set parsedatelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Currentmonthyear",
					"value": "@concat(formatDateTime(utcNow(), 'yyyy.MM'))"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set currentmonthyear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('parsedatelist')",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(),variables('Currentmonthyear'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Datelist",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetFilelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "datelist",
					"value": {
						"value": "@activity('GetFilelist').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set parsedatelist",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Datelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "parsedatelist",
					"value": {
						"value": "@json(variables('datelist'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Filter1').output.value),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dummy",
								"value": "'False'"
							}
						},
						{
							"name": "Notify_Teams_Channale_Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"name": "postalcode",
									"message": {
										"value": "'Yet to receive data for this month'",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "dummy",
								"value": "'True'"
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "HttpDataset2",
									"type": "DatasetReference",
									"parameters": {
										"ID": {
											"value": "@variables('license_key')",
											"type": "Expression"
										},
										"Currentmonthyear": {
											"value": "@variables('Currentmonthyear')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_PostalCode_US",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Notify_Teams_Channale_Pipeline_Success",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Notify_Teams_Channale_Pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"message": {
										"value": "'We recived latest postal code data from Melissa team'",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"license_key": {
				"type": "String"
			},
			"folder": {
				"type": "Array"
			},
			"Currentmonthyear": {
				"type": "String"
			},
			"datelist": {
				"type": "String"
			},
			"parsedatelist": {
				"type": "Array"
			},
			"dummy": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Postal_Code"
		},
		"annotations": []
	}
}