pipeline/Stage_Retail_Customer_RetailCustomerLoad_Incremental.json
{
	"name": "Stage_Retail_Customer_RetailCustomerLoad_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Get_All_Storages_Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Current_UTCTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Retail_Customers_Blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@activity('Get_Last_Trigger_Time').output.firstRow.LasteTriggerDateTime",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@variables('ToDateTime')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_All_Storages_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_All_Storages_Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Process_Ashcomm_Files",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(startswith(toLower(string(item().name)),'d365ecm_'),activity('FileExists').output.exists )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "AshcommSetVariable",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileCheck",
											"value": {
												"value": "@concat(item().name,' This is not a ASHCOMM csv file')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Load_ASHCOMM_Data_In_Staging",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "updatedDate",
														"value": {
															"value": "@utcNow()",
															"type": "Expression"
														}
													},
													{
														"name": "createdDate",
														"value": {
															"value": "@utcNow()",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFileName": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "posRawContainerRecID",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "sourceCustomerId",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posFirstName",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "firstName",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posMiddleInitial",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "middleInitial",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posLastName",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "lastName",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerEmail1",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerEmail1",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerEmail2",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerEmail2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerEmail3",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerEmail3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerPhone1",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerPhone1",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerPhone2",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerPhone2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerPhone3",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerPhone3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_address",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "addressLine1",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_addr2",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "addressLine2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_city",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "city",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_state",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "state",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_zip9",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "zipCode",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "market_id",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "marketId",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerType",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "SourceSystem",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "sourceSystem",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "SourceSubSystem",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "sourceSubSystem",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "createdDate",
															"type": "String"
														},
														"sink": {
															"name": "createdDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													},
													{
														"source": {
															"name": "updatedDate",
															"type": "String"
														},
														"sink": {
															"name": "updatedDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Retail_Customer_Files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "D365ECM_CustomerInfo",
												"type": "DatasetReference",
												"parameters": {
													"D365Ecm_Schema": {
														"value": "@split(item().name,'_')[0]",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Archive_ASHCOMM_Files",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Load_ASHCOMM_Data_In_Staging",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"wildcardFileName": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Archive_ASHCOMM_Source_Files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Move_Archive_Folder_Files",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Remove_ASHCOMM_Files_From_Source",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Archive_ASHCOMM_Files",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Remove_ASHCOMM_Files_From_Source",
												"type": "DatasetReference"
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"wildcardFileName": {
													"value": "@{string(item().name)}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "ASHCOMM_SuccessLogging",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Load_ASHCOMM_Data_In_Staging",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[Audit].[uspInsertADFLogging]",
											"storedProcedureParameters": {
												"CopyActivity_End_Time": {
													"value": {
														"value": "@{utcnow()}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyActivity_Start_Time": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.executionDetails[0].start}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyActivity_transferDuration_in_secs": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.executionDetails[0]. detailedDurations.transferDuration}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"CopyDuration_in_secs": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.copyDuration}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Execution_Status": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.executionDetails[0].status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline_Name": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.rowsCopied}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RowsRead": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.rowsRead}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@{pipeline().RunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Sink": {
													"value": {
														"value": "@concat(split(item().name,'_')[0],'.CustomerInfo')",
														"type": "Expression"
													},
													"type": "String"
												},
												"Sink_Type": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.executionDetails[0].sink.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Source": {
													"value": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Source_Type": {
													"value": {
														"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.executionDetails[0].source.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerId": {
													"value": {
														"value": "@{pipeline().TriggerId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerName": {
													"value": {
														"value": "@{pipeline().TriggerName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerTime": {
													"value": {
														"value": "@{pipeline().TriggerTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"TriggerType": {
													"value": {
														"value": "@{pipeline().TriggerType}",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "semarchy_staging",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "ASHCOMM_File_NotFound",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Load_ASHCOMM_Data_In_Staging",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "ASHCOMMErrorCode",
											"value": {
												"value": "@string(activity('Load_ASHCOMM_Data_In_Staging').output.errors[0].Code)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Error_ASHCOMM_Files",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Load_ASHCOMM_Data_In_Staging",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"wildcardFileName": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Archive_ASHCOMM_Source_Files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Move_ASHCOMM_File_Error_Folder",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Remove_ASHCOMM_Error_Files_From_Source",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Error_ASHCOMM_Files",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Remove_ASHCOMM_Files_From_Source",
												"type": "DatasetReference"
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"wildcardFileName": {
													"value": "@{string(item().name)}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Fail_Ashcom_Files",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Stage_Retail_Customer_Failure_Notification_ASHCOMM",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@{activity('Load_ASHCOMM_Data_In_Staging').error.message}",
												"type": "Expression"
											},
											"errorCode": {
												"value": "@{activity('Load_ASHCOMM_Data_In_Staging').error.errorCode}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Stage_Retail_Customer_Failure_Notification_ASHCOMM",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Load_ASHCOMM_Data_In_Staging",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Stage_Retail_Customer_Failure_Notification",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"ErrorCode": {
													"value": "@{activity('Load_ASHCOMM_Data_In_Staging').error.errorCode}",
													"type": "Expression"
												},
												"ErrorMsg": {
													"value": "@replace(activity('Load_ASHCOMM_Data_In_Staging').error.message,'\"','')",
													"type": "Expression"
												},
												"ErrorStatusCode": {
													"value": "@activity('Load_ASHCOMM_Data_In_Staging').StatusCode",
													"type": "Expression"
												},
												"FailureType": {
													"value": "@{activity('Load_ASHCOMM_Data_In_Staging').error.failureType}",
													"type": "Expression"
												},
												"PipelineName": {
													"value": "@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"RunID": {
													"value": "@{pipeline().RunId}",
													"type": "Expression"
												},
												"Sink": {
													"value": "@concat(split(item().name,'_')[0],'.CustomerInfo')",
													"type": "Expression"
												},
												"Sink_Type": {
													"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.executionDetails[0].sink.type}",
													"type": "Expression"
												},
												"Source": {
													"value": "@string(item().name)",
													"type": "Expression"
												},
												"Source_Type": {
													"value": "@{activity('Load_ASHCOMM_Data_In_Staging').output.executionDetails[0].source.type}",
													"type": "Expression"
												},
												"TriggerId": {
													"value": "@{pipeline().TriggerId}",
													"type": "Expression"
												},
												"TriggerName": {
													"value": "@{pipeline().TriggerName}",
													"type": "Expression"
												},
												"TriggerTime": {
													"value": "@{pipeline().TriggerTime}",
													"type": "Expression"
												},
												"TriggerType": {
													"value": "@{pipeline().TriggerType}",
													"type": "Expression"
												},
												"status": {
													"value": "@activity('Load_ASHCOMM_Data_In_Staging').Status",
													"type": "Expression"
												},
												"runDuration": {
													"value": "@activity('Load_ASHCOMM_Data_In_Staging').Duration",
													"type": "Expression"
												},
												"executionEndTime": {
													"value": "@activity('Load_ASHCOMM_Data_In_Staging').ExecutionEndTime",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Process_Homes_Files",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FileExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(startswith(toLower(string(item().name)),'homes'),activity('FileExists').output.exists )\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "HomesSetVariable",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileCheck",
											"value": {
												"value": "@concat(item().name,' This is not a Homes csv file')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Load_RET_Data_In_Staging",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "updatedDate",
														"value": {
															"value": "@utcNow()",
															"type": "Expression"
														}
													},
													{
														"name": "createdDate",
														"value": {
															"value": "@utcNow()",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFileName": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"enableSkipIncompatibleRow": true,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "posRawContainerRecID",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "sourceCustomerId",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posFirstName",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "firstName",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posMiddleInitial",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "middleInitial",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posLastName",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "lastName",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerEmail1",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerEmail1",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerEmail2",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerEmail2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerEmail3",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerEmail3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerPhone1",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerPhone1",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerPhone2",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerPhone2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "posCustomerPhone3",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerPhone3",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_address",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "addressLine1",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_addr2",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "addressLine2",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_city",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "city",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_state",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "state",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "n_zip9",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "zipCode",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "market_id",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "marketId",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerType",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "customer_since",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "customerSince",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													},
													{
														"source": {
															"name": "SourceSystem",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "sourceSystem",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "createdDate",
															"type": "String"
														},
														"sink": {
															"name": "createdDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													},
													{
														"source": {
															"name": "updatedDate",
															"type": "String"
														},
														"sink": {
															"name": "updatedDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Retail_Customer_Files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Homes_CustomerInfo",
												"type": "DatasetReference",
												"parameters": {
													"Homes_Table_Schema": {
														"value": "@split(item().name,'_')[0]",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Archive_RET_Files",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Load_RET_Data_In_Staging",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"wildcardFileName": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Archive_Homes_Source_Files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Move_Archive_Folder_Files",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Remove_RET_Files_From_Source",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Archive_RET_Files",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Remove_Homes_Files_From_Source",
												"type": "DatasetReference"
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"wildcardFileName": {
													"value": "@{string(item().name)}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "RET_SuccessLogging",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Load_RET_Data_In_Staging",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[Audit].[uspInsertADFLogging]",
											"storedProcedureParameters": {
												"CopyActivity_End_Time": {
													"value": {
														"value": "@{utcnow()}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyActivity_Start_Time": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.executionDetails[0].start}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"CopyActivity_transferDuration_in_secs": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.executionDetails[0]. detailedDurations.transferDuration}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"CopyDuration_in_secs": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.copyDuration}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"Execution_Status": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.executionDetails[0].status}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Pipeline_Name": {
													"value": {
														"value": "@{pipeline().Pipeline}",
														"type": "Expression"
													},
													"type": "String"
												},
												"RowsCopied": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.rowsCopied}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RowsRead": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.rowsRead}",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"RunId": {
													"value": {
														"value": "@{pipeline().RunId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Sink": {
													"value": {
														"value": "@concat(split(item().name,'_')[0],'.CustomerInfo')",
														"type": "Expression"
													},
													"type": "String"
												},
												"Sink_Type": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.executionDetails[0].sink.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"Source": {
													"value": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"type": "String"
												},
												"Source_Type": {
													"value": {
														"value": "@{activity('Load_RET_Data_In_Staging').output.executionDetails[0].source.type}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerId": {
													"value": {
														"value": "@{pipeline().TriggerId}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerName": {
													"value": {
														"value": "@{pipeline().TriggerName}",
														"type": "Expression"
													},
													"type": "String"
												},
												"TriggerTime": {
													"value": {
														"value": "@{pipeline().TriggerTime}",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"TriggerType": {
													"value": {
														"value": "@{pipeline().TriggerType}",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "semarchy_staging",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "RET_File_NotFound",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Load_RET_Data_In_Staging",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "RETErrorCode",
											"value": {
												"value": "@string(activity('Load_RET_Data_In_Staging').output.errors[0].Code)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Error_RET_Files",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Load_RET_Data_In_Staging",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": false,
													"wildcardFileName": {
														"value": "@string(item().name)",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Archive_Homes_Source_Files",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Move_Homes_File_Error_Folder",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Remove_RET_Error_Files_From_Source",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "Error_RET_Files",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Remove_Homes_Files_From_Source",
												"type": "DatasetReference"
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"wildcardFileName": {
													"value": "@{string(item().name)}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "Fail_RET_Files",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Stage_Retail_Customer_Failure_Notification_Homes",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@{activity('Load_RET_Data_In_Staging').error.message}",
												"type": "Expression"
											},
											"errorCode": {
												"value": "@{activity('Load_RET_Data_In_Staging').error.errorCode}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Stage_Retail_Customer_Failure_Notification_Homes",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Load_RET_Data_In_Staging",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Stage_Retail_Customer_Failure_Notification",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"ErrorCode": {
													"value": "@{activity('Load_RET_Data_In_Staging').error.errorCode}",
													"type": "Expression"
												},
												"ErrorMsg": {
													"value": "@replace(activity('Load_RET_Data_In_Staging').error.message,'\"','')",
													"type": "Expression"
												},
												"ErrorStatusCode": {
													"value": "@activity('Load_RET_Data_In_Staging').StatusCode",
													"type": "Expression"
												},
												"FailureType": {
													"value": "@{activity('Load_RET_Data_In_Staging').error.failureType}",
													"type": "Expression"
												},
												"PipelineName": {
													"value": "@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"RunID": {
													"value": "@{pipeline().RunId}",
													"type": "Expression"
												},
												"Sink": {
													"value": "@concat(split(item().name,'_')[0],'.CustomerInfo')",
													"type": "Expression"
												},
												"Sink_Type": {
													"value": "@{activity('Load_RET_Data_In_Staging').output.executionDetails[0].sink.type}",
													"type": "Expression"
												},
												"Source": {
													"value": "@string(item().name)",
													"type": "Expression"
												},
												"Source_Type": {
													"value": "@{activity('Load_RET_Data_In_Staging').output.executionDetails[0].source.type}",
													"type": "Expression"
												},
												"TriggerId": {
													"value": "@{pipeline().TriggerId}",
													"type": "Expression"
												},
												"TriggerName": {
													"value": "@{pipeline().TriggerName}",
													"type": "Expression"
												},
												"TriggerTime": {
													"value": "@{pipeline().TriggerTime}",
													"type": "Expression"
												},
												"TriggerType": {
													"value": "@{pipeline().TriggerType}",
													"type": "Expression"
												},
												"status": {
													"value": "@activity('Load_RET_Data_In_Staging').Status",
													"type": "Expression"
												},
												"runDuration": {
													"value": "@activity('Load_RET_Data_In_Staging').Duration",
													"type": "Expression"
												},
												"executionEndTime": {
													"value": "@activity('Load_RET_Data_In_Staging').ExecutionEndTime",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "FileExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "FileExists",
									"type": "DatasetReference",
									"parameters": {
										"FilesExists": {
											"value": "@string(item().name)",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get_Last_Trigger_Time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(LasteTriggerDateTime) AS LasteTriggerDateTime FROM Audit.ADFRetailCustomerWatermark WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetLastTriggerTime",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Current_UTCTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_Last_Trigger_Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ToDateTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update_Trigger_Time",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Current_UTCTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "LasteTriggerDateTime",
								"value": {
									"value": "@variables('ToDateTime')",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "SELECT MAX(LasteTriggerDateTime) AS DateTime FROM Audit.ADFRetailCustomerWatermark WITH(NOLOCK)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE Audit.ADFRetailCustomerWatermark",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LasteTriggerDateTime"
								},
								"sink": {
									"name": "LasteTriggerDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "GetLastTriggerTime",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADFRetailCustomerWatermark",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"FileCheck": {
				"type": "String"
			},
			"TableSchema": {
				"type": "String"
			},
			"ToDateTime": {
				"type": "String"
			},
			"RETErrorCode": {
				"type": "String"
			},
			"ASHCOMMErrorCode": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Retail_Customer_Flow"
		},
		"annotations": []
	}
}