pipeline/Stage_Retail_SiteMasterLoad_EDW.json
{
	"name": "Stage_Retail_SiteMasterLoad_EDW",
	"properties": {
		"activities": [
			{
				"name": "OSLocation",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT oslLocationID,\noslAccountNo,\noslShipTo,\noslLocationName,\noslAddress1,\noslAddress2,\noslCity,\noslState,\noslZip,\noslCountry,\noslCounty,\noslPrimaryPhone,\noslPrimaryFax,\noslPrimaryEmail,\noslLatitude,\noslLongitude,\noslLocationStatus,\noslLocationStatusNotes,\noslLegacyLocationID,\noslWhseShipTo,\noslProspectID,\noslOwnerType,\noslLta,\noslDMA,\noslMSA,\noslCountyFips,\noslMarketZone,\noslOpAreaZone,\noslCurrency,\noslLanguage,\noslTimeZone,\noslGeographicZone,\noslStatus,\noslStatusNotes,\noslLocationType,\noslSoftOpenDate,\noslGrandOpenDate,\noslClosed,\noslClosedDate,\noslClosedAuthorization,\noslRelocated,\noslRelocationCloseDate,\noslRelocationOpenDate,\noslRelocationNotes,\noslAcquisition,\noslAcquisitionDate,\noslAcquisitionNotes,\noslPreOpenComments,\noslTUAID,\noslTUADate,\noslTUAExpireDate,\noslTUATerm,\noslTUADateComplete,\noslTurnoverDate,\noslRecordChangesFlag,\noslOperationsIntroDate,\noslMsPipelineDate,\noslLicenseeID,\nusra,\ndtea,\nusrc,\ndtec,\noslAddress3,\noslStoreRefresh,\noslStoreRefreshDate,\noslStoreRefreshNotes,\noslmPlansSubToDesign,\noslmPRMeeting,\noslmPlansSentToOwnerLic,\noslURLRegistration,\noslEnterpriseStoreNumber FROM [EDME_DataFactory].OSLocation WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[OSLocation]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "oslLocationID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "oslLocationID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "oslAccountNo",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "oslAccountNo",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "oslShipTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslShipTo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslAddress1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAddress1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslAddress2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAddress2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslState",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslState",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslZip",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslZip",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCountry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCounty",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCounty",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPrimaryPhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPrimaryPhone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPrimaryFax",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPrimaryFax",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPrimaryEmail",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPrimaryEmail",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLatitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLatitude",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLongitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLongitude",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslWhseShipTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslWhseShipTo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslProspectID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslProspectID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslOwnerType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslOwnerType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLta",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLta",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslDMA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslDMA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMSA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMSA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCountyFips",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslCountyFips",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMarketZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMarketZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslOpAreaZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslOpAreaZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslCurrency",
									"type": "String",
									"physicalType": "char"
								},
								"sink": {
									"name": "oslCurrency",
									"type": "String",
									"physicalType": "char"
								}
							},
							{
								"source": {
									"name": "oslLanguage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLanguage",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTimeZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslTimeZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslGeographicZone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslGeographicZone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStatusNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLocationType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLocationType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslSoftOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslSoftOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslGrandOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslGrandOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslClosed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslClosed",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslClosedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslClosedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslClosedAuthorization",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslClosedAuthorization",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslRelocated",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslRelocated",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslRelocationCloseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslRelocationCloseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslRelocationOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslRelocationOpenDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslRelocationNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslRelocationNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslAcquisition",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslAcquisition",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslAcquisitionDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslAcquisitionDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslAcquisitionNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAcquisitionNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPreOpenComments",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPreOpenComments",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTUAID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslTUAID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTUADate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTUADate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslTUAExpireDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTUAExpireDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslTUATerm",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslTUATerm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslTUADateComplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTUADateComplete",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslTurnoverDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslTurnoverDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslRecordChangesFlag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslRecordChangesFlag",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslOperationsIntroDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslOperationsIntroDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslMsPipelineDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslMsPipelineDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslLicenseeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "oslLicenseeID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslAddress3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslAddress3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslStoreRefresh",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslStoreRefresh",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslStoreRefreshDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslStoreRefreshDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslStoreRefreshNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStoreRefreshNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslmPlansSubToDesign",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslmPlansSubToDesign",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslmPRMeeting",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslmPRMeeting",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslmPlansSentToOwnerLic",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslmPlansSentToOwnerLic",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslURLRegistration",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslURLRegistration",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslEnterpriseStoreNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslEnterpriseStoreNumber",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EDW_SiteMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_OSLocation",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "OsOneSource",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT osOneSourceID,\nosOneSourceName,\nosLegacyLocationID,\nosLegacyStoreID,\nosProfitCenter,\nosChannel,\nosActive,\nosStoreType,\nosSource,\nosLocationID,\nosStartDate,\nosEndDate,\nusra,\ndtea,\nusrc,\ndtec,\nosProfitCenterType,\nosProfitCenterStatus FROM [EDME_DataFactory].OSOneSource WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[OsOneSource]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "osOneSourceID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "osOneSourceID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "osOneSourceName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osOneSourceName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osLegacyLocationID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osLegacyStoreID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								},
								"sink": {
									"name": "osLegacyStoreID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "osProfitCenter",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								},
								"sink": {
									"name": "osProfitCenter",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "osChannel",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osChannel",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osActive",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "osActive",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "osStoreType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osStoreType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osSource",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osSource",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osLocationID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "osLocationID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "osStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "osStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "osEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "osEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtec",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "osProfitCenterType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osProfitCenterType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "osProfitCenterStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "osProfitCenterStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EDW_SiteMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_OSOneSource",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "OSLicensee",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OsOneSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT oslLicenseeID,\noslStoreType,\noslLicenseeNotes,\noslPrimaryCountry,\noslStatus,\noslActive,\noslActiveDate,\noslActiveNotes,\noslGuarantors,\noslMailingAddress1,\noslMailingAddress2,\noslMailingCity,\noslMailingState,\noslMailingZip,\noslMailingCountry,\noslLegalEntityName,\noslLegalEntityAddress1,\noslLegalEntityAddress2,\noslLegalEntityCity,\noslLegalEntityState,\noslLegalEntityZip,\noslLegalEntityCountry,\nusra,\ndtea,\nusrc,\ndetc,\noslLicensedTerritory,\noslDisclosureDocument,\noslMailingAdd FROM [EDME_DataFactory].OSLicensee WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[OSLicensee]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "oslLicenseeID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "oslLicenseeID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "oslStoreType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStoreType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLicenseeNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLicenseeNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslPrimaryCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslPrimaryCountry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslActive",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "oslActive",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "oslActiveDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "oslActiveDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "oslActiveNotes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslActiveNotes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslGuarantors",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslGuarantors",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMailingAddress1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMailingAddress1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMailingAddress2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMailingAddress2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMailingCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMailingCity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMailingState",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMailingState",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMailingZip",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMailingZip",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslMailingCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMailingCountry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegalEntityName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegalEntityName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegalEntityAddress1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegalEntityAddress1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegalEntityAddress2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegalEntityAddress2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegalEntityCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegalEntityCity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegalEntityState",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegalEntityState",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegalEntityZip",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegalEntityZip",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslLegalEntityCountry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLegalEntityCountry",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usra",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "dtea",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "usrc",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "detc",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "detc",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslLicensedTerritory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslLicensedTerritory",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "oslDisclosureDocument",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "oslDisclosureDocument",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "oslMailingAdd",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "oslMailingAdd",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EDW_SiteMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_OSLicensee",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoreMasterCustom",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OSLicensee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT [Status] AS Status,\n[LocationKey] AS LocationKey,\n[Prospect ID] AS ProspectID,\n[Google ID] AS GoogleID,\n[Bindy ID] AS BindyID,\n[StoreID] AS StoreID,\n[ProfitCenter] AS ProfitCenter,\n[Location] AS Location,\n[Country] AS Country,\n[Account #] AS Account,\n[Store Front Ship-To] AS StoreFrontShipTo,\n[Entity] AS Entity,\n[Licensee / Contact] AS LicenseeContact,\n[Soft Open Date] AS SoftOpenDate,\n[Acquisition Date] AS AcquisitionDate,\n[Closure Date] AS ClosureDate,\n[ShopperTrakLocID] AS ShopperTrakLocID,\n[Store Address] AS StoreAddress,\n[City] AS City,\n[State / Province] AS StateProvince,\n[ZIP] AS ZIP,\n[DMA ID] AS DMAID,\n[DMA Region] AS DMARegion,\n[Showroom Sq. Ft.] AS ShowroomSqFt,\n[Store Type] AS StoreType,\n[Store Model] AS StoreModel,\n[Store Version] AS StoreVersion,\n[Market] AS Market,\n[Region] AS Region,\n[Building Ownership] AS BuildingOwnership,\n[Country Category] AS CountryCategory,\n[Domestic Category] AS DomesticCategory,\n[Classification] AS Classification,\n[Store Phone] AS StorePhone,\n[District Manager] AS DistrictManager,\n[BDDirector] AS BDDirector,\n[Licensee Email] AS LicenseeEmail,\n[Licensee Phone #] AS LicenseePhone,\n[Corporation Address] AS CorporationAddress,\n[Corp City] AS CorpCity,\n[Corp State] AS CorpState,\n[Corp Zip] AS CorpZip,\n[RDC Address] AS RDCAddress,\n[RDC City] AS RDCCity,\n[RDC State] AS RDCState,\n[RDC Zip] AS RDCZip,\n[RDC Ship To] AS RDCShipTo,\n[RDC Sq. Ft.] AS RDCSqFt,\n[RDC Dock Doors] AS RDCDockDoors,\n[TUA Expiration Date] AS TUAExpirationDate,\n[Licensed Territory] AS LicensedTerritory,\n[Latitude] AS Latitude,\n[Longitude] AS Longitude,\n[Notes] AS Notes,\n[Store Email] AS StoreEmail,\n[Unit #] AS Unit,\n[OneSource ID] AS OneSourceID,\n[HS Database Name] AS HSDatabaseName,\n[SVP] AS SVP,\n[VP] AS VP,\n[Sr. RD] AS SrRD,\n[RD] AS RD,\n[Store Manager] AS StoreManager,\n[Store Mgr. Phone] AS StoreMgrPhone,\n[Sales Manager (1)] AS SalesManager1,\n[Sales Manager (2)] AS SalesManager2,\n[Sales Manager (3)] AS SalesManager3,\n[Sales Manager (4)] AS SalesManager4,\n[Office Manager] AS OfficeManager,\n[Director of Ops] AS DirectorOfOps,\n[Regional Ops Mgr] AS RegionalOpsMgr,\n[Ops Mgr] AS OpsMgr,\n[Comp Status] AS CompStatus,\n[Kit #] AS Kit,\n[Traffic Divisor] AS TrafficDivisor,\n[ERP] AS ERP,\n[DTC Technology] AS DTCTechnology,\n[DTC Brand] AS DTCBrand,\n[Forum ID] AS ForumID,\n[Account Type] AS AccountType,\n[Facade Current Image] AS FacadeCurrentImage,\n[Website Facade Current] AS WebsiteFacadeCurrent\n--,[Store Manager Image] AS StoreManagerImage\nFROM EDME_DataFactory.StoreMasterCustom WITH(NOLOCK)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [EDW].[StoreMasterCustom]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LocationKey",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LocationKey",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ProspectID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProspectID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "GoogleID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "GoogleID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BindyID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BindyID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ProfitCenter",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ProfitCenter",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Location",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Location",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Account",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Account",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreFrontShipTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreFrontShipTo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Entity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Entity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LicenseeContact",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LicenseeContact",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SoftOpenDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "SoftOpenDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "AcquisitionDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "AcquisitionDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ClosureDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ClosureDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "ShopperTrakLocID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShopperTrakLocID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreAddress",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreAddress",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StateProvince",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StateProvince",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ZIP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ZIP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DMAID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DMAID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DMARegion",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DMARegion",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ShowroomSqFt",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ShowroomSqFt",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreModel",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreModel",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreVersion",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreVersion",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Market",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Market",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BuildingOwnership",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BuildingOwnership",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CountryCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CountryCategory",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DomesticCategory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DomesticCategory",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Classification",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Classification",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StorePhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StorePhone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DistrictManager",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DistrictManager",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "BDDirector",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BDDirector",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LicenseeEmail",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LicenseeEmail",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LicenseePhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LicenseePhone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorporationAddress",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorporationAddress",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorpCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorpCity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorpState",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorpState",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CorpZip",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CorpZip",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RDCAddress",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RDCAddress",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RDCCity",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RDCCity",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RDCState",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RDCState",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RDCZip",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RDCZip",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RDCShipTo",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RDCShipTo",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RDCSqFt",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RDCSqFt",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RDCDockDoors",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RDCDockDoors",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TUAExpirationDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "TUAExpirationDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "LicensedTerritory",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LicensedTerritory",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Latitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Latitude",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Longitude",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Longitude",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Notes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Notes",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreEmail",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreEmail",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Unit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OneSourceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OneSourceID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "HSDatabaseName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "HSDatabaseName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SVP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SVP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "VP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "VP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SrRD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SrRD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreManager",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreManager",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreMgrPhone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreMgrPhone",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SalesManager1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SalesManager1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SalesManager2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SalesManager2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SalesManager3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SalesManager3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SalesManager4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SalesManager4",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OfficeManager",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OfficeManager",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DirectorOfOps",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DirectorOfOps",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RegionalOpsMgr",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RegionalOpsMgr",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OpsMgr",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OpsMgr",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CompStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CompStatus",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Kit",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Kit",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TrafficDivisor",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TrafficDivisor",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ERP",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ERP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DTCTechnology",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DTCTechnology",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DTCBrand",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DTCBrand",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ForumID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ForumID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AccountType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AccountType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FacadeCurrentImage",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FacadeCurrentImage",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WebsiteFacadeCurrent",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "WebsiteFacadeCurrent",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EDW_SiteMaster",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EDW_StoreMasterCustom",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "OSLocation_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('OSLocation').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('OSLocation').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('OSLocation').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('OSLocation').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "OsOneSource_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OsOneSource",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('OsOneSource').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('OsOneSource').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('OsOneSource').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('OsOneSource').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OsOneSource",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSOneSource",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "OSLicensee_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OSLicensee",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('OSLicensee').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('OSLicensee').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('OSLicensee').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('OSLicensee').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OSLicensee",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OSLicensee').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSLicensee",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OSLicensee').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "StoreMasterCustom_ErrorLoags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "StoreMasterCustom",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('StoreMasterCustom').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('StoreMasterCustom').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('StoreMasterCustom').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('StoreMasterCustom').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.StoreMasterCustom",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.StoreMasterCustom",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_OSLocation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('OSLocation').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('OSLocation').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('OSLocation').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('OSLocation').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_OsOneSource",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OsOneSource",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('OsOneSource').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('OsOneSource').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('OsOneSource').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('OsOneSource').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_StoreMasterCustom",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "StoreMasterCustom",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('StoreMasterCustom').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('StoreMasterCustom').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('StoreMasterCustom').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('StoreMasterCustom').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Teams_Failed_Notification_OSLicensee",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "OSLicensee",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('OSLicensee').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('OSLicensee').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('OSLicensee').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('OSLicensee').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "OSLocation_SuccessLogging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OSLocation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFLogging]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('OSLocation').output.copyDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('OSLocation').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@{activity('OSLocation').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSLocation",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OSLocation').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "OsOneSourc_SuccessLogging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OsOneSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFLogging]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('OsOneSource').output.copyDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('OsOneSource').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@{activity('OsOneSource').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OsOneSource",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSOneSource",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OsOneSource').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "OSLicensee_SuccessLogging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "OSLicensee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFLogging]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('OSLicensee').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('OSLicensee').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('OSLicensee').output.copyDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('OSLicensee').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('OSLicensee').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@{activity('OSLicensee').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.OSLicensee",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('OSLicensee').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.OSLicensee",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('OSLicensee').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "StoreMasterCustom_SuccessLogging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "StoreMasterCustom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFLogging]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.copyDuration}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "EDW.StoreMasterCustom",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "EDME_DataFactory.StoreMasterCustom",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('StoreMasterCustom').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Site_Master"
		},
		"annotations": []
	}
}