pipeline/Store_DAC_Location_Details.json
{
	"name": "Store_DAC_Location_Details",
	"properties": {
		"activities": [
			{
				"name": "GetContinuationToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetModifiedDateTo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',variables('AccountID'),'&PageSize=25&&ContinuationToken=')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Ocp-Apim-Subscription-Key": {
							"value": "@variables('SubscriptionKey')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetContinuationToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetContinuationToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token_var",
					"value": {
						"value": "@activity('GetContinuationToken').output.ContinuationToken",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DeleteJsonAPIs",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DAC_Location_List_Read",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "masterDataHubStg",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "SetModifiedDateTo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DeleteJsonAPIs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ModifiedDateTo",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetModifiedDateFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DeleteJsonAPIs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ModifiedDateFrom",
					"value": {
						"value": "@formatDateTime(convertTimeZone(adddays(startOfDay(utcnow()),0),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetCountOfData",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetContinuationToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',variables('AccountID'),'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=', variables('token_var'))",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Ocp-Apim-Subscription-Key": {
							"value": "@variables('SubscriptionKey')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetDataCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetCountOfData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "GetCountData",
					"value": {
						"value": "@string(activity('GetCountOfData').output.Count)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UntilLastPage",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetDataCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('loop_var'),false)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CheckCount",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(variables('GetCountData')),0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "GetCountData",
											"value": {
												"value": "@string(activity('GetCountOfData').output.Count)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "count is not > 0 ",
											"errorCode": "due to count is not > 0 that's why pipeline was failed"
										}
									}
								]
							}
						},
						{
							"name": "CopyDACApiResponse",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"MaxRequestNumber": "48",
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DataAnyWhereProdRestResource",
									"type": "DatasetReference",
									"parameters": {
										"relative_url_param": {
											"value": "@concat('locations-api-read/locations?AccountID=',variables('AccountID'),'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=')",
											"type": "Expression"
										},
										"continuation_token_param": {
											"value": "@variables('token_var')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DAC_Location_List_Write",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat('Json_Output_', convertFromUtc(utcnow(), 'Eastern Standard Time'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetNextToken",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "CopyDACApiResponse",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',variables('AccountID'),'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=', variables('token_var'))",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Ocp-Apim-Subscription-Key": {
										"value": "@variables('SubscriptionKey')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "HasNextToken",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetNextToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('GetNextToken').output.Count,25)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SetLoopValueFalse",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "loop_var",
											"value": false
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SetLoopValueTrue",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "loop_var",
											"value": true
										}
									},
									{
										"name": "SetNextToken",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SetLoopValueTrue",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "token_var",
											"value": {
												"value": "@activity('GetNextToken').output.ContinuationToken",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"url_param": {
				"type": "string",
				"defaultValue": "  https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=836c0e43-b4f9-41b8-80e6-fd2bee658dee&PageSize=25&ContinuationToken="
			}
		},
		"variables": {
			"token_var": {
				"type": "String"
			},
			"loop_var": {
				"type": "Boolean",
				"defaultValue": false
			},
			"AccountID": {
				"type": "String",
				"defaultValue": "9c249f2d-e157-4844-96fd-c6bbbcc30122"
			},
			"ModifiedDateTo": {
				"type": "String"
			},
			"ModifiedDateFrom": {
				"type": "String"
			},
			"SubscriptionKey": {
				"type": "String",
				"defaultValue": "f0c0b043ecb44804aed243980209bf89"
			},
			"GetCountData": {
				"type": "String"
			}
		},
		"annotations": []
	}
}