pipeline/Store_DAC_Location_Details.json
{
	"name": "Store_DAC_Location_Details",
	"properties": {
		"activities": [
			{
				"name": "UntilLastPage",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "SetDataCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('loop_var'),false)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetNextToken",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "CheckCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=', variables('token_var'))",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Ocp-Apim-Subscription-Key": {
										"value": "@pipeline().globalParameters.DAC_SubscriptionKey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "HasNextToken",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetNextToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('GetNextToken').output.Count,25)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SetLoopValueFalse",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "loop_var",
											"value": false
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SetLoopValueTrue",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "loop_var",
											"value": true
										}
									},
									{
										"name": "SetNextToken",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SetLoopValueTrue",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "token_var",
											"value": {
												"value": "@activity('GetNextToken').output.ContinuationToken",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "CheckCount",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(int(variables('GetCountData')),0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "FiledCount",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat('Data Not Found from Date ',variables('ModifiedDateFrom'),' to Date ',variables('ModifiedDateTo'))",
												"type": "Expression"
											},
											"errorCode": "404"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "CopyDACApiResponse",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET",
												"paginationRules": {
													"MaxRequestNumber": "48",
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DataAnyWhereProdRestResource",
												"type": "DatasetReference",
												"parameters": {
													"relative_url_param": {
														"value": "@concat('locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=')",
														"type": "Expression"
													},
													"continuation_token_param": {
														"value": "@variables('token_var')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DAC_Location_List_Write",
												"type": "DatasetReference",
												"parameters": {
													"FileName": {
														"value": "@concat('Json_Output_', convertFromUtc(utcnow(), 'Eastern Standard Time'))",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "GetContinuationToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "DeleteJsonAPIs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&&ContinuationToken=')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Ocp-Apim-Subscription-Key": {
							"value": "@pipeline().globalParameters.DAC_SubscriptionKey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetContinuationToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetContinuationToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token_var",
					"value": {
						"value": "@activity('GetContinuationToken').output.ContinuationToken",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DeleteJsonAPIs",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DAC_Location_List_Read",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "masterDataHubStg",
							"type": "LinkedServiceReference"
						}
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "SetModifiedDateTo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DeleteJsonAPIs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ModifiedDateTo",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetModifiedDateFrom",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DeleteJsonAPIs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ModifiedDateFrom",
					"value": {
						"value": "2022-05-18",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetCountOfData",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetContinuationToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=', variables('token_var'))",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Ocp-Apim-Subscription-Key": {
							"value": "@pipeline().globalParameters.DAC_SubscriptionKey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetDataCount",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetCountOfData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "GetCountData",
					"value": {
						"value": "@string(activity('GetCountOfData').output.Count)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"token_var": {
				"type": "String"
			},
			"loop_var": {
				"type": "Boolean",
				"defaultValue": false
			},
			"ModifiedDateTo": {
				"type": "String"
			},
			"ModifiedDateFrom": {
				"type": "String"
			},
			"GetCountData": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-26T06:05:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}