pipeline/Storis_Integration_WH.json
{
	"name": "Storis_Integration_WH",
	"properties": {
		"activities": [
			{
				"name": "IncrementalSAStoris_Intgeration_WH",
				"description": "select all data from SA_Storis_Intgeration view",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LoadId",
								"value": {
									"value": "@pipeline().parameters.B_loadid",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "B_CREDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "Select \nB_Sourceid\n,B_PUBID\n,'Site' as B_CLASSNAME\n,StoreType as Type\n,B_DELETETYPE\n,B_DELETEDATE\n,B_DELETEAUTHOR\n,B_DELETEOPERATION\nFROM RsmSiteSubscriber.site_source_WH_Incremental",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadId",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_Sourceid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Storis_Integration_Site_WH",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SPCallStoreDetailsErrorMsg_storisintegration",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSAStoris_Intgeration_WH",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('IncrementalSAStoris_Intgeration_WH').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('IncrementalSAStoris_Intgeration_WH').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('IncrementalSAStoris_Intgeration_WH').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('IncrementalSAStoris_Intgeration_WH').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SD_SITE_MAIN",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('IncrementalSAStoris_Intgeration_WH').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "Retail.DACIncrementalSiteMain",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('IncrementalSAStoris_Intgeration_WH').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_storis_Integration",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "IncrementalSAStoris_Intgeration_WH",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('IncrementalSAStoris_Intgeration_WH').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('IncrementalSAStoris_Intgeration_WH').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('IncrementalSAStoris_Intgeration_WH').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('IncrementalSAStoris_Intgeration_WH').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda/V28E5kP8YZAlzxR47diCA_z54ghZOHwx7-ds0EdE-hZG41",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cancel_storis_Integration_LoadId_Stored_Procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalSAStoris_Intgeration_WH",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.B_LoadID",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Storis_Integration_His_WH",
				"description": "select all data from ZipAllocation_INC_V view",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IncrementalSAStoris_Intgeration_WH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LoadId",
								"value": {
									"value": "@pipeline().parameters.B_loadid",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT \n B_Sourceid\n,B_PUBID\n,StoreType \n,StoreID\n,B_DELETETYPE\n,B_DELETEDATE\n,B_DELETEAUTHOR\n,B_DELETEOPERATION\n,Activity_Type\n,IsActiveType\nFROM RsmSiteSubscriber.site_source_WH_Incremental",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_Sourceid"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_Sourceid",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_Sourceid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "Activity_Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Activity_Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsActiveType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IsActiveType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_LoadId",
									"type": "String"
								},
								"sink": {
									"name": "B_LoadID",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Semarchy_Staging_sit_his_StorisIntegration_WH",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "WH_LE_Tracker_storis_integration",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Storis_Integration_His_WH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LoadId",
								"value": {
									"value": "@pipeline().parameters.B_loadid",
									"type": "Expression"
								}
							},
							{
								"name": "B_UPDDATE",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							{
								"name": "B_CREDATE",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT  \nAddress1 as SITE_RAW_ADDR_LINE1\n,State as SITE_RAW_STATE\n,City as SITE_RAW_CITY\n,PostalCodeID as SITE_RAW_POSTAL_CODE\n,StoreID as PRIMARY_PROFIT_CENTER\n,Operation_ID\n,B_PUBID\n,B_SourceID\n,B_DELETETYPE\n,B_DELETEDATE\n,B_DELETEAUTHOR\n,B_DELETEOPERATION\n,Concat(StoreID,'-',upper('Warehouse')) as FS_SITE_ID  \n,B_PubID as FP_SITE_ID\n,'WarehouseLegalEntityTracking' as B_CLASSNAME\nFROM RsmSiteSubscriber.WH_LE_Tracker_Incremental",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadId",
									"type": "String"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SourceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CREDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "B_UPDDATE",
									"type": "String"
								},
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "Operation_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OPERATION_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRIMARY_PROFIT_CENTER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRIMARY_PROFIT_CENTER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_RAW_ADDR_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_RAW_CITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_RAW_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_RAW_STATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_RAW_STATE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_RAW_POSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FP_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FS_SITE_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Retail_SiteMaster_StirisIntegration_LE_WH_Tracker",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SPCallStoreDetailsErrorMsg_SD_HS_OPC_TRACKING",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WH_LE_Tracker_storis_integration",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Audit].[uspInsertADFErrorLog]",
					"storedProcedureParameters": {
						"ErrorCode": {
							"value": {
								"value": "@{activity('WH_LE_Tracker_storis_integration').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMsg": {
							"value": {
								"value": "@{activity('WH_LE_Tracker_storis_integration').error.message}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorStatusCode": {
							"value": {
								"value": "@activity('WH_LE_Tracker_storis_integration').StatusCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@{activity('WH_LE_Tracker_storis_integration').error.failureType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink": {
							"value": {
								"value": "SA_SITE_DEFAULT_HOURS",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('WH_LE_Tracker_storis_integration').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "Retail.DACIncrementalSiteMain",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('WH_LE_Tracker_storis_integration').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Teams_Failed_Notification_SD_HS_OPC_TRACKING",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "WH_LE_Tracker_storis_integration",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Notify_Teams_Channale_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"subscription": {
							"value": "@pipeline().globalParameters.ADF_SubscriptionID",
							"type": "Expression"
						},
						"resourceGroup": "afi-edme-rg",
						"runId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"triggerTime": {
							"value": "@activity('WH_LE_Tracker_storis_integration').output.executionDetails[0].start",
							"type": "Expression"
						},
						"status": {
							"value": "@activity('WH_LE_Tracker_storis_integration').output.executionDetails[0].status",
							"type": "Expression"
						},
						"message": {
							"value": "@replace(activity('WH_LE_Tracker_storis_integration').error.message,'\"','')",
							"type": "Expression"
						},
						"executionEndTime": {
							"value": "@{utcnow()}",
							"type": "Expression"
						},
						"runDuration": {
							"value": "@activity('WH_LE_Tracker_storis_integration').output.copyDuration",
							"type": "Expression"
						},
						"teamWebhookUrl": {
							"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Cancel_SD_HS_OPC_TRACKING_LoadId_Stored_Procedure_",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "WH_LE_Tracker_storis_integration",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CANCEL_LOAD]",
					"storedProcedureParameters": {
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.B_LoadID",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LE_WH_Tracker_Storis_Integration",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WH_LE_Tracker_storis_integration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "B_LoadID",
								"value": {
									"value": "@pipeline().parameters.B_loadid",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "SELECT\n Address1\n,State\n,City\n,PostalCodeID\n,StoreID\n,Operation_ID\n,B_PUBID\n,B_SourceID\n,B_DELETETYPE\n,B_DELETEDATE\n,B_DELETEAUTHOR\n,B_DELETEOPERATION\n,Activity_Type\n,IsActiveType\nFROM RsmSiteSubscriber.WH_LE_Tracker_Incremental",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"StoreID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Address1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Address1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "State",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "State",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "City",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PostalCodeID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PostalCodeID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "StoreID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "StoreID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Operation_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Operation_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_SourceID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_Sourceid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"source": {
									"name": "Activity_Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Activity_Type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsActiveType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "IsActiveType",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "B_LoadID",
									"type": "String"
								},
								"sink": {
									"name": "B_LoadID",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Semarchy_Staging_hsopc_his_storis_Inte",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Semarchy_Staging_LE_WH_tracker_storiesIntegration",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SubmitLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LE_WH_Tracker_Storis_Integration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "SiteDACLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.b_loadId",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_repo",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"B_LoadID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SiteMaster"
		},
		"annotations": []
	}
}