pipeline/Store_DAC_Store_Details.json
{
	"name": "Store_DAC_Store_Details",
	"properties": {
		"activities": [
			{
				"name": "ForEachLocationIds",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.item_param",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "WebLocationsAPI",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/location?LocationID=', item().LocationID)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Ocp-Apim-Subscription-Key": "d529c1e2a799475e93966ede0793b58f"
								}
							}
						},
						{
							"name": "SP_Load_Json_Payload",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "WaitForSkipp",
									"dependencyConditions": [
										"Skipped"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[DAC].[Load_Json_Payload]",
								"storedProcedureParameters": {
									"JsonPayload": {
										"value": {
											"value": "@variables('WebApiOutput')",
											"type": "Expression"
										},
										"type": "String"
									},
									"LocationID": {
										"value": {
											"value": "@variables('LocationID')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "semarchy_staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LoadJsonFile",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SP_Load_Json_Payload",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "input",
											"value": {
												"value": "@variables('WebApiOutput')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "input",
												"type": "String"
											},
											"sink": {
												"type": "String",
												"physicalType": "String",
												"ordinal": 1
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DAC_Location_Details_Read",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DAC_Location_Details_Write",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat('Store_Location_',variables('LocationID'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CheckErrorCode",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "SetStatusCode",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('StatusCode'),429)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "FailPipeline",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@activity('WebLocationsAPI').error.message",
												"type": "Expression"
											},
											"errorCode": {
												"value": "@string(variables('StatusCode'))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SetFailedVariable",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "FailPipeline",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "WebApiOutput",
											"value": "Failed Called"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "WebLocationAPIFailed",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "WaitTime",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/location?LocationID=', item().LocationID)",
												"type": "Expression"
											},
											"method": "GET",
											"headers": {
												"Ocp-Apim-Subscription-Key": "d529c1e2a799475e93966ede0793b58f"
											}
										}
									},
									{
										"name": "WaitTime",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 3
										}
									},
									{
										"name": "WebLocationFailedVariable",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "WebLocationAPIFailed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "WebApiOutput",
											"value": {
												"value": "@{activity('WebLocationAPIFailed').output}",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SetFailedLocationIDVariable",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "WebLocationAPIFailed",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "LocationID",
											"value": {
												"value": "@{activity('WebLocationAPIFailed').output.LocationID}",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "WebLocationIDVariable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "WebLocationsAPI",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "WebApiOutput",
								"value": {
									"value": "@{activity('WebLocationsAPI').output}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetStatusCode",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "WebLocationsAPI",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "StatusCode",
								"value": {
									"value": "@string(activity('WebLocationsAPI').StatusCode)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "WaitForSkipp",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "WebLocationIDVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "CheckErrorCode",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetLocationIDVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "SetLocationIDVariable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "WebLocationsAPI",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "LocationID",
								"value": {
									"value": "@{activity('WebLocationsAPI').output.LocationID}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FailedToWrite",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "FileWriteConflict",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('LoadJsonFile').error.message",
									"type": "Expression"
								},
								"errorCode": "2200"
							}
						},
						{
							"name": "FileWriteConflict",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LoadJsonFile",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Conflict",
								"value": {
									"value": "@activity('LoadJsonFile').error.ErrorCode",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"item_param": {
				"type": "array"
			}
		},
		"variables": {
			"WebApiOutput": {
				"type": "String"
			},
			"StatusCode": {
				"type": "String"
			},
			"LocationID": {
				"type": "String"
			},
			"Conflict": {
				"type": "String"
			}
		},
		"annotations": []
	}
}