pipeline/TestData_SiteContact_DefaultHours.json
{
	"name": "TestData_SiteContact_DefaultHours",
	"properties": {
		"activities": [
			{
				"name": "Get_New_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'masterDataHub_Retail'\n,@P_PROGRAM_NAME = 'FullDataLoad'\n,@P_LOAD_DESCRIPTION = 'Full Data Load'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "semarchy_repo",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Submit_Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SD_SiteDefault_Hours",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SUBMIT_LOAD]",
					"storedProcedureParameters": {
						"P_INTEGRATION_JOB_NAME": {
							"value": {
								"value": "FullDataLoad",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@activity('Get_New_load').output.firstRow.RETURN_VALUE_ARGUMENT",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"P_USERNAME": {
							"value": {
								"value": "semadmin",
								"type": "Expression"
							},
							"type": "String"
						},
						"return_value_argument": {
							"value": null,
							"type": "Decimal"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "semarchy_dev_repo",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SD_SiteContacts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_New_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "\nSELECT   @{activity('Get_New_Load').output.firstRow.RETURN_VALUE_ARGUMENT} AS B_LoadID\n      ,'DAC' AS FP_SITE_MAIN\n      ,[Site_Contact_ID]\n      ,[CONTACT_FIRST_NAME]\n      ,[CONTACT_LAST_NAME]\n      ,[RAW_CONTACT_PHONE]\n      ,[RAW_CONTACT_EMAIL]\n      ,[SITE_CONTACT_TYPE]\n      ,[FS_SITE_MAIN]\n\t  ,'SiteMain' as B_CLASSNAME\nFROM [DAC].[TestData_DACSiteContact]\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_NAME",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SITE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage_SiteMain",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Location_SiteMain",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SD_SiteDefault_Hours",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SD_SiteContacts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n       @{activity('Get_New_Load').output.firstRow.RETURN_VALUE_ARGUMENT} AS B_LoadID\n      ,'DAC' AS B_PUBID\n      ,[B_SOURCEID]\n      ,[SITE_NAME]\n      ,[SITE_TYPE]\n      ,CAST([IS_ACTIVE] AS BIT) AS ISACTIVE\n      ,[OWNERSHIP_TYPE] AS SITE_OWNERSHIP_TYPE\n      ,[ADDRESS_LINE1] AS RAWADDRESS_LINE1\n      ,[CITY] AS RAWCITY\n      ,[STATE_CODE] AS RAWSTATE_CODE\n      ,[POSTAL_CODE] AS RAWPOSTAL_CODE\n      ,[COUNTRY_CODE] AS RAWCOUNTRY_CODE\n\t  ,'SiteMain' as B_CLASSNAME\n      ,[SITE_SHIP_TO]\n      ,[RAW_MAIN_PHONE]\n      ,[RAW_FAX]\n      ,[RAW_CS_PHONE]\n      ,[RAW_CS_EMAIL]\n      ,[RAW_SALES_PHONE]\n      ,[RAW_SALES_CHAT]\n      ,[RAW_SERVICE_PHONE]\n      ,[RAW_SERVICE_CHAT]\n  FROM [DAC].[SiteMain_DAC_TestData]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "B_LoadID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_NAME",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SITE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_SHIP_TO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SITE_SHIP_TO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_MAIN_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_MAIN_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_FAX",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_FAX",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_CS_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_CS_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_CS_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_CS_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_SALES_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_SALES_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_SALES_CHAT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_SALES_CHAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_SERVICE_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_SERVICE_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_SERVICE_CHAT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_SERVICE_CHAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Stage_SiteMain",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Location_SiteMain",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}