pipeline/Upsert_DACJSONLoadSiteMain.json
{
	"name": "Upsert_DACJSONLoadSiteMain",
	"properties": {
		"description": "Upsert_DACJSONLoadSiteMain",
		"activities": [
			{
				"name": "Retail_DACJSONLoadSiteMain_View",
				"description": "select all data from DACJSONLoadSiteMain view",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_New_Load_Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * \nfrom Retail.DACJSONLoadSiteMain",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"B_SOURCEID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"sink": {
									"name": "B_LOADID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "B_PUBID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "B_SOURCEID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_CLASSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_ERROR_STATUS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_ORIGINALBATCHID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"sink": {
									"name": "B_OPERATIONID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_DELETETYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_DELETEDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"sink": {
									"name": "B_DELETEAUTHOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_DELETEOPERATION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_DELETEPATH",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_CREDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"sink": {
									"name": "B_UPDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"sink": {
									"name": "B_CREATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "B_UPDATOR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_NAME",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SITE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SITE_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ISACTIVE",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "SITE_DESCRIPTION",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "SITE_DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "SITE_OWNERSHIP_TYPE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ADDRESS_STATUS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "ADDRESS_ERROR_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAWADDRESS_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAWADDRESS_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAWCITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAWSTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAWPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAWCOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STASTREET_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STASTREET_NUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STACITY",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STASTATE_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STAPOSTAL_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STACOUNTRY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STALATITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STALONGITUDE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "F_SITE_OWNER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"sink": {
									"name": "FP_SITE_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "FS_SITE_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "FD_SITE_OWNER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "OPERATIONS_START_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"sink": {
									"name": "OPERATIONS_END_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"sink": {
									"name": "CUSTOMER_OPEN_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"sink": {
									"name": "CUSTOMER_CLOSE_DATE",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"sink": {
									"name": "LOCAL_CURRENCY_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "LOCAL_UNIT_OF_MEASURE_ARE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "TOTAL_SITE_AREA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 12
								}
							},
							{
								"sink": {
									"name": "OPERATIONS_SITE_AREA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 12
								}
							},
							{
								"sink": {
									"name": "CUSTOMER_SITE_AREA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 12
								}
							},
							{
								"sink": {
									"name": "F_SITE_DEFAULT_HOURS",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"sink": {
									"name": "FD_SITE_DEFAULT_HOURS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "SITE_SHIP_TO",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_MAIN_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_MAIN_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STD_MAIN_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "MAIN_PHONE_STATUS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RAW_FAX",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RAW_FAX",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STD_FAX",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "FAX_STATUS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAW_CS_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STD_CS_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "CS_PHONE_STATUS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAW_CS_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "VLD_CS_EMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAW_SALES_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STD_SALES_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "SALES_PHONE_STATUS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAW_SALES_CHAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAW_SERVICE_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "STD_SERVICE_PHONE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "SERVICE_PHONE_STATUS_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "RAW_SERVICE_CHAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "F_WAREHOUSE_PARENT",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								}
							},
							{
								"sink": {
									"name": "FP_WAREHOUSE_PARENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "FS_WAREHOUSE_PARENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"sink": {
									"name": "FD_WAREHOUSE_PARENT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Retail_DACJSONLoadSiteMain_View",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "semarchy_dev",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get_New_Load_Id",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT DECIMAL\nEXECUTE [dbo].[GET_NEW_LOADID]\n@RETURN_VALUE_ARGUMENT OUTPUT\n,@P_DATA_LOCATION_NAME = 'masterDataHub_Retail'\n,@P_PROGRAM_NAME = 'SiteMasterLoad'\n,@P_LOAD_DESCRIPTION = 'SiteMasterLoad'\n,@P_USERNAME = 'semadmin'\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "semarchy_repo",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set_New_Load_Id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_New_Load_Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LoadID",
					"value": {
						"value": "@activity('Get_New_Load_Id').output.firstRow",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LoadID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}