afi-edme-dev-df/linkedTemplates/ArmTemplate_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "afi-edme-dev-df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/00_Load_SiteMaster_DAC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage_SiteMaster_DAC",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_SiteMaster_DAC",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SPCallStoreDetailsErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stage_SiteMaster_DAC",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Stage_SiteMaster_DAC').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Stage_SiteMaster_DAC').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Stage_SiteMaster_DAC').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Stage_SiteMaster_DAC').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Teams_Failed_Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_SiteMaster_DAC",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Stage_SiteMaster_DAC').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Stage_SiteMaster_DAC').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Stage_SiteMaster_DAC').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Stage_SiteMaster_DAC').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Stage_SiteMaster_DAC').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Stage_SiteMaster_DAC').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Stage_SiteMaster_DAC').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"StoreDetailsErrorMsg": {
						"type": "String"
					},
					"StoreLocationDetailsErrorMsg": {
						"type": "String"
					},
					"DacSiteMasterLoadErrorMsg": {
						"type": "String"
					},
					"JsonCount": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SiteMaster"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-26T06:05:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Load_SiteMaster')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "00_Load_SiteMaster",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-02-12T15:34:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Load_SiteMaster_Initial')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "00_Load_SiteMaster_Initial",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2023-10-10T12:52:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								22
							],
							"weekDays": [
								"Sunday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadRetailCustomerLoadIncremental')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load Incremental RetailCustomer Data into the Semarchy SD table from staging table ",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_Load_RetailCustomerLoad_Incremental",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2023-01-03T00:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Site_Mater_incremental')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_SiteMaster_Incremental",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-08-28T11:49:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								11
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Load_SiteMaster_DAC')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dac Incremental Daily Load",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "00_Load_SiteMaster_DAC",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-05-23T02:55:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/00_Load_SiteMaster_DAC')]"
			]
		}
	]
}