afi-edme-dev-df/linkedTemplates/ArmTemplate_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "afi-edme-dev-df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_National_Assortment_SemarchyToEDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_National_Assortment_SemarchyToEDW",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_National_Assortment_SemarchyToEDW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_Historical_National_Assortment_SemarchyToEDW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_National_Assortment_SemarchyToEDW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Historical_National_Assortment_SemarchyToEDW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Product_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_ProductMasterLoad_PIM_RPM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_ProductMaster_PIM_RPM",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_ProductMaster_Retail_PIM_RPM",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SPCallStoreDetailsErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_ProductMaster_PIM_RPM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_ProductMaster_PIM_RPM').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_ProductMaster_PIM_RPM').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_ProductMaster_PIM_RPM').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_ProductMaster_PIM_RPM').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Teams_Failed_Notification_MasterLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_ProductMaster_PIM_RPM",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_ProductMaster_PIM_RPM').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_ProductMaster_PIM_RPM').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_ProductMaster_PIM_RPM').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_ProductMaster_PIM_RPM').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_ProductMaster_PIM_RPM').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_ProductMaster_PIM_RPM').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_ProductMaster_PIM_RPM').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Product_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_RetailCustomer_CommunicationPreferenceLoad_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage_RetailCustomer_CommunicationPreferenceLoad",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_RetailCustomer_CommunicationPreferenceLoad_Incremental",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_CommunicationPreferenceLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_RetailCustomer_CommunicationPreferenceLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_CommunicationPreferenceLoad_Incremental",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Communication_Preference_Flow"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_Stage_Retail_Customer_RetailCustomerLoad_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage_Retail_Customer_RetailCustomerLoad_Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_Retail_Customer_RetailCustomerLoad_Incremental",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teams_Failed_Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_Retail_Customer_RetailCustomerLoad_Incremental",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_RDC_Smartsheet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load RDC masterlist data from smartsheet to Semarchy staging",
				"activities": [
					{
						"name": "DF_Smartsheet_SemStg",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Stage_SiteMaster_RDC_Smartsheet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SRCSMARTSHEET": {},
									"RDCMasterlist": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SiteMaster"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_SiteMaster_DAC_Tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAllJsonFiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DAC_Location_List_Read",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEachJsonFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SP_Truncate_DAC_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetAllJsonFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "LookupJsonFile",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "Dac_Stage_Location_List_Load",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "Store_DAC_Store_Details",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "LookupJsonFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Stage_SiteMaster_DAC_Payload",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"item_param": {
												"value": "@activity('LookupJsonFile').output.firstRow.Data",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SP_Load_Stores_Details",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachJsonFile",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DAC].[Load_Stores_Data]"
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Truncate_DAC_Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetAllJsonFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DAC].[Truncate_DAC_Tables]"
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SPCallStoreLocationDetailsErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetAllJsonFiles",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('GetAllJsonFiles').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('GetAllJsonFiles').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('GetAllJsonFiles').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('GetAllJsonFiles').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"location_id_var": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SiteMaster"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-26T06:05:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_Site_EDW_Staging_ZipAllocation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AshleyNetEDW_PostalCode",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Truncate table [EDW].[ZipAllocation]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Customer#",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "CustomerNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShipTo",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShipTo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Acct_ShipTo",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Acct_ShipTo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TradeArea",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "TradeArea",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "StartDate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ChangedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ChangedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ChangedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ChangedDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessType",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "BusinessType",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "PriceDiscGroup_GroupId",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PriceDiscGroup_GroupId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnableWebSale",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "EnableWebSale",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EDW_ashley_zipallocation",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Semarchy_Staging_AshlyNet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Execute_INC_zipallocation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AshleyNetEDW_PostalCode",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_SiteMaster_Incremental__ZipAllocation",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SiteMaster"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_Storemaster_Smartsheet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Stage_SiteMaster_Store_Smartsheet",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Stage_SiteMaster_Store_Smartsheet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SRCStoremasterlist": {},
									"sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SiteMaster"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerInitialChunkLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Customer Chunk Load",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load_RetailCustomer_RetailCustomerLoad_InitialLoad",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 3,
						"startTime": "2023-02-03T10:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWPIMDailyRemoveLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load_ProductMasterLoad_Retail_Delete_PIM_EDW",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-10-03T05:49:00",
						"timeZone": "Eastern Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_ProductMaster_PIM_RPM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load_ProductMaster_Retail_PIM_RPM",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-12-17T05:14:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PostalCodeAPI_US')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Stage_PostalCodeAutomation_US",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-02-25T06:10:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReProcessErrorFilesRetailCustomerLoadIncremental')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ReProcess RetailCustomer Error Files from the error folder",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ReProcess_ErrorFiles_Stage_Retail_Customer_RetailCustomerLoad_Incremental",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2023-03-15T00:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RemoveRetailCustomerLoadArchiveFiles')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Remove last 20 days old Retail Customer Archive CSV file from archive folder",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Remove_RetailCustomerLoad_Archive_Files",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-03-14T06:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SiteMaster_INC_Delete')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load_SiteMaster_Incremental_Delete",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-03-19T09:42:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								13
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Site_RSA_incremental')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load_SiteMaster_Incremental_RSA",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-12-05T14:56:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								55
							],
							"hours": [
								11
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Wholesale_Containerrate_EDW')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load_Containerrate_Semarchy_EDW",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-09-18T10:34:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Load_SiteMaster')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage_SiteMaster_EDW",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_SiteMaster_EDW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "If HS Changed",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set_HS_ChangedRecordsCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(variables('ChangedHSRecordsCount'),0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Load_SiteMaster_HS",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Load_SiteMaster_HS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "CountChanged_HS_Records",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If WH Changed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT INT\r\n\r\nEXECUTE dbo.Count_SiteMaster_Changed_Records @SiteType = 'HS', @RETURN_VALUE_ARGUMENT = null\r\n\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Semarchy_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set_HS_ChangedRecordsCount",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CountChanged_HS_Records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ChangedHSRecordsCount",
							"value": {
								"value": "@activity('CountChanged_HS_Records').output.firstRow.RETURN_VALUE_ARGUMENT",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CountChanged_WH_Records",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "LoadGDLegalEntityforCompare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "DECLARE @RETURN_VALUE_ARGUMENT INT\r\n\r\nEXECUTE dbo.Count_SiteMaster_Changed_Records @SiteType = 'WH', @RETURN_VALUE_ARGUMENT = null\r\n\r\nSELECT @RETURN_VALUE_ARGUMENT AS RETURN_VALUE_ARGUMENT",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Semarchy_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set_WH_ChangedRecordsCount",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "CountChanged_WH_Records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "ChangedWHRecordsCount",
							"value": {
								"value": "@activity('CountChanged_WH_Records').output.firstRow.RETURN_VALUE_ARGUMENT",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If WH Changed",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Set_WH_ChangedRecordsCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(variables('ChangedWHRecordsCount'),0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Load_SiteMaster_WH",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Load_SiteMaster_WH",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							]
						}
					},
					{
						"name": "Preserve_WebUI_CompanyCode",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Stage_SiteMaster_Mappings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT \n          LEGAL_ENTITY_ID,\n          LIC_CONTACT, \n          COMPANY_CODE,\n\t\t  GetDate() as LOAD_DATE\nFROM DBO.GD_LEGAL_ENTITY WITH(NOLOCK)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [EDW].[RSM_LicContact_CompanyCode]",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LEGAL_ENTITY_ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										},
										"sink": {
											"name": "LEGAL_ENTITY_ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "LIC_CONTACT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LIC_CONTACT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COMPANY_CODE",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LOAD_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "LOAD_DATE",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Retail_SiteMaster_GD_LEGAL_ENTITY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "EDW_RSM_LicContact_CompanyCode",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "LoadGDLegalEntityforCompare",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Preserve_WebUI_CompanyCode",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE Scratch.SiteMaster_GD_LEGAL_ENTITY",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LEGAL_ENTITY_ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										},
										"sink": {
											"name": "LEGAL_ENTITY_ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "B_CLASSNAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "B_CLASSNAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "B_BATCHID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 38
										},
										"sink": {
											"name": "B_BATCHID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "B_CREDATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "B_CREDATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "B_UPDDATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "B_UPDDATE",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "B_CREATOR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "B_CREATOR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "B_UPDATOR",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "B_UPDATOR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_ADDR_LINE1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_ADDR_LINE1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_ADDR_LINE2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_ADDR_LINE2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_CITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_STATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_STATE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_STATE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_POSTAL_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_POSTAL_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_COUNTRY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_COUNTRY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_LATITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_LATITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_LONGITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_LONGITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDR_LINE1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ADDR_LINE1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDR_LINE2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ADDR_LINE2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "STATE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "POSTAL_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "POSTAL_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COUNTRY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LATITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LONGITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_ADDR_LINE1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_ADDR_LINE1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_ADDR_LINE2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_ADDR_LINE2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_CITY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_STATE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_STATE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_STATE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_POSTAL_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_POSTAL_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MAILING_COUNTRY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "MAILING_COUNTRY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OS_LEGAL_ENTITY_ID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OS_LEGAL_ENTITY_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LIC_CONTACT",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LIC_CONTACT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LIC_CONTACT_EMAIL",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LIC_CONTACT_EMAIL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RAW_LIC_CONTACT_PHONE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "RAW_LIC_CONTACT_PHONE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LIC_CONTACT_PHONE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LIC_CONTACT_PHONE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "COMPANY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Retail_SiteMaster_GD_LEGAL_ENTITY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Scratch_SiteMaster_GD_LEGAL_ENTITY",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stage_SiteMaster_Smartsheet",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_SiteMaster_EDW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_RDC_Smartsheet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage_SiteMaster_Mappings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_SiteMaster_Smartsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_SiteMaster_Mappings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ChangedHSRecordsCount": {
						"type": "Integer"
					},
					"ChangedWHRecordsCount": {
						"type": "Integer"
					},
					"LoadID": {
						"type": "String"
					},
					"LoadID1": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SiteMaster/Archive"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Stage_RDC_Smartsheet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Load_SiteMaster_Incremental_v2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage_EDW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Assign_ID_Codes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_SiteMaster_EDW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_SiteMaster_Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_EDW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_SiteMaster_Incremental_RSA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage_Smartsheet",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_RDC_Smartsheet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage_Storemaster_Smartsheet",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_Smartsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_Storemaster_Smartsheet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Assign_ID_Codes",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_Storemaster_Smartsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_Incremental_SiteMaster_Mappings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SiteMaster/Archive"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Stage_RDC_Smartsheet')]",
				"[concat(variables('factoryId'), '/pipelines/Stage_Storemaster_Smartsheet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Load_SiteMaster_Initial')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage_EDW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_SiteMaster_Mappings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_SiteMaster_EDW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_SiteMaster_Initial_Warehouse",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_EDW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_SiteMaster_Initial_WareHouse",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage_Smartsheet",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_RDC_Smartsheet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage_SiteMaster_Mappings",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_Storemaster_Smartsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_SiteMaster_Mappings",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage_Storemaster_Smartsheet",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_Smartsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_Storemaster_Smartsheet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_SiteMaster_Initial_Storemaster",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_SiteMaster_Initial_Warehouse",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_SiteMaster_Initial_StoreMaster",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "SiteMaster"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Stage_RDC_Smartsheet')]",
				"[concat(variables('factoryId'), '/pipelines/Stage_Storemaster_Smartsheet')]"
			]
		}
	]
}