afi-edme-dev-df/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "afi-edme-dev-df"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Database_Name": {
			"type": "string",
			"defaultValue": "masterDataHub_POC"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_US_State_Table_Name": {
			"type": "string",
			"defaultValue": "SA_EXTERNAL_REF_US_STATE"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Time_Zone_EFF_DT_Table_Name": {
			"type": "string",
			"defaultValue": "SA_EXTERNAL_REF_TIME_ZONE_EF"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Time_Zone_Table_Name": {
			"type": "string",
			"defaultValue": "SA_EXTERNAL_REF_TIME_ZONE"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Currency_Table_Name": {
			"type": "string",
			"defaultValue": "SA_EXTERNAL_REF_CURRENCY"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Country_Table_Name": {
			"type": "string",
			"defaultValue": "SA_EXTERNAL_REF_COUNTRY"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Dma_Table_Name": {
			"type": "string",
			"defaultValue": "SA_EXTERNAL_REF_DMA"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Country_Class_Name": {
			"type": "string",
			"defaultValue": "ExternalRefCountry"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Currency_Class_Name": {
			"type": "string",
			"defaultValue": "ExternalRefCurrency"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Dma_Class_Name": {
			"type": "string",
			"defaultValue": "ExternalRefDMA"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Time_Zone_Class_Name": {
			"type": "string",
			"defaultValue": "ExternalRefTimeZone"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Time_Zone_EFF_DT_Class_Name": {
			"type": "string",
			"defaultValue": "ExternalRefTimeZoneEffectiveDate"
		},
		"Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_US_State_Class_Name": {
			"type": "string",
			"defaultValue": "ExternalRefUSState"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_Load_EnterpriseRef')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_EnterpriseRef_Country",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_EnterpriseRef_Country_InitialLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database_Name": {
									"value": "@pipeline().parameters.Database_Name",
									"type": "Expression"
								},
								"Sink_Country_Table_Name": {
									"value": "@pipeline().parameters.Sink_Country_Table_Name",
									"type": "Expression"
								},
								"Semarchy_Job_Name": {
									"value": "@pipeline().parameters.Country_Semarchy_Job_Name",
									"type": "Expression"
								},
								"Country_Class_Name": {
									"value": "@pipeline().parameters.Country_Class_Name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Load_EnterpriseRef_Currency_InitialLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_Country",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_EnterpriseRef_Currency_InitialLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database_Name": {
									"value": "@pipeline().parameters.Database_Name",
									"type": "Expression"
								},
								"Sink_Currency_Table_Name": {
									"value": "@pipeline().parameters.Sink_Currency_Table_Name",
									"type": "Expression"
								},
								"Semarchy_Job_Name": {
									"value": "@pipeline().parameters.Currency_Semarchy_Job_Name",
									"type": "Expression"
								},
								"Currency_Class_Name": {
									"value": "@pipeline().parameters.Currency_Class_Name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Load_EnterpriseRef_DMA_InitialLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_Currency_InitialLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_EnterpriseRef_DMA_InitialLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database_Name": {
									"value": "@pipeline().parameters.Database_Name",
									"type": "Expression"
								},
								"Sink_Dma_Table_Name": {
									"value": "@pipeline().parameters.Sink_Dma_Table_Name",
									"type": "Expression"
								},
								"Semarchy_Job_Name": {
									"value": "@pipeline().parameters.DMA_Semarchy_Job_Name",
									"type": "Expression"
								},
								"Dma_Class_Name": {
									"value": "@pipeline().parameters.Dma_Class_Name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_DMA_InitialLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database_Name": {
									"value": "@pipeline().parameters.Database_Name",
									"type": "Expression"
								},
								"Sink_Time_Zone_Table_Name": {
									"value": "@pipeline().parameters.Sink_Time_Zone_Table_Name",
									"type": "Expression"
								},
								"Semarchy_Job_Name": {
									"value": "@pipeline().parameters.TimeZone_Semarchy_Job_Name",
									"type": "Expression"
								},
								"Time_Zone_Class_Name": {
									"value": "@pipeline().parameters.Time_Zone_Class_Name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database_Name": {
									"value": "@pipeline().parameters.Database_Name",
									"type": "Expression"
								},
								"Sink_Time_Zone_EFF_DT_Table_Name": {
									"value": "@pipeline().parameters.Sink_Time_Zone_EFF_DT_Table_Name",
									"type": "Expression"
								},
								"Semarchy_Job_Name": {
									"value": "@pipeline().parameters.TimeZoneEF_Semarchy_Job_Name",
									"type": "Expression"
								},
								"Time_Zone_EFF_DT_Class_Name": {
									"value": "@pipeline().parameters.Time_Zone_EFF_DT_Class_Name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Load_EnterpriseRef_US_STATE_InitialLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_EnterpriseRef_US_STATE_InitialLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Database_Name": {
									"value": "@pipeline().parameters.Database_Name",
									"type": "Expression"
								},
								"Sink_US_State_Table_Name": {
									"value": "@pipeline().parameters.Sink_US_State_Table_Name",
									"type": "Expression"
								},
								"Semarchy_Job_Name": {
									"value": "@pipeline().parameters.USState_Semarchy_Job_Name",
									"type": "Expression"
								},
								"US_State_Class_Name": {
									"value": "@pipeline().parameters.US_State_Class_Name",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_CountryLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_Country",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_EnterpriseRef_Country').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_EnterpriseRef_Country').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_EnterpriseRef_Country').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_EnterpriseRef_Country').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_EnterpriseRef_Country').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_EnterpriseRef_Country').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_EnterpriseRef_Country').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_CurrencyLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_Currency_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_EnterpriseRef_Currency_InitialLoad').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_DMALoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_DMA_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_EnterpriseRef_DMA_InitialLoad').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_TimeZoneLoad_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_TimeZoneEFFLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_USStateLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_US_STATE_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Country_StoreErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_Country",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_Country').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_Country').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_EnterpriseRef_Country').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_Country').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Currency_StoreErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_Currency_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_Currency_InitialLoad').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_Currency_InitialLoad').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_EnterpriseRef_Currency_InitialLoad').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_Currency_InitialLoad').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}\n",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DMA_StoreErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_DMA_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_DMA_InitialLoad').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_DMA_InitialLoad').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_EnterpriseRef_DMA_InitialLoad').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_DMA_InitialLoad').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Time_Zone_StoreErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_TIME_ZONE_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_InitialLoad').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TimeZone_EFF_DT_StoreErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_TIME_ZONE_EFF_DT_InitialLoad').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "USState_StoreErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_EnterpriseRef_US_STATE_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_EnterpriseRef_US_STATE_InitialLoad').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_EnterpriseRef_US_STATE_InitialLoad').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Database_Name": {
						"type": "string"
					},
					"Sink_US_State_Table_Name": {
						"type": "string"
					},
					"Sink_Time_Zone_EFF_DT_Table_Name": {
						"type": "string"
					},
					"Sink_Time_Zone_Table_Name": {
						"type": "string"
					},
					"Sink_Currency_Table_Name": {
						"type": "string"
					},
					"Sink_Country_Table_Name": {
						"type": "string"
					},
					"Sink_Dma_Table_Name": {
						"type": "string"
					},
					"Country_Class_Name": {
						"type": "string"
					},
					"Currency_Class_Name": {
						"type": "string"
					},
					"Dma_Class_Name": {
						"type": "string"
					},
					"Time_Zone_Class_Name": {
						"type": "string"
					},
					"Time_Zone_EFF_DT_Class_Name": {
						"type": "string"
					},
					"US_State_Class_Name": {
						"type": "string"
					},
					"Country_Semarchy_Job_Name": {
						"type": "string"
					},
					"Currency_Semarchy_Job_Name": {
						"type": "string"
					},
					"DMA_Semarchy_Job_Name": {
						"type": "string"
					},
					"TimeZone_Semarchy_Job_Name": {
						"type": "string"
					},
					"TimeZoneEF_Semarchy_Job_Name": {
						"type": "string"
					},
					"USState_Semarchy_Job_Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "EnterPriceRef_Pipelines"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_Load_RetailCustomerLoad_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_RetailCustomer_D365Ecm",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesColton",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_D3365Ecm",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesBoise",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesBoise",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesArcadia",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesBoise",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesArcadia",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesSaltLake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesArcadia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesSaltLake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesLasVegas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesSaltLake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesLasVegas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesPhoenix",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesLasVegas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesPhoenix",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesPNW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesPhoenix",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesPNW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesAtlanta",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesPNW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesAtlanta",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesSacramento",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesAtlanta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesSacramento",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesBrandon",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesSacramento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesBrandon",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_RetailCustomer_HomesColton",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesBrandon",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_RetailCustomer_RetailCustomerLoad_HomesColton",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesBoise",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesBoise",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesBoise').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesBoise').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesBoise').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesBoise').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesBoise').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesBoise').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesBoise').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesArcadia",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesArcadia",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesArcadia').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesArcadia').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesArcadia').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesArcadia').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesArcadia').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesArcadia').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesArcadia').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesSaltLake",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesSaltLake",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesSaltLake').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesSaltLake').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesSaltLake').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesSaltLake').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesSaltLake').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesSaltLake').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesSaltLake').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesLasVegas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesLasVegas",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesLasVegas').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesLasVegas').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesLasVegas').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesLasVegas').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesLasVegas').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesLasVegas').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesLasVegas').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesPhoenix",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesPhoenix",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesPhoenix').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesPhoenix').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesPhoenix').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesPhoenix').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesPhoenix').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesPhoenix').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesPhoenix').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesPNW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesPNW",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesPNW').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesPNW').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesPNW').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesPNW').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesPNW').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesPNW').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesPNW').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesAtlanta",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesAtlanta",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesAtlanta').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesAtlanta').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesAtlanta').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesAtlanta').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesAtlanta').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesAtlanta').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesAtlanta').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesSacramento",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesSacramento",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesSacramento').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesSacramento').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesSacramento').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesSacramento').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesSacramento').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesSacramento').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesSacramento').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesBrandon",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesBrandon",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesBrandon').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesBrandon').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesBrandon').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesBrandon').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesBrandon').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesBrandon').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesBrandon').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_HomesColton",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_HomesColton",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_HomesColton').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_HomesColton').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_HomesColton').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_HomesColton').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_HomesColton').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_HomesColton').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_HomesColton').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_D365Ecm",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_RetailCustomer_D365Ecm",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_RetailCustomer_D365Ecm').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_RetailCustomer_D365Ecm').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_RetailCustomer_D365Ecm').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_RetailCustomer_D365Ecm').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_RetailCustomer_D365Ecm').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_RetailCustomer_D365Ecm').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_RetailCustomer_D365Ecm').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_Load_Retail_ProductMasterLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Retail_PIM_EDW_InitialLoad",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Retail_PIM_EDW_InitialLoad",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_Retail_PIM_EDW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Retail_PIM_EDW_InitialLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_Retail_PIM_EDW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SPCallStoreDetailsErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_Retail_PIM_EDW",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_Retail_PIM_EDW').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_Retail_PIM_EDW').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_Retail_PIM_EDW').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_Retail_PIM_EDW').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SPCallStoreDetailsErrorMsg_InitialLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load_Retail_PIM_EDW_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Load_Retail_PIM_EDW_InitialLoad').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Load_Retail_PIM_EDW_InitialLoad').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Load_Retail_PIM_EDW_InitialLoad').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Teams_Failed_Notification_InitialLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Retail_PIM_EDW_InitialLoad",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_Retail_PIM_EDW_InitialLoad').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_Retail_PIM_EDW_InitialLoad').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Teams_Failed_Notification_MasterLoad",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Load_Retail_PIM_EDW",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": {
									"value": "afi-edme-rg",
									"type": "Expression"
								},
								"runId": {
									"value": "@activity('Load_Retail_PIM_EDW').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Load_Retail_PIM_EDW').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Load_Retail_PIM_EDW').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Load_Retail_PIM_EDW').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Load_Retail_PIM_EDW').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Load_Retail_PIM_EDW').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Load_Retail_PIM_EDW').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_ReProcess_ErrorFiles_Stage_Retail_Customer_RetailCustomerLoad_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ReProcess_Initial_Load_RetailCustomer",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ReProcess_ErrorFiles_Stage_Retail_Customer_RetailCustomerLoad_Incremental",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teams_Failed_Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ReProcess_Initial_Load_RetailCustomer",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('ReProcess_Initial_Load_RetailCustomer').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('ReProcess_Initial_Load_RetailCustomer').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('ReProcess_Initial_Load_RetailCustomer').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('ReProcess_Initial_Load_RetailCustomer').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('ReProcess_Initial_Load_RetailCustomer').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('ReProcess_Initial_Load_RetailCustomer').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('ReProcess_Initial_Load_RetailCustomer').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_Remove_RetailCustomerLoad_Archive_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Remove_RetailCustomerLoad_Archive_Files",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Remove_RetailCustomerLoad_Archive_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teams_Failed_Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Remove_RetailCustomerLoad_Archive_Files",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Remove_RetailCustomerLoad_Archive_Files').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Remove_RetailCustomerLoad_Archive_Files').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Remove_RetailCustomerLoad_Archive_Files').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Remove_RetailCustomerLoad_Archive_Files').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Remove_RetailCustomerLoad_Archive_Files').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Remove_RetailCustomerLoad_Archive_Files').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Remove_RetailCustomerLoad_Archive_Files').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_Stage_Retail_Customer_RetailCustomerLoad_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stage_Retail_Customer_RetailCustomerLoad_Incremental",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Stage_Retail_Customer_RetailCustomerLoad_Incremental",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Teams_Failed_Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stage_Retail_Customer_RetailCustomerLoad_Incremental",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Stage_Retail_Customer_RetailCustomerLoad_Incremental').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_Retail_SiteMasterLoad_DAC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetAllJsonFiles",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DAC_Location_List_Read",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEachJsonFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "SP_Truncate_DAC_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetAllJsonFiles').output.childItems",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "LookupJsonFile",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "Dac_Stage_Location_List_Load",
											"type": "DatasetReference",
											"parameters": {
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "Store_DAC_Store_Details",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "LookupJsonFile",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Store_DAC_Store_Details",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"item_param": {
												"value": "@activity('LookupJsonFile').output.firstRow.Data",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SP_Load_Stores_Details",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachJsonFile",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DAC].[Load_Stores_Data]"
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_Truncate_DAC_Tables",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetAllJsonFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DAC].[Truncate_DAC_Tables]"
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SPCallStoreLocationDetailsErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "GetAllJsonFiles",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('GetAllJsonFiles').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('GetAllJsonFiles').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('GetAllJsonFiles').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('GetAllJsonFiles').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"location_id_var": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-26T06:05:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerInitialChunkLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Customer Chunk Load",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Initial_Load_RetailCustomer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 3,
						"startTime": "2023-02-03T10:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ReProcessErrorFilesRetailCustomerLoadIncremental')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ReProcess_ErrorFiles_Stage_Retail_Customer_RetailCustomerLoad_Incremental",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2023-03-15T00:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Store_DAC_Location_Details')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UntilLastPage",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "SetDataCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('loop_var'),false)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "GetNextToken",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "CheckCount",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=', variables('token_var'))",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {
											"Ocp-Apim-Subscription-Key": {
												"value": "@pipeline().globalParameters.DAC_SubscriptionKey",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "CheckCount",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(int(variables('GetCountData')),0)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "LoggingStoredProcedure",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
													"storedProcedureParameters": {
														"ErrorCode": {
															"value": "404",
															"type": "String"
														},
														"ErrorMsg": {
															"value": {
																"value": "@concat('Data Not Found from Date ',variables('ModifiedDateFrom'),' to Date ',variables('ModifiedDateTo'))",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorStatusCode": {
															"value": "404",
															"type": "String"
														},
														"FailureType": {
															"value": "Data Not Available",
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@{pipeline().Pipeline}",
																"type": "Expression"
															},
															"type": "String"
														},
														"RunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"Sink": {
															"value": null,
															"type": "String"
														},
														"Sink_Type": {
															"value": null,
															"type": "String"
														},
														"Source": {
															"value": null,
															"type": "String"
														},
														"Source_Type": {
															"value": null,
															"type": "String"
														},
														"TriggerId": {
															"value": {
																"value": "@{pipeline().TriggerId}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TriggerName": {
															"value": {
																"value": "@{pipeline().TriggerName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TriggerTime": {
															"value": {
																"value": "@{pipeline().TriggerTime}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TriggerType": {
															"value": {
																"value": "@{pipeline().TriggerType}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "semarchy_staging",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "CopyDACApiResponse",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "RestSource",
														"httpRequestTimeout": "00:01:40",
														"requestInterval": "00.00:00:00.010",
														"requestMethod": "GET",
														"additionalHeaders": {
															"Ocp-Apim-Subscription-Key": {
																"value": "@pipeline().globalParameters.DAC_SubscriptionKey",
																"type": "Expression"
															}
														},
														"paginationRules": {
															"MaxRequestNumber": "48",
															"supportRFC5988": "true"
														}
													},
													"sink": {
														"type": "JsonSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "JsonWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DataAnyWhereProdRestResource",
														"type": "DatasetReference",
														"parameters": {
															"relative_url_param": {
																"value": "@concat('locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=')",
																"type": "Expression"
															},
															"continuation_token_param": {
																"value": "@variables('token_var')",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DAC_Location_List_Write",
														"type": "DatasetReference",
														"parameters": {
															"FileName": {
																"value": "@concat('Json_Output_', convertFromUtc(utcnow(), 'Eastern Standard Time'))",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "SetNextToken",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GetNextToken",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "token_var",
										"value": {
											"value": "@activity('GetNextToken').output.ContinuationToken",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SetLoopValueTrue",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SetNextToken",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "loop_var",
										"value": true
									}
								},
								{
									"name": "SetLoopValueFalse",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "SetNextToken",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "loop_var",
										"value": false
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "GetContinuationToken",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "DeleteJsonAPIs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&&ContinuationToken=')",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Ocp-Apim-Subscription-Key": {
									"value": "@pipeline().globalParameters.DAC_SubscriptionKey",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SetContinuationToken",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetContinuationToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "token_var",
							"value": {
								"value": "@activity('GetContinuationToken').output.ContinuationToken",
								"type": "Expression"
							}
						}
					},
					{
						"name": "DeleteJsonAPIs",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DAC_Location_List_Read",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "masterDataHubStg",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "SetModifiedDateTo",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DeleteJsonAPIs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ModifiedDateTo",
							"value": {
								"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "SetModifiedDateFrom",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "DeleteJsonAPIs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ModifiedDateFrom",
							"value": {
								"value": "@formatDateTime(convertTimeZone(adddays(startOfDay(utcnow()),0),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetCountOfData",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetContinuationToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://dataanywhereprod.azure-api.net/locations-api-read/locations?AccountID=',pipeline().globalParameters.DAC_Accountid,'&PageSize=25&ModifiedDateFrom=',variables('ModifiedDateFrom'),'&ModifiedDateTo=',variables('ModifiedDateTo'),'&ContinuationToken=', variables('token_var'))",
								"type": "Expression"
							},
							"method": "GET",
							"headers": {
								"Ocp-Apim-Subscription-Key": {
									"value": "@pipeline().globalParameters.DAC_SubscriptionKey",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "SetDataCount",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetCountOfData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "GetCountData",
							"value": {
								"value": "@string(activity('GetCountOfData').output.Count)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CheckCountProcessPipeline",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "UntilLastPage",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(int(variables('GetCountData')),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "NoDataFound",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "GetCountData",
										"value": {
											"value": "@string(activity('GetCountOfData').output.Count)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Stage_Retail_SiteMasterLoad_DAC",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Stage_Retail_SiteMasterLoad_DAC",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "Load_Retail_SiteMasterLoad_DAC",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Stage_Retail_SiteMasterLoad_DAC",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Load_Retail_SiteMasterLoad_DAC",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "SPCallStoreLocationDetailsErrorMsg",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage_Retail_SiteMasterLoad_DAC",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
										"storedProcedureParameters": {
											"ErrorCode": {
												"value": {
													"value": "@{activity('Stage_Retail_SiteMasterLoad_DAC').error.errorCode}",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMsg": {
												"value": {
													"value": "@{activity('Stage_Retail_SiteMasterLoad_DAC').error.message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorStatusCode": {
												"value": {
													"value": "@activity('Stage_Retail_SiteMasterLoad_DAC').StatusCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"FailureType": {
												"value": {
													"value": "@{activity('Stage_Retail_SiteMasterLoad_DAC').error.failureType}",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"Sink": {
												"value": null,
												"type": "String"
											},
											"Sink_Type": {
												"value": null,
												"type": "String"
											},
											"Source": {
												"value": null,
												"type": "String"
											},
											"Source_Type": {
												"value": null,
												"type": "String"
											},
											"TriggerId": {
												"value": {
													"value": "@{pipeline().TriggerId}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerName": {
												"value": {
													"value": "@{pipeline().TriggerName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerTime": {
												"value": {
													"value": "@{pipeline().TriggerTime}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerType": {
												"value": {
													"value": "@{pipeline().TriggerType}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "semarchy_staging",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "SPCallDacSiteMasterLoadErrorMsg",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Load_Retail_SiteMasterLoad_DAC",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
										"storedProcedureParameters": {
											"ErrorCode": {
												"value": {
													"value": "@{activity('Load_Retail_SiteMasterLoad_DAC').error.errorCode}",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMsg": {
												"value": {
													"value": "@{activity('Load_Retail_SiteMasterLoad_DAC').error.message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorStatusCode": {
												"value": {
													"value": "@activity('Load_Retail_SiteMasterLoad_DAC').StatusCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"FailureType": {
												"value": {
													"value": "@{activity('Load_Retail_SiteMasterLoad_DAC').error.failureType}",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"Sink": {
												"value": null,
												"type": "String"
											},
											"Sink_Type": {
												"value": null,
												"type": "String"
											},
											"Source": {
												"value": null,
												"type": "String"
											},
											"Source_Type": {
												"value": null,
												"type": "String"
											},
											"TriggerId": {
												"value": {
													"value": "@{pipeline().TriggerId}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerName": {
												"value": {
													"value": "@{pipeline().TriggerName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerTime": {
												"value": {
													"value": "@{pipeline().TriggerTime}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerType": {
												"value": {
													"value": "@{pipeline().TriggerType}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "semarchy_staging",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"token_var": {
						"type": "String"
					},
					"loop_var": {
						"type": "Boolean",
						"defaultValue": false
					},
					"ModifiedDateTo": {
						"type": "String"
					},
					"ModifiedDateFrom": {
						"type": "String"
					},
					"GetCountData": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-26T06:05:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Stage_Retail_SiteMasterLoad_DAC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_Load_EnterpriseRef')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_Load_EnterpriseRef",
							"type": "PipelineReference"
						},
						"parameters": {
							"Database_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Database_Name')]",
							"Sink_US_State_Table_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_US_State_Table_Name')]",
							"Sink_Time_Zone_EFF_DT_Table_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Time_Zone_EFF_DT_Table_Name')]",
							"Sink_Time_Zone_Table_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Time_Zone_Table_Name')]",
							"Sink_Currency_Table_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Currency_Table_Name')]",
							"Sink_Country_Table_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Country_Table_Name')]",
							"Sink_Dma_Table_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Sink_Dma_Table_Name')]",
							"Country_Class_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Country_Class_Name')]",
							"Currency_Class_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Currency_Class_Name')]",
							"Dma_Class_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Dma_Class_Name')]",
							"Time_Zone_Class_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Time_Zone_Class_Name')]",
							"Time_Zone_EFF_DT_Class_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_Time_Zone_EFF_DT_Class_Name')]",
							"US_State_Class_Name": "[parameters('Daily_Load_EnterpriseRef_properties_Orchestrate_Load_EnterpriseRef_parameters_US_State_Class_Name')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-12-05T01:15:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Orchestrate_Load_EnterpriseRef')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDWPIMDailyLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_Load_Retail_ProductMasterLoad",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-08-22T05:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Orchestrate_Load_Retail_ProductMasterLoad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LoadRetailCustomerLoadIncremental')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_Load_RetailCustomerLoad_Incremental",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2023-01-03T14:24:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Orchestrate_Load_RetailCustomerLoad_Incremental')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RemoveRetailCustomerLoadArchiveFiles')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Remove_RetailCustomerLoad_Archive_Files",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_Remove_RetailCustomerLoad_Archive_Files",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-03-14T06:00:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Orchestrate_Remove_RetailCustomerLoad_Archive_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StageRetailCustomerRetailCustomerLoadIncremental')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_Stage_Retail_Customer_RetailCustomerLoad_Incremental",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2023-01-03T14:25:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Orchestrate_Stage_Retail_Customer_RetailCustomerLoad_Incremental')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Orchestrate_Load_Retail_SiteMasterLoad_DAC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Store_DAC_Location_Details",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Store_DAC_Location_Details",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SPCallStoreDetailsErrorMsg",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Store_DAC_Location_Details",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
							"storedProcedureParameters": {
								"ErrorCode": {
									"value": {
										"value": "@{activity('Store_DAC_Location_Details').error.errorCode}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMsg": {
									"value": {
										"value": "@{activity('Store_DAC_Location_Details').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorStatusCode": {
									"value": {
										"value": "@activity('Store_DAC_Location_Details').StatusCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"FailureType": {
									"value": {
										"value": "@{activity('Store_DAC_Location_Details').error.failureType}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Sink": {
									"value": null,
									"type": "String"
								},
								"Sink_Type": {
									"value": null,
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Source_Type": {
									"value": null,
									"type": "String"
								},
								"TriggerId": {
									"value": {
										"value": "@{pipeline().TriggerId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerName": {
									"value": {
										"value": "@{pipeline().TriggerName}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerTime": {
									"value": {
										"value": "@{pipeline().TriggerTime}",
										"type": "Expression"
									},
									"type": "String"
								},
								"TriggerType": {
									"value": {
										"value": "@{pipeline().TriggerType}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "semarchy_staging",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Teams_Failed_Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Store_DAC_Location_Details",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@activity('Store_DAC_Location_Details').output['pipelineRunId']",
									"type": "Expression"
								},
								"name": {
									"value": "@activity('Store_DAC_Location_Details').output['pipelineName']",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Store_DAC_Location_Details').ExecutionStartTime",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Store_DAC_Location_Details').Status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Store_DAC_Location_Details').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@activity('Store_DAC_Location_Details').ExecutionEndTime",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Store_DAC_Location_Details').Duration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "https://masterashley.webhook.office.com/webhookb2/c31879ef-6dfb-470f-b788-de8363ae3c17@5a9d9cfd-c32e-4ac1-a9ed-fe83df4f9e4d/IncomingWebhook/147e6de5d4454f53bc64a6a9bae90283/276c88be-8000-43f8-b798-97215f5a2fda",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"StoreDetailsErrorMsg": {
						"type": "String"
					},
					"StoreLocationDetailsErrorMsg": {
						"type": "String"
					},
					"DacSiteMasterLoadErrorMsg": {
						"type": "String"
					},
					"JsonCount": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-26T06:05:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Store_DAC_Location_Details')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DacIncrementalDailyLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Dac Incremental Daily Load",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Orchestrate_Load_Retail_SiteMasterLoad_DAC",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-05-23T02:55:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Orchestrate_Load_Retail_SiteMasterLoad_DAC')]"
			]
		}
	]
}