afi-edme-dev-df/linkedTemplates/ArmTemplate_21.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "afi-edme-dev-df"
		},
		"Real_Estate_SFTP_Prod_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftp.ashleyfurniture.com"
		},
		"Real_Estate_SFTP_Prod_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "v_LeaseHarbor"
		},
		"Rest_Postalcodes_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseURL}"
		},
		"Rest_Postalcodes_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Test"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_postalcode_StateOrProvinceCode')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/edw_store')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHubStg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Retail-Customer-Source-Files",
						"fileSystem": "retail-customer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "clusterID",
						"type": "String"
					},
					{
						"name": "globalID",
						"type": "String"
					},
					{
						"name": "confidence_score",
						"type": "String"
					},
					{
						"name": "RecID",
						"type": "String"
					},
					{
						"name": "posRawContainerRecID",
						"type": "String"
					},
					{
						"name": "market_id",
						"type": "String"
					},
					{
						"name": "posFirstName",
						"type": "String"
					},
					{
						"name": "posMiddleInitial",
						"type": "String"
					},
					{
						"name": "posLastName",
						"type": "String"
					},
					{
						"name": "posCustomerEmail1",
						"type": "String"
					},
					{
						"name": "posCustomerEmail2",
						"type": "String"
					},
					{
						"name": "posCustomerEmail3",
						"type": "String"
					},
					{
						"name": "posCustomerPhone1",
						"type": "String"
					},
					{
						"name": "posCustomerPhone2",
						"type": "String"
					},
					{
						"name": "posCustomerPhone3",
						"type": "String"
					},
					{
						"name": "n_address",
						"type": "String"
					},
					{
						"name": "n_addr2",
						"type": "String"
					},
					{
						"name": "n_city",
						"type": "String"
					},
					{
						"name": "n_state",
						"type": "String"
					},
					{
						"name": "n_zip9",
						"type": "String"
					},
					{
						"name": "posFaceBookID",
						"type": "String"
					},
					{
						"name": "posTwitterID",
						"type": "String"
					},
					{
						"name": "timestamp",
						"type": "String"
					},
					{
						"name": "customer_type",
						"type": "String"
					},
					{
						"name": "customer_since",
						"type": "String"
					},
					{
						"name": "SourceSystem",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail_dbo_SA_EXTERNAL_REF_COUNTRY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHub_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "B_LOADID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "EXTERNAL_REF_COUNTRY_ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CLASSNAME",
						"type": "nvarchar"
					},
					{
						"name": "B_ERROR_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "B_ORIGINALBATCHID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_OPERATIONID",
						"type": "nvarchar"
					},
					{
						"name": "B_DUPSOPERATIONID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_DUPSMERGETARGET",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_DELETETYPE",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_DELETEAUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEOPERATION",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEPATH",
						"type": "nvarchar"
					},
					{
						"name": "B_COPIEDFROM",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CREDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_UPDDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_CREATOR",
						"type": "nvarchar"
					},
					{
						"name": "B_UPDATOR",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_CODE_A2",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_CODE_A3",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_NAME",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_LOCAL_NAME",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_UN_CODE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SA_EXTERNAL_REF_COUNTRY"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail_dbo_SA_EXTERNAL_REF_US_STATE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHub_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "B_LOADID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "EXTERNAL_REF_US_STATE_ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CLASSNAME",
						"type": "nvarchar"
					},
					{
						"name": "B_ERROR_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "B_ORIGINALBATCHID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_OPERATIONID",
						"type": "nvarchar"
					},
					{
						"name": "B_DUPSOPERATIONID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_DUPSMERGETARGET",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_DELETETYPE",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_DELETEAUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEOPERATION",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEPATH",
						"type": "nvarchar"
					},
					{
						"name": "B_COPIEDFROM",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CREDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_UPDDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_CREATOR",
						"type": "nvarchar"
					},
					{
						"name": "B_UPDATOR",
						"type": "nvarchar"
					},
					{
						"name": "STATE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STATE_NAME",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SA_EXTERNAL_REF_US_STATE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail_dbo_SA_SITE_CONTACT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHub_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "B_LOADID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SITE_CONTACT_ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CLASSNAME",
						"type": "nvarchar"
					},
					{
						"name": "B_ERROR_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "B_ORIGINALBATCHID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_OPERATIONID",
						"type": "nvarchar"
					},
					{
						"name": "B_DUPSOPERATIONID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_DUPSMERGETARGET",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_DELETETYPE",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_DELETEAUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEOPERATION",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEPATH",
						"type": "nvarchar"
					},
					{
						"name": "B_COPIEDFROM",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CREDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_UPDDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_CREATOR",
						"type": "nvarchar"
					},
					{
						"name": "B_UPDATOR",
						"type": "nvarchar"
					},
					{
						"name": "CONTACT_FIRST_NAME",
						"type": "nvarchar"
					},
					{
						"name": "CONTACT_LAST_NAME",
						"type": "nvarchar"
					},
					{
						"name": "RAW_CONTACT_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "STD_CONTACT_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "CONTACT_PHONE_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAW_CONTACT_EMAIL",
						"type": "nvarchar"
					},
					{
						"name": "VLD_CONTACT_EMAIL",
						"type": "nvarchar"
					},
					{
						"name": "SITE_CONTACT_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "F_SITE_MAIN",
						"type": "uniqueidentifier"
					},
					{
						"name": "FP_SITE_MAIN",
						"type": "nvarchar"
					},
					{
						"name": "FS_SITE_MAIN",
						"type": "nvarchar"
					},
					{
						"name": "FD_SITE_MAIN",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SA_SITE_CONTACT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail_dbo_SA_SITE_CONTENT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHub_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "B_LOADID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SITE_CONTENT_ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CLASSNAME",
						"type": "nvarchar"
					},
					{
						"name": "B_ERROR_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "B_ORIGINALBATCHID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_OPERATIONID",
						"type": "nvarchar"
					},
					{
						"name": "B_DUPSOPERATIONID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_DUPSMERGETARGET",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_DELETETYPE",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_DELETEAUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEOPERATION",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEPATH",
						"type": "nvarchar"
					},
					{
						"name": "B_COPIEDFROM",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CREDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_UPDDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_CREATOR",
						"type": "nvarchar"
					},
					{
						"name": "B_UPDATOR",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_CATEGORY",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_SHORT_TEXT",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_LONG_TEXT",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_LANGUAGE",
						"type": "nvarchar"
					},
					{
						"name": "F_SITE_MAIN",
						"type": "uniqueidentifier"
					},
					{
						"name": "FP_SITE_MAIN",
						"type": "nvarchar"
					},
					{
						"name": "FS_SITE_MAIN",
						"type": "nvarchar"
					},
					{
						"name": "FD_SITE_MAIN",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SA_SITE_CONTENT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail_dbo_SA_SITE_DEFAULT_HOURS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHub_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "B_LOADID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SITE_CONTENT_ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CLASSNAME",
						"type": "nvarchar"
					},
					{
						"name": "B_ERROR_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "B_ORIGINALBATCHID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_OPERATIONID",
						"type": "nvarchar"
					},
					{
						"name": "B_DUPSOPERATIONID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_DUPSMERGETARGET",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_DELETETYPE",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_DELETEAUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEOPERATION",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEPATH",
						"type": "nvarchar"
					},
					{
						"name": "B_COPIEDFROM",
						"type": "uniqueidentifier"
					},
					{
						"name": "B_CREDATE",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "B_UPDDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_CREATOR",
						"type": "nvarchar"
					},
					{
						"name": "B_UPDATOR",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_CATEGORY",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_SHORT_TEXT",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_LONG_TEXT",
						"type": "nvarchar"
					},
					{
						"name": "CONTENT_LANGUAGE",
						"type": "nvarchar"
					},
					{
						"name": "F_SITE_MAIN",
						"type": "uniqueidentifier"
					},
					{
						"name": "FP_SITE_MAIN",
						"type": "nvarchar"
					},
					{
						"name": "FS_SITE_MAIN",
						"type": "nvarchar"
					},
					{
						"name": "FD_SITE_MAIN",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SA_SITE_DEFAULT_HOURS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail_dbo_SD_SITE_MAIN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHub_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "B_LOADID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_PUBID",
						"type": "nvarchar"
					},
					{
						"name": "B_SOURCEID",
						"type": "nvarchar"
					},
					{
						"name": "B_CLASSNAME",
						"type": "nvarchar"
					},
					{
						"name": "B_ERROR_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "B_ORIGINALBATCHID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_OPERATIONID",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETETYPE",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_DELETEAUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEOPERATION",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEPATH",
						"type": "nvarchar"
					},
					{
						"name": "B_CREDATE",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "B_UPDDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_CREATOR",
						"type": "nvarchar"
					},
					{
						"name": "B_UPDATOR",
						"type": "nvarchar"
					},
					{
						"name": "SITE_NAME",
						"type": "nvarchar"
					},
					{
						"name": "SITE_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "ISACTIVE",
						"type": "bit"
					},
					{
						"name": "SITE_DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "SITE_OWNERSHIP_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS_ERROR_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAWADDRESS_LINE1",
						"type": "nvarchar"
					},
					{
						"name": "RAWADDRESS_LINE2",
						"type": "nvarchar"
					},
					{
						"name": "RAWCITY",
						"type": "nvarchar"
					},
					{
						"name": "RAWSTATE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAWPOSTAL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAWCOUNTRY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STASTREET_NAME",
						"type": "nvarchar"
					},
					{
						"name": "STASTREET_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "STACITY",
						"type": "nvarchar"
					},
					{
						"name": "STASTATE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STAPOSTAL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STACOUNTRY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STALATITUDE",
						"type": "nvarchar"
					},
					{
						"name": "STALONGITUDE",
						"type": "nvarchar"
					},
					{
						"name": "F_SITE_OWNER",
						"type": "uniqueidentifier"
					},
					{
						"name": "FP_SITE_OWNER",
						"type": "nvarchar"
					},
					{
						"name": "FS_SITE_OWNER",
						"type": "nvarchar"
					},
					{
						"name": "FD_SITE_OWNER",
						"type": "nvarchar"
					},
					{
						"name": "OPERATIONS_START_DATE",
						"type": "date"
					},
					{
						"name": "OPERATIONS_END_DATE",
						"type": "date"
					},
					{
						"name": "CUSTOMER_OPEN_DATE",
						"type": "date"
					},
					{
						"name": "CUSTOMER_CLOSE_DATE",
						"type": "date"
					},
					{
						"name": "LOCAL_CURRENCY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "LOCAL_UNIT_OF_MEASURE_ARE",
						"type": "nvarchar"
					},
					{
						"name": "TOTAL_SITE_AREA",
						"type": "decimal",
						"precision": 12,
						"scale": 4
					},
					{
						"name": "OPERATIONS_SITE_AREA",
						"type": "decimal",
						"precision": 12,
						"scale": 4
					},
					{
						"name": "CUSTOMER_SITE_AREA",
						"type": "decimal",
						"precision": 12,
						"scale": 4
					},
					{
						"name": "F_SITE_DEFAULT_HOURS",
						"type": "uniqueidentifier"
					},
					{
						"name": "FD_SITE_DEFAULT_HOURS",
						"type": "nvarchar"
					},
					{
						"name": "SITE_SHIP_TO",
						"type": "nvarchar"
					},
					{
						"name": "RAW_MAIN_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "STD_MAIN_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "MAIN_PHONE_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAW_FAX",
						"type": "nvarchar"
					},
					{
						"name": "STD_FAX",
						"type": "nvarchar"
					},
					{
						"name": "FAX_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAW_CS_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "STD_CS_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "CS_PHONE_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAW_CS_EMAIL",
						"type": "nvarchar"
					},
					{
						"name": "VLD_CS_EMAIL",
						"type": "nvarchar"
					},
					{
						"name": "RAW_SALES_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "STD_SALES_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "SALES_PHONE_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAW_SALES_CHAT",
						"type": "nvarchar"
					},
					{
						"name": "RAW_SERVICE_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "STD_SERVICE_PHONE",
						"type": "nvarchar"
					},
					{
						"name": "SERVICE_PHONE_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAW_SERVICE_CHAT",
						"type": "nvarchar"
					},
					{
						"name": "F_WAREHOUSE_PARENT",
						"type": "uniqueidentifier"
					},
					{
						"name": "FP_WAREHOUSE_PARENT",
						"type": "nvarchar"
					},
					{
						"name": "FS_WAREHOUSE_PARENT",
						"type": "nvarchar"
					},
					{
						"name": "FD_WAREHOUSE_PARENT",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SD_SITE_MAIN"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail_dbo_SD_SITE_OWNER')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHub_Retail",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "B_LOADID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_PUBID",
						"type": "nvarchar"
					},
					{
						"name": "B_SOURCEID",
						"type": "nvarchar"
					},
					{
						"name": "B_CLASSNAME",
						"type": "nvarchar"
					},
					{
						"name": "B_ERROR_STATUS",
						"type": "nvarchar"
					},
					{
						"name": "B_ORIGINALBATCHID",
						"type": "decimal",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "B_OPERATIONID",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETETYPE",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_DELETEAUTHOR",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEOPERATION",
						"type": "nvarchar"
					},
					{
						"name": "B_DELETEPATH",
						"type": "nvarchar"
					},
					{
						"name": "B_CREDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_UPDDATE",
						"type": "datetime2",
						"scale": 6
					},
					{
						"name": "B_CREATOR",
						"type": "nvarchar"
					},
					{
						"name": "B_UPDATOR",
						"type": "nvarchar"
					},
					{
						"name": "OWNER_NAME",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS_STATUS_CODE",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS_ERROR_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAWADDRESS_LINE1",
						"type": "nvarchar"
					},
					{
						"name": "RAWADDRESS_LINE2",
						"type": "nvarchar"
					},
					{
						"name": "RAWCITY",
						"type": "nvarchar"
					},
					{
						"name": "RAWSTATE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAWPOSTAL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "RAWCOUNTRY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STASTREET_NAME",
						"type": "nvarchar"
					},
					{
						"name": "STASTREET_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "STACITY",
						"type": "nvarchar"
					},
					{
						"name": "STASTATE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STAPOSTAL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STACOUNTRY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STALATITUDE",
						"type": "nvarchar"
					},
					{
						"name": "STALONGITUDE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SD_SITE_OWNER"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterData_CDP_CrossWalk_DU_OUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Masterdata_CDP",
					"table": "CrossWalk_DU_OUT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/masterdata_CDP_CrossWalk_MD_OUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Masterdata_CDP",
					"table": "CrossWalk_MD_OUT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/retailCustomer_dbo_CrossWalk_MD_OUT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Retail_CustomerMaster",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CrossWalk_MD_OUT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/retail_v_legal_entity_scd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/store_samerchy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "store_data"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/usp_ASH_REMOVE_LOAD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Retail_CustomerMaster",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Real_Estate_SFTP_Prod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('Real_Estate_SFTP_Prod_properties_typeProperties_host')]",
					"port": "22",
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Real_Estate_SFTP_Prod_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AFIEDME_KeyVault_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "LeaseHarborPwd"
					}
				},
				"connectVia": {
					"referenceName": "SelfHosted-IR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Rest_Postalcodes')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Rest_Postalcodes_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('Rest_Postalcodes_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AFIEDME_KeyVault_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "melissa-data-license-key"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDP_Customer_Dedupe_CsvToTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CDP_Customer_Deduped",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "clusterID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "clusterID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "confidence_score",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "confidence_score",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "globalID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "globalID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RecID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RecID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posRawContainerRecID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posRawContainerRecID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posFirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posFirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posMiddleInitial",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posMiddleInitial",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posLastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posLastName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerEmail1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posCustomerEmail1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerEmail2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posCustomerEmail2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerEmail3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posCustomerEmail3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerPhone1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posCustomerPhone1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerPhone2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posCustomerPhone2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerPhone3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posCustomerPhone3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_address",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "n_address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_addr2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "n_addr2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "n_city",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "n_state",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_zip9",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "n_zip9",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posFaceBookID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posFaceBookID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posTwitterID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posTwitterID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "market_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "customer_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "customer_since",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_since",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "dtec",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dtec",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "posFirstNameSoundex",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posFirstNameSoundex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posLastNameSoundex",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "posLastNameSoundex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Alpha",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Alpha",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SourceSystem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SourceSystem",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SourceSubSystem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SourceSubSystem",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "racProfitCenter",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "racProfitCenter",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "racSalesNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "racSalesNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "do_not_sell",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_not_sell",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "EntryID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EntryID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "do_not_sell_request_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_not_sell_request_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "unsubscribe",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unsubscribe",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "unsubscribe_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "unsubscribe_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "birthdate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "birthdate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CDP_Customer_Deduped_csv",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									},
									"Container_Name": {
										"value": "@pipeline().parameters.Container_Name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CDP_Customer_Dedeped",
								"type": "DatasetReference",
								"parameters": {
									"CDP_TableName": {
										"value": "@pipeline().parameters.Table_Name",
										"type": "Expression"
									},
									"Table_Schema": {
										"value": "@pipeline().parameters.Table_Schema",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FileName": {
						"type": "String"
					},
					"Table_Name": {
						"type": "String"
					},
					"Table_Schema": {
						"type": "String"
					},
					"Container_Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": [],
				"lastPublishTime": "2025-12-08T10:02:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cdp_Customer_Dedupe_InitialLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cdp_customer_deduped",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \nclusterID,\nconfidence_score,\nglobalID,\nRecID,\nposRawContainerRecID,\nposFirstName,\nposMiddleInitial,\nposLastName,\nposCustomerEmail1,\nposCustomerEmail2,\nposCustomerEmail3,\nposCustomerPhone1,\nposCustomerPhone2,\nposCustomerPhone3,\nn_address,\nn_addr2,\nn_city,\nn_state,\nn_zip9,\nposFaceBookID,\nposTwitterID,\nmarket_id,\ncustomer_type,\ntimestamp,\ncustomer_since,\ndtec,\nposFirstNameSoundex,\nposLastNameSoundex,\nAlpha,\nSourceSystem,\nSourceSubSystem,\nracProfitCenter,\nracSalesNumber,\ndo_not_sell,\nEntryID,\ndo_not_sell_request_date,\nunsubscribe,\nunsubscribe_date,\nbirthdate\nFROM @{pipeline().parameters.CDPSchema}.@{pipeline().parameters.CDPTableName} WITH(NOLOCK) WHERE YEAR(dtec)=@{pipeline().parameters.Year} AND MONTH(dtec)=@{pipeline().parameters.Month}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "clusterID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "clusterID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "confidence_score",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "confidence_score",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "globalID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "globalID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RecID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "RecID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posRawContainerRecID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posRawContainerRecID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posFirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posFirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posMiddleInitial",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posMiddleInitial",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posLastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posLastName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerEmail1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posCustomerEmail1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerEmail2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posCustomerEmail2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerEmail3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posCustomerEmail3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerPhone1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posCustomerPhone1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerPhone2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posCustomerPhone2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posCustomerPhone3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posCustomerPhone3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_address",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "n_address",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_addr2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "n_addr2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_city",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "n_city",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_state",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "n_state",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "n_zip9",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "n_zip9",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posFaceBookID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posFaceBookID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posTwitterID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posTwitterID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "market_id",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "market_id",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "customer_type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "customer_type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "timestamp",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "customer_since",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "customer_since",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "dtec",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "dtec",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "posFirstNameSoundex",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posFirstNameSoundex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "posLastNameSoundex",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "posLastNameSoundex",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Alpha",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Alpha",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SourceSystem",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SourceSystem",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SourceSubSystem",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SourceSubSystem",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "racProfitCenter",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "racProfitCenter",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "racSalesNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "racSalesNumber",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "do_not_sell",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "do_not_sell",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "EntryID",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "EntryID",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "do_not_sell_request_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "do_not_sell_request_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "unsubscribe",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "unsubscribe",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "unsubscribe_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "unsubscribe_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "birthdate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "birthdate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "cdp_customer_deduped",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Semarchy_Cdp_Customer_Deduped",
								"type": "DatasetReference",
								"parameters": {
									"Schema": {
										"value": "@pipeline().parameters.SemarchySchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.SemarchyTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CDPSchema": {
						"type": "string"
					},
					"CDPTableName": {
						"type": "string"
					},
					"Year": {
						"type": "string"
					},
					"Month": {
						"type": "string"
					},
					"SemarchySchema": {
						"type": "string"
					},
					"SemarchyTableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": [],
				"lastPublishTime": "2025-12-08T10:02:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Containerrate_Semarchy_EDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "To load Containerrate to EDW",
				"activities": [
					{
						"name": "Teams_Failed_Notification_CopyToEDW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Cp_ContainerRate_GD_EDW",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Notify_Teams_Channale_Pipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"subscription": {
									"value": "@pipeline().globalParameters.ADF_SubscriptionID",
									"type": "Expression"
								},
								"resourceGroup": "afi-edme-rg",
								"runId": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"name": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"triggerTime": {
									"value": "@activity('Cp_ContainerRate_GD_EDW').output.executionDetails[0].start",
									"type": "Expression"
								},
								"status": {
									"value": "@activity('Cp_ContainerRate_GD_EDW').output.executionDetails[0].status",
									"type": "Expression"
								},
								"message": {
									"value": "@replace(activity('Cp_ContainerRate_GD_EDW').error.message,'\"','')",
									"type": "Expression"
								},
								"executionEndTime": {
									"value": "@{utcnow()}",
									"type": "Expression"
								},
								"runDuration": {
									"value": "@activity('Cp_ContainerRate_GD_EDW').output.copyDuration",
									"type": "Expression"
								},
								"teamWebhookUrl": {
									"value": "@pipeline().globalParameters.GP_WebhookUrl",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Cp_ContainerRate_GD_EDW",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "Select distinct \nF_WAREHOUSE_ID\n,F_ASHLEY_PORT_ID\n,TYPE\n,RATE\n,FORMAT(EFFECTIVE_FROM, 'yyyy-MM-dd') as EFFECTIVE_FROM\n,FORMAT(EFFECTIVE_TO, 'yyyy-MM-dd') as EFFECTIVE_TO\n,B_CREDATE\n,B_UPDDATE\nfrom [dbo].[GD_CONTAINER_RATES]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Semarchy_Wholesale_GD",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "GD_CONTAINER_RATES"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "EDW_ContainerRate_Parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fail_job",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Cp_ContainerRate_GD_EDW",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Copy Activity Fails ",
							"errorCode": {
								"value": "@activity('Cp_ContainerRate_GD_EDW').output.executionDetails[0].status",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Wholesale/W_SiteMaster"
				},
				"annotations": [],
				"lastPublishTime": "2025-12-08T10:02:17Z"
			},
			"dependsOn": []
		}
	]
}