afi-edme-dev-df/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "afi-edme-dev-df"
		},
		"masterDataHub_Retail_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'masterDataHub_Retail'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=afi-edme-semarchy-stage-sql.database.windows.net;Initial Catalog=masterDataHub_Retail"
		},
		"sandbox_zone_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sandbox_zone'"
		},
		"semarchy_repo_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'semarchy_repo'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=afi-edme-semarchy-dev-sql.database.windows.net;Initial Catalog=semarchy_repo"
		},
		"semarchy_staging_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'semarchy_staging'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=afi-edme-semarchy-dev-sql.database.windows.net;Initial Catalog=semarchy_staging"
		},
		"test_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'test'"
		},
		"test_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://agr-cdp-func.azurewebsites.net"
		},
		"SelfHosted-IR_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f2330f9f-3a8b-498c-a2d6-476e4f263349/resourcegroups/afi-edme-rg/providers/Microsoft.DataFactory/factories/afi-edme-dev-df/integrationruntimes/SelfHosted-IR"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/masterDataHub_Retail')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('masterDataHub_Retail_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sandbox_zone')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('sandbox_zone_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/semarchy_repo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('semarchy_repo_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/semarchy_staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "semarchy_staging",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('semarchy_staging_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('test_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('test_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Postal_code_API')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Month",
					"interval": 1,
					"startTime": "2024-09-10T06:23:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelHosted-VM')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHosted-IR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('SelfHosted-IR_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage_Retail_Customer_Failure_Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Check_Error_Type",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.ErrorMsg,'The specified path does not exist' )",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Teams_Failed_Notification",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "ASHCOMM_ErrorLogs",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Notify_Teams_Channale_Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"subscription": {
												"value": "@pipeline().globalParameters.ADF_SubscriptionID",
												"type": "Expression"
											},
											"resourceGroup": "afi-edme-rg",
											"runId": {
												"value": "@pipeline().parameters.RunID",
												"type": "Expression"
											},
											"name": {
												"value": "@pipeline().parameters.PipelineName",
												"type": "Expression"
											},
											"triggerTime": {
												"value": "@pipeline().parameters.TriggerTime",
												"type": "Expression"
											},
											"status": {
												"value": "@pipeline().parameters.status",
												"type": "Expression"
											},
											"message": {
												"value": "@replace(pipeline().parameters.ErrorMsg,'\"','')",
												"type": "Expression"
											},
											"executionEndTime": {
												"value": "@pipeline().parameters.executionEndTime",
												"type": "Expression"
											},
											"runDuration": {
												"value": "@pipeline().parameters.runDuration",
												"type": "Expression"
											},
											"teamWebhookUrl": {
												"value": "@pipeline().globalParameters.GP_WebhookUrl",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "ASHCOMM_ErrorLogs",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[Audit].[uspInsertADFErrorLog]",
										"storedProcedureParameters": {
											"ErrorCode": {
												"value": {
													"value": "@pipeline().parameters.ErrorCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorMsg": {
												"value": {
													"value": "@pipeline().parameters.ErrorMsg",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorStatusCode": {
												"value": {
													"value": "@pipeline().parameters.ErrorStatusCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"FailureType": {
												"value": {
													"value": "@pipeline().parameters.FailureType",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineName": {
												"value": {
													"value": "@pipeline().parameters.PipelineName",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@pipeline().parameters.RunID",
													"type": "Expression"
												},
												"type": "String"
											},
											"Sink": {
												"value": {
													"value": "@pipeline().parameters.Sink",
													"type": "Expression"
												},
												"type": "String"
											},
											"Sink_Type": {
												"value": {
													"value": "@pipeline().parameters.Sink_Type",
													"type": "Expression"
												},
												"type": "String"
											},
											"Source": {
												"value": {
													"value": "@pipeline().parameters.Source",
													"type": "Expression"
												},
												"type": "String"
											},
											"Source_Type": {
												"value": {
													"value": "@pipeline().parameters.Source_Type",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerId": {
												"value": {
													"value": "@pipeline().parameters.TriggerId",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerName": {
												"value": {
													"value": "@pipeline().parameters.TriggerName",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerTime": {
												"value": {
													"value": "@pipeline().parameters.TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											},
											"TriggerType": {
												"value": {
													"value": "@pipeline().parameters.TriggerType",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "semarchy_staging",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "FileNotFound_Igonre_This_Error",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "FileNotFound",
										"value": {
											"value": "@pipeline().parameters.ErrorMsg",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ErrorCode": {
						"type": "string"
					},
					"ErrorMsg": {
						"type": "string"
					},
					"ErrorStatusCode": {
						"type": "string"
					},
					"FailureType": {
						"type": "string"
					},
					"PipelineName": {
						"type": "string"
					},
					"RunID": {
						"type": "string"
					},
					"Sink": {
						"type": "string"
					},
					"Sink_Type": {
						"type": "string"
					},
					"Source": {
						"type": "string"
					},
					"Source_Type": {
						"type": "string"
					},
					"TriggerId": {
						"type": "string"
					},
					"TriggerName": {
						"type": "string"
					},
					"TriggerTime": {
						"type": "string"
					},
					"TriggerType": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"runDuration": {
						"type": "string"
					},
					"executionEndTime": {
						"type": "string"
					}
				},
				"variables": {
					"FileNotFound": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Retail_Customer_Flow"
				},
				"annotations": [],
				"lastPublishTime": "2025-10-27T09:20:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/semarchy_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Zeta_File_Export_Template')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "test cdp dedupe func",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "input-incremental-dedupe-func",
							"headers": {},
							"method": "TRACE"
						},
						"linkedServiceName": {
							"referenceName": "agr_cdp_func",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "test cdp dedupe func",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "FAILURE",
							"errorCode": "500"
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "test cdp dedupe func",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "pipelineReturnValue",
							"value": [
								{
									"key": "success",
									"value": {
										"type": "String",
										"content": "true"
									}
								}
							],
							"setSystemVariable": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-10-27T09:20:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADFRetailCustomerWatermark')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "LasteTriggerDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Audit",
					"table": "ADFRetailCustomerWatermark"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/semarchy_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/All_Max_CustomerMasterId_CustomerInfo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/semarchy_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archive_ASHCOMM_Source_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHubStg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "retail-customer"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "clusterID\tglobalID\tconfidenceScore\tRecID\tposRawContainerRecID\tmarket_id\tposFirstName\tposMiddleInitial\tposLastName\tposCustomerEmail1\tposCustomerEmail2\tposCustomerEmail3\tposCustomerPhone1\tposCustomerPhone2\tposCustomerPhone3\tn_address\tn_addr2\tn_city\tn_state\tn_zip9\tposFaceBookID\tposTwitterID\ttimestamp\tcustomer_type\tcustomer_since\tSourceSystem",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archive_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHubStg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Retail-Customer-Source-Files",
						"fileSystem": "retail-customer"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "clusterID\tglobalID\tconfidence_score\tRecID\tposRawContainerRecID\tmarket_id\tposFirstName\tposMiddleInitial\tposLastName\tposCustomerEmail1\tposCustomerEmail2\tposCustomerEmail3\tposCustomerPhone1\tposCustomerPhone2\tposCustomerPhone3\tn_address\tn_addr2\tn_city\tn_state\tn_zip9\tposFaceBookID\tposTwitterID\ttimestamp\tcustomer_type\tcustomer_since\tSourceSystem\tSourceSubSystem",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archive_Homes_Source_Files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHubStg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "retail-customer"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "clusterID\tglobalID\tconfidenceScore\tRecID\tposRawContainerRecID\tmarket_id\tposFirstName\tposMiddleInitial\tposLastName\tposCustomerEmail1\tposCustomerEmail2\tposCustomerEmail3\tposCustomerPhone1\tposCustomerPhone2\tposCustomerPhone3\tn_address\tn_addr2\tn_city\tn_state\tn_zip9\tposFaceBookID\tposTwitterID\ttimestamp\tcustomer_type\tcustomer_since\tSourceSystem",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archive_real_Estate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHubStg",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "archived_file.xlsx"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('Record Search - Data Export - Record Info _ Contact Details', formatDateTime(utcnow(), 'yyyyMMdd_HHmmss'), '.xlsx')",
							"type": "Expression"
						},
						"folderPath": "RealEstate_Staging/ARCHIVE",
						"fileSystem": "raw-zone"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "masterDataHubStg",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "RealEstate_Staging/SOURCE",
						"fileSystem": "raw-zone"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CANADA_Postal_Code_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Ref_PostalCode",
					"table": "GeocoderCA_PCensusNWE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/semarchy_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CANADA_Postal_Code_Table_Melissa')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Ref_PostalCode",
					"table": "MelissaCA_PCensusNWE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/semarchy_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CANADA_Postal_Code_Table_Melissa_overlay')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "semarchy_staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "Ref_PostalCode",
					"table": "MelissaCA_Overlay"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/semarchy_staging')]"
			]
		}
	]
}