afi-edme-dev-df/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "afi-edme-dev-df"
		},
		"Ashley_EDW_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Ashley_EDW'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=ashley-edw-dev.database.windows.net;Initial Catalog=ASHLEY_EDW_DEV"
		},
		"CDP_CustomerProfiling_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CDP_CustomerProfiling'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=;Initial Catalog="
		},
		"Enterprise_ReferenceMaster_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Enterprise_ReferenceMaster'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=afi-edme-semarchy-stage-sql.database.windows.net;Initial Catalog=Enterprise_ReferenceMaster"
		},
		"LS_AzureFunction_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'LS_AzureFunction'"
		},
		"LS_SMARTSHEET_apiToken": {
			"type": "secureString",
			"metadata": "Secure string for 'apiToken' of 'LS_SMARTSHEET'"
		},
		"LS_Smartsheets_apiToken": {
			"type": "secureString",
			"metadata": "Secure string for 'apiToken' of 'LS_Smartsheets'"
		},
		"Ls_CSV_FlatFile_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Ls_CSV_FlatFile'"
		},
		"Prod_afimasterdatahubstg_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'Prod_afimasterdatahubstg'"
		},
		"AFIEDME_KeyVault_dev_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://afide-edmekv.vault.azure.net/"
		},
		"AzureKeyVault_Secrets_Postalcode_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://afide-edmekv.vault.azure.net/"
		},
		"DSTrackingTest_properties_typeProperties_accountEndpoint": {
			"type": "string",
			"defaultValue": ""
		},
		"DSTrackingTest_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": ""
		},
		"DataAnyWhereProdRestAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dataanywhereprod.azure-api.net"
		},
		"EDW_Ashleylake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ashleystagelake.dfs.core.windows.net"
		},
		"LS_AzureFunction_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://afi-rsm-subscriber-dev-func.azurewebsites.net"
		},
		"Postal_datadownload_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://releases.melissadata.net/Download/Data/2024.07/z5max.txt"
		},
		"Postalcode_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://releases.melissadata.net"
		},
		"Prod_afimasterdatahubstg_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://afimasterdatahubdevstg.dfs.core.windows.net/"
		},
		"RawZone_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ashleydevlake.dfs.core.windows.net/"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://releases.melissadata.net/releases/data/z5max.txt"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Notify_Email_LogicApp_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Invoke_Email_LogicApp_Url",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": {
								"value": "@pipeline().globalParameters.GP_EmailLogicAppUrl",
								"type": "Expression"
							},
							"body": {
								"subscription": {
									"type": "Expression",
									"value": "@pipeline().parameters.subscription"
								},
								"resourceGroup": {
									"type": "Expression",
									"value": "@pipeline().parameters.resourceGroup"
								},
								"dataFactoryName": {
									"type": "Expression",
									"value": "@pipeline().parameters.dataFactoryName"
								},
								"runId": {
									"type": "Expression",
									"value": "@pipeline().parameters.runId"
								},
								"name": {
									"type": "Expression",
									"value": "@pipeline().parameters.name"
								},
								"status": {
									"type": "Expression",
									"value": "@pipeline().parameters.status"
								},
								"triggerTime": {
									"type": "Expression",
									"value": "@pipeline().parameters.triggerTime"
								},
								"executionEndTime": {
									"type": "Expression",
									"value": "@pipeline().parameters.executionEndTime"
								},
								"runDuration": {
									"type": "Expression",
									"value": "@pipeline().parameters.runDuration"
								},
								"message": {
									"type": "Expression",
									"value": "@pipeline().parameters.message"
								},
								"notificationTime": {
									"type": "Expression",
									"value": "@pipeline().parameters.notificationTime"
								},
								"to": {
									"type": "Expression",
									"value": "@pipeline().parameters.to"
								},
								"subject": {
									"type": "Expression",
									"value": "@pipeline().parameters.subject"
								},
								"rows": {
									"type": "Expression",
									"value": "@pipeline().parameters.rows"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"subscription": {
						"type": "string"
					},
					"resourceGroup": {
						"type": "string"
					},
					"dataFactoryName": {
						"type": "string"
					},
					"runId": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"triggerTime": {
						"type": "string"
					},
					"executionEndTime": {
						"type": "string"
					},
					"runDuration": {
						"type": "string"
					},
					"message": {
						"type": "string"
					},
					"notificationTime": {
						"type": "string"
					},
					"to": {
						"type": "string"
					},
					"subject": {
						"type": "string"
					},
					"rows": {
						"type": "array",
						"defaultValue": []
					}
				},
				"folder": {
					"name": "Notifications"
				},
				"annotations": [],
				"lastPublishTime": "2025-12-08T10:01:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Notify_Teams_Channale_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set_Webhook_JSON_Schema",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "messageCard",
							"value": {
								"value": "{\n    \"@type\": \"MessageCard\",\n    \"@context\": \"http://schema.org/extensions\",\n    \"themeColor\": \"0076D7\",\n    \"summary\": \"Pipeline status alert message​​​​\",\n    \"sections\": [\n        {\n            \"activityTitle\": \"Pipeline execution alert​​​​\",\n            \"facts\": [\n                {\n                    \"name\": \"Subscription Id:\",\n                    \"value\": \"@{pipeline().parameters.subscription}\"\n                },\n                {\n                    \"name\": \"Resource Group:\",\n                    \"value\": \"@{pipeline().parameters.resourceGroup}\"\n                },\n                {\n                    \"name\": \"Data Factory Name:\",\n                    \"value\": \"@{pipeline().DataFactory}\"\n                },\n                {\n                    \"name\": \"Pipeline RunId:\",\n                    \"value\": \"@{pipeline().parameters.runId}\"\n                },\n                {\n                    \"name\": \"Pipline Name:\",\n                    \"value\": \"@{pipeline().parameters.name}\"\n                },\n                {\n                    \"name\": \"Pipeline Status:\",\n                    \"value\": \"@{pipeline().parameters.status}\"\n                },\n                {\n                    \"name\": \"Execution Start Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.triggerTime}\"\n                },\n                {\n                    \"name\": \"Execution Finish Time (UTC):\",\n                    \"value\": \"@{pipeline().parameters.executionEndTime}\"\n                },\n                {\n                    \"name\": \"Execution Duration (s):\",\n                    \"value\": \"@{pipeline().parameters.runDuration}\"\n                },\n                {\n                    \"name\": \"Message:\",\n                    \"value\": \"@{pipeline().parameters.message}\"\n                },\n                {\n                    \"name\": \"Notification Time (UTC):\",\n                    \"value\": \"@{utcnow()}\"\n                }\n            ],\n            \"markdown\": true\n        }\n    ],\n    \"potentialAction\": [\n        {\n            \"@type\": \"OpenUri\",\n            \"name\": \"View pipeline run\",\n            \"targets\": [\n                {\n                    \"os\": \"default\",\n                    \"uri\": \"@{concat('https://adf.azure.com/monitoring/pipelineruns/',pipeline().parameters.runId,'?factory=/subscriptions/',pipeline().parameters.subscription,'/resourceGroups/',pipeline().parameters.resourceGroup,'/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory)}\"\n                }\n            ]\n        }\n    ]\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Invoke_Teams_Webhook_Url",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set_Webhook_JSON_Schema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": {
								"value": "@pipeline().globalParameters.GP_WebhookUrl",
								"type": "Expression"
							},
							"body": {
								"value": "@json(variables('messageCard'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"subscription": {
						"type": "string"
					},
					"resourceGroup": {
						"type": "string"
					},
					"runId": {
						"type": "string"
					},
					"name": {
						"type": "string"
					},
					"triggerTime": {
						"type": "string"
					},
					"status": {
						"type": "string"
					},
					"message": {
						"type": "string"
					},
					"executionEndTime": {
						"type": "string"
					},
					"runDuration": {
						"type": "string"
					},
					"teamWebhookUrl": {
						"type": "string"
					}
				},
				"variables": {
					"messageCard": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-08T10:01:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Send_Email_Generic')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set jsonData",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "sendJsonData",
							"value": {
								"value": "@pipeline().parameters.jsonData",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set header",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set jsonData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "sendHeader",
							"value": {
								"value": "@pipeline().parameters.header",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set footer",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "sendFooter",
							"value": {
								"value": "@pipeline().parameters.footer",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set EmailBody",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set footer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "sendEmailBody",
							"value": {
								"value": "@pipeline().parameters.emailBody",
								"type": "Expression"
							}
						}
					},
					{
						"name": "send email using logic app",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Set EmailBody",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": {
								"value": "https://prod-89.eastus.logic.azure.com:443/workflows/6e7f777bfad84c9a91be2ffe5357f737/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=T_E8HfmEldFrlT_j2hYf_qhKPkZDhFc5RP2mHjLexxw",
								"type": "Expression"
							},
							"body": {
								"value": "@json(concat('{', '\"subject\":\"', replace(concat(pipeline().parameters.SubjectName,' - Test Case Routine Report Daily'),'\"','\\\"'), '\"', ',\"to\":\"gkalidass@ashleyfurniture.com\"', ',\"header\":\"', replace(variables('sendHeader'),'\"','\\\"'), '\"', ',\"emailBody\":\"', replace(variables('sendEmailBody'),'\"','\\\"'), '\"', ',\"jsonData\":', if(or(equals(trim(string(variables('sendJsonData'))),''), equals(toLower(string(variables('sendJsonData'))),'null')), '[]', replace(string(variables('sendJsonData')),'\\','')), ',\"footer\":\"', replace(variables('sendFooter'),'\"','\\\"'), '\"', '}'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"jsonData": {
						"type": "string",
						"defaultValue": "\"[]\""
					},
					"header": {
						"type": "string",
						"defaultValue": "<h2>Daily Pipeline Report</h2><p>Run date: 2025-11-18</p>"
					},
					"footer": {
						"type": "string",
						"defaultValue": "<p>Data Engineering</p>"
					},
					"emailBody": {
						"type": "string",
						"defaultValue": "Store CDC: 16348 new stores, 0 updated stores"
					},
					"SubjectName": {
						"type": "string",
						"defaultValue": "ADF Pipeline Notification"
					}
				},
				"variables": {
					"sendJsonData": {
						"type": "String"
					},
					"sendHeader": {
						"type": "String"
					},
					"sendFooter": {
						"type": "String"
					},
					"sendEmailBody": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Send Email Generic"
				},
				"annotations": [],
				"lastPublishTime": "2025-12-08T10:01:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AFIEDME_KeyVault_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AFIEDME_KeyVault_dev_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ashley_EDW')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('Ashley_EDW_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault_Secrets_Postalcode')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_Secrets_Postalcode_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CDP_CustomerProfiling')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('CDP_CustomerProfiling_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSTrackingTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"accountEndpoint": "[parameters('DSTrackingTest_properties_typeProperties_accountEndpoint')]",
					"database": "[parameters('DSTrackingTest_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataAnyWhereProdRestAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('DataAnyWhereProdRestAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EDW_Ashleylake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('EDW_Ashleylake_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Enterprise_ReferenceMaster')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Enterprise_ReferenceMaster_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureFunction')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('LS_AzureFunction_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureFunction_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SMARTSHEET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Smartsheet",
				"typeProperties": {
					"apiToken": {
						"type": "SecureString",
						"value": "[parameters('LS_SMARTSHEET_apiToken')]"
					},
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEFFOEIwMTA0LTMwN0UtNDA2OC1CNzRCLTA3NzNCNkI3NkJCNl9hYzA4OTQ3MC00YTljLTRkMmYtYmU1My0wZTgwOTIwMGQ3NzQiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Smartsheets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Smartsheet",
				"typeProperties": {
					"apiToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Smartsheets_apiToken')]"
					},
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEFFOEIwMTA0LTMwN0UtNDA2OC1CNzRCLTA3NzNCNkI3NkJCNl82MGE2ZmUzYi1kN2M3LTRjZDUtYThjYi1lNDYwZDJmYzUxNWMiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ls_CSV_FlatFile')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Ls_CSV_FlatFile_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Postal_datadownload')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('Postal_datadownload_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Postalcode')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('Postalcode_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Prod_afimasterdatahubstg')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('Prod_afimasterdatahubstg_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('Prod_afimasterdatahubstg_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RawZone')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('RawZone_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		}
	]
}